Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

feat(cli): trigger ingestion when a Nextflow pipeline completes
  depictio/cli/README.md
  depictio/cli/configs/nextflow/depictio.config
  depictio/cli/configs/nextflow/example/README.md
  depictio/cli/configs/nextflow/example/depictio_project.yaml
  depictio/cli/configs/nextflow/example/main.nf
  depictio/cli/configs/nextflow/example/nextflow.config
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

fix(cli): stop the trigger claiming nothing was ingested
  depictio/cli/configs/nextflow/depictio.config
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

feat(nextflow): make the bundled example show what ingestion is worth
  depictio/cli/configs/nextflow/example/depictio_dashboard.yaml
  depictio/cli/configs/nextflow/example/depictio_project.yaml
  depictio/cli/configs/nextflow/example/main.nf
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

test(models): make the multi-pipeline warning assertions survive a muted logger
  depictio/tests/models/test_nextflow_run_info.py
Due: ty-check-models-api-dash-cli

docs(cli): document the Nextflow trigger with diagrams and screenshots
  depictio/cli/README.md
  depictio/cli/configs/nextflow/example/README.md
  depictio/cli/configs/nextflow/example/depictio_all_options.config
  depictio/cli/pyproject.toml
  dev/diagrams/nextflow_trigger.py
  docs/images/v1.4/nextflow/schema_stack.png
  docs/images/v1.4/nextflow/schema_stack.svg
  docs/images/v1.4/nextflow/schema_trigger_flow.png
  docs/images/v1.4/nextflow/schema_trigger_flow.svg
  docs/images/v1.4/nextflow/screenshots/dashboard_cards.jpg
  docs/images/v1.4/nextflow/screenshots/dashboard_coverage_track.jpg
  docs/images/v1.4/nextflow/screenshots/ingestion_badge.jpg
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

feat(cli): let a re-run refresh the project it already created
  depictio/cli/README.md
  depictio/cli/configs/nextflow/depictio.config
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

docs(nextflow): say which file is copied, when, and which never is
  docker-images/Dockerfile.cli
  docs/nextflow-trigger.md
Due: none

feat(viewer): brand the nextflow trigger badge and say what ran
  depictio/api/v1/endpoints/projects_endpoints/ingestion_report.py
  depictio/viewer/src/projects/detail/IngestionReportPanel.tsx
  docs/nextflow-trigger.md
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

fix(ci): assert multiqc is in the CLI image at build time
  .github/workflows/build-images.yaml
  docker-images/Dockerfile.cli
Due: none

fix(models): identify sequencing-runs projects, not just flat ones
  depictio/models/models/nextflow.py
  depictio/tests/models/test_nextflow_run_info.py
Due: ty-check-models-api-dash-cli

feat(nextflow): make the handler's output readable, and link to the result
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/cli/cli/commands/run.py
  depictio/cli/configs/nextflow/depictio.config
Due: ty-check-models-api-dash-cli

fix(cli): read the newest params.json, not the first attempt's
  depictio/cli/cli/utils/templates.py
  depictio/models/models/nextflow.py
  depictio/tests/cli/utils/test_params_introspection.py
Due: ty-check-models-api-dash-cli

feat(nextflow): mark the ingestion phase with icons in the pipeline log
  depictio/cli/configs/nextflow/depictio.config
Due: ty-check-models-api-dash-cli

refactor(cli)!: rename --nextflow-manifest to --pipeline-id
  depictio/cli/README.md
  depictio/cli/cli/commands/run.py
  depictio/cli/configs/nextflow/depictio.config
  depictio/cli/configs/nextflow/example/README.md
  depictio/cli/configs/nextflow/example/depictio_all_options.config
  depictio/tests/cli/commands/test_run.py
  depictio/tests/cli/commands/test_run_attach_flow.py
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

feat(cli): add `config nextflow --install` to enable the trigger once per machine
  depictio/cli/cli/commands/config.py
  depictio/tests/cli/commands/test_config_nextflow.py
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

fix(nextflow): close five edge cases found by a local sweep
  depictio/cli/cli/utils/templates.py
  depictio/cli/configs/nextflow/depictio.config
  depictio/models/models/nextflow.py
  depictio/tests/cli/utils/test_run_provenance.py
  depictio/tests/models/test_nextflow_run_info.py
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

fix(cli): stop the trigger's defaults from clobbering a second -c
  depictio/cli/README.md
  depictio/cli/configs/nextflow/depictio.config
  depictio/cli/configs/nextflow/example/depictio_all_options.config
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

fix(cli)!: ship the templates, recipes and nextflow snippet in the wheel
  depictio/cli/pyproject.toml
Due: ty-check-models-api-dash-cli

feat(viewer): an opt-in feedback link that carries the reader's context
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/tests/unit/test_feedback_config.py
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/feedback.ts
  depictio/viewer/src/main.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

feat(nf-core): make the review bundles answerable without writing prose
  depictio/tests/unit/test_nfcore_outreach.py
  scripts/nfcore_outreach.py
Due: ty-check-models-api-dash-cli

style(nf-core): drop em dashes from the copy the round publishes
  scripts/nfcore_outreach.py
Due: none

fix(nf-core): keep the published bundles to plain ASCII
  depictio/tests/unit/test_nfcore_outreach.py
  scripts/nfcore_outreach.py
Due: ty-check-models-api-dash-cli

feat(nf-core): name the four asks, and let Slack carry the whole thing
  depictio/tests/unit/test_nfcore_outreach.py
  scripts/nfcore_outreach.py
Due: ty-check-models-api-dash-cli

fix(deploy): let DEPICTIO_FEEDBACK_* actually reach a container
  .env.example
  docker-compose.dev.yaml
  docker-compose.yaml
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix(viewer): move the feedback icon to the end of the header row
  depictio/viewer/src/chrome/Header.tsx
Due: none

feat(github): an issue form for dashboard feedback, so reports arrive sorted
  .env.example
  .github/ISSUE_TEMPLATE/dashboard_feedback.yml
Due: none

fix(viewer): send the tab label the reader sees, not the dashboard title
  depictio/viewer/src/chrome/Header.tsx
Due: none

feat(github): ask what the reader can see, on two axes instead of one
  .github/ISSUE_TEMPLATE/dashboard_feedback.yml
Due: none

feat(nf-core): one vocabulary for the review round and the feedback form
  depictio/tests/unit/test_nfcore_outreach.py
  scripts/nfcore_outreach.py
Due: ty-check-models-api-dash-cli

docs(templates): give the generated reference an Origin and Reads column
  depictio/dev_scripts/gen_template_docs.py
Due: none

feat(viewer): put the listing filters in the URL, so a scoped view can be shared
  depictio/tests/e2e-playwright/tests/dashboards/shared-filter-links.spec.ts
  depictio/viewer/src/components/listing/ShareViewButton.tsx
  depictio/viewer/src/components/listing/SharedViewBanner.tsx
  depictio/viewer/src/dashboards/DashboardsList.tsx
  depictio/viewer/src/dashboards/DashboardsToolbar.tsx
  depictio/viewer/src/dashboards/hooks/useDashboardFilters.ts
  depictio/viewer/src/dashboards/hooks/useDashboardViewPrefs.ts
  depictio/viewer/src/lib/listingUrl.ts
  depictio/viewer/src/projects/ProjectsList.tsx
  depictio/viewer/src/projects/ProjectsToolbar.tsx
  depictio/viewer/src/projects/hooks/useProjectViewPrefs.ts
  depictio/viewer/src/projects/template.tsx
  docs/shareable-listing-links.md
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/listingUrlState.test.ts
  packages/depictio-react-core/src/listingUrlState.ts
  packages/depictio-react-core/src/templateFilter.test.ts
  packages/depictio-react-core/src/templateFilter.ts
Due: ty-check-models-api-dash-cli

docs: say why a project name with a comma needs its id
  docs/shareable-listing-links.md
Due: none

fix(viewer): give each listing's shared-view banner its own page accent
  depictio/viewer/src/components/listing/SharedViewBanner.tsx
  depictio/viewer/src/dashboards/DashboardsList.tsx
  depictio/viewer/src/projects/ProjectsList.tsx
Due: none

Bump version: 1.9.2 → 1.10.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

feat(advanced-viz): add six life-science viz kinds
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/sampling.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/viewer/scripts/generate-icon-subset.mjs
  dev/advanced_viz_kinds/fusion_structure.md
  dev/advanced_viz_kinds/gene_arrow_track.md
  dev/advanced_viz_kinds/gsea_running_score.md
  dev/advanced_viz_kinds/phylogenetic_binding.md
  dev/advanced_viz_kinds/profile.md
  dev/advanced_viz_kinds/sashimi.md
  dev/advanced_viz_kinds/signal_matrix.md
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/FusionStructureRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GeneArrowTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GseaRunningScoreRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ProfileRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SashimiRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SignalMatrixRenderer.tsx
  packages/depictio-react-core/src/selection.ts
  packages/tool-studio/public/catalog.schema.json
  packages/tool-studio/public/kinds.json
Due: ty-check-models-api-dash-cli

feat(showcase): give the six new viz kinds a showcase tab each
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/dev_scripts/generate_dashboard_seeds.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_fusion_structure.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_gene_arrow_track.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_gsea_running_score.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_profile.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_sashimi.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_signal_matrix.json
  depictio/projects/init/advanced_viz_showcase/dashboards/fusion_structure.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/gene_arrow_track.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/gsea_running_score.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/profile.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/sashimi.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/signal_matrix.yaml
  depictio/projects/init/advanced_viz_showcase/data/fusion_structure_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/gene_arrow_track_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/gsea_running_score_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/profile_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/sashimi_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/signal_matrix_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  dev/playwright_debug/showcase_viz_shots.py
  packages/depictio-react-core/src/components/advanced_viz/GeneArrowTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GseaRunningScoreRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ProfileRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SashimiRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SignalMatrixRenderer.tsx
Due: ty-check-models-api-dash-cli

feat(advanced-viz): add the scatter_xy kind, and draw the JBrowse line
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/sampling.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_sashimi.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_scatter_xy.json
  depictio/projects/init/advanced_viz_showcase/dashboards/sashimi.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/scatter_xy.yaml
  depictio/projects/init/advanced_viz_showcase/data/sashimi_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/scatter_xy_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/ScatterXyRenderer.tsx
  packages/depictio-react-core/src/selection.ts
  packages/tool-studio/public/catalog.schema.json
  packages/tool-studio/public/kinds.json
Due: ty-check-models-api-dash-cli

fix(nf-core): refuse megatest keys that escape the fetch destination
  depictio/tests/unit/test_nfcore_megatest.py
  scripts/nfcore_megatest.py
Due: ty-check-models-api-dash-cli

docs(nf-core): record that a long annotation label can collapse a complex_heatmap
  depictio/projects/nf-core/TEMPLATE_BOTTLENECKS.md
Due: none

fix(celery): stop compute_upset from annotating every non-set column
  depictio/api/v1/celery_tasks.py
  packages/plotly-upset/tests/test_annotations.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
