Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

docs(serverless): measure the size envelope of a single-file bundle
  docs/design/rfc-serverless-deployment.md
Due: none

docs(serverless): schemas and screenshots for the review
  dev/diagrams/serverless_schemas.py
  docs/images/serverless-shot-bundle.png
  docs/images/serverless-shot-dashboard.png
  docs/images/serverless-shot-drawer.png
  docs/images/serverless-shot-modal.png
  docs/images/serverless_phylogeny-two-dcs.png
  docs/images/serverless_phylogeny-two-dcs.svg
  docs/images/serverless_preflight-decides.png
  docs/images/serverless_preflight-decides.svg
Due: none

feat(viewer): exclusive analysis modes, in-place group saving, panel reset
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/chrome/SaveGroupAction.tsx
  packages/depictio-react-core/src/components/interactive/SelectionGroupsPanel.tsx
  packages/depictio-react-core/src/hooks/useSelectionGroups.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selectionGroups.ts
Due: none

feat(ai): killable sandbox for analyze code + namespace-aware allowlist
  depictio/api/v1/endpoints/ai_endpoints/executor.py
  depictio/api/v1/endpoints/ai_endpoints/sandbox.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_executor.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_sandbox.py
Due: ty-check-models-api-dash-cli

fix(serverless): name a cold MultiQC pre-render instead of leaking a validation error
  depictio/serverless/producer_a.py
  depictio/tests/api/test_serverless_export.py
  dev/diagrams/serverless_schemas.py
  docs/images/serverless_architecture.png
  docs/images/serverless_architecture.svg
Due: ty-check-models-api-dash-cli

feat(ai): read-only analysis mode with multi-DC scope, budgeted loop, persisted reports
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/ai_endpoints/analyses.py
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/filter_resolver.py
  depictio/api/v1/endpoints/ai_endpoints/llm_client.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_analyses.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_filter_resolver.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_analyze.py
Due: ty-check-models-api-dash-cli

feat(ai): full-screen analysis surface, compose plumbing, docs and diagrams
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  dev/diagrams/ai_analysis_schemas.py
  docker-compose.dev.yaml
  docs/ai-assistant.md
  docs/images/v1.4/ai/schema_ai_analysis_loop.png
  docs/images/v1.4/ai/schema_ai_analysis_loop.svg
  docs/images/v1.4/ai/schema_ai_modes.png
  docs/images/v1.4/ai/schema_ai_modes.svg
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/AIAnalysisModal.tsx
  packages/depictio-react-ai/src/components/AIAnalyzePanel.tsx
  packages/depictio-react-ai/src/components/AIKeySection.tsx
  packages/depictio-react-ai/src/components/AddWithAIModal.tsx
  packages/depictio-react-ai/src/components/AiFillModal.tsx
  packages/depictio-react-ai/src/components/ExecutionTrace.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
Due: ty-check-models-api-dash-cli

export: deliver the gaps this branch documented as unfinished
  .dockerignore
  .env.example
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/dev_scripts/generate_benchmark_seeds.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_benchmark_ci.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_benchmark_confusion.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_benchmark_pr.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_benchmark_roc.json
  depictio/tests/api/v1/test_reference_seed_dashboards.py
  dev/diagrams/component_export_schema.py
  dev/diagrams/sketch.py
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

feat(remote-data): bind any data collection to local or remote data
  depictio/cli/cli/commands/manifest.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/bindings.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/templates.py
  depictio/cli/depictio_cli.py
  depictio/models/models/data_collections.py
  depictio/models/models/workflows.py
  depictio/tests/cli/commands/test_manifest_from_table.py
  depictio/tests/cli/commands/test_run_guards.py
  depictio/tests/cli/utils/test_bindings.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/cli/utils/test_templates.py
  depictio/tests/models/test_workflows.py
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  dev/diagrams/data_binding_schemas.py
  docs/images/data_binding_matrix.png
  docs/images/data_binding_matrix.svg
  docs/images/data_binding_no_manifest.png
  docs/images/data_binding_no_manifest.svg
  docs/images/data_binding_sharing.png
  docs/images/data_binding_sharing.svg
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

export: close the defects found reviewing this branch
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/export_endpoints/routes.py
  depictio/api/v1/services/export/capabilities.py
  depictio/tests/api/v1/services/export/test_capabilities.py
  depictio/tests/api/v1/services/export/test_embed_origin_validation.py
  dev/component-export-showcase/README.md
  docker-images/nginx.conf.template
  docs/design/component-export.md
Due: ty-check-models-api-dash-cli

showcase: drop the investigation scaffolding
  dev/component-export-showcase/README.md
  dev/component-export-showcase/probe_bench_filters.py
  dev/component-export-showcase/probe_cm.py
  dev/component-export-showcase/probe_columns.py
  dev/component-export-showcase/probe_empty_mqc.py
  dev/component-export-showcase/probe_filter.py
  dev/component-export-showcase/probe_filter_shape.py
  dev/component-export-showcase/probe_manifests.py
  dev/component-export-showcase/probe_modes.py
  dev/component-export-showcase/probe_mqc_filter.py
  dev/component-export-showcase/probe_multiqc.py
  dev/component-export-showcase/probe_sources.py
  dev/component-export-showcase/probe_stored_meta.py
  dev/component-export-showcase/seed_benchmark_dashboards.py
  dev/component-export-showcase/style_report.py
  dev/component-export-showcase/survey_coverage.py
  dev/component-export-showcase/wire_landing.py
  dev/component-export-showcase/wire_report.py
Due: none

Revert the embed CSP's 'unsafe-eval' — it is not needed
  depictio/api/v1/services/export/embed.py
Due: ty-check-models-api-dash-cli

fix(models): export selection_column alongside selection_enabled for figures
  depictio/models/models/dashboards.py
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

chore(deps): unblock beanie and take 7 of the 8 runtime-group updates
  depictio/tests/conftest.py
  packages/plotly-complexheatmap/pyproject.toml
  packages/plotly-upset/pyproject.toml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

Add dashboard-wide font-size control (A-/A+) to the viewer header
  depictio/tests/e2e-playwright/tests/ui/font-size-control.spec.ts
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/hooks/useColorScheme.ts
  depictio/viewer/src/hooks/useUiScalePref.ts
  depictio/viewer/src/main.tsx
  depictio/viewer/src/theme.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/data/DataGridBody.tsx
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/uiScale.ts
Due: ty-check-models-api-dash-cli

Add per-user filter persistence and shareable filter links (#936)
  depictio/api/v1/endpoints/dashboards_endpoints/filter_state_routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/services/lifespan.py
  depictio/models/models/dashboard_filter_state.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_filter_state_routes.py
  depictio/tests/models/test_dashboard_filter_state.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/ShareFiltersButton.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/dashboards/lib/dashboardLinks.ts
  depictio/viewer/src/lib/filterStateStorage.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/filterShare.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

Add instance-level branding via DEPICTIO_BRANDING_* env vars
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/api/v1/services/figure/mantine_templates.py
  depictio/api/v1/services/multiqc/themes.py
  depictio/viewer/package.json
  depictio/viewer/src/auth/components/AuthCard.tsx
  depictio/viewer/src/branding.ts
  depictio/viewer/src/chrome/AppSidebar.tsx
  depictio/viewer/src/chrome/BrandLogo.tsx
  depictio/viewer/src/main.tsx
  helm-charts/depictio/examples/values-branding.yaml
  packages/depictio-react-core/src/api.ts
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Add per-dashboard plot theme (Plotly template + colorway)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/figure_endpoints/routes.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/models/models/dashboards.py
  depictio/tests/models/test_plot_theme.py
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/figure/FigurePreview.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

Apply ruff formatting and import-order fixes
  .github/workflows/minimal-deploy.yaml
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/api/v1/services/multiqc/themes.py
Due: ty-check-models-api-dash-cli

feat(dashboards): persistent cross-tab sections + global filters (#858)
  .github/workflows/minimal-deploy.yaml
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/models/dashboards.py
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/tests/api/v1/test_cross_tab_components.py
  depictio/tests/e2e-playwright/tests/dashboards/cross-tab-persistence.spec.ts
  depictio/tests/models/test_filter_sections.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/sections/SectionForm.tsx
  depictio/viewer/src/components/sections/SectionRow.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/mapPanel/useMapPanel.ts
  packages/depictio-react-core/src/crossTabFilters.ts
  packages/depictio-react-core/src/floatingFilters.ts
  packages/depictio-react-core/src/hooks/useCrossTabComponents.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

Add SAML SSO (EMBL Keycloak) and fix OAuth state store for multi-worker deployments
  .github/workflows/minimal-deploy.yaml
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/auth_endpoints/google_oauth_routes.py
  depictio/api/v1/endpoints/auth_endpoints/saml_routes.py
  depictio/api/v1/endpoints/auth_endpoints/saml_utils.py
  depictio/api/v1/endpoints/auth_endpoints/state_store.py
  depictio/api/v1/endpoints/auth_endpoints/utils.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/endpoints/user_endpoints/rate_limit.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/services/redis_client.py
  depictio/tests/api/v1/endpoints/auth_endpoints/test_auth_state_store.py
  depictio/tests/api/v1/endpoints/auth_endpoints/test_saml.py
  depictio/viewer/src/auth/AuthApp.tsx
  depictio/viewer/src/auth/components/LoginForm.tsx
  docker-images/Dockerfile.api
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values-embl-auth.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

fix(deps): revert beanie to 2.0.0 — it is blocked on motor, not on mongomock
  depictio/tests/conftest.py
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

feat(viewer): pin persistent sections on top and fan out their cards
  depictio/viewer/src/components/sections/SectionRow.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/SectionAccordion.tsx
  packages/depictio-react-core/src/utils/groupInteractive.ts
Due: none

feat(seeds): iris becomes a two-tab family showcasing persistent sections
  depictio/api/v1/db_init.py
  depictio/projects/init/iris/.db_seeds/dashboard_petal.json
  depictio/projects/init/iris/dashboards/overview.yaml
  depictio/projects/init/iris/dashboards/petal_analysis.yaml
Due: ty-check-models-api-dash-cli

chore(cli): sync the stale package version in uv.lock
  depictio/cli/uv.lock
Due: ty-check-models-api-dash-cli

feat(share): readable per-component filter-link format + move copy button into settings drawer
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/chrome/ShareFiltersButton.tsx
  packages/depictio-react-core/src/filterShare.ts
Due: none

feat(ai): unified Add menu, section add/edit split, widget value coercion
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/executor.py
  depictio/api/v1/endpoints/ai_endpoints/filter_resolver.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_executor.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_filter_resolver.py
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/CreateComponentPage.tsx
  depictio/viewer/src/builder/steps/StepDesign.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/components/ai/AISuggestionPreview.tsx
  depictio/viewer/src/components/sections/AddSectionModal.tsx
  depictio/viewer/src/components/sections/SectionForm.tsx
  depictio/viewer/src/components/sections/SectionList.tsx
  depictio/viewer/src/walkthrough/steps/authBuilder.ts
  depictio/viewer/vite.config.ts
  packages/depictio-react-ai/src/components/AIAnalysisModal.tsx
  packages/depictio-react-ai/src/components/AIAnalyzePanel.tsx
  packages/depictio-react-ai/src/components/AIKeySection.tsx
  packages/depictio-react-ai/src/components/ActionsPreview.tsx
  packages/depictio-react-ai/src/components/AddWithAIModal.tsx
  packages/depictio-react-ai/src/components/AiFillModal.tsx
  packages/depictio-react-ai/src/components/ExecutionTrace.tsx
  packages/depictio-react-ai/src/components/SectionSummary.tsx
  packages/depictio-react-ai/src/formatPolars.ts
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/icons.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/store.ts
  packages/depictio-react-ai/src/types.ts
  packages/depictio-react-core/src/activeFilters.ts
  packages/depictio-react-core/src/components/interactive/ActiveFilterSummary.tsx
  packages/depictio-react-core/src/components/interactive/MultiSelectRenderer.tsx
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selection.ts
Due: ty-check-models-api-dash-cli

Rework appearance UX: scoped font sizing, dashboard logo, admin branding
  .gitignore
  depictio/api/main.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/branding.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/api/v1/services/figure/mantine_templates.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/e2e-playwright/tests/ui/font-size-control.spec.ts
  depictio/tests/models/test_dashboard_logo.py
  depictio/tests/models/test_figure_font_scale.py
  depictio/tests/unit/test_branding_service.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/admin/AdminApp.tsx
  depictio/viewer/src/admin/AdminBrandingPanel.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/components/GridItemEditOverlay.tsx
  depictio/viewer/src/hooks/useUiScalePref.ts
  depictio/viewer/src/main.tsx
  depictio/viewer/src/theme.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

docs(deps): point the beanie pin comment at the tracking issue
  pyproject.toml
Due: none

ci: add scheduled cross-version backup/restore integration job
  .github/workflows/backup-compat-cross-version.yaml
Due: none

test: guard backup/restore backward compatibility (>= v1.0.0)
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/cli/cli/utils/backup_validation.py
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
  depictio/tests/cli/utils/test_backward_compat_backup.py
  depictio/tests/fixtures/backups/README.md
  depictio/tests/fixtures/backups/depictio_backup_v1.0.1.json
Due: ty-check-models-api-dash-cli

docs(ai): UI screenshots of the assistant surfaces for the PR body
  docs/images/v1.4/ai/screenshots/add_menu.png
  docs/images/v1.4/ai/screenshots/add_with_ai_suggestions.jpg
  docs/images/v1.4/ai/screenshots/analyze_report.jpg
  docs/images/v1.4/ai/screenshots/ask_interpret.jpg
  docs/images/v1.4/ai/screenshots/ask_update_applied.jpg
  docs/images/v1.4/ai/screenshots/ask_update_proposed.jpg
  docs/images/v1.4/ai/screenshots/section_summary.jpg
  docs/images/v1.4/ai/screenshots/sections_manager.jpg
Due: none

fix(backup): keep the collection-coverage guard green after the rebase
  .github/workflows/backup-compat-cross-version.yaml
  depictio/cli/cli/utils/backup_validation.py
Due: ty-check-models-api-dash-cli

docs(diagrams): schemas for the cross-tab fan-out and filter survival
  dev/diagrams/cross_tab_sections.py
  docs/images/cross-tab-sections_fanout.png
  docs/images/cross-tab-sections_fanout.svg
  docs/images/cross-tab-sections_survival.png
  docs/images/cross-tab-sections_survival.svg
Due: none

Screenshots and schemas for PR #969 (persistent cross-tab sections)
  persistent-section-child-tab.png
  persistent-section-owner-tab.png
  schema-cross-tab-fanout.png
  schema-cross-tab-survival.png
  sections-manager-show-on-every-tab.png
Due: none

docs(share): schemas and screenshots for the filter-persistence PR
  dev/diagrams/filter_persistence.py
  docs/images/filter-persistence-after-reload.png
  docs/images/filter-persistence-panel-pin.png
  docs/images/filter-persistence-share-button.png
  docs/images/filter_persistence_mount_merge.png
  docs/images/filter_persistence_mount_merge.svg
  docs/images/filter_persistence_one_array.png
  docs/images/filter_persistence_one_array.svg
Due: none

Add group-aware permission models and central authorization chokepoint
  depictio/api/v1/permissions.py
  depictio/models/models/users.py
Due: ty-check-models-api-dash-cli

Seed group admin defaults and cover group-aware models with tests
  depictio/api/v1/db_init.py
  depictio/tests/models/test_users.py
Due: ty-check-models-api-dash-cli

Add SSO attribute sync module for SAML group and profile provisioning
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/auth_endpoints/sso_sync.py
  depictio/tests/api/v1/endpoints/auth_endpoints/test_sso_sync.py
Due: ty-check-models-api-dash-cli

Add groups management API and group-aware project sharing gates
  depictio/api/v1/endpoints/groups_endpoints/__init__.py
  depictio/api/v1/endpoints/groups_endpoints/models.py
  depictio/api/v1/endpoints/groups_endpoints/routes.py
  depictio/api/v1/endpoints/groups_endpoints/utils.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/endpoints/user_endpoints/utils.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
