Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix(preview): an unloadable recipe previews as empty, not ok
  depictio/cli/cli/utils/template_preview.py
Due: ty-check-models-api-dash-cli

test(remote-data): follow main's template and message changes after the restack
  depictio/tests/api/v1/endpoints/projects_endpoints/test_from_run.py
Due: ty-check-models-api-dash-cli

refactor(comments): move thread logic into a service, add question threads
  depictio/api/v1/endpoints/comments_endpoints/routes.py
  depictio/api/v1/endpoints/comments_endpoints/service.py
  depictio/models/models/comments.py
  depictio/tests/api/v1/test_comments_service.py
Due: ty-check-models-api-dash-cli

docs(agents): schema diagrams for MCP, token scopes and agent teams
  dev/diagrams/agents_mcp_schemas.py
  docs/images/v1.4/agents/schema_agent_team_pipeline.png
  docs/images/v1.4/agents/schema_agent_team_pipeline.svg
  docs/images/v1.4/agents/schema_evidence_flow.png
  docs/images/v1.4/agents/schema_evidence_flow.svg
  docs/images/v1.4/agents/schema_mcp_architecture.png
  docs/images/v1.4/agents/schema_mcp_architecture.svg
  docs/images/v1.4/agents/schema_token_scopes.png
  docs/images/v1.4/agents/schema_token_scopes.svg
Due: none

feat(auth): scoped tokens and the agent tool context
  depictio/api/v1/agents/__init__.py
  depictio/api/v1/agents/context.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/endpoints/user_endpoints/token_scopes.py
  depictio/models/models/users.py
Due: ty-check-models-api-dash-cli

feat(cli): depictio mcp serve, token create and install
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/commands/mcp.py
  depictio/cli/depictio_cli.py
  depictio/tests/cli/commands/test_mcp.py
Due: ty-check-models-api-dash-cli

feat(agents): name scoped-token authors, and let depictio local serve MCP
  depictio/api/v1/endpoints/comments_endpoints/service.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/endpoints/user_endpoints/scope_gate.py
  depictio/api/v1/endpoints/user_endpoints/token_scopes.py
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/commands/mcp.py
  depictio/cli/cli/local_stack.py
  depictio/cli/pyproject.toml
  depictio/tests/cli/commands/test_local.py
Due: ty-check-models-api-dash-cli

feat(agents): shared tool registry and an MCP endpoint
  depictio/api/main.py
  depictio/api/v1/agents/audit.py
  depictio/api/v1/agents/envelope.py
  depictio/api/v1/agents/ratelimit.py
  depictio/api/v1/agents/registry.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/mcp/__init__.py
  depictio/api/v1/mcp/auth.py
  depictio/api/v1/mcp/server.py
  depictio/api/v1/services/lifespan.py
  depictio/tests/api/v1/agents/__init__.py
  depictio/tests/api/v1/agents/test_registry.py
  depictio/tests/api/v1/test_mcp_server.py
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

feat(auth): enforce token scopes on every API route
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/scope_gate.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_token_scopes.py
  depictio/tests/models/test_token_scopes.py
  depictio/viewer/src/cli-agents/CliAgentsApp.tsx
  depictio/viewer/src/cli-agents/CreateTokenModal.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

test(comments): the backup test also stubs the project storage collection
  depictio/tests/api/v1/test_comments_routes.py
Due: ty-check-models-api-dash-cli

refactor(comments): tests patch the service directly, drop the forwarding shim
  depictio/api/v1/endpoints/comments_endpoints/routes.py
  depictio/api/v1/endpoints/comments_endpoints/service.py
  depictio/tests/api/v1/test_comments_routes.py
Due: ty-check-models-api-dash-cli

feat(agents): draft proposals and run ingestion tools
  depictio/api/v1/agents/tools/dashboards.py
  depictio/api/v1/agents/tools/ingestion.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/agents/test_tools_dashboards.py
  depictio/tests/api/v1/agents/test_tools_ingestion.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_import_persist.py
  depictio/tests/models/test_dashboard_ai_generation.py
Due: ty-check-models-api-dash-cli

feat(agents): annotation, question and report tools
  depictio/api/v1/agents/tools/__init__.py
  depictio/api/v1/agents/tools/annotations.py
  depictio/api/v1/agents/tools/reports.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/models/models/comments.py
  depictio/tests/api/v1/agents/test_tools_annotations.py
  depictio/tests/api/v1/agents/test_tools_reports.py
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

feat(agents): read tools for projects, dashboards, components and data
  depictio/api/v1/agents/tools/data.py
  depictio/api/v1/agents/tools/discovery.py
  depictio/tests/api/v1/agents/test_tools_data.py
  depictio/tests/api/v1/agents/test_tools_discovery.py
Due: ty-check-models-api-dash-cli

feat(mcp): dashboards, components, component data, threads and reports as resources
  depictio/api/v1/mcp/resources.py
  depictio/api/v1/mcp/server.py
  depictio/tests/api/v1/test_mcp_resources.py
  depictio/tests/cli/commands/test_mcp.py
Due: ty-check-models-api-dash-cli

fix(agents): leave the ingest bookkeeping columns out of agent data
  depictio/api/v1/agents/tools/data.py
  depictio/tests/api/v1/agents/test_tools_data.py
Due: ty-check-models-api-dash-cli

fix(backup): count the agent tool audit ledger as a ledger collection
  depictio/cli/cli/utils/backup_validation.py
Due: ty-check-models-api-dash-cli

docs(agents): annotated screenshots of agent proposals and scoped tokens
  dev/screenshots/agents_mcp_pr_shots.py
  docs/images/v1.4/agents/pr1_drawer_annotations.png
  docs/images/v1.4/agents/pr1_drawer_comments.png
  docs/images/v1.4/agents/pr1_thread_card.png
  docs/images/v1.4/agents/pr1_token_list.png
  docs/images/v1.4/agents/pr1_token_modal.png
Due: none

fix(agents): fixes from a live MCP session
  depictio/api/v1/agents/tools/annotations.py
  depictio/api/v1/agents/tools/data.py
  depictio/api/v1/endpoints/comments_endpoints/service.py
  depictio/cli/cli/commands/mcp.py
  depictio/tests/api/v1/agents/test_tools_annotations.py
  depictio/tests/api/v1/agents/test_tools_data.py
  depictio/tests/api/v1/test_comments_routes.py
  depictio/tests/api/v1/test_comments_service.py
  depictio/tests/cli/commands/test_mcp.py
Due: ty-check-models-api-dash-cli

refactor(agents): share tool helpers, one bearer parser, one scoped context
  depictio/api/v1/agents/context.py
  depictio/api/v1/agents/envelope.py
  depictio/api/v1/agents/registry.py
  depictio/api/v1/agents/tools/annotations.py
  depictio/api/v1/agents/tools/common.py
  depictio/api/v1/agents/tools/dashboards.py
  depictio/api/v1/agents/tools/data.py
  depictio/api/v1/agents/tools/discovery.py
  depictio/api/v1/agents/tools/ingestion.py
  depictio/api/v1/agents/tools/reports.py
  depictio/api/v1/endpoints/user_endpoints/scope_gate.py
  depictio/api/v1/endpoints/user_endpoints/token_scopes.py
  depictio/api/v1/mcp/auth.py
  depictio/api/v1/mcp/resources.py
  depictio/api/v1/mcp/server.py
  depictio/tests/api/v1/agents/test_tools_discovery.py
Due: ty-check-models-api-dash-cli

fix(agents): stable daily run ids and token quotas, safer mcp CLI targets, deny side-effect GETs, Helm MCP env
  depictio/api/v1/agents/quotas.py
  depictio/api/v1/agents/tools/annotations.py
  depictio/api/v1/agents/tools/data.py
  depictio/api/v1/agents/tools/reports.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/ai_endpoints/sandbox.py
  depictio/api/v1/endpoints/comments_endpoints/service.py
  depictio/api/v1/endpoints/user_endpoints/scope_gate.py
  depictio/api/v1/mcp/auth.py
  depictio/api/v1/services/lifespan.py
  depictio/cli/cli/commands/mcp.py
  depictio/cli/cli/utils/backup_validation.py
  depictio/tests/api/v1/agents/test_tools_annotations.py
  depictio/tests/api/v1/agents/test_tools_data.py
  depictio/tests/api/v1/agents/test_tools_reports.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_sandbox.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_token_scopes.py
  depictio/tests/api/v1/test_comments_service.py
  depictio/tests/api/v1/test_mcp_server.py
  depictio/tests/cli/commands/test_mcp.py
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

fix(agents): points by id become coordinates or a clear error when the figure can't match ids
  depictio/api/v1/agents/tools/annotations.py
  depictio/tests/api/v1/agents/test_tools_annotations.py
Due: ty-check-models-api-dash-cli

test(comments): compare dedupe rewrite times at Mongo's millisecond precision
  depictio/tests/api/v1/test_comments_service.py
Due: ty-check-models-api-dash-cli

test(security): restore settings classes after reloading them
  depictio/tests/api/v1/test_security_pr1.py
Due: ty-check-models-api-dash-cli

refactor(db): migrate MongoDB driver from motor to pymongo AsyncMongoClient
  depictio/api/celery_app.py
  depictio/api/v1/monitoring/log_handler.py
  depictio/api/v1/services/events/mongodb_watcher.py
  depictio/api/v1/services/lifespan.py
  depictio/cli/cli/utils/api_calls.py
  depictio/dev_scripts/reseed_project.py
Due: ty-check-models-api-dash-cli

build(deps): bump beanie 2.0.0 -> 2.2.0, drop motor, shim mongomock kwargs
  .github/dependabot.yml
  conda_envs/depictio.yaml
  depictio/cli/pyproject.toml
  depictio/tests/conftest.py
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

docs(recipes): schema of a recipe's contract, inputs and output
  dev/diagrams/recipe_output_schema.py
  docs/images/recipe-output-schema_contract.png
  docs/images/recipe-output-schema_contract.svg
Due: none

fix(db): close the async client and compare AsyncDatabase with None
  .github/dependabot.yml
  conda_envs/backend.yaml
  conda_envs/depictio.yaml
  depictio/api/v1/services/events/mongodb_watcher.py
  depictio/api/v1/services/lifespan.py
  depictio/cli/uv.lock
  depictio/dev_scripts/reseed_project.py
  depictio/tests/conftest.py
  depictio/tests/unit/test_pymongo_async_driver.py
Due: ty-check-models-api-dash-cli

docs(db): schema of why beanie was held at 2.0.0
  dev/diagrams/pymongo_driver.py
  docs/images/pymongo-driver_append_metadata.png
  docs/images/pymongo-driver_append_metadata.svg
Due: none

test(local): wait for the iris Delta table before the local specs
  depictio/tests/e2e-playwright/tests/local/local-mode.spec.ts
Due: ty-check-models-api-dash-cli

feat(cli): add `depictio local` to run the full server without Docker
  .github/workflows/local-server-smoke.yaml
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/screenshot_service.py
  depictio/api/v1/utils.py
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/cli/depictio_cli.py
  depictio/tests/cli/commands/test_local.py
  depictio/tests/unit/test_install_paths.py
  depictio/version.py
  dev/design/local-server-profile.md
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

docs(local): a same-code schema sized for a documentation column
  dev/diagrams/local_server.py
Due: none

fix(local): run on Linux and macOS, x86_64 and arm64
  .github/workflows/local-server-smoke.yaml
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

fix(packaging): ship the dashboard seeds in the wheel
  pyproject.toml
Due: none

ci(local): drive depictio local up with Playwright
  .github/workflows/local-server-smoke.yaml
  depictio/tests/e2e-playwright/tests/local/local-mode.spec.ts
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

docs(local): diagrams, screenshots and a server vs CLI comparison
  dev/design/local-server-profile.md
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_same_code.png
  docs/images/v1.4/local/schema_same_code.svg
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
  docs/images/v1.4/local/screenshots/rnaseq_gene_explorer.png
  docs/images/v1.4/local/screenshots/rnaseq_heatmap.png
  docs/images/v1.4/local/screenshots/rnaseq_multiqc_filter_gm12878.png
  docs/images/v1.4/local/screenshots/rnaseq_multiqc_panels_closed.png
  docs/images/v1.4/local/screenshots/rnaseq_multiqc_panels_open.png
  docs/images/v1.4/local/screenshots/rnaseq_overview_filter_gm12878.png
  docs/images/v1.4/local/screenshots/rnaseq_overview_no_filter.png
Due: none

ci(local): build the viewer without sourcemaps and with a 4 GB heap
  .github/workflows/local-server-smoke.yaml
Due: none

docs(local): say what the local stack does use from conda
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
Due: none

fix(celery): release MultiQC locks held by a task whose worker died
  depictio/api/celery_app.py
  depictio/tests/unit/test_multiqc_lock_release.py
Due: ty-check-models-api-dash-cli
