Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

debug: add logging to screenshot endpoint to diagnose single-user mode setting
  depictio/api/v1/endpoints/utils_endpoints/routes.py
Due: ty-check-models-api-dash-cli

debug: add logging to AuthSettings init to trace SINGLE_USER_MODE env var
  depictio/api/v1/configs/settings_models.py
Due: ty-check-models-api-dash-cli

fix: explicitly pass DEPICTIO_AUTH_SINGLE_USER_MODE to Docker containers
  docker-compose.dev.yaml
Due: none

refactor: remove real-time highlighting feature from figures and tables
  depictio/api/v1/CLAUDE.md
  depictio/api/v1/services/CLAUDE.md
  depictio/dash/assets/CLAUDE.md
  depictio/dash/assets/realtime-highlights.css
  depictio/dash/layouts/realtime_callbacks.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/table_component/CLAUDE.md
  depictio/dash/modules/table_component/callbacks/CLAUDE.md
  depictio/dash/modules/table_component/callbacks/core.py
  depictio/dash/modules/table_component/utils.py
  depictio/projects/test/image_demo/dashboard_lite.yaml
  depictio/projects/test/image_demo/images_data.csv
  docker-compose/.env
Due: ty-check-models-api-dash-cli

fix: revert default auth mode and fix CI sed commands
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/tests/api/v1/test_unauthenticated_mode.py
  docker-compose/.env
  projects
Due: ty-check-models-api-dash-cli

fix: align CI e2e test sed patterns with docker-compose/.env defaults
  .github/workflows/depictio-ci.yaml
Due: none

fix: add data/ prefix to all directory paths in CI to match DATA_DIR setting
  .github/workflows/depictio-ci.yaml
Due: none

fix: use DATA_DIR variable in backup MinIO compose file
  docker-compose/docker-compose.backup-minio.yaml
Due: none

fix: add --env-file flag to backup job docker-compose command
  .github/workflows/depictio-ci.yaml
Due: none

fix: set permissions on data/ parent directory for container access
  .github/workflows/depictio-ci.yaml
Due: none

fix: export UID/GID/DATA_DIR variables for backup job permission resolution
  .github/workflows/depictio-ci.yaml
  docker-compose.dev.yaml
Due: none

fix: remove readonly UID/GID export attempts in CI workflow
  .github/workflows/depictio-ci.yaml
Due: none

Bump version: 0.7.3 → 0.7.4-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3 → 0.7.4-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.4-b1
  CHANGELOG.md
Due: none

fix: enable single-user mode in Helm chart CI to fix screenshot 401 error
  helm-charts/depictio/values-gh-actions.yaml
Due: helm-lint

fix: resolve MultiQC plots not updating on interactive filter changes
  depictio/dash/layouts/header.py
  depictio/dash/layouts/sidebar.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/utils.py
Due: ty-check-models-api-dash-cli

feat: update ampliseq dashboard to use relative abundance and ANCOM-BC data
  .devcontainer/scripts/allocate-ports.sh
  depictio/api/v1/CLAUDE.md
  depictio/api/v1/services/events/connection_manager.py
  depictio/dash/celery_lock.py
  depictio/dash/modules/figure_component/code_mode.py
  depictio/dash/modules/interactive_component/callbacks/core_async.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/projects/reference/ampliseq/alpha_diversity.tsv
  depictio/projects/reference/ampliseq/ancombc_habitat_level2.tsv
  depictio/projects/reference/ampliseq/dashboard.yaml
  depictio/projects/reference/ampliseq/project.yaml
  depictio/projects/reference/ampliseq/taxonomy_rel_abundance_long.tsv
  dev/ampliseq_rfmt/process_ampliseq_data.py
Due: ty-check-models-api-dash-cli

refactor: update ampliseq init dashboard JSONs from YAML-imported dashboards
  depictio/projects/reference/ampliseq/dashboard_analysis.json
  depictio/projects/reference/ampliseq/dashboard_analysis.json.backup
  depictio/projects/reference/ampliseq/dashboard_community.json
  depictio/projects/reference/ampliseq/dashboard_differential.json
  depictio/projects/reference/ampliseq/dashboard_multiqc.json
Due: none

fix: resolve dashboard YAML import HTTP 400 and improve import robustness
  .devcontainer/scripts/allocate-ports.sh
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/cli/cli/commands/dashboard.py
  docker-compose.dev.yaml
Due: ty-check-models-api-dash-cli

fix: add --overwrite to CI roundtrip import to handle duplicate check
  .github/workflows/depictio-ci.yaml
  depictio/projects/reference/ampliseq/dashboard_community.json
  depictio/projects/reference/ampliseq/dashboard_differential.json
  depictio/projects/reference/ampliseq/dashboard_multiqc.json
Due: none

Bump version: 0.7.4-b1 → 0.7.4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.4-b1 → 0.7.4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.4
  CHANGELOG.md
Due: none

Bump version: 0.7.4 → 0.7.5-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.4 → 0.7.5-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.5-b1
  CHANGELOG.md
Due: none

Fix infinite React re-render loop (Maximum update depth exceeded)
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/selection.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/table_component/callbacks/selection.py
Due: ty-check-models-api-dash-cli

Bump version: 0.7.5-b1 → 0.7.5-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.5-b1 → 0.7.5-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.5-b2
  CHANGELOG.md
Due: none

fix: make General Statistics header static with only content area scrollable
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/callbacks/general_stats_callbacks.py
  depictio/dash/modules/multiqc_component/general_stats.py
  depictio/dash/modules/multiqc_component/utils.py
Due: ty-check-models-api-dash-cli

fix: enable cross-DC interactive filtering and fix violin visibility for General Statistics
  depictio/dash/modules/multiqc_component/callbacks/general_stats_callbacks.py
  depictio/dash/modules/multiqc_component/general_stats.py
Due: ty-check-models-api-dash-cli

feat: add MultiQC General Statistics table as selectable module option
  depictio/dash/modules/multiqc_component/callbacks/__init__.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/callbacks/design.py
  depictio/dash/modules/multiqc_component/callbacks/general_stats_callbacks.py
  depictio/dash/modules/multiqc_component/general_stats.py
  depictio/dash/modules/multiqc_component/utils.py
  dev/dev-multiqc-parquet/ampliseq_prototype.py
Due: ty-check-models-api-dash-cli

chore: remove verbose logging from MultiQC general stats module
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/callbacks/design.py
  depictio/dash/modules/multiqc_component/callbacks/edit.py
  depictio/dash/modules/multiqc_component/callbacks/general_stats_callbacks.py
  depictio/dash/modules/multiqc_component/callbacks/save_utils.py
  depictio/dash/modules/multiqc_component/frontend.py
  depictio/dash/modules/multiqc_component/models.py
  depictio/dash/modules/multiqc_component/utils.py
Due: ty-check-models-api-dash-cli

feat: add General Statistics table to ampliseq reference dashboards
  depictio/projects/reference/ampliseq/dashboard.yaml
  depictio/projects/reference/ampliseq/dashboard_multiqc.json
Due: none

Bump version: 0.7.5-b2 → 0.7.5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.5-b2 → 0.7.5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.5
  CHANGELOG.md
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
