Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

feat(provenance): reach every run parameter from the drawer
  depictio/viewer/src/chrome/DashboardInfoBody.tsx
  depictio/viewer/src/lib/provenance.ts
  depictio/viewer/src/projects/detail/IngestionReportPanel.tsx
Due: none

feat(chrome): give the canvas a real tab header
  depictio/viewer/src/chrome/TabIntro.tsx
Due: none

fix(code-mode): stop dropping preprocessing whose variables aren't named df
  depictio/api/v1/services/figure/code_executor.py
  depictio/api/v1/services/figure/code_mode.py
  depictio/tests/api/v1/test_code_mode_preprocessing.py
Due: ty-check-models-api-dash-cli

feat(provenance): capture and surface pipeline run parameters
  depictio/api/v1/endpoints/projects_endpoints/ingestion_report.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/templates.py
  depictio/models/models/templates.py
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/tests/cli/utils/test_run_provenance.py
  depictio/viewer/src/chrome/DashboardInfoBody.tsx
  depictio/viewer/src/projects/detail/IngestionReportPanel.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

feat(sections): summary chips on folded persistent sections
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
Due: none

feat(chrome): lead the canvas with the tab's description
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/TabIntro.tsx
  depictio/viewer/src/chrome/index.ts
Due: none

feat(map-panel): free corner resize for the floating card
  packages/depictio-react-core/src/components/mapPanel/MapPanelSurface.tsx
  packages/depictio-react-core/src/components/mapPanel/useCardResize.ts
  packages/depictio-react-core/src/components/mapPanel/useMapPanel.ts
  packages/depictio-react-core/src/components/mapPanel/useMapPanelState.ts
Due: none

style: sort imports after the rebase onto 1.7.0
  depictio/api/v1/services/map/render.py
  depictio/cli/cli/utils/templates.py
Due: ty-check-models-api-dash-cli

fix(chrome): keep the dashboard's identity line off the canvas
  depictio/viewer/src/chrome/TabIntro.tsx
Due: none

feat(ampliseq): pre-aggregate the rarefaction curves, and let them be grouped
  depictio/catalog/qiime2/alpha_rarefaction_summary.py
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  packages/depictio-react-core/src/components/advanced_viz/RarefactionRenderer.tsx
Due: none

fix(chrome): render logo tab icons in the canvas header
  depictio/viewer/src/chrome/TabIntro.tsx
Due: none

feat(ampliseq): materialise rarefaction + alpha-multi DCs on fresh ingests
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/catalog/qiime2/alpha_diversity_multi_canonical.py
  depictio/catalog/qiime2/rarefaction_canonical.py
  depictio/models/components/advanced_viz/configs.py
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
Due: ty-check-models-api-dash-cli

fix(funnel): compute availability for filters fanned out from other tabs
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix(links): resolve tag: placeholders at read time
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/links_endpoints/routes.py
  depictio/api/v1/filter_links.py
  depictio/models/models/links.py
  depictio/tests/models/test_resolve_link_tag_refs.py
Due: ty-check-models-api-dash-cli

fix(cards): one header layout, and titles that stay readable
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: none

fix(chrome): one header slot, and section controls above the pinned slot
  depictio/viewer/src/chrome/Header.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: none

fix(upset): make dashboard filters reach the plot
  depictio/api/v1/celery_tasks.py
  depictio/projects/nf-core/ampliseq/recipes/upset_canonical.py
  depictio/tests/api/v1/tasks/test_upset_set_narrowing.py
  depictio/tests/recipes/test_advanced_viz_recipes.py
Due: ty-check-models-api-dash-cli

fix(viewer): honour tab_order, and theme figures like the canvas
  depictio/cli/cli/utils/mantine_templates.py
  depictio/viewer/src/App.tsx
Due: ty-check-models-api-dash-cli

refactor(map-panel): move the control next to Reset all
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
Due: none

fix(heatmap): honour sample filters that don't spell "sample"
  depictio/api/v1/celery_tasks.py
  depictio/tests/api/v1/tasks/test_upset_set_narrowing.py
Due: ty-check-models-api-dash-cli

fix(grid): pack and widen per section, not across the flat layout
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: none

fix(grid): keep a pinned section under the tab intro, not under the whole tab
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: none

style: ruff format
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/ingestion_report.py
  depictio/catalog/qiime2/alpha_diversity_multi_canonical.py
  depictio/catalog/qiime2/rarefaction_canonical.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/lite.py
  depictio/models/models/templates.py
  depictio/tests/cli/utils/test_run_provenance.py
  depictio/tests/models/test_resolve_link_tag_refs.py
Due: ty-check-models-api-dash-cli

Add instance_settings/branding_assets backup coverage
  depictio/cli/cli/utils/backup_validation.py
Due: ty-check-models-api-dash-cli

test(phylogeny): click internal nodes that sit below the fold
  depictio/tests/e2e-playwright/tests/advanced-viz/phylogeny.spec.ts
Due: ty-check-models-api-dash-cli

Mock instance_settings/branding_assets collections in backup route tests
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
Due: ty-check-models-api-dash-cli

Bump version: 1.8.1 → 1.8.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.8.2
  CHANGELOG.md
Due: none

Bump version: 1.8.2 → 1.8.3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.8.3
  CHANGELOG.md
Due: none

feat(helm): plumb password_login_disabled and public_access_code
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/secrets.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

test(e2e): assert the theme toggle is attached, not visible
  depictio/tests/e2e-playwright/tests/ui/brand-theme.spec.ts
Due: ty-check-models-api-dash-cli

feat(catalog): in-app catalog picker, modern metadata inspector & catalog flag
  depictio/viewer/public/logos/tools_catalog_logo.png
  depictio/viewer/src/builder/ChoiceScreen.tsx
  depictio/viewer/src/builder/CreateComponentPage.tsx
  depictio/viewer/src/builder/catalog/CatalogPreviewPanel.tsx
  depictio/viewer/src/builder/catalog/CatalogTab.tsx
  depictio/viewer/src/builder/store/useBuilderStore.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/chrome/CatalogFlag.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/MetadataBody.tsx
  packages/depictio-react-core/src/components/chrome/MetadataPopover.tsx
  packages/depictio-react-core/src/components/chrome/chrome.css
  packages/depictio-react-core/src/index.ts
Due: none

fix(migrate): report S3 restore failures instead of blaming the ZIP
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/viewer/src/auth/components/AuthCard.tsx
Due: ty-check-models-api-dash-cli

fix(catalog): bind complex_heatmap to a real index, harden the e2e walk
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/tests/e2e-playwright/fixtures/catalog.ts
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
  depictio/viewer/src/builder/catalog/CatalogPreviewPanel.tsx
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
