Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

React viewer MVP + shared component library
  depictio/api/main.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/edit.py
  depictio/dash/pages/dashboard_editor.py
  depictio/viewer/.gitignore
  depictio/viewer/HANDOFF.md
  depictio/viewer/index.html
  depictio/viewer/package-lock.json
  depictio/viewer/package.json
  depictio/viewer/src/App.tsx
  depictio/viewer/src/api.ts
  depictio/viewer/src/components/ComponentRenderer.tsx
  depictio/viewer/src/components/DashboardGrid.tsx
  depictio/viewer/src/components/ErrorBoundary.tsx
  depictio/viewer/src/components/FigureRenderer.tsx
  depictio/viewer/src/components/TableRenderer.tsx
  depictio/viewer/src/main.tsx
  depictio/viewer/src/styles/app.css
  depictio/viewer/src/theme.ts
  depictio/viewer/tsconfig.json
  depictio/viewer/vite.config.ts
  packages/depictio-components/.gitignore
  packages/depictio-components/README.md
  packages/depictio-components/depictio_components/DepictioCard.py
  packages/depictio-components/depictio_components/DepictioMultiSelect.py
  packages/depictio-components/depictio_components/__init__.py
  packages/depictio-components/depictio_components/depictio_components.min.js
  packages/depictio-components/depictio_components/depictio_components.min.js.LICENSE.txt
  packages/depictio-components/package-lock.json
  packages/depictio-components/package.json
  packages/depictio-components/pyproject.toml
  packages/depictio-components/tsconfig.json
  packages/depictio-components/webpack.config.js
  pyproject.toml
Due: ty-check-models-api-dash-cli

Add 5 component renderers + AG Grid SSRM to React viewer
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/viewer/package-lock.json
  depictio/viewer/package.json
  depictio/viewer/src/api.ts
  depictio/viewer/src/components/ComponentRenderer.tsx
  depictio/viewer/src/components/ImageRenderer.tsx
  depictio/viewer/src/components/TableRenderer.tsx
  depictio/viewer/src/components/interactive/CheckboxSwitchRenderer.tsx
  depictio/viewer/src/components/interactive/DatePickerRenderer.tsx
  depictio/viewer/src/components/interactive/MultiSelectRenderer.tsx
  depictio/viewer/src/components/interactive/RangeSliderRenderer.tsx
  depictio/viewer/src/components/interactive/SegmentedControlRenderer.tsx
  depictio/viewer/src/components/interactive/SliderRenderer.tsx
  uv.lock
Due: ty-check-models-api-dash-cli

Add Map, JBrowse, and MultiQC ports to React viewer
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/viewer/src/api.ts
  depictio/viewer/src/components/ComponentRenderer.tsx
  depictio/viewer/src/components/JBrowseRenderer.tsx
  depictio/viewer/src/components/MapRenderer.tsx
  depictio/viewer/src/components/MultiQCRenderer.tsx
  depictio/viewer/src/components/multiqc/MultiQCFigure.tsx
  depictio/viewer/src/components/multiqc/MultiQCGeneralStats.tsx
Due: ty-check-models-api-dash-cli

Add Phase 2 handoff doc with smoke-test checklist
  depictio/viewer/PHASE2_HANDOFF.md
Due: none

Fix render_multiqc: use the richer fallback to resolve s3_locations
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
Due: ty-check-models-api-dash-cli

Extend _fetch_s3_locations_from_dc with multiqc_collection fallback
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/dash/modules/multiqc_component/models.py
Due: ty-check-models-api-dash-cli

Wire interactive sample-filter into render_multiqc
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
Due: ty-check-models-api-dash-cli

perf(multiqc): filter-aware caching + Celery prewarm + cloudpickle
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/dash/celery_app.py
  depictio/dash/modules/figure_component/multiqc_vis.py
  packages/depictio-react-core/src/components/multiqc/MultiQCFigure.tsx
  pyproject.toml
Due: ty-check-models-api-dash-cli

fix(editor): duplicate component visibility + ref staleness
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/GridItemEditOverlay.tsx
  depictio/viewer/src/components/LeftFilterPanel.tsx
  depictio/viewer/src/styles/app.css
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: none

fix(editor): use inset shadow for duplicate flash so left panel renders identically
  depictio/viewer/src/styles/app.css
Due: none

Wire React SPA serving + multi-route mounts in FastAPI
  depictio/api/main.py
  depictio/viewer/package.json
  depictio/viewer/public/logos/AriseLogo300dpi.png
  depictio/viewer/public/logos/EMBL_logo_colour_DIGITAL.png
  depictio/viewer/public/logos/EN_fundedbyEU_VERTICAL_RGB_POS.png
  depictio/viewer/public/logos/multiqc_icon_color.svg
  depictio/viewer/public/logos/multiqc_icon_dark.svg
  depictio/viewer/public/logos/multiqc_icon_white.svg
  depictio/viewer/src/assets/fonts/Virgil.ttf
  depictio/viewer/src/main.tsx
  depictio/viewer/vite.config.ts
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

Add API endpoints for React viewer (figures, multiqc, projects, users)
  depictio/api/v1/celery_dispatch.py
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/celery_endpoints/__init__.py
  depictio/api/v1/endpoints/celery_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/figure_endpoints/__init__.py
  depictio/api/v1/endpoints/figure_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/dash/celery_worker.py
  uv.lock
Due: ty-check-models-api-dash-cli

Extend depictio-react-core for projects + figure builder
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/MultiQCRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/interactive/CheckboxSwitchRenderer.tsx
  packages/depictio-react-core/src/components/interactive/DatePickerRenderer.tsx
  packages/depictio-react-core/src/components/interactive/SegmentedControlRenderer.tsx
  packages/depictio-react-core/src/components/interactive/SliderRenderer.tsx
  packages/depictio-react-core/src/components/multiqc/MultiQCGeneralStats.tsx
  packages/depictio-react-core/src/hooks/useInView.ts
  packages/depictio-react-core/src/index.ts
Due: none

Add viewer chrome: AppSidebar, Header, ProfileBadge, TabModal
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/AppSidebar.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/PoweredBy.tsx
  depictio/viewer/src/chrome/ProfileBadge.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/chrome/TabModal.tsx
  depictio/viewer/src/chrome/index.ts
  depictio/viewer/src/components/GridItemEditOverlay.tsx
  depictio/viewer/src/hooks/useCurrentUser.ts
  depictio/viewer/src/hooks/useSidebarOpen.ts
  depictio/viewer/src/styles/app.css
  depictio/viewer/src/theme.ts
Due: none

Add /auth and /dashboards-beta React sub-apps
  depictio/viewer/src/auth/AuthApp.tsx
  depictio/viewer/src/auth/components/AuthBackground.tsx
  depictio/viewer/src/auth/components/AuthCard.tsx
  depictio/viewer/src/auth/components/GoogleOAuthCallback.tsx
  depictio/viewer/src/auth/components/LoginForm.tsx
  depictio/viewer/src/auth/components/PublicModeOptions.tsx
  depictio/viewer/src/auth/components/RegisterForm.tsx
  depictio/viewer/src/auth/hooks/useAuthMode.ts
  depictio/viewer/src/auth/styles/auth.css
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/DashboardsApp.tsx
  depictio/viewer/src/dashboards/DashboardsList.tsx
  depictio/viewer/src/dashboards/DeleteDashboardModal.tsx
  depictio/viewer/src/dashboards/EditDashboardModal.tsx
  depictio/viewer/src/dashboards/MultiTabPreview.tsx
Due: none

Add /about-beta, /admin-beta, /profile-beta, /cli-agents-beta sub-apps
  depictio/viewer/src/about/AboutApp.tsx
  depictio/viewer/src/admin/AdminApp.tsx
  depictio/viewer/src/admin/AdminDashboardsPanel.tsx
  depictio/viewer/src/admin/AdminProjectsPanel.tsx
  depictio/viewer/src/admin/AdminUsersPanel.tsx
  depictio/viewer/src/admin/DeleteUserModal.tsx
  depictio/viewer/src/cli-agents/CliAgentsApp.tsx
  depictio/viewer/src/cli-agents/CreateTokenModal.tsx
  depictio/viewer/src/cli-agents/DeleteTokenModal.tsx
  depictio/viewer/src/cli-agents/DisplayTokenModal.tsx
  depictio/viewer/src/profile/EditPasswordModal.tsx
  depictio/viewer/src/profile/ProfileApp.tsx
  depictio/viewer/src/profile/UpgradeToTemporaryModal.tsx
  depictio/viewer/src/profile/colors.ts
Due: none

Add /projects-beta React sub-app with detail + permissions
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/DeleteProjectModal.tsx
  depictio/viewer/src/projects/EditProjectModal.tsx
  depictio/viewer/src/projects/ProjectCard.tsx
  depictio/viewer/src/projects/ProjectsApp.tsx
  depictio/viewer/src/projects/ProjectsList.tsx
  depictio/viewer/src/projects/detail/JoinsGraph.tsx
  depictio/viewer/src/projects/detail/PermissionsApp.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  depictio/viewer/src/projects/index.ts
Due: none

Add "Try the new version" switcher in Dash sidebar → React beta
  depictio/dash/assets/beta-switcher.css
  depictio/dash/layouts/sidebar.py
  docker-compose.dev.yaml
Due: ty-check-models-api-dash-cli

Use real workflow logos for template chip in projects list
  depictio/viewer/public/logos/workflows/galaxy.png
  depictio/viewer/public/logos/workflows/iwc.png
  depictio/viewer/public/logos/workflows/nextflow.png
  depictio/viewer/public/logos/workflows/nf-core.png
  depictio/viewer/public/logos/workflows/snakemake.png
  depictio/viewer/public/logos/workflows/snakemake.svg
  depictio/viewer/src/projects/ProjectCard.tsx
Due: none

feat(deployment): add annotations for config checksum in backend and frontend
  helm-charts/depictio/templates/deployments.yaml
Due: helm-lint

ci: skip ghcr-dependent jobs on fork PRs
  .github/workflows/depictio-ci.yaml
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

Add multi-run MultiQC parquet report generator
  dev/multiqc-multi-reports/.gitignore
  dev/multiqc-multi-reports/generate_multi_run_reports.py
  dev/multiqc-multi-reports/pyproject.toml
Due: none

Add sample metadata TSV generation to multi-run report script
  dev/multiqc-multi-reports/generate_multi_run_reports.py
Due: none

feat(api+react): create data collection from upload
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/viewer/src/projects/detail/JoinsGraph.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  depictio/viewer/src/vite-env.d.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

ci: fix pixi resolution + ruff format
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  pixi.toml
Due: ty-check-models-api-dash-cli

test: set glob_pattern on bypassed RecipeSource instances
  depictio/tests/cli/utils/test_recipes.py
Due: ty-check-models-api-dash-cli

Reduce duplication in depictio-react-core api.ts
  packages/depictio-react-core/src/api.ts
Due: none

fix: permission-guard logic + roll back workflow on upload failure
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix(profile): enable CLI Agents button in single-user mode
  depictio/dash/layouts/profile.py
Due: ty-check-models-api-dash-cli

Bump version: 0.9.0 → 0.10.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.9.0 → 0.10.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.10.0
  CHANGELOG.md
Due: none

feat(multiqc): DC manage flow + folder uploads + live cache + prewarm
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/links_endpoints/resolvers.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/dash/api_calls.py
  depictio/dash/assets/multiqc_folder_upload.js
  depictio/dash/celery_app.py
  depictio/dash/flask_dispatcher.py
  depictio/dash/layouts/layouts_toolbox.py
  depictio/dash/layouts/project_data_collections.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/models.py
  depictio/dash/modules/multiqc_component/utils.py
  depictio/tests/api/v1/endpoints/multiqc_endpoints/test_bulk_delete.py
Due: ty-check-models-api-dash-cli

fix(multiqc): authorize destructive endpoints + tighten suffix regex
  depictio/api/v1/endpoints/links_endpoints/resolvers.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

fix(test): set glob_pattern=None when bypassing RecipeSource validation
  depictio/tests/cli/utils/test_recipes.py
Due: ty-check-models-api-dash-cli

fix(multiqc): cache key correctness + safer append + helper tests
  depictio/dash/api_calls.py
  depictio/dash/celery_app.py
  depictio/dash/modules/figure_component/multiqc_vis.py
  depictio/tests/api/v1/endpoints/links_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/links_endpoints/test_sample_mapping_resolver.py
  depictio/tests/dash/test_multiqc_helpers.py
Due: ty-check-models-api-dash-cli

Bump version: 0.10.0 → 0.10.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint
