Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix: Update ruff pre-commit hook version to v0.11.10 for improved linting
  .pre-commit-config.yaml
Due: none

fix: Add missing files attribute to ruff hooks in pre-commit configuration
  .pre-commit-config.yaml
Due: none

fix: Add debugging step before Ruff check to gather environment and configuration details
  .github/workflows/depictio-ci.yaml
Due: none

fix: Update dependencies and improve type casting in Beanie initialization across tests
  .github/workflows/depictio-ci.yaml
  .pre-commit-config.yaml
  depictio/api/main.py
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_core_functions.py
  depictio/tests/api/v1/endpoints/user_endpoints/conftest.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_core_functions.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_user_management.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_utils.py
  depictio/tests/dash/conftest.py
  depictio/tests/models/test_users.py
  pyproject.toml
Due: ty-check-models-api-dash-cli

dev: Add test file for debugging import sorting with deliberately unsorted imports
  test_import_debug.py
Due: none

feat: Add workflow for debugging Ruff import sorting issues
  .github/workflows/debug-ruff-test.yaml
Due: none

refactor: Simplify debug workflow by commenting out unnecessary steps
  .github/workflows/debug-ruff-test.yaml
Due: none

refactor: Remove unused imports and clean up test file for import sorting
  test_import_debug.py
Due: none

refactor: Update Ruff action steps for improved formatting and error handling
  .github/workflows/debug-ruff-test.yaml
Due: none

refactor: Update Ruff steps for improved debugging and formatting checks
  .github/workflows/depictio-ci.yaml
Due: none

refactor: Add version file parameter to Ruff checks for consistency
  .github/workflows/depictio-ci.yaml
Due: none

refactor: Comment out Ruff action steps for clarity and debugging
  .github/workflows/depictio-ci.yaml
Due: none

Bump version: 0.3.0 → 0.3.1
  .bumpversion.cfg
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.3.1
  CHANGELOG.md
Due: none

refactor: Update MinIO and backend configurations for resource limits and security context
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values-embl-unauth.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

feat: Implement analytics tracking and middleware
  .github/workflows/debug-ruff-test.yaml
  depictio/api/main.py
  depictio/api/v1/configs/penguins_dataset/penguins_project.yaml
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/analytics_endpoints/routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/middleware/analytics_middleware.py
  depictio/api/v1/services/analytics_service.py
  depictio/api/v1/tasks/cleanup_tasks.py
  depictio/dash/components/analytics_tracker.py
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/app_layout.py
  depictio/models/models/analytics.py
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

feat: Implement Admin Analytics Dashboard and related functionalities
  depictio/api/v1/endpoints/analytics_data_endpoints/__init__.py
  depictio/api/v1/endpoints/analytics_data_endpoints/routes.py
  depictio/api/v1/endpoints/analytics_endpoints/routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/middleware/analytics_middleware.py
  depictio/api/v1/services/analytics_data_service.py
  depictio/api/v1/services/analytics_service.py
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/admin_analytics.py
  depictio/dash/layouts/admin_analytics_callbacks.py
  depictio/dash/layouts/admin_management.py
  depictio/dash/layouts/app_layout.py
Due: ty-check-models-api-dash-cli

feat: Enhance analytics data service with user ID validation and filtering
  depictio/api/v1/endpoints/analytics_data_endpoints/routes.py
  depictio/api/v1/middleware/analytics_middleware.py
  depictio/api/v1/services/analytics_data_service.py
  depictio/api/v1/services/analytics_service.py
  depictio/dash/layouts/admin_analytics.py
  depictio/dash/layouts/admin_analytics_callbacks.py
Due: ty-check-models-api-dash-cli

feat: Add Google Analytics integration and unique connections analytics to the dashboard
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/analytics_endpoints/routes.py
  depictio/api/v1/services/analytics_data_service.py
  depictio/api/v1/services/analytics_service.py
  depictio/dash/components/analytics_tracker.py
  depictio/dash/components/google_analytics.py
  depictio/dash/core/app_factory.py
  depictio/dash/layouts/admin_analytics.py
  depictio/dash/layouts/admin_analytics_callbacks.py
  depictio/dash/layouts/app_layout.py
  dev/google-analytics-dash/simple_dash_test.py
Due: ty-check-models-api-dash-cli

feat: Add Google Analytics configuration example and update backend/frontend settings
  helm-charts/depictio/examples/values-google-analytics.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

feat: Enhance analytics session management and cleanup for anonymous sessions
  depictio/api/v1/endpoints/analytics_endpoints/routes.py
  depictio/api/v1/middleware/analytics_middleware.py
  depictio/api/v1/services/analytics_service.py
  depictio/dash/components/analytics_tracker.py
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/admin_analytics.py
Due: ty-check-models-api-dash-cli

feat: Enhance user authentication flow with temporary user upgrade and improved session handling
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/dash/core/auth.py
  depictio/dash/layouts/profile.py
  depictio/dash/layouts/users_management.py
Due: ty-check-models-api-dash-cli

feat: Update .env.example with additional configuration options and improved organization
  .env.example
Due: none

Bump version: 0.3.1 → 0.3.2
  .bumpversion.cfg
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.3.2
  CHANGELOG.md
Due: none

feat: Add Google Analytics configuration options and adjust resource limits for backend and MinIO
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values-embl-unauth.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

feat: Enhance Helm chart installation and debugging output for better visibility and error handling
  .github/scripts/changelog_generator.sh
  .github/workflows/release.yaml
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

feat: Add wait step for Kubernetes resources propagation in Helm chart workflow
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

fix: Improve deployment counting and logging for Helm chart resource propagation
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

feat: Enhance wait step for backend service availability with improved logging and timeout handling
  .env.example
  helm-charts/depictio/templates/deployments.yaml
Due: helm-lint

feat: Add detailed pod status monitoring for frontend and backend during resource propagation
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

fix: Optimize deployment status checks and skip wait for already verified pods
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

feat: Refactor theme handling in components and disable theme switch on dashboard pages
  depictio/dash/layouts/draggable_scenarios/interactive_component_update.py
  depictio/dash/layouts/draggable_scenarios/progressive_loading.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/header.py
  depictio/dash/layouts/save.py
  depictio/dash/modules/table_component/frontend.py
  depictio/dash/modules/table_component/utils.py
  depictio/dash/theme_utils.py
Due: ty-check-models-api-dash-cli

feat: Implement theme support for AG Grid across project data collections and user management modules
  depictio/dash/layouts/project_data_collections.py
  depictio/dash/layouts/projectwise_user_management.py
  depictio/dash/layouts/stepper.py
Due: ty-check-models-api-dash-cli

Initiial MultiQC data extraction and reporting modules
  .gitignore
  dev/dev-multiqc-parquet/EXTRACTION_RESULTS_SUMMARY.md
  dev/dev-multiqc-parquet/MULTIQC_EXTRACTION_SUMMARY.md
  dev/dev-multiqc-parquet/create_detailed_extraction_report.py
  dev/dev-multiqc-parquet/dev.ipynb
  dev/dev-multiqc-parquet/export_and_analyze.py
  dev/dev-multiqc-parquet/extracted_data/PROBLEMATIC_ANCHORS_REPORT.md
  dev/dev-multiqc-parquet/extracted_data/problematic_anchors_analysis.json
  dev/dev-multiqc-parquet/multiqc_analysis.py
  dev/dev-multiqc-parquet/multiqc_analysis_report.json
  dev/dev-multiqc-parquet/multiqc_categorization.json
  dev/dev-multiqc-parquet/multiqc_extraction_report.json
  dev/dev-multiqc-parquet/multiqc_extraction_templates.py
  dev/dev-multiqc-parquet/multiqc_extractor.py
  dev/dev-multiqc-parquet/multiqc_final_report.py
  dev/dev-multiqc-parquet/test_new_patterns.py
  dev/dev-multiqc-parquet/test_patterns_simple.py
Due: none

feat: Add Redis service to Docker Compose with healthcheck and environment configuration
  conda_envs/depictio.yaml
  depictio/api/v1/configs/settings_models.py
  docker-compose.dev.yaml
Due: ty-check-models-api-dash-cli

feat: Integrate Redis caching for DataFrame loading and enhance memory management
  depictio/api/v1/deltatables_utils.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
