Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

test: Remove api_upsert_deltatable mock from MultiQC processor test
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

fix: Remove incorrect MultiQC deltatable check from S3 cleanup
  depictio/api/v1/endpoints/utils_endpoints/core_functions.py
Due: ty-check-models-api-dash-cli

Bump version: 0.6.2-b4 → 0.6.2-b5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.2-b5
  CHANGELOG.md
Due: none

fix: Handle None user in route_authenticated_user
  depictio/dash/pages/management_app.py
Due: ty-check-models-api-dash-cli

Update CHANGELOG.md for v0.6.2-b6
  CHANGELOG.md
Due: none

fix: Mount screenshots PVC in celery worker for shared access
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

fix: Handle race condition in reference dataset init + remove multiqc
  depictio/api/v1/db_init_reference_datasets.py
Due: ty-check-models-api-dash-cli

fix: Correct corrupted Helm chart YAML from version bump
  depictio/cli/pyproject.toml
  pyproject.toml
Due: ty-check-models-api-dash-cli

fix: Correct corrupted version strings in pyproject.toml files
  depictio/cli/pyproject.toml
  pyproject.toml
Due: ty-check-models-api-dash-cli

fix: Auth redirect on stale token + screenshot cleanup bug
  depictio/api/v1/utils.py
  depictio/dash/pages/management_app.py
Due: ty-check-models-api-dash-cli

Bump version: 0.6.2-b6 → 0.6.2-b7
  .github/workflows/deploy-embl-selfhosted.yaml
  depictio/cli/pyproject.toml
  depictio/dash/celery_lock.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca6_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca6_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pixi.lock
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.2-b7
  CHANGELOG.md
Due: none

fix: Restore pre-created screenshot files for reference dashboards
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca6_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca6_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
Due: ty-check-models-api-dash-cli

chore: Update uv.lock
  uv.lock
Due: none

Bump version: 0.6.2-b7 → 0.6.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.2
  CHANGELOG.md
Due: none

feat: comprehensive analysis of YAML system with JSON simplification proposal
  QUICK_DECISION_GUIDE.md
  SIMPLE_JSON_POC.py
  YAML_MONGODB_ANALYSIS.md
  scripts/migrate_yaml_to_json.py
Due: none

fix: Load debug-menu-control.js in multi-app dispatcher
  depictio/dash/flask_dispatcher.py
Due: ty-check-models-api-dash-cli

docs: add YAML deprecation implementation summary
  YAML_DEPRECATION_SUMMARY.md
Due: none

feat: disable YAML system by default and mark all endpoints as deprecated
  CHANGELOG.md
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/yaml_serialization/DEPRECATION.md
  scripts/mark_yaml_endpoints_deprecated.py
Due: ty-check-models-api-dash-cli

feat: comprehensive analysis for minimal JSON-based dashboard schema
  DASHBOARD_JSON_SCHEMA_ANALYSIS.md
Due: none

feat: unified YAML/JSON proposal with single lightweight model
  SIMPLIFIED_YAML_JSON_PROPOSAL.md
Due: none

feat: implement DashboardDataLite with CLI convert command
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/cli/__main__.py
  depictio/cli/cli/commands/dashboard.py
  depictio/models/components/__init__.py
  depictio/models/components/base.py
  depictio/models/components/card.py
  depictio/models/components/figure.py
  depictio/models/components/interactive.py
  depictio/models/components/lite.py
  depictio/models/components/table.py
  depictio/models/components/types.py
  depictio/models/components/union.py
  depictio/models/models/dashboards.py
  depictio/models/validation/__init__.py
  depictio/models/validation/ag_grid.py
  depictio/models/validation/dash_mantine.py
  depictio/models/validation/plotly_express.py
  depictio/models/yaml_serialization/__init__.py
  depictio/models/yaml_serialization/mvp_models.py
  pyproject.toml
Due: ty-check-models-api-dash-cli

feat: add CLI dashboard import command and comprehensive unit tests
  depictio/cli/cli/commands/dashboard.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/projects/init/iris/dashboard_lite.yaml
  depictio/tests/models/test_dashboards_lite.py
  depictio/tests/unit/__init__.py
  depictio/tests/unit/models/__init__.py
  depictio/tests/unit/models/validation/__init__.py
  depictio/tests/unit/models/validation/test_validation.py
  depictio/tests/unit/test_cli_dashboard.py
Due: ty-check-models-api-dash-cli

feat: improve dashboard YAML import with overwrite, tag resolution, and mandatory config
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/cli/cli/commands/dashboard.py
  depictio/models/models/dashboards.py
  depictio/models/yaml_serialization/__init__.py
  depictio/projects/init/iris/dashboard_lite.yaml
  depictio/tests/cli/commands/test_dashboard.py
  depictio/tests/models/test_dashboards_lite.py
  depictio/tests/unit/test_cli_dashboard.py
Due: ty-check-models-api-dash-cli

fix: sort imports in yaml_serialization __init__.py
  depictio/models/yaml_serialization/__init__.py
Due: ty-check-models-api-dash-cli

fix: preserve MongoDB _id when updating dashboard with --overwrite
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix: include uv.lock in bump-with-helm amend commit
  bump-with-helm.sh
Due: none

chore: update uv.lock metadata
  uv.lock
Due: none

Bump version: 0.6.2 → 0.6.3-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.6.2 → 0.6.3-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.3-b1
  CHANGELOG.md
Due: none

feat: add Image DC model with Table DC capabilities
  depictio/models/models/data_collections.py
  depictio/models/models/data_collections_types/image.py
Due: ty-check-models-api-dash-cli

feat: enable Image DC processing in CLI workflow
  depictio/cli/cli/commands/images.py
  depictio/cli/cli/utils/process.py
  depictio/cli/cli/utils/scan.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
