Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

build(viewer): depend on depictio-react-ai through the workspace protocol
  depictio/viewer/package.json
  pnpm-lock.yaml
Due: none

feat(notebook-export): stop reconstructing UI figures, render them live
  depictio/api/v1/services/notebook_export/classify.py
  depictio/api/v1/services/notebook_export/generator.py
  depictio/api/v1/services/notebook_export/names.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_notebook_export.py
  depictio/tests/unit/notebook_export/test_classify.py
  depictio/tests/unit/notebook_export/test_generator.py
Due: ty-check-models-api-dash-cli

fix(notebook-export): render multi-metric cards through the real card renderer
  depictio/api/v1/services/notebook_export/classify.py
  depictio/notebook/components.py
  depictio/tests/unit/notebook/test_client.py
  depictio/tests/unit/notebook_export/test_classify.py
  depictio/tests/unit/notebook_export/test_generator.py
Due: ty-check-models-api-dash-cli

test: fix the two CI failures on feat/ai-assistant
  depictio/cli/cli/utils/backup_validation.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_sandbox.py
Due: ty-check-models-api-dash-cli

test(ai): make the sandbox deadline query slow on a warm child
  depictio/tests/api/v1/endpoints/ai_endpoints/test_sandbox.py
Due: ty-check-models-api-dash-cli

test(e2e): drive the prompt-first Describe flow; docs(ai): describe routing
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  docs/ai-assistant.md
  docs/images/v1.4/ai/screenshots/add_component_chooser.png
  docs/images/v1.4/ai/screenshots/describe_with_ai_pinned.png
  docs/images/v1.4/ai/screenshots/describe_with_ai_step.png
  docs/images/v1.4/ai/screenshots/design_after_routing.png
Due: ty-check-models-api-dash-cli

feat(ai): nine component types and prompt-driven routing in component-from-prompt
  depictio/api/v1/endpoints/ai_endpoints/component_yaml.py
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/routing.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/services/figure/definitions.py
  depictio/models/components/constants.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_component_yaml.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_context.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_prompts.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_singleshot.py
  depictio/tests/models/test_dashboards_lite.py
  depictio/tests/models/test_shipped_dashboard_yamls.py
Due: ty-check-models-api-dash-cli

feat(viewer): Describe with AI as a prompt-first source of the Add-component page
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/ChoiceScreen.tsx
  depictio/viewer/src/builder/CreateComponentPage.tsx
  depictio/viewer/src/builder/ai/AISuggestionPreview.tsx
  depictio/viewer/src/builder/ai/CollectionPicker.tsx
  depictio/viewer/src/builder/catalog/CatalogTab.tsx
  depictio/viewer/src/builder/componentSource.ts
  depictio/viewer/src/builder/steps/StepDescribe.tsx
  depictio/viewer/src/builder/steps/StepDesign.tsx
  depictio/viewer/src/builder/steps/StepType.tsx
  depictio/viewer/src/builder/store/applyLiteComponent.ts
  depictio/viewer/src/builder/store/useBuilderStore.ts
  depictio/viewer/src/chrome/Header.tsx
  packages/depictio-react-ai/src/components/AIAnalysisModal.tsx
  packages/depictio-react-ai/src/components/AIAnalyzePanel.tsx
  packages/depictio-react-ai/src/components/ActionsPreview.tsx
  packages/depictio-react-ai/src/components/AddWithAIModal.tsx
  packages/depictio-react-ai/src/components/AiFillModal.tsx
  packages/depictio-react-ai/src/components/ExecutionTrace.tsx
  packages/depictio-react-ai/src/components/SectionSummary.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/icons.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
Due: none

fix(catalog): add variantbenchmarking modules to the nf-core existence index
  depictio/catalog/_index/nf_core_modules.txt
Due: none

feat(templates): align variantbenchmarking dashboard with pipeline's canonical plots
  depictio/projects/nf-core/variantbenchmarking/1.4.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
Due: none

feat(templates): scaffold nf-core/variantbenchmarking 1.4.0 template
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/variantbenchmarking/1.4.0/.db_seeds/.gitkeep
  depictio/projects/nf-core/variantbenchmarking/1.4.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/download_test_data.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/generate_seeds.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
  depictio/projects/nf-core/variantbenchmarking/recipes/happy_roc.py
  depictio/projects/nf-core/variantbenchmarking/recipes/happy_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/sompy_regions.py
  depictio/projects/nf-core/variantbenchmarking/recipes/sompy_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/svbenchmark_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/truvari_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/vcfeval_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/wittyer_summary.py
Due: ty-check-models-api-dash-cli

refactor(catalog): migrate variantbenchmarking modules to the catalog convention
  depictio/catalog/happy/module.yaml
  depictio/catalog/happy/roc.py
  depictio/catalog/happy/roc.tsv
  depictio/catalog/happy/roc.yaml
  depictio/catalog/happy/summary.py
  depictio/catalog/happy/summary.tsv
  depictio/catalog/happy/summary.yaml
  depictio/catalog/rtgtools/module.yaml
  depictio/catalog/rtgtools/vcfeval_summary.py
  depictio/catalog/rtgtools/vcfeval_summary.tsv
  depictio/catalog/rtgtools/vcfeval_summary.yaml
  depictio/catalog/sompy/module.yaml
  depictio/catalog/sompy/regions.py
  depictio/catalog/sompy/regions.tsv
  depictio/catalog/sompy/regions.yaml
  depictio/catalog/sompy/summary.py
  depictio/catalog/sompy/summary.tsv
  depictio/catalog/sompy/summary.yaml
  depictio/catalog/svanalyzer/module.yaml
  depictio/catalog/svanalyzer/svbenchmark.py
  depictio/catalog/svanalyzer/svbenchmark.tsv
  depictio/catalog/svanalyzer/svbenchmark.yaml
  depictio/catalog/truvari/module.yaml
  depictio/catalog/truvari/summary.py
  depictio/catalog/truvari/summary.tsv
  depictio/catalog/truvari/summary.yaml
  depictio/catalog/wittyer/module.yaml
  depictio/catalog/wittyer/summary.py
  depictio/catalog/wittyer/summary.tsv
  depictio/catalog/wittyer/summary.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/download_test_data.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
Due: none

feat(advanced-viz): benchmarking viz kinds + per-category variantbenchmarking projects
  depictio/catalog/happy/roc.yaml
  depictio/catalog/rtgtools/vcfeval_summary.yaml
  depictio/catalog/sompy/summary.yaml
  depictio/catalog/truvari/summary.yaml
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/projects/init/advanced_viz_showcase/dashboards/benchmark_ci.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/benchmark_confusion.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/benchmark_pr.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/benchmark_roc.yaml
  depictio/projects/init/advanced_viz_showcase/data/benchmark_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/roc_curve_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/template.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/small/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/small/template.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/structural/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/structural/template.yaml
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/ConfusionMatrixRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MetricCiBarsRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/PrBenchmarkRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/RocPrCurveRenderer.tsx
  packages/depictio-react-core/src/utils/colorScale.ts
Due: ty-check-models-api-dash-cli

fix(catalog): re-apply metric_ci_bars grounding + schema refresh
  depictio/catalog/catalog.schema.json
  depictio/catalog/sompy/summary.py
Due: none

docs(variantbenchmarking): add dashboard documentation + screenshots
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/dashboards.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/advviz-confusion-matrix.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/advviz-metric-ci-forest.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/advviz-pr-benchmark.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/advviz-roc-pr-curve.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/germline-benchmark.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/germline-multiqc.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/somatic-benchmark.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/somatic-multiqc.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/structural-multiqc.png
Due: none

docs(design): RFC — remote data sources & manifest-driven projects
  docs/design/rfc-remote-data-manifests.md
Due: none

feat(remote-data): POST /projects/ingest_manifest — server-side manifest ingestion (phase 2)
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_ingest_manifest.py
  docs/design/rfc-remote-data-manifests.md
Due: ty-check-models-api-dash-cli

feat(remote-data): phase 0+1 of the remote-data RFC — URL-backed table DCs
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/remote_fetch.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/models/models/data_collections.py
  depictio/models/models/files.py
  depictio/models/models/manifest.py
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_create_from_url.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/models/test_remote_manifest.py
  depictio/tests/unit/test_remote_fetch.py
Due: ty-check-models-api-dash-cli

feat(remote-data): phase 2 slice — ScanManifest + depictio_manifest_id injection
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/models/models/data_collections.py
  depictio/models/models/files.py
  depictio/models/models/manifest.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/models/test_remote_manifest.py
Due: ty-check-models-api-dash-cli

refactor(templates): make resolve_template data_root-optional (phase 3 groundwork)
  depictio/cli/cli/utils/templates.py
  depictio/models/models/templates.py
Due: ty-check-models-api-dash-cli

feat(remote-data): manifest refresh endpoint + template catalog (phase 4 slice)
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/templates_catalog.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_templates_catalog.py
  docs/design/rfc-remote-data-manifests.md
Due: ty-check-models-api-dash-cli

feat(remote-data): manifest-driven templates end-to-end (phase 3)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/from_manifest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/scan.py
  depictio/models/models/workflows.py
  depictio/projects/generic/manifest-tables/1/dashboards/base.yaml
  depictio/projects/generic/manifest-tables/1/template.yaml
  depictio/tests/api/v1/endpoints/projects_endpoints/test_from_manifest.py
  depictio/tests/cli/commands/test_run_guards.py
  depictio/tests/cli/utils/test_templates.py
  docs/design/rfc-remote-data-manifests.md
Due: ty-check-models-api-dash-cli

feat(remote-data): async manifest refresh fan-out + builder UI (phase 4)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/templates_catalog.py
  depictio/api/v1/monitoring/store.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/e2e-playwright/tests/projects/create-from-manifest.spec.ts
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/ProjectsApp.tsx
  docs/design/rfc-remote-data-manifests.md
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(remote-data): per-project storage config (issue 383) — phase 4 complete
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/crypto.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/storage_config.py
  depictio/cli/cli/utils/deltatables.py
  depictio/models/models/cli.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_ingest_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_storage_config.py
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  depictio/viewer/src/projects/detail/StoragePanel.tsx
  docs/design/rfc-remote-data-manifests.md
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(templates): export a project + dashboards as a template bundle (phase 5)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/export_template.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/cli/cli/commands/template.py
  depictio/cli/depictio_cli.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_export_template.py
Due: ty-check-models-api-dash-cli

feat(viewer): Export-as-template button on the project detail page
  depictio/viewer/src/projects/detail/ExportTemplateModal.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(manifest): demo kit + monitoring summary for url/manifest scan modes
  depictio/cli/cli/commands/run.py
  depictio/dev_scripts/demo_manifest/README.md
  depictio/dev_scripts/demo_manifest/generate.py
  depictio/tests/cli/commands/test_run_guards.py
Due: ty-check-models-api-dash-cli

docs(rfc): replace phase 5 auto-compose with template export
  docs/design/rfc-remote-data-manifests.md
Due: none

feat(remote-data): bind any data collection to local or remote data
  depictio/cli/cli/commands/manifest.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/bindings.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/templates.py
  depictio/cli/depictio_cli.py
  depictio/models/models/data_collections.py
  depictio/models/models/workflows.py
  depictio/tests/cli/commands/test_manifest_from_table.py
  depictio/tests/cli/commands/test_run_guards.py
  depictio/tests/cli/utils/test_bindings.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/cli/utils/test_templates.py
  depictio/tests/models/test_workflows.py
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  dev/diagrams/data_binding_schemas.py
  docs/images/data_binding_matrix.png
  docs/images/data_binding_matrix.svg
  docs/images/data_binding_no_manifest.png
  docs/images/data_binding_no_manifest.svg
  docs/images/data_binding_sharing.png
  docs/images/data_binding_sharing.svg
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

fix(templates): keep resolve_template data-root-optional after the rebase
  depictio/cli/cli/utils/templates.py
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

feat(viewer): Suggestions mode for every component type on Describe
  depictio/viewer/src/builder/ai/AISuggestionPreview.tsx
  depictio/viewer/src/builder/catalog/CatalogTab.tsx
  depictio/viewer/src/builder/catalog/renderConfig.ts
  depictio/viewer/src/builder/steps/StepDescribe.tsx
  depictio/viewer/src/builder/store/useBuilderStore.ts
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
Due: none

feat(ai): suggest-components route with per-type legal spaces
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/endpoints/ai_endpoints/suggest.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_suggest.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_suggest.py
Due: ty-check-models-api-dash-cli

test(e2e): cover Suggestions mode; docs(ai): suggest-components
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  docs/ai-assistant.md
  docs/images/v1.4/ai/screenshots/suggestion_landed.png
  docs/images/v1.4/ai/screenshots/suggestions_auto.png
Due: ty-check-models-api-dash-cli

feat(config): declare the remote-read policy in settings and wire it end to end
  .env.example
  depictio/api/v1/configs/settings_models.py
  depictio/tests/api/v1/test_settings_models.py
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-compose/.env
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

fix(storage): resolve the Fernet key from the auth keys dir and give storage configs a full lifecycle
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/crypto.py
  depictio/api/v1/db.py
  depictio/api/v1/db_init.py
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/storage_config.py
  depictio/cli/cli/utils/backup_validation.py
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_create_from_url.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_storage_config.py
  depictio/tests/api/v1/test_demo_mode_regressions.py
  depictio/tests/api/v1/test_project_cascade_delete.py
Due: ty-check-models-api-dash-cli

fix(models,export): idempotent description escaping, scan mode cross-check, runtime-free bundles
  depictio/api/v1/endpoints/projects_endpoints/export_template.py
  depictio/models/models/base.py
  depictio/models/models/data_collections.py
  depictio/models/models/workflows.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_export_template.py
  depictio/tests/models/test_base.py
  depictio/tests/models/test_data_collections.py
  depictio/tests/models/test_workflows.py
Due: ty-check-models-api-dash-cli

style: ruff-format drift in two CLI test files
  depictio/tests/cli/commands/test_manifest_from_table.py
  depictio/tests/cli/utils/test_bindings.py
Due: ty-check-models-api-dash-cli

fix(security): validate manifest entry URLs and template ids, keep pre-flight skips in refresh runs
  depictio/api/v1/endpoints/projects_endpoints/from_manifest.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/cli/cli/commands/template.py
  depictio/cli/cli/utils/templates.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_from_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_ingest_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/cli/commands/test_template_export.py
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
