Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

feat: add public image serving endpoint and fix S3 cleanup
  depictio/api/v1/endpoints/files_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/core_functions.py
Due: ty-check-models-api-dash-cli

feat: implement Image component with gallery and modal views
  depictio/dash/assets/image-component.css
  depictio/dash/modules/image_component/__init__.py
  depictio/dash/modules/image_component/callbacks/__init__.py
  depictio/dash/modules/image_component/callbacks/core.py
  depictio/dash/modules/image_component/callbacks/design.py
  depictio/dash/modules/image_component/callbacks/edit.py
  depictio/dash/modules/image_component/design_ui.py
  depictio/dash/modules/image_component/frontend.py
  depictio/dash/modules/image_component/utils.py
  depictio/models/components/lite.py
  depictio/models/components/types.py
Due: ty-check-models-api-dash-cli

feat: integrate Image component into dashboard stepper and viewer
  depictio/dash/component_metadata.py
  depictio/dash/layouts/edit_page.py
  depictio/dash/layouts/stepper.py
  depictio/dash/layouts/stepper_parts/part_three.py
  depictio/dash/layouts/stepper_parts/part_two.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/pages/dashboard_viewer.py
Due: ty-check-models-api-dash-cli

test: move image_demo to test section and add CI validation
  .github/workflows/depictio-ci.yaml
  depictio/projects/test/image_demo/dashboard_lite.yaml
  depictio/projects/test/image_demo/images/sample_001.png
  depictio/projects/test/image_demo/images/sample_002.png
  depictio/projects/test/image_demo/images/sample_003.png
  depictio/projects/test/image_demo/images/sample_004.png
  depictio/projects/test/image_demo/images/sample_005.png
  depictio/projects/test/image_demo/images/sample_006.png
  depictio/projects/test/image_demo/images/sample_007.png
  depictio/projects/test/image_demo/images/sample_008.png
  depictio/projects/test/image_demo/images/sample_009.png
  depictio/projects/test/image_demo/images/sample_1.png
  depictio/projects/test/image_demo/images/sample_2.png
  depictio/projects/test/image_demo/images/sample_3.png
  depictio/projects/test/image_demo/images/sample_4.png
  depictio/projects/test/image_demo/images/sample_5.png
  depictio/projects/test/image_demo/images/sample_6.png
  depictio/projects/test/image_demo/images/sample_7.png
  depictio/projects/test/image_demo/images/sample_8.png
  depictio/projects/test/image_demo/images/sample_9.png
  depictio/projects/test/image_demo/project.yaml
Due: none

feat: add Image component CLI registration and duplication support
  depictio/cli/depictio_cli.py
  depictio/dash/layouts/callbacks/duplicate_component.py
Due: ty-check-models-api-dash-cli

feat: add image support to DC links and cross-filtering
  depictio/dash/utils.py
  depictio/models/models/links.py
Due: ty-check-models-api-dash-cli

refactor: move cross-DC filtering to shared utils for reuse
  depictio/dash/modules/figure_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

chore: code formatting and cleanup
  SIMPLE_JSON_POC.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/projects/reference/ampliseq/merged_metadata.tsv
  depictio/projects/reference/ampliseq/taxonomy_long.tsv
  pixi.lock
  scripts/mark_yaml_endpoints_deprecated.py
  scripts/migrate_yaml_to_json.py
  scripts/process_ampliseq_test_data.py
Due: ty-check-models-api-dash-cli

test: add comprehensive unit tests for Image component changes
  depictio/tests/api/test_files_endpoints.py
  depictio/tests/cli/commands/test_images.py
  depictio/tests/models/data_collections_types/test_image.py
  depictio/tests/models/test_links.py
Due: ty-check-models-api-dash-cli

fix(ci): use relative paths in image_demo project config
  depictio/projects/test/image_demo/project.yaml
Due: none

test(ci): extend dashboard CLI testing with DB verification
  .github/workflows/depictio-ci.yaml
Due: none

fix(test): add explicit WebP MIME type handling for cross-platform support
  depictio/api/v1/endpoints/files_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix(ci): add robust health checks to prevent service connection failures
  .github/workflows/depictio-ci.yaml
Due: none

feat(api): add /health endpoint for readiness checks
  depictio/api/main.py
Due: ty-check-models-api-dash-cli

fix(ci): add health checks to docker-system-init job
  .github/workflows/depictio-ci.yaml
Due: none

fix(api): prevent HTTPException from killing worker during S3 cleanup
  depictio/api/v1/endpoints/utils_endpoints/core_functions.py
Due: ty-check-models-api-dash-cli

fix(ci): correct dashboard verification API endpoint and add debugging
  .github/workflows/depictio-ci.yaml
Due: none

fix(api): handle BucketAlreadyOwnedByYou error gracefully
  depictio/api/v1/endpoints/utils_endpoints/core_functions.py
Due: ty-check-models-api-dash-cli

fix(ci): use fresh login token for dashboard verification
  .github/workflows/depictio-ci.yaml
Due: none

fix(ci): improve login error handling and YAML syntax
  .github/workflows/depictio-ci.yaml
Due: none

fix(ci): use form data for OAuth2 login endpoint
  .github/workflows/depictio-ci.yaml
Due: none

fix(ci): use access_token from admin_config.yaml directly
  .github/workflows/depictio-ci.yaml
Due: none

fix(api,ci): delay S3 cleanup on startup and fix token extraction
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/tasks/cleanup_tasks.py
Due: ty-check-models-api-dash-cli

fix(ci): check for serialized field names in API response
  .github/workflows/depictio-ci.yaml
Due: none

fix(ci): exclude CI file from quality cache key calculation
  .github/workflows/depictio-ci.yaml
Due: none

feat(test): add image_demo CSV test data
  depictio/projects/test/image_demo/images_data.csv
Due: none

fix(ci): use token from config for Image Demo verification
  .github/workflows/depictio-ci.yaml
Due: none

fix(ci): fix S3 image count integer parsing
  .github/workflows/depictio-ci.yaml
Due: none

fix(ci): auto-restart backend on worker boot failure
  .github/workflows/depictio-ci.yaml
Due: none

fix(ci): use single worker to prevent boot race conditions
  .github/workflows/depictio-ci.yaml
  docker-compose.dev.yaml
Due: none

feat(image-component): add image component support in YAML dashboard import
  depictio/dash/assets/image-component.css
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/models/models/dashboards.py
  depictio/projects/test/image_demo/dashboard_lite.yaml
  depictio/projects/test/image_demo/project.yaml
Due: ty-check-models-api-dash-cli

fix(env): comment out DEPICTIO_MONGODB_WIPE for safety in development
  docker-compose/.env
Due: none

Bump version: 0.6.3-b1 → 0.7.0-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.6.3-b1 → 0.7.0-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.0-b1
  CHANGELOG.md
Due: none

feat(dash): add interactive selection filtering for scatter plots and tables
  depictio/dash/layouts/edit.py
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/__init__.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/selection.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/image_component/callbacks/core.py
  depictio/dash/modules/table_component/callbacks/__init__.py
  depictio/dash/modules/table_component/callbacks/core.py
  depictio/dash/modules/table_component/callbacks/selection.py
  depictio/dash/modules/table_component/utils.py
  depictio/dash/utils.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/projects/test/image_demo/dashboard_lite.yaml
Due: ty-check-models-api-dash-cli

refactor(dash): extract shared selection utilities and add unit tests
  depictio/dash/modules/figure_component/callbacks/selection.py
  depictio/dash/modules/shared/__init__.py
  depictio/dash/modules/shared/selection_utils.py
  depictio/dash/modules/table_component/callbacks/selection.py
  depictio/tests/unit/dash/__init__.py
  depictio/tests/unit/dash/modules/__init__.py
  depictio/tests/unit/dash/modules/shared/__init__.py
  depictio/tests/unit/dash/modules/shared/test_selection_extractors.py
  depictio/tests/unit/dash/modules/shared/test_selection_utils.py
Due: ty-check-models-api-dash-cli

fix(dash): preserve scatter selection on figure re-render
  depictio/dash/modules/figure_component/callbacks/selection.py
Due: ty-check-models-api-dash-cli

debug: add detailed logging for scatter selection troubleshooting
  depictio/dash/modules/figure_component/callbacks/selection.py
Due: ty-check-models-api-dash-cli

fix: preserve scatter selection on figure re-render
  depictio/dash/modules/figure_component/callbacks/selection.py
Due: ty-check-models-api-dash-cli
