Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

feat: expand filter_expr with bioinformatics-oriented methods
  depictio/models/components/filter_expr.py
  depictio/tests/models/test_card_extensions.py
Due: ty-check-models-api-dash-cli

feat: add petal analysis dashboard showcasing new card & filter features
  depictio/projects/init/iris/dashboards/petal_analysis.yaml
Due: none

Update CHANGELOG.md for v0.8.0-b3
  CHANGELOG.md
Due: none

fix: GS table dark mode for header, data bars, and hover highlight
  depictio/dash/assets/css/components/general-stats-table.css
  depictio/dash/modules/multiqc_component/general_stats.py
Due: ty-check-models-api-dash-cli

fix: increase screenshot timeouts and use configurable settings
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/services/screenshot_service.py
  depictio/dash/celery_app.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
Due: ty-check-models-api-dash-cli

fix: remove absolute path from pixi.lock breaking CI
  pixi.lock
Due: none

Bump version: 0.8.0-b3 → 0.8.0-b4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.0-b3 → 0.8.0-b4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.0-b4
  CHANGELOG.md
Due: none

fix: regenerate community JSON seed with map and heatmap components
  CLAUDE.md
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_community.json
Due: none

Bump version: 0.8.0-b4 → 0.8.0-b5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.0-b4 → 0.8.0-b5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.0-b5
  CHANGELOG.md
Due: none

fix: regenerate all JSON seeds via proper YAML import roundtrip
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_differential.json
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_multiqc.json
Due: none

fix: alpha diversity chart uses avg+error bars, re-export all seeds
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_differential.json
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/ampliseq/2.14.0/dashboards/full_analysis.yaml
Due: none

fix: use df_modified pattern for alpha diversity code executor
  depictio/api/v1/services/screenshot_service.py
  depictio/dash/celery_app.py
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_differential.json
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/ampliseq/2.14.0/dashboards/full_analysis.yaml
Due: ty-check-models-api-dash-cli

Bump version: 0.8.0-b5 → 0.8.0-b6
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.0-b5 → 0.8.0-b6
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.0-b6
  CHANGELOG.md
Due: none

Bump version: 0.8.0-b6 → 0.8.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.0-b6 → 0.8.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.0
  CHANGELOG.md
Due: none

Add stable tag auto-update to bump-with-helm.sh
  bump-with-helm.sh
Due: none

Fix fresh install auth redirect dead-end
  depictio/api/v1/key_utils_base.py
  depictio/api/v1/services/events/connection_manager.py
  depictio/dash/api_calls.py
  depictio/dash/celery_lock.py
Due: ty-check-models-api-dash-cli

Fix burger icon out of sync on single-tab dashboard sidebar collapse
  depictio/dash/layouts/tab_callbacks.py
Due: ty-check-models-api-dash-cli

fix: prevent data tripling in K8s multi-worker init and fix Faith PD axis
  depictio/api/v1/services/initialization.py
  depictio/api/v1/services/lifespan.py
  depictio/cli/cli/utils/deltatables.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.14.0/dashboards/full_analysis.yaml
Due: ty-check-models-api-dash-cli

Fix random /auth page landing in public mode
  depictio/dash/api_calls.py
  depictio/dash/core/shared_auth.py
  depictio/dash/pages/management_app.py
Due: ty-check-models-api-dash-cli

feat: add native title & description support to ComplexHeatmap
  packages/plotly-complexheatmap/examples/basic_heatmap.py
  packages/plotly-complexheatmap/examples/tmp_title_showcase.ipynb
  packages/plotly-complexheatmap/plotly_complexheatmap/heatmap.py
  packages/plotly-complexheatmap/plotly_complexheatmap/layout.py
Due: none

Fix tests for retry logic in api_call functions
  depictio/tests/dash/test_api_calls.py
Due: ty-check-models-api-dash-cli

revert: restore screenshot files to previous state
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
Due: ty-check-models-api-dash-cli

feat: add description to taxonomy heatmap component
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.14.0/dashboards/full_analysis.yaml
Due: none

fix: pass heatmap title/description through figure-trigger store and improve table rendering
  depictio/api/v1/services/CLAUDE.md
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/table_component/utils.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.14.0/dashboards/full_analysis.yaml
  docker-compose.dev.yaml
  packages/plotly-complexheatmap/examples/basic_heatmap.py
  packages/plotly-complexheatmap/examples/biology_showcase.ipynb
  packages/plotly-complexheatmap/examples/depictio_showcase.py
  packages/plotly-complexheatmap/examples/generate_test_data.py
  packages/plotly-complexheatmap/examples/showcase.ipynb
  packages/plotly-complexheatmap/examples/tmp_title_showcase.ipynb
  packages/plotly-complexheatmap/plotly_complexheatmap/heatmap.py
  packages/plotly-complexheatmap/plotly_complexheatmap/layout.py
  pyproject.toml
Due: ty-check-models-api-dash-cli

Bump version: 0.8.0 → 0.8.1-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.0 → 0.8.1-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.1-b1
  CHANGELOG.md
Due: none

Add plotly-upset package — class-based UpSet plot library with Plotly
  packages/plotly-upset/LICENSE
  packages/plotly-upset/README.md
  packages/plotly-upset/examples/annotated_upset.py
  packages/plotly-upset/examples/basic_upset.py
  packages/plotly-upset/examples/upset_showcase.ipynb
  packages/plotly-upset/plotly_upset/__init__.py
  packages/plotly-upset/plotly_upset/annotations.py
  packages/plotly-upset/plotly_upset/intersections.py
  packages/plotly-upset/plotly_upset/layout.py
  packages/plotly-upset/plotly_upset/matrix.py
  packages/plotly-upset/plotly_upset/upset.py
  packages/plotly-upset/plotly_upset/utils.py
  packages/plotly-upset/pyproject.toml
  packages/plotly-upset/tests/__init__.py
  packages/plotly-upset/tests/conftest.py
  packages/plotly-upset/tests/test_annotations.py
  packages/plotly-upset/tests/test_intersections.py
  packages/plotly-upset/tests/test_upset.py
Due: none

fix: remove LFS tracking for SVG images to fix git clone
  .gitattributes
  docs/images/favicon.svg
  docs/images/logo_hd.svg
  docs/images/logo_hd_white.svg
Due: none

Add per-set coloring, categorical stacked bars, and value labels to plotly-upset
  packages/plotly-upset/examples/upset_showcase.ipynb
  packages/plotly-upset/plotly_upset/annotations.py
  packages/plotly-upset/plotly_upset/matrix.py
  packages/plotly-upset/plotly_upset/upset.py
  packages/plotly-upset/tests/test_annotations.py
  packages/plotly-upset/tests/test_upset.py
Due: none

Add degree-based coloring, from_dataframe() API, and new notebook examples
  packages/plotly-upset/examples/upset_showcase.ipynb
  packages/plotly-upset/plotly_upset/upset.py
  packages/plotly-upset/tests/test_upset.py
Due: none

Add compound sort_by='degree-cardinality' for UpSet intersections
  packages/plotly-upset/examples/upset_showcase.ipynb
  packages/plotly-upset/plotly_upset/intersections.py
  packages/plotly-upset/plotly_upset/upset.py
  packages/plotly-upset/tests/test_intersections.py
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
