Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix: make dashboard list/table titles standard links for new-tab support
  depictio/viewer/src/dashboards/views/DashboardCompactCard.tsx
  depictio/viewer/src/dashboards/views/DashboardTableView.tsx
Due: none

initial changes for depictio to support gateway api on serve
  helm-charts/depictio/templates/httproutes.yaml
  helm-charts/depictio/templates/snippetsfilters.yaml
  helm-charts/depictio/values-serve.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

chore: trim permissions allowlist in settings.json
  .claude/settings.json
Due: none

feat(auth): add DEPICTIO_AUTH_REGISTRATION_DISABLED to block self-registration
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/tests/api/v1/test_security_pr1.py
  depictio/viewer/src/auth/AuthApp.tsx
  depictio/viewer/src/auth/components/LoginForm.tsx
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli, helm-lint

feat(auth): honour registration_disabled in Google OAuth login
  depictio/api/v1/endpoints/auth_endpoints/google_oauth_routes.py
  depictio/api/v1/endpoints/auth_endpoints/utils.py
  depictio/tests/api/v1/test_security_pr1.py
Due: ty-check-models-api-dash-cli

Bump version: 1.1.0 → 1.1.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.1.0 → 1.1.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.1.1
  CHANGELOG.md
Due: none

fix(ampliseq): relocate phylogeny tree seed to {DATA_ROOT}/qiime2 path
  depictio/projects/nf-core/ampliseq/2.16.0/qiime2/phylogenetic_tree/tree.nwk
Due: none

test(auth): set registration_disabled=False in OAuth new-user tests
  depictio/tests/api/v1/endpoints/auth_endpoints/test_google_oauth.py
Due: ty-check-models-api-dash-cli

fix(skill): resolve admin agent-config dynamically in embl-admin-login
  .claude/commands/depictio-embl-admin-login.md
Due: none

Bump version: 1.1.1 → 1.1.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.1.1 → 1.1.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.1.2
  CHANGELOG.md
Due: none

fix(skill): split API_HOST vs VIEWER_HOST in embl-admin-login
  .claude/commands/depictio-embl-admin-login.md
Due: none

fix(ampliseq): provide METADATA_FILE for reference seed so differential DCs survive
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
Due: none

Bump version: 1.1.2 → 1.1.3-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.1.2 → 1.1.3-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.1.3-b1
  CHANGELOG.md
Due: none

feat(viewer): passwordless magic-link login route
  depictio/viewer/src/auth/AuthApp.tsx
  depictio/viewer/src/auth/components/MagicLinkCallback.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(auth): backend for pipeline provisioning + magic-link login
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/services/lifespan.py
  depictio/models/models/users.py
Due: ty-check-models-api-dash-cli

test(auth): cover provisioning + magic-link core functions
  depictio/tests/api/v1/endpoints/user_endpoints/test_provisioning.py
Due: ty-check-models-api-dash-cli

feat(cli): run --user provisions account and emits magic-link login
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/api_calls.py
Due: ty-check-models-api-dash-cli

fix(auth): adapt provisioning to upstream main after rebase
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/cli/cli/commands/run.py
Due: ty-check-models-api-dash-cli

docs: pipeline provisioning + passwordless magic-link login
  docs/pipeline-provisioning-magic-link.md
Due: none

refactor(auth): TTL-expire magic tickets and reuse the run token
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/models/models/users.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_provisioning.py
Due: ty-check-models-api-dash-cli

fix(devcontainer): detect docker-reserved ports in allocate-ports
  .devcontainer/scripts/allocate-ports.sh
Due: none

fix(viewer): magic-link StrictMode guard + non-beta route
  depictio/viewer/src/auth/components/MagicLinkCallback.tsx
Due: none

fix(auth): disable provisioning + magic-link in single-user mode
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_provisioning.py
Due: ty-check-models-api-dash-cli

fix(cli): magic link targets /dashboard/{id}; keep provisioned project private
  depictio/cli/cli/commands/run.py
Due: ty-check-models-api-dash-cli

chore(compose): wire provisioning key into dev backend env
  docker-compose.dev.yaml
Due: none

chore(nf-core): validate ampliseq 2.18.0 against megatest
  .nfcore-monitor/ampliseq-2.18.0.md
Due: none

Bump version: 1.1.3-b1 → 1.1.3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.1.3-b1 → 1.1.3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.1.3
  CHANGELOG.md
Due: none

fix(datacollections): coerce arro3 schema to pyarrow in polars_schema endpoint
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
Due: ty-check-models-api-dash-cli

Bump version: 1.1.3 → 1.1.4-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.1.3 → 1.1.4-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.1.4-b1
  CHANGELOG.md
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
