Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

refactor(templates): make resolve_template data_root-optional (phase 3 groundwork)
  depictio/cli/cli/utils/templates.py
  depictio/models/models/templates.py
Due: ty-check-models-api-dash-cli

feat(remote-data): manifest-driven templates end-to-end (phase 3)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/from_manifest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/scan.py
  depictio/models/models/workflows.py
  depictio/projects/generic/manifest-tables/1/dashboards/base.yaml
  depictio/projects/generic/manifest-tables/1/template.yaml
  depictio/tests/api/v1/endpoints/projects_endpoints/test_from_manifest.py
  depictio/tests/cli/commands/test_run_guards.py
  depictio/tests/cli/utils/test_templates.py
  docs/design/rfc-remote-data-manifests.md
Due: ty-check-models-api-dash-cli

Bump version: 1.4.0 → 1.5.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.5.0
  CHANGELOG.md
Due: none

feat(serverless): bundle-manifest contract (Python + TS) with schema pinning
  depictio/models/models/serverless.py
  depictio/models/models/serverless.schema.json
  depictio/tests/unit/serverless/test_manifest_schema.py
  packages/depictio-static-core/fixtures/manifest-basic.json
  packages/depictio-static-core/package.json
  packages/depictio-static-core/src/index.ts
  packages/depictio-static-core/src/manifest.ts
  packages/depictio-static-core/src/resolveUri.ts
  packages/depictio-static-core/test/manifest.test.ts
  packages/depictio-static-core/test/resolveUri.test.ts
  packages/depictio-static-core/tsconfig.json
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

docs(design): RFC for static dashboard export (serverless viewing)
  docs/design/rfc-static-dashboard-export.md
Due: none

feat(serverless): static-bundle runtime — real viewer offline via module shims
  .gitignore
  depictio/tests/e2e-playwright/playwright.config.ts
  depictio/tests/e2e-playwright/tests/static-runtime/badges.spec.ts
  depictio/tests/e2e-playwright/tests/static-runtime/helpers.ts
  depictio/tests/e2e-playwright/tests/static-runtime/no-network.spec.ts
  depictio/viewer/package.json
  depictio/viewer/src/App.tsx
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/bundle.ts
  depictio/viewer/src/static-runtime/main.tsx
  depictio/viewer/src/static-runtime/realtimeShim.ts
  depictio/viewer/src/static-runtime/serverStatusShim.ts
  depictio/viewer/src/static-runtime/useCurrentUserShim.ts
  depictio/viewer/static.html
  depictio/viewer/tsconfig.json
  depictio/viewer/vite-plugins/module-shim.ts
  depictio/viewer/vite.catalog-preview.config.ts
  depictio/viewer/vite.static.config.ts
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/StaticBadgeContext.tsx
  packages/depictio-react-core/src/components/chrome/index.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-static-core/fixtures/manifest-basic.json
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

docs(serverless): phase-0.5 engine spike — hyparquet confirmed, DuckDB-WASM rejected
  docs/design/serverless-engine-spike.md
Due: none

docs(design): reframe RFC as serverless deployment, not export
  docs/design/rfc-serverless-deployment.md
Due: none

ci(serverless): dedicated workflow + first bundle byte-budget guard
  .github/workflows/serverless-ci.yaml
  depictio/viewer/scripts/check-bundle-budget.mjs
Due: none

docs(design): add serverless RFC errata vs main v1.3.1
  docs/design/rfc-serverless-deployment.md
Due: none

feat(serverless): producer A — full-fidelity export from a running instance (phase 2)
  depictio/cli/cli/commands/dashboard.py
  depictio/serverless/producer_a.py
  depictio/tests/api/test_serverless_export.py
Due: ty-check-models-api-dash-cli

feat(serverless): manifest carries the instance's sampling ceilings (RuntimeLimits)
  depictio/models/models/serverless.py
  depictio/models/models/serverless.schema.json
  packages/depictio-static-core/fixtures/manifest-basic.json
  packages/depictio-static-core/src/manifest.ts
Due: ty-check-models-api-dash-cli

feat(serverless): code-mode prologue transpiler + polars fixture (phase 6, Python half)
  depictio/models/models/serverless.py
  depictio/models/models/serverless.schema.json
  depictio/serverless/prologue.py
  depictio/serverless/scripts/measure_prologue.py
  depictio/tests/unit/serverless/test_prologue.py
  packages/depictio-static-core/fixtures/prologue-expected.json
  packages/depictio-static-core/fixtures/prologue-fixture.json
  packages/depictio-static-core/scripts/generate_prologue_fixture.py
Due: ty-check-models-api-dash-cli

test(serverless): e2e spec for the static-export API + CI template build (phase 8)
  .github/workflows/depictio-ci.yaml
  depictio/tests/e2e-playwright/fixtures/projects.ts
  depictio/tests/e2e-playwright/tests/export/export-static.spec.ts
Due: ty-check-models-api-dash-cli

feat(serverless): producer B — build a static bundle from spec + local Parquet
  depictio/catalog/payload.py
  depictio/cli/cli/commands/dashboard.py
  depictio/serverless/examples/penguins.yaml
  depictio/serverless/inject.py
  depictio/serverless/preflight.py
  depictio/serverless/producer_b.py
  depictio/serverless/pruning.py
  depictio/tests/cli/commands/test_build_static.py
  depictio/tests/unit/serverless/test_producer_b.py
Due: ty-check-models-api-dash-cli

feat(serverless): live cards + filters in the bundle — phase 1 complete
  depictio/serverless/examples/generate_demo_manifest.py
  depictio/tests/e2e-playwright/tests/static-runtime/filter-parity-cards.spec.ts
  depictio/tests/e2e-playwright/tests/static-runtime/helpers.ts
  depictio/viewer/demo/manifests.json
  depictio/viewer/demo/manifests/penguins.json
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/liveData.ts
Due: ty-check-models-api-dash-cli

feat(serverless): len aggregation in the prologue IR (group size)
  depictio/models/models/serverless.py
  depictio/models/models/serverless.schema.json
  depictio/serverless/prologue.py
  depictio/tests/unit/serverless/test_prologue.py
  packages/depictio-static-core/fixtures/prologue-expected.json
  packages/depictio-static-core/fixtures/prologue-fixture.json
  packages/depictio-static-core/scripts/generate_prologue_fixture.py
  packages/depictio-static-core/src/manifest.ts
  packages/depictio-static-core/src/prologue.ts
  packages/depictio-static-core/test/prologue.test.ts
Due: ty-check-models-api-dash-cli

feat(serverless): static runtime executes code-mode prologues (phase 6 runtime)
  depictio/tests/e2e-playwright/tests/static-runtime/code-mode-live.spec.ts
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/liveData.ts
Due: ty-check-models-api-dash-cli

feat(serverless): live tables in static bundles (phase 3 complete)
  depictio/serverless/examples/penguins.yaml
  depictio/serverless/preflight.py
  depictio/serverless/producer_b.py
  depictio/tests/cli/commands/test_build_static.py
  depictio/tests/e2e-playwright/tests/static-runtime/table-live.spec.ts
  depictio/tests/unit/serverless/test_producer_b.py
  depictio/viewer/demo/manifests.json
  depictio/viewer/demo/manifests/penguins.json
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/liveData.ts
Due: ty-check-models-api-dash-cli

feat(serverless): hyparquet QueryEngine + kernels with pinned Polars semantics
  .gitignore
  packages/depictio-static-core/fixtures/engine-expected.json
  packages/depictio-static-core/fixtures/engine-fixture.parquet
  packages/depictio-static-core/package.json
  packages/depictio-static-core/scripts/generate_fixture.py
  packages/depictio-static-core/src/engine/QueryEngine.ts
  packages/depictio-static-core/src/engine/filters.ts
  packages/depictio-static-core/src/engine/hyparquet/index.ts
  packages/depictio-static-core/src/index.ts
  packages/depictio-static-core/test/engine/aggregate.test.ts
  packages/depictio-static-core/test/engine/decode.test.ts
  packages/depictio-static-core/test/engine/filters.test.ts
  packages/depictio-static-core/test/engine/helpers.ts
  packages/depictio-static-core/test/engine/mask.test.ts
  packages/depictio-static-core/test/engine/unique-minmax.test.ts
  pnpm-lock.yaml
Due: none

feat(serverless): advanced_viz data path goes live in the static runtime (phase 4)
  depictio/tests/e2e-playwright/tests/static-runtime/advanced-viz-live.spec.ts
  depictio/viewer/demo/manifests.json
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/liveData.ts
Due: ty-check-models-api-dash-cli

feat(serverless): producers emit DC link configs and tier-B tables (phase 7)
  depictio/cli/cli/commands/dashboard.py
  depictio/serverless/preflight.py
  depictio/serverless/producer_a.py
  depictio/serverless/producer_b.py
  depictio/serverless/pruning.py
  depictio/tests/api/test_serverless_export.py
  depictio/tests/api/test_serverless_export_prologue.py
  depictio/tests/unit/serverless/test_links_producers.py
Due: ty-check-models-api-dash-cli

feat(serverless): browser-side DC link resolution core (phase 7)
  packages/depictio-static-core/src/links.ts
  packages/depictio-static-core/test/links.test.ts
Due: none

fix(serverless): bundle UX — badge placement, inlined logo, themed frozen figures, read-only chrome
  depictio/tests/e2e-playwright/tests/static-runtime/theme.spec.ts
  depictio/viewer/src/assets/depictio_logo.svg
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/PoweredBy.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/mantinePlotlyTemplate.ts
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/StaticBadgeContext.tsx
  packages/depictio-react-core/src/components/chrome/chrome.css
  packages/depictio-react-core/src/components/chrome/index.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(serverless): refill runtime + sortSlice kernel (phases 5b + 3 engine side)
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/liveData.ts
  packages/depictio-static-core/fixtures/engine-expected.json
  packages/depictio-static-core/scripts/generate_fixture.py
  packages/depictio-static-core/src/engine/sortSlice.ts
  packages/depictio-static-core/src/index.ts
  packages/depictio-static-core/src/refill.ts
  packages/depictio-static-core/test/engine/sortSlice.test.ts
  packages/depictio-static-core/test/refill.test.ts
Due: none

feat(serverless): prologue interpreter — code-mode IR runtime (phase 6, TS half)
  packages/depictio-static-core/src/engine/aggregate.ts
  packages/depictio-static-core/src/engine/hyparquet/index.ts
  packages/depictio-static-core/src/index.ts
  packages/depictio-static-core/src/manifest.ts
  packages/depictio-static-core/src/prologue.ts
  packages/depictio-static-core/test/prologue.test.ts
Due: none

feat(serverless): binding builder — ui-mode figures go live (phase 5 complete)
  depictio/serverless/binding.py
  depictio/serverless/producer_b.py
  depictio/serverless/scripts/__init__.py
  depictio/serverless/scripts/measure_binding.py
  depictio/tests/e2e-playwright/tests/static-runtime/figure-refill.spec.ts
  depictio/tests/e2e-playwright/tests/static-runtime/filter-parity-cards.spec.ts
  depictio/tests/unit/serverless/test_binding.py
  depictio/tests/unit/serverless/test_producer_b.py
  depictio/viewer/demo/manifests.json
  depictio/viewer/demo/manifests/penguins.json
Due: ty-check-models-api-dash-cli

feat(serverless): shared predicate semantics + companion codebooks (phase 1)
  depictio/api/v1/deltatables_utils.py
  depictio/models/components/predicates.py
  depictio/serverless/__init__.py
  depictio/serverless/companions.py
  depictio/tests/unit/serverless/test_companions_match_predicates.py
Due: ty-check-models-api-dash-cli

test(serverless): refill integration follows the demo manifest into phase 6
  packages/depictio-static-core/test/refill.test.ts
Due: none

feat(serverless): producer A figures go live via bind-and-refill
  depictio/serverless/producer_a.py
  depictio/tests/api/test_serverless_export.py
Due: ty-check-models-api-dash-cli

feat(serverless): producers emit code-mode prologues — figures go live end-to-end (phase 6 complete)
  depictio/serverless/binding.py
  depictio/serverless/examples/penguins.yaml
  depictio/serverless/preflight.py
  depictio/serverless/producer_a.py
  depictio/serverless/producer_b.py
  depictio/serverless/prologue_exec.py
  depictio/tests/api/test_serverless_export_prologue.py
  depictio/tests/cli/commands/test_build_static.py
  depictio/tests/unit/serverless/test_producer_b.py
  depictio/tests/unit/serverless/test_prologue_exec.py
  depictio/viewer/demo/manifests.json
  depictio/viewer/demo/manifests/penguins.json
Due: ty-check-models-api-dash-cli

feat(serverless): per-phase demo deliverables — local site, CI artifact, GH Pages
  .github/workflows/serverless-ci.yaml
  .github/workflows/serverless-demo-pages.yaml
  depictio/viewer/demo/manifests.json
  depictio/viewer/package.json
  depictio/viewer/scripts/build-demo.mjs
Due: none

feat(serverless): cross-DC link filtering live in the bundle + two-DC linked demo (phase 7)
  .gitignore
  depictio/serverless/examples/data/island_regions.csv
  depictio/serverless/examples/generate_demo_manifest.py
  depictio/serverless/examples/penguins.yaml
  depictio/serverless/producer_b.py
  depictio/tests/cli/commands/test_build_static.py
  depictio/tests/e2e-playwright/tests/static-runtime/links-live.spec.ts
  depictio/tests/unit/serverless/test_links_producers.py
  depictio/tests/unit/serverless/test_producer_b.py
  depictio/viewer/demo/manifests.json
  depictio/viewer/demo/manifests/penguins.json
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/liveData.ts
Due: ty-check-models-api-dash-cli

feat(serverless): browser-side advanced_viz sampling policy (phase 4)
  packages/depictio-static-core/src/advancedViz.ts
  packages/depictio-static-core/src/index.ts
  packages/depictio-static-core/test/advancedViz.test.ts
Due: none

fix(figures): referenced_columns missed text= and other column-bearing px params
  depictio/api/v1/services/figure/figure_builder.py
  depictio/serverless/scripts/measure_binding.py
  depictio/tests/api/v1/test_column_projection.py
  depictio/tests/unit/serverless/test_binding.py
  depictio/tests/unit/serverless/test_producer_b.py
Due: ty-check-models-api-dash-cli

feat(serverless): owner-gated Export static button in the viewer (phase 8)
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/ExportStaticModal.tsx
  depictio/viewer/src/chrome/Header.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/chrome/StaticBadgeContext.tsx
  packages/depictio-react-core/src/index.ts
Due: none

chore(demo): name demo pages after their content, not a phase number
  depictio/viewer/demo/manifests.json
Due: none

feat(serverless): producers classify data-path advanced_viz as LIVE (phase 4)
  depictio/serverless/examples/penguins.yaml
  depictio/serverless/preflight.py
  depictio/serverless/producer_a.py
  depictio/serverless/producer_b.py
  depictio/serverless/pruning.py
  depictio/tests/api/test_serverless_export.py
  depictio/tests/cli/commands/test_build_static.py
  depictio/tests/unit/serverless/test_advanced_viz_live.py
  depictio/tests/unit/serverless/test_producer_b.py
  depictio/viewer/demo/manifests/penguins.json
Due: ty-check-models-api-dash-cli

feat(serverless): one bundle per dashboard, not per tab
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/serverless_endpoints/routes.py
  depictio/cli/cli/commands/dashboard.py
  depictio/serverless/preflight.py
  depictio/serverless/producer_a.py
  depictio/serverless/pruning.py
  depictio/tests/api/test_serverless_endpoints.py
  depictio/tests/api/test_serverless_export.py
  depictio/tests/unit/serverless/test_advanced_viz_live.py
  depictio/tests/unit/serverless/test_links_producers.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
