Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix: shared volume for internal API keys to fix 403 on fresh Docker install
  depictio/api/v1/key_utils_base.py
  docker-compose.yaml
  docker-compose/docker-compose.no-minio.yaml
Due: ty-check-models-api-dash-cli

Bump version: 0.8.1-b1 → 0.8.1-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.1-b1 → 0.8.1-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.1-b2 → 0.8.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.1-b2 → 0.8.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.1
  CHANGELOG.md
Due: none

fix: disable CLI config and logout in public/demo mode to prevent S3 credential exposure
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/dash/layouts/profile.py
  depictio/dash/layouts/tokens_management.py
Due: ty-check-models-api-dash-cli

Bump version: 0.8.1 → 0.8.2-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.1 → 0.8.2-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.2-b1
  CHANGELOG.md
Due: none

Bump version: 0.8.2-b1 → 0.8.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.2-b1 → 0.8.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.2
  CHANGELOG.md
Due: none

fix: add logo and Codespaces badge to CLI README for PyPI display
  depictio/cli/README.md
Due: ty-check-models-api-dash-cli

Add nf-core pipeline update checker for CI/CD
  .github/workflows/nfcore-pipeline-updates.yaml
  depictio/ci/__init__.py
  depictio/ci/check_nfcore_updates.py
  depictio/tests/ci/__init__.py
  depictio/tests/ci/test_check_nfcore_updates.py
  pyproject.toml
Due: ty-check-models-api-dash-cli

feat: add Python recipe system for bioinformatics data preprocessing
  depictio/cli/cli/commands/recipe.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/depictio_cli.py
  depictio/models/models/data_collections.py
  depictio/models/models/transforms.py
  depictio/recipes/__init__.py
  depictio/recipes/nf-core/__init__.py
  depictio/recipes/nf-core/ampliseq/__init__.py
  depictio/recipes/nf-core/ampliseq/alpha_diversity.py
  depictio/recipes/nf-core/ampliseq/ancombc.py
  depictio/recipes/nf-core/ampliseq/taxonomy_rel_abundance.py
  depictio/tests/unit/test_transforms.py
Due: ty-check-models-api-dash-cli

feat: integrate recipe system with ampliseq template
  depictio/projects/nf-core/ampliseq/2.14.0/template.yaml
  depictio/recipes/nf-core/ampliseq/alpha_rarefaction.py
  depictio/recipes/nf-core/ampliseq/ancom_volcano.py
  depictio/recipes/nf-core/ampliseq/taxonomy_composition.py
  depictio/tests/unit/test_transforms.py
Due: ty-check-models-api-dash-cli

Fix recipe paths, remove ancom_volcano, use ANCOM-BC for everything
  depictio/projects/nf-core/ampliseq/2.14.0/template.yaml
  depictio/recipes/nf-core/ampliseq/ancom_volcano.py
  depictio/recipes/nf-core/ampliseq/ancombc.py
  depictio/recipes/nf-core/ampliseq/taxonomy_composition.py
  depictio/tests/unit/test_transforms.py
Due: ty-check-models-api-dash-cli

Fix remaining recipe paths and strip notebook outputs
  depictio/recipes/nf-core/ampliseq/alpha_diversity.py
  depictio/recipes/nf-core/ampliseq/taxonomy_rel_abundance.py
  packages/plotly-complexheatmap/examples/biology_showcase.ipynb
  packages/plotly-complexheatmap/examples/showcase.ipynb
Due: none

fix: resolve pointer-events and z-index issues for tiled map in grid layout
  depictio/dash/assets/js/leaflet-map-functions.js
  depictio/dash/assets/leaflet-map.css
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/leaflet_utils.py
  depictio/dash/modules/map_component/utils.py
Due: ty-check-models-api-dash-cli

Add PCA/UMAP/t-SNE dimensionality reduction explorer prototype
  dev/dimred-explorer/.gitignore
  dev/dimred-explorer/app.py
  dev/dimred-explorer/callbacks.py
  dev/dimred-explorer/data.py
  dev/dimred-explorer/layout.py
  dev/dimred-explorer/pyproject.toml
  dev/dimred-explorer/uv.lock
Due: none

Wire up data_dir resolution in process_recipe_data_collection
  depictio/cli/cli/utils/deltatables.py
Due: ty-check-models-api-dash-cli

fix: separate leaflet and plotly callback paths to eliminate hidden dcc.Graph overlay
  depictio/dash/assets/js/leaflet-map-functions.js
  depictio/dash/assets/leaflet-map.css
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/utils.py
Due: ty-check-models-api-dash-cli

Add gene-explorer, gsea-explorer, contrast-manager, progressive-filter prototypes
  dev/contrast-manager/.gitignore
  dev/contrast-manager/app.py
  dev/contrast-manager/callbacks.py
  dev/contrast-manager/data.py
  dev/contrast-manager/layout.py
  dev/contrast-manager/pyproject.toml
  dev/contrast-manager/uv.lock
  dev/gene-explorer/.gitignore
  dev/gene-explorer/app.py
  dev/gene-explorer/callbacks.py
  dev/gene-explorer/data.py
  dev/gene-explorer/layout.py
  dev/gene-explorer/pyproject.toml
  dev/gene-explorer/uv.lock
  dev/gsea-explorer/.gitignore
  dev/gsea-explorer/app.py
  dev/gsea-explorer/callbacks.py
  dev/gsea-explorer/data.py
  dev/gsea-explorer/layout.py
  dev/gsea-explorer/pyproject.toml
  dev/gsea-explorer/uv.lock
  dev/progressive-filter/.gitignore
  dev/progressive-filter/app.py
  dev/progressive-filter/callbacks.py
  dev/progressive-filter/data.py
  dev/progressive-filter/layout.py
  dev/progressive-filter/pyproject.toml
  dev/progressive-filter/uv.lock
Due: none

feat: JBrowse2 integration MVP - BED & BigWig track support
  PLAN_JBROWSE2_MVP.md
  depictio/api/v1/endpoints/jbrowse_endpoints/routes.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/jbrowse2_processor.py
  depictio/models/models/data_collections_types/jbrowse.py
  depictio/models/models/data_collections_types/jbrowse_templates.py
  depictio/tests/models/data_collections_types/test_jbrowse.py
  pyproject.toml
Due: ty-check-models-api-dash-cli

chore: pre-commit auto-fixes (import sorting, nbstripout, uv.lock)
  depictio/api/v1/services/events/connection_manager.py
  depictio/dash/celery_lock.py
  packages/plotly-complexheatmap/examples/biology_showcase.ipynb
  packages/plotly-complexheatmap/examples/showcase.ipynb
  packages/plotly-complexheatmap/examples/tmp_title_showcase.ipynb
  uv.lock
Due: ty-check-models-api-dash-cli

feat: add bidirectional filtering with linked cards, scatter, and leaflet selection
  depictio/dash/assets/js/leaflet-map-functions.js
  depictio/dash/modules/map_component/callbacks/__init__.py
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/callbacks/selection.py
  depictio/dash/modules/map_component/leaflet_utils.py
  depictio/dash/modules/map_component/utils.py
  depictio/models/models/dashboards.py
  depictio/projects/test/geospatial_demo/dashboards/geospatial.yaml
  depictio/projects/test/geospatial_demo/project.yaml
Due: ty-check-models-api-dash-cli

fix: resolve scatter overlay z-index and improve map component structure
  depictio/dash/assets/js/leaflet-map-functions.js
  depictio/dash/layouts/edit.py
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/leaflet_utils.py
Due: ty-check-models-api-dash-cli

fix: break re-render loop and add selection logging for leaflet map
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/callbacks/selection.py
Due: ty-check-models-api-dash-cli

feat: add YAML-driven metric switching and legend for leaflet tiled map
  depictio/dash/assets/js/leaflet-map-functions.js
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/leaflet_utils.py
  depictio/dash/modules/map_component/utils.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/projects/test/geospatial_demo/dashboards/geospatial.yaml
Due: ty-check-models-api-dash-cli

Add MultiQC version compatibility check
  depictio/ci/check_nfcore_updates.py
  depictio/tests/ci/test_check_nfcore_updates.py
Due: ty-check-models-api-dash-cli

Flag MultiQC < 1.30 as BREAKING (no parquet support)
  depictio/ci/check_nfcore_updates.py
  depictio/tests/ci/test_check_nfcore_updates.py
Due: ty-check-models-api-dash-cli

Add bioinformatics visualization modules design document
  dev/bioinformatics-modules/DESIGN.md
Due: none

Add pipeline popularity ranking and module coverage matrix
  dev/bioinformatics-modules/DESIGN.md
Due: none

Update design with differentialabundance deep-dive findings
  dev/bioinformatics-modules/DESIGN.md
Due: none

Add depictio architecture integration strategy (Section 7)
  dev/bioinformatics-modules/DESIGN.md
Due: none

Update sarek file patterns with full variant caller landscape
  dev/bioinformatics-modules/DESIGN.md
Due: none

Add methylseq file patterns from S3 exploration
  dev/bioinformatics-modules/DESIGN.md
Due: none
