Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

feat(viewer): ingestion report panel and dashboard health banner
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/projects/dcTypeIcon.tsx
  depictio/viewer/src/projects/detail/IngestionReportPanel.tsx
Due: none

refactor(viewer): project-detail tabs, sortable DC table, filterable links
  depictio/viewer/src/projects/detail/JoinsGraph.tsx
  depictio/viewer/src/projects/detail/LinksSection.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

feat(viewer): clickable project badges link to project detail
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/views/DashboardCompactCard.tsx
  depictio/viewer/src/dashboards/views/DashboardTableView.tsx
Due: none

fix(dashboards): hide components for unparsed MultiQC modules and metadata-only tabs
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix(multiqc): tolerate FastQC alpha-channel colorscales
  depictio/api/v1/services/multiqc/figures.py
Due: ty-check-models-api-dash-cli

feat(ampliseq): metadata-agnostic dashboard with SIDLE and skip_qiime routes
  depictio/catalog/qiime2/embedding_pcoa.py
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/ampliseq/recipes/sidle_reconstructed.py
  depictio/projects/nf-core/ampliseq/recipes/sidle_reconstruction_qc.py
  depictio/projects/nf-core/ampliseq/recipes/sintax_rel_abundance.py
  depictio/projects/nf-core/ampliseq/recipes/upset_canonical.py
Due: none

feat(viralrecon): nanopore/ARTIC route support
  depictio/api/v1/services/multiqc/general_stats_payload.py
  depictio/catalog/nextclade/nextclade_results.py
  depictio/catalog/pangolin/pangolin_lineages.py
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
Due: ty-check-models-api-dash-cli

fix(viralrecon): coverage cards use average instead of median
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
Due: none

chore(dev): per-run nf-core validation harness and route inventories
  .gitignore
  dev/nf-core-validation/ROUTE_INVENTORY_multiregion.md
  dev/nf-core-validation/ROUTE_INVENTORY_nanopore.md
  dev/nf-core-validation/inventory_route.py
  dev/nf-core-validation/report_validation.py
  dev/nf-core-validation/validate_per_run.sh
Due: none

chore(github): simplify issue/PR templates + add roadmap issues draft
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md.bak
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md.bak
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md.bak
  .github/ISSUE_TEMPLATE/task.md
  .github/ROADMAP_ISSUES_DRAFT.md
  .github/pull_request_template.md
  .github/pull_request_template.md.bak
Due: none

chore(github): simplify issue/PR templates + add roadmap draft
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md.bak
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md.bak
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md.bak
  .github/ISSUE_TEMPLATE/task.md
  .github/ROADMAP_ISSUES_DRAFT.md
  .github/pull_request_template.md
  .github/pull_request_template.md.bak
Due: none

fix(api): self-adapting dashboard layout for pruned components
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/tests/api/v1/endpoints/test_self_adapting_layout.py
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: ty-check-models-api-dash-cli

fix(nf-core): adapt ampliseq/viralrecon templates to all pipeline routes
  depictio/catalog/ivar/variants_long.py
  depictio/cli/cli/utils/templates.py
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/ampliseq/recipes/sidle_reconstructed.py
  depictio/projects/nf-core/ampliseq/recipes/taxonomy_rel_abundance.py
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
Due: ty-check-models-api-dash-cli

fix(api): fold empty heatmap annotation categories into Unclassified
  depictio/api/v1/celery_tasks.py
Due: ty-check-models-api-dash-cli

docs(nf-core): add ampliseq/viralrecon template validation reports
  depictio/projects/nf-core/ampliseq/VALIDATION_REPORT.md
  depictio/projects/nf-core/viralrecon/VALIDATION_REPORT.md
Due: none

test(templates): unpack the 3-tuple _apply_conditionals return
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

fix(api): unpack 3-tuple _apply_conditionals return in db init resolver
  depictio/api/v1/db_init_reference_datasets.py
Due: ty-check-models-api-dash-cli

fix(advanced-viz): resolve 500 on DC schema fetch (deltalake to_arrow rename)
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
Due: ty-check-models-api-dash-cli

fix(advanced-viz): stop required/optional binding badges clipping
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
Due: none

fix(viewer): restore folder picker for MultiQC click-to-upload
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

fix(auth): show public dashboards in any public project to anonymous users
  depictio/api/v1/endpoints/dashboards_endpoints/core_functions.py
  depictio/tests/api/v1/test_unauthenticated_mode.py
Due: ty-check-models-api-dash-cli

feat(dev-scripts): generate nf-core template reference docs from template.yaml
  depictio/dev_scripts/gen_template_docs.py
Due: none

test: guard backup/restore backward compatibility (>= v1.0.0)
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/cli/cli/utils/backup_validation.py
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
  depictio/tests/cli/utils/test_backward_compat_backup.py
  depictio/tests/fixtures/backups/README.md
  depictio/tests/fixtures/backups/depictio_backup_v1.0.1.json
Due: ty-check-models-api-dash-cli

chore(nf-core): validate ampliseq 2.18.0 against megatest
  .nfcore-monitor/ampliseq-2.18.0.md
Due: none

ci: add scheduled cross-version backup/restore integration job
  .github/workflows/backup-compat-cross-version.yaml
Due: none

fix(catalog): de-duplicate gallery payload embed + branded modules mark
  depictio/viewer/catalog-preview.html
  depictio/viewer/src/catalog-preview/Gallery.tsx
  depictio/viewer/src/catalog-preview/main.tsx
  depictio/viewer/src/catalog-preview/shared.tsx
Due: none

refactor(viewer): drop default-thumbnail placeholder, fall back to dashboard icon
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/MultiTabPreview.tsx
  depictio/viewer/src/dashboards/lib/format.ts
  dev/regenerate_dashboard_thumbnails.py
Due: none

chore(helm): EMBL-demo celery HA + db-seed EOF normalization
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_differential.json
  helm-charts/depictio/values-embl-demo.yaml
Due: helm-lint

Bump version: 1.0.1 → 1.1.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.1 → 1.1.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.1.0
  CHANGELOG.md
Due: none

feat(api): grain-aware joins to prevent row explosion (#876)
  depictio/api/v1/grain_aware_joins.py
  depictio/tests/api/v1/test_grain_aware_joins.py
Due: ty-check-models-api-dash-cli

fix(api): grain-aware joins pass quality on current polars (#876)
  depictio/api/v1/grain_aware_joins.py
  depictio/tests/api/v1/test_grain_aware_joins.py
Due: ty-check-models-api-dash-cli

feat(templates): scaffold nf-core/variantbenchmarking 1.4.0 template
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/variantbenchmarking/1.4.0/.db_seeds/.gitkeep
  depictio/projects/nf-core/variantbenchmarking/1.4.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/download_test_data.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/generate_seeds.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
  depictio/projects/nf-core/variantbenchmarking/recipes/happy_roc.py
  depictio/projects/nf-core/variantbenchmarking/recipes/happy_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/sompy_regions.py
  depictio/projects/nf-core/variantbenchmarking/recipes/sompy_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/svbenchmark_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/truvari_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/vcfeval_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/wittyer_summary.py
Due: ty-check-models-api-dash-cli

fix(catalog): add variantbenchmarking modules to the nf-core existence index
  depictio/catalog/_index/nf_core_modules.txt
Due: none

feat(templates): align variantbenchmarking dashboard with pipeline's canonical plots
  depictio/projects/nf-core/variantbenchmarking/1.4.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
Due: none

refactor(catalog): migrate variantbenchmarking modules to the catalog convention
  depictio/catalog/happy/module.yaml
  depictio/catalog/happy/roc.py
  depictio/catalog/happy/roc.tsv
  depictio/catalog/happy/roc.yaml
  depictio/catalog/happy/summary.py
  depictio/catalog/happy/summary.tsv
  depictio/catalog/happy/summary.yaml
  depictio/catalog/rtgtools/module.yaml
  depictio/catalog/rtgtools/vcfeval_summary.py
  depictio/catalog/rtgtools/vcfeval_summary.tsv
  depictio/catalog/rtgtools/vcfeval_summary.yaml
  depictio/catalog/sompy/module.yaml
  depictio/catalog/sompy/regions.py
  depictio/catalog/sompy/regions.tsv
  depictio/catalog/sompy/regions.yaml
  depictio/catalog/sompy/summary.py
  depictio/catalog/sompy/summary.tsv
  depictio/catalog/sompy/summary.yaml
  depictio/catalog/svanalyzer/module.yaml
  depictio/catalog/svanalyzer/svbenchmark.py
  depictio/catalog/svanalyzer/svbenchmark.tsv
  depictio/catalog/svanalyzer/svbenchmark.yaml
  depictio/catalog/truvari/module.yaml
  depictio/catalog/truvari/summary.py
  depictio/catalog/truvari/summary.tsv
  depictio/catalog/truvari/summary.yaml
  depictio/catalog/wittyer/module.yaml
  depictio/catalog/wittyer/summary.py
  depictio/catalog/wittyer/summary.tsv
  depictio/catalog/wittyer/summary.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/download_test_data.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
Due: none

feat(templates): harmonize nf-core templates to mirror nf params (auto-derived)
  depictio/api/v1/db_init_reference_datasets.py
  depictio/cli/cli/utils/templates.py
  depictio/dev_scripts/gen_template_docs.py
  depictio/models/models/templates.py
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_lineage_clustering.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_variants.json
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
  depictio/projects/nf-core/viralrecon/VALIDATION_REPORT.md
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

fix(viralrecon): nanopore variants_long reads the aggregated long table
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
