Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

chore: gitignore root pnpm node_modules and depictio-react-core node_modules
  .gitignore
  packages/depictio-react-core/.gitignore
Due: none

fix(viewer): cast Plotly selection-clear payloads for strict types
  packages/depictio-react-core/src/components/FigureRenderer.tsx
Due: none

feat(viewer): gate figure Code Mode behind ownership + deployment mode
  depictio/viewer/src/builder/figure/FigureBuilder.tsx
  depictio/viewer/src/builder/figure/FigureCodeMode.tsx
  depictio/viewer/src/hooks/useDashboardAccess.ts
Due: none

fix(viewer): cross-filtering only for scatter / scatter_3d visus
  depictio/viewer/src/builder/figure/FigureBuilder.tsx
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
Due: none

fix(viewer): match read-pair suffixes when intersecting multiqc samples
  packages/depictio-react-core/src/availableValues.tsx
Due: none

feat(viewer): code-mode help — module table, threat-model, columns-as-table
  depictio/viewer/src/builder/figure/FigureCodeMode.tsx
Due: none

chore(screenshots): refresh dashboard light thumbnail
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
Due: ty-check-models-api-dash-cli

fix(figure): drop heatmap+scatter_matrix, filter unsupported px kwargs
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/definitions.py
Due: ty-check-models-api-dash-cli

docs(viewer): drop the threat-model section from About Code Mode
  depictio/viewer/src/builder/figure/FigureCodeMode.tsx
Due: none

feat(viewer): availableValues now intersects multiqc samples with table DCs
  depictio/viewer/src/App.tsx
  packages/depictio-react-core/src/availableValues.tsx
Due: none

fix(viewer): use window.Plotly handle instead of importing plotly.js
  packages/depictio-react-core/src/components/FigureRenderer.tsx
Due: none

fix(viewer): alias bare plotly.js to dist/plotly in vite config
  depictio/viewer/vite.config.ts
Due: none

fix(viewer): derive project_id from stored_metadata, ignore empty available sets
  packages/depictio-react-core/src/availableValues.tsx
Due: none

fix(figure): advanced viz types no longer silently downgrade to scatter
  depictio/dash/modules/figure_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

fix(viewer): always include filter source DC in available-values intersection
  packages/depictio-react-core/src/availableValues.tsx
Due: none

fix(viewer): add @types/plotly.js so CI tsc finds plotly types
  packages/depictio-react-core/package.json
  packages/depictio-react-core/src/plotly.d.ts
  pnpm-lock.yaml
Due: none

fix(viewer): reset actually clears Plotly lasso/box (use imported Plotly, gate on transition)
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
  packages/depictio-react-core/src/components/FigureRenderer.tsx
Due: ty-check-models-api-dash-cli

fix(api): multiqc sample-mappings falls back to canonical_samples
  depictio/api/v1/endpoints/links_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix(viewer): single-line layout for pre-loaded modules
  depictio/viewer/src/builder/figure/FigureCodeMode.tsx
Due: none

feat(viewer): order interactive options by availability, then natural sort
  packages/depictio-react-core/src/components/interactive/MultiSelectRenderer.tsx
  packages/depictio-react-core/src/components/interactive/SegmentedControlRenderer.tsx
Due: none

feat(viewer): filter source badge, cross-filter toggle parity, available-values greying
  depictio/viewer/src/App.tsx
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/figure/FigureBuilder.tsx
  depictio/viewer/src/builder/map/MapBuilder.tsx
  depictio/viewer/src/builder/shared/CrossFilterSection.tsx
  depictio/viewer/src/builder/table/TableBuilder.tsx
  packages/depictio-components/src/lib/components/DepictioMultiSelect.tsx
  packages/depictio-react-core/src/availableValues.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/chrome.css
  packages/depictio-react-core/src/components/chrome/index.ts
  packages/depictio-react-core/src/components/interactive/MultiSelectRenderer.tsx
  packages/depictio-react-core/src/components/interactive/SegmentedControlRenderer.tsx
  packages/depictio-react-core/src/index.ts
Due: none

feat(viewer): code-mode polish — under-preview cross-filter, resizable editor, collapsible help
  depictio/viewer/src/builder/figure/FigureBuilder.tsx
  depictio/viewer/src/builder/figure/FigureCodeMode.tsx
Due: none

fix(viewer,cli): persistent reset icon, clear Plotly selection, join fan-out check
  depictio/cli/cli/utils/joins.py
  depictio/tests/cli/utils/test_joins.py
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/chrome.css
Due: ty-check-models-api-dash-cli

fix(viewer): reset-button styling, builder section parity, auth/data fixes
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/projects/init/penguins/data/run_1_adelie/demographic_data.csv
  depictio/projects/init/penguins/data/run_1_adelie/physical_features.csv
  depictio/projects/init/penguins/data/run_2_chinstrap/demographic_data.csv
  depictio/projects/init/penguins/data/run_2_chinstrap/physical_features.csv
  depictio/projects/init/penguins/data/run_3_gentoo/demographic_data.csv
  depictio/projects/init/penguins/data/run_3_gentoo/physical_features.csv
  depictio/projects/init/penguins/scripts/create_dataset.py
  depictio/viewer/src/builder/figure/FigureBuilder.tsx
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/ResetButton.tsx
  packages/depictio-react-core/src/components/chrome/chrome.css
Due: ty-check-models-api-dash-cli

fix(viewer): declare 'plotly.js' module so tsc accepts the import
  packages/depictio-react-core/src/plotly.d.ts
Due: none

feat(viewer): mark joined DCs in component-builder dropdown + info card
  depictio/viewer/src/builder/data/DataCollectionInfoCard.tsx
  depictio/viewer/src/builder/steps/StepData.tsx
Due: none

Bump version: 0.12.1 → 0.12.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.12.1 → 0.12.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.12.2
  CHANGELOG.md
Due: none

build(docker): scaffold per-service images for React migration
  docker-images/Dockerfile.api
  docker-images/Dockerfile.viewer
  docker-images/Dockerfile.worker
  docker-images/nginx.conf
Due: none

ci(docker): build api / worker / viewer migration images
  .github/workflows/build-migration-images.yaml
Due: none

refactor(celery): move celery_app + celery_worker out of dash/
  depictio/api/celery_app.py
  depictio/api/celery_worker.py
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/celery_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/api/v1/services/lifespan.py
  depictio/dash/core/app_factory.py
  depictio/dash/flask_dispatcher.py
  depictio/dash/layouts/save.py
  docker-images/run_celery_worker.sh
Due: ty-check-models-api-dash-cli

fix(io): R-emitted NA handling + MinIO single-part PUT + deltalake>=0.24 fallback
  depictio/api/v1/endpoints/datacollections_endpoints/table_manage.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/multiqc_processor.py
Due: ty-check-models-api-dash-cli

fix(advanced-viz): merge filter columns into projection before runtime filters
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat(components): text tiles + multi-metric card layouts (box_plot/top_n/coverage/concentration)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/dash/modules/card_component/utils.py
  depictio/models/components/constants.py
  depictio/models/components/lite.py
  depictio/models/components/text.py
  depictio/models/components/types.py
  depictio/models/components/union.py
  depictio/models/models/dashboards.py
  depictio/projects/init/iris/.db_seeds/dashboard.json
  depictio/projects/init/iris/dashboards/overview.yaml
  depictio/projects/init/iris/dashboards/petal_analysis.yaml
  depictio/projects/init/penguins/.db_seeds/dashboard.json
  depictio/projects/init/penguins/dashboards/species_analysis.yaml
  packages/depictio-components/src/lib/components/DepictioCard.css
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
Due: ty-check-models-api-dash-cli

feat(advanced-viz): producer registry + viz-kind suggestion engine
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/models/components/advanced_viz/producers.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/models/test_advanced_viz_suggestions.py
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

feat(api): expose table DC append / replace / clear endpoints
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): palette overrides, Manhattan controls, col-annotation strips
  depictio/api/v1/celery_tasks.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/models/dashboards.py
  packages/depictio-react-core/src/colors.ts
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizExtras.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/advanced_viz/ComplexHeatmapRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/DotPlotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/LollipopRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MARenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ManhattanRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/OncoplotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/PhylogeneticRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/QQRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/RarefactionRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SankeyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/StackedTaxonomyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SunburstRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/UpsetRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/VolcanoRenderer.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/chrome.css
  packages/plotly-complexheatmap/plotly_complexheatmap/heatmap.py
  packages/plotly-upset/plotly_upset/upset.py
Due: ty-check-models-api-dash-cli

feat(coverage-track): genome annotation overlay (GFF) for SARS-CoV-2/HIV/HBV/RSV
  packages/depictio-react-core/src/components/advanced_viz/CoverageTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/genome_annotations/MN908947.3.gff
  packages/depictio-react-core/src/components/advanced_viz/genome_annotations/NC_001802.1.gff
  packages/depictio-react-core/src/components/advanced_viz/genome_annotations/NC_003977.2.gff
  packages/depictio-react-core/src/components/advanced_viz/genome_annotations/NC_038235.1.gff
  packages/depictio-react-core/src/components/advanced_viz/genome_annotations/index.ts
Due: none
