Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

refactor: Comment out celery worker service in docker-compose for clarity
  docker-compose.dev.yaml
Due: none

feat: Add fresh profiling analysis tool to identify performance bottlenecks
  dev/dash-profiling/analyze_profiling.py
Due: none

Merge branch 'main' into dev/async-dev
  depictio/dash/layouts/draggable_scenarios/progressive_loading.py
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/header.py
  depictio/dash/layouts/project_data_collections.py
  depictio/dash/layouts/projectwise_user_management.py
Due: ty-check-models-api-dash-cli

fix: Disable automatic figure generation by default in DashConfig
  depictio/api/v1/configs/settings_models.py
  depictio/dash/modules/figure_component/frontend.py
Due: ty-check-models-api-dash-cli

Implement code changes to enhance functionality and improve performance
  depictio/dash/modules/figure_component/simple_code_executor.py
  dev/join_deltables/dev.ipynb
Due: ty-check-models-api-dash-cli

feat: Implement robust logout command to handle timing issues and improve reliability
  depictio/tests/e2e-tests/cypress/e2e/auth/auth-account-management.cy.js
  depictio/tests/e2e-tests/cypress/support/commands.js
Due: ty-check-models-api-dash-cli

fix: Update workload monitoring in Helm chart workflow to include statefulsets and improve logging
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

feat: Add dash-dock dependency to pyproject.toml for enhanced dashboard functionality
  dev/depictio-multiqc-ux/app.py
  dev/depictio-multiqc-ux/minimal_dash_dock_test.py
  dev/depictio-multiqc-ux/simple_dash_dock_example.py
  pyproject.toml
Due: none

Add Same-Origin MultiQC Proxy Test with Automation Features
  dev/depictio-multiqc-ux/explore_multiqc_parquet.ipynb
  dev/depictio-multiqc-ux/minimal_dash_dock_test.py
  dev/depictio-multiqc-ux/same_origin_multiqc_test.py
Due: none

feat: Refactor theme handling in components and disable theme switch on dashboard pages
  depictio/dash/layouts/draggable_scenarios/interactive_component_update.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/save.py
  depictio/dash/modules/table_component/frontend.py
  depictio/dash/modules/table_component/utils.py
  depictio/dash/theme_utils.py
Due: ty-check-models-api-dash-cli

feat: Implement theme support for AG Grid across project data collections and user management modules
  depictio/dash/layouts/stepper.py
Due: ty-check-models-api-dash-cli

refactor: Rename update_interactive_component to update_interactive_component_sync for consistency
  depictio/dash/layouts/draggable_scenarios/graphs_interactivity.py
  depictio/dash/layouts/draggable_scenarios/interactive_component_update.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
Due: ty-check-models-api-dash-cli

refactor: Improve component selection logic in register_callbacks_stepper_part_one
  depictio/dash/layouts/stepper_parts/part_one.py
Due: ty-check-models-api-dash-cli

feat: Enhance code mode interface with resizing and updated placeholder information
  depictio/dash/modules/figure_component/code_mode.py
Due: ty-check-models-api-dash-cli

refactor: Disable loading state to prevent infinite spinner issue and improve UI responsiveness
  depictio/dash/modules/figure_component/frontend.py
Due: ty-check-models-api-dash-cli

refactor: Update debug logging in register_callbacks_save for improved clarity
  depictio/dash/layouts/save.py
Due: ty-check-models-api-dash-cli

feat: Enhance code mode with constraints for df_modified and improve usage instructions
  depictio/dash/modules/figure_component/code_mode.py
Due: ty-check-models-api-dash-cli

feat: Enhance SimpleCodeExecutor with preprocessing support and additional safe functions
  depictio/dash/modules/figure_component/simple_code_executor.py
Due: ty-check-models-api-dash-cli

feat: Enhance parameter validation and add code mode preprocessing support in build_figure
  depictio/dash/modules/figure_component/utils.py
Due: ty-check-models-api-dash-cli

fix: Disable trapFocus in modals to improve DMC Switch clickability
  depictio/dash/layouts/stepper.py
Due: ty-check-models-api-dash-cli

feat: Replace boolean switch with checkbox for improved compatibility
  depictio/dash/modules/figure_component/component_builder.py
Due: ty-check-models-api-dash-cli

feat: Add support for DMC Switch 'checked' property in parameter extraction
  depictio/dash/modules/figure_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: Remove width and height parameters from COMMON_PARAMETERS for simplification
  depictio/dash/modules/figure_component/models.py
Due: ty-check-models-api-dash-cli

feat: Update CORE_PARAMETERS and COMMON_PARAMETERS for improved parameter handling and validation
  depictio/dash/modules/figure_component/parameter_discovery.py
Due: ty-check-models-api-dash-cli

feat: Add JSON parsing for specific parameters in render_figure to enhance compatibility with Plotly
  depictio/dash/modules/figure_component/utils.py
Due: ty-check-models-api-dash-cli

refactor: Update layout and debug section in minimal_dash_dock_test.py for improved readability and functionality
  dev/depictio-multiqc-ux/minimal_dash_dock_test.py
Due: none

refactor: reorganize .gitignore for development environment clarity
  .gitignore
Due: none

Bump version: 0.3.2 → 0.4.0-b1
  .bumpversion.cfg
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.4.0-b1
  CHANGELOG.md
Due: none

fix: remove commented-out sed command for updating helm chart version
  bump-with-helm.sh
Due: none

fix: update tag pattern for stable releases in multi-arch build workflow
  .github/workflows/multi-arch-build.yaml
Due: none

fix: change default value of disable_theme_animations to True in PerformanceConfig
  depictio/api/v1/configs/settings_models.py
Due: ty-check-models-api-dash-cli

fix: ensure className is a string before checking for dash-debug-menu in MutationObserver
  depictio/dash/assets/js/debug-menu-control.js
Due: ty-check-models-api-dash-cli

fix: update comments for clarity and remove SpinnerCellRenderer to prevent AG Grid error
  depictio/dash/modules/table_component/frontend.py
  depictio/dash/modules/table_component/utils.py
Due: ty-check-models-api-dash-cli

Bump version: 0.4.0-b1 → 0.4.0-b2
  .bumpversion.cfg
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.4.0-b2
  CHANGELOG.md
Due: none
