Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

feat(migration): port /auth + dashboards-management e2e to Playwright on React
  depictio/react-frontend/.gitignore
  depictio/react-frontend/package-lock.json
  depictio/react-frontend/src/App.tsx
  depictio/react-frontend/src/api/auth.ts
  depictio/react-frontend/src/api/dashboards.ts
  depictio/react-frontend/src/api/types.ts
  depictio/react-frontend/src/pages/AuthPage.tsx
  depictio/react-frontend/src/pages/DashboardsPage.tsx
  depictio/react-frontend/src/pages/ProfilePage.tsx
  depictio/tests/e2e-playwright/MIGRATION.md
  depictio/tests/e2e-playwright/fixtures/auth.ts
  depictio/tests/e2e-playwright/fixtures/projects.ts
  depictio/tests/e2e-playwright/package-lock.json
  depictio/tests/e2e-playwright/playwright.config.ts
  depictio/tests/e2e-playwright/tests/auth/auth-ui-registration.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/create-dashboard-extended.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/create-dashboard.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/create-multiple-dashboards.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e-playwright): scaffold parallel Playwright suite (auth + dashboards)
  depictio/tests/e2e-playwright/.gitignore
  depictio/tests/e2e-playwright/README.md
  depictio/tests/e2e-playwright/fixtures/auth.ts
  depictio/tests/e2e-playwright/fixtures/credentials.ts
  depictio/tests/e2e-playwright/fixtures/test-credentials.json
  depictio/tests/e2e-playwright/package.json
  depictio/tests/e2e-playwright/playwright.config.ts
  depictio/tests/e2e-playwright/tests/auth/auth-ui-login.spec.ts
  depictio/tests/e2e-playwright/tests/auth/logout.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/create-dashboard.spec.ts
  depictio/tests/e2e-playwright/tsconfig.json
Due: ty-check-models-api-dash-cli

feat(react-frontend): scaffold parallel React frontend (auth + dashboards list)
  depictio/react-frontend/.dockerignore
  depictio/react-frontend/.env.example
  depictio/react-frontend/.gitignore
  depictio/react-frontend/Dockerfile
  depictio/react-frontend/README.md
  depictio/react-frontend/index.html
  depictio/react-frontend/package.json
  depictio/react-frontend/postcss.config.cjs
  depictio/react-frontend/src/App.tsx
  depictio/react-frontend/src/api/auth.ts
  depictio/react-frontend/src/api/client.ts
  depictio/react-frontend/src/api/dashboards.ts
  depictio/react-frontend/src/api/types.ts
  depictio/react-frontend/src/components/AppShell.tsx
  depictio/react-frontend/src/components/ProtectedRoute.tsx
  depictio/react-frontend/src/components/ThemeToggle.tsx
  depictio/react-frontend/src/main.tsx
  depictio/react-frontend/src/pages/AuthPage.tsx
  depictio/react-frontend/src/pages/DashboardsPage.tsx
  depictio/react-frontend/src/store/auth.ts
  depictio/react-frontend/src/theme.ts
  depictio/react-frontend/tsconfig.json
  depictio/react-frontend/tsconfig.node.json
  depictio/react-frontend/vite.config.ts
Due: none

Bump version: 1.0.0-b1 → 1.0.0-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b1 → 1.0.0-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.0-b2
  CHANGELOG.md
Due: none

feat(e2e): add react-frontend-dev compose service + fix Playwright defaults
  depictio/tests/e2e-playwright/playwright.config.ts
  docker-images/Dockerfile.react-frontend.dev
Due: ty-check-models-api-dash-cli

fix(helm): align celery worker image tag to 1.0.0-b2
  helm-charts/depictio/values.yaml
Due: helm-lint

fix(e2e): 8/8 passing — fix API URL default + dynamic auth-mode skip
  depictio/tests/e2e-playwright/fixtures/auth.ts
  depictio/tests/e2e-playwright/tests/auth/auth-ui-login.spec.ts
  depictio/tests/e2e-playwright/tests/auth/auth-ui-registration.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e): add single-user-mode spec + fix 429 token cache (17/17 green)
  depictio/tests/e2e-playwright/fixtures/auth.ts
  depictio/tests/e2e-playwright/tests/auth/single-user-mode.spec.ts
Due: ty-check-models-api-dash-cli

fix(rate-limit): use X-Real-IP instead of TCP source for per-user buckets
  depictio/api/v1/endpoints/user_endpoints/rate_limit.py
Due: ty-check-models-api-dash-cli

Revert "fix(rate-limit): use X-Real-IP instead of TCP source for per-user buckets"
  depictio/api/v1/endpoints/user_endpoints/rate_limit.py
Due: ty-check-models-api-dash-cli

fix(e2e): 14/14 green — target real viewer :5601 + fix all selector issues
  depictio/tests/e2e-playwright/fixtures/auth.ts
  depictio/tests/e2e-playwright/fixtures/dashboard.ts
  depictio/tests/e2e-playwright/fixtures/projects.ts
  depictio/tests/e2e-playwright/playwright.config.ts
  depictio/tests/e2e-playwright/tests/auth/auth-ui-login.spec.ts
  depictio/tests/e2e-playwright/tests/auth/auth-ui-registration.spec.ts
  depictio/tests/e2e-playwright/tests/auth/logout.spec.ts
  depictio/tests/e2e-playwright/tests/auth/single-user-mode.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/create-dashboard-extended.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/create-dashboard.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/create-multiple-dashboards.spec.ts
  depictio/viewer/src/auth/components/AuthCard.tsx
  depictio/viewer/src/auth/components/LoginForm.tsx
  depictio/viewer/src/auth/components/RegisterForm.tsx
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/dashboards/DashboardActionsMenu.tsx
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/DeleteDashboardModal.tsx
  depictio/viewer/src/profile/ProfileApp.tsx
Due: ty-check-models-api-dash-cli

feat(ampliseq): add generate_seeds.sh + remap_seeds_to_static_ids.py
  depictio/projects/nf-core/ampliseq/2.16.0/generate_seeds.sh
  depictio/projects/nf-core/ampliseq/2.16.0/remap_seeds_to_static_ids.py
Due: none

fix(rate-limit): use X-Real-IP instead of TCP source for per-user buckets (#787)
  depictio/api/v1/endpoints/user_endpoints/rate_limit.py
Due: ty-check-models-api-dash-cli

Bump version: 1.0.0-b2 → 1.0.0-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b2 → 1.0.0-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

feat(ampliseq): complete dashboards/base.yaml at parity with the 6 db_seeds
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/full_analysis.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
Due: none

docs(catalog): TODO — raise use: coverage (sankey/embedding/upset/phylogenetic modules, richer config models, lossy export)
  depictio/catalog/TODO.md
Due: none

ci(e2e): replace 4 skipped Cypress jobs with Playwright matrix (standard/public-demo/single-user)
  .github/workflows/depictio-ci.yaml
  depictio/tests/e2e-playwright/fixtures/auth.ts
  depictio/tests/e2e-playwright/playwright.config.ts
Due: ty-check-models-api-dash-cli

Helm chart: viewer startup ordering, MongoDB Community Operator HA, resource rebalance
  depictio/api/v1/configs/config.py
  depictio/api/v1/configs/settings_models.py
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/mongo-init-job.yaml
  helm-charts/depictio/templates/mongo-operator.yaml
  helm-charts/depictio/templates/services.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

style(ampliseq): surface use:/viz_kind at the top of advanced_viz tiles
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
Due: none

fix(demo): restore public reference dashboards + keep temp users for the session
  depictio/api/v1/db_init.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/tests/api/v1/test_demo_mode_regressions.py
Due: ty-check-models-api-dash-cli

feat(e2e): port remaining 14 Cypress specs to Playwright on the React stack
  .github/workflows/depictio-ci.yaml
  depictio/tests/e2e-playwright/fixtures/auth.ts
  depictio/tests/e2e-playwright/fixtures/ui.ts
  depictio/tests/e2e-playwright/tests/auth/cli-configs.spec.ts
  depictio/tests/e2e-playwright/tests/auth/edit-password.spec.ts
  depictio/tests/e2e-playwright/tests/auth/token-login.spec.ts
  depictio/tests/e2e-playwright/tests/pages/about.spec.ts
  depictio/tests/e2e-playwright/tests/projects/project-permissions.spec.ts
  depictio/tests/e2e-playwright/tests/public/demo-mode.spec.ts
  depictio/tests/e2e-playwright/tests/public/public-mode.spec.ts
  depictio/tests/e2e-playwright/tests/ui/theme-toggle.spec.ts
  depictio/viewer/src/chrome/ThemeToggle.tsx
  depictio/viewer/src/cli-agents/CreateTokenModal.tsx
  depictio/viewer/src/cli-agents/DeleteTokenModal.tsx
  depictio/viewer/src/cli-agents/DisplayTokenModal.tsx
  depictio/viewer/src/profile/EditPasswordModal.tsx
  depictio/viewer/src/profile/ProfileApp.tsx
  depictio/viewer/src/projects/detail/PermissionsApp.tsx
Due: ty-check-models-api-dash-cli

CI: update helm chart test workflow for viewer init container and operator mode
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

feat(advanced_viz): RarefactionConfig.metric_options → rarefaction binds via use:
  depictio/models/components/advanced_viz/configs.py
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
Due: ty-check-models-api-dash-cli

feat(catalog): bind sunburst + coverage_track tiles via use:
  depictio/catalog/qiime2/sunburst_canonical.tsv
  depictio/catalog/qiime2/sunburst_canonical.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
Due: none

fix(ci): viewer health gate must follow the / -> /dashboards 302 redirect
  .github/workflows/depictio-ci.yaml
Due: none

fix(e2e+api): align suite with real per-mode CI behavior + fix dead edit_password endpoint
  depictio/models/models/users.py
  depictio/tests/e2e-playwright/fixtures/credentials.ts
  depictio/tests/e2e-playwright/fixtures/test-credentials.json
  depictio/tests/e2e-playwright/tests/auth/auth-ui-login.spec.ts
  depictio/tests/e2e-playwright/tests/auth/auth-ui-registration.spec.ts
  depictio/tests/e2e-playwright/tests/auth/logout.spec.ts
  depictio/tests/e2e-playwright/tests/auth/single-user-mode.spec.ts
  depictio/tests/e2e-playwright/tests/projects/project-permissions.spec.ts
  depictio/tests/e2e-playwright/tests/public/public-mode.spec.ts
Due: ty-check-models-api-dash-cli

test(models): update RequestEditPassword unit tests to the plaintext old_password contract
  depictio/tests/models/test_users.py
Due: ty-check-models-api-dash-cli

fix(e2e): existing-email registration shows the backend's anti-enumeration message
  depictio/tests/e2e-playwright/tests/auth/auth-ui-registration.spec.ts
Due: ty-check-models-api-dash-cli

fix(e2e): deflake edit-password 429 probe + correct demo-mode dashboard-creation contract
  depictio/tests/e2e-playwright/fixtures/auth.ts
  depictio/tests/e2e-playwright/tests/auth/edit-password.spec.ts
  depictio/tests/e2e-playwright/tests/public/public-mode.spec.ts
Due: ty-check-models-api-dash-cli

fix: ruff formatting in config.py and settings_models.py
  depictio/api/v1/configs/config.py
  depictio/api/v1/configs/settings_models.py
Due: ty-check-models-api-dash-cli

fix(demo): restore public reference dashboards + keep temp users for the session (#789)
  depictio/api/v1/db_init.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/tests/api/v1/test_demo_mode_regressions.py
Due: ty-check-models-api-dash-cli

Bump version: 1.0.0-b3 → 1.0.0-b4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b3 → 1.0.0-b4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

fix: avoid shell injection and bad parameter expansion in release workflow
  .github/workflows/release.yaml
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
