Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

feat(templates): bind the new life-science kinds to the pipelines that need them
  depictio/catalog/ctatsplicing/introns.yaml
  depictio/catalog/fusioninspector/protein_domains.yaml
  depictio/catalog/hamronization/report.yaml
  depictio/projects/nf-core/TEMPLATE_BOTTLENECKS.md
  depictio/projects/nf-core/funcscan/4.0.0/dashboards/base.yaml
  depictio/projects/nf-core/funcscan/4.0.0/docs/dashboards.md
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/docs/dashboards.md
  packages/tool-studio/public/catalog.json
Due: none

fix(viewer): reach the settings popover in fullscreen, and keep the sidebar where you left it
  depictio/viewer/src/chrome/Sidebar.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizExtras.tsx
  packages/depictio-react-core/src/components/chrome/useFullscreenPortalTarget.ts
Due: none

fix(cutandrun): size the caller dot plot to the two rows it draws
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
Due: none

feat(nf-core): add the cutandrun 3.1 template with the seacr catalog tool
  .gitignore
  depictio/catalog/seacr/consensus_peaks.py
  depictio/catalog/seacr/consensus_peaks.tsv
  depictio/catalog/seacr/consensus_peaks.yaml
  depictio/catalog/seacr/fragment_lengths.py
  depictio/catalog/seacr/fragment_lengths.tsv
  depictio/catalog/seacr/fragment_lengths.yaml
  depictio/catalog/seacr/module.yaml
  depictio/catalog/seacr/peak_summary.py
  depictio/catalog/seacr/peak_summary.tsv
  depictio/catalog/seacr/peak_summary.yaml
  depictio/catalog/seacr/peaks.py
  depictio/catalog/seacr/peaks.tsv
  depictio/catalog/seacr/peaks.yaml
  depictio/projects/init/catalog_conformance/manifest.json
  depictio/projects/init/catalog_conformance/seacr_consensus_peaks.tsv
  depictio/projects/init/catalog_conformance/seacr_fragment_lengths.tsv
  depictio/projects/init/catalog_conformance/seacr_peak_summary.tsv
  depictio/projects/init/catalog_conformance/seacr_peaks.tsv
  depictio/projects/init/catalog_conformance/static_ids.json
  depictio/projects/init/catalog_conformance/template.yaml
  depictio/projects/nf-core/VALIDATION_SCENARIOS.md
  depictio/projects/nf-core/cutandrun/3.1/.db_seeds/.gitkeep
  depictio/projects/nf-core/cutandrun/3.1/VALIDATION_REPORT.md
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/docs/dashboards.md
  depictio/projects/nf-core/cutandrun/3.1/download_test_data.sh
  depictio/projects/nf-core/cutandrun/3.1/input/samplesheet.valid.csv
  depictio/projects/nf-core/cutandrun/3.1/megatest.yaml
  depictio/projects/nf-core/cutandrun/3.1/pipeline_info/local_versions.yml
  depictio/projects/nf-core/cutandrun/3.1/pipeline_info/software_versions.yml
  depictio/projects/nf-core/cutandrun/3.1/template.yaml
  depictio/projects/nf-core/cutandrun/recipes/caller_agreement.py
  depictio/projects/nf-core/cutandrun/recipes/samples.py
  packages/tool-studio/public/catalog.json
Due: none

fix(dev): wait for panels, not canvases, before a dashboard screenshot
  depictio/api/v1/services/screenshot_helpers.py
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/atac-signal.png
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/consensus.png
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/library-qc.png
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/peaks.png
  depictio/projects/nf-core/chipseq/1.2.0/docs/screenshots/consensus.png
  depictio/projects/nf-core/chipseq/1.2.0/docs/screenshots/peaks.png
  depictio/projects/nf-core/chipseq/1.2.0/docs/screenshots/sequencing-qc.png
  depictio/projects/nf-core/cutandrun/3.1/docs/screenshots/caller-agreement.png
  depictio/projects/nf-core/cutandrun/3.1/docs/screenshots/consensus-and-reproducibility.png
  depictio/projects/nf-core/cutandrun/3.1/docs/screenshots/peak-calls.png
  dev/playwright_debug/showcase_viz_shots.py
  dev/playwright_debug/template_dashboard_shots.py
Due: ty-check-models-api-dash-cli

fix(viewer): recolour seven more kinds by analysis group, and correct what the tiles draw
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/CoverageTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/DotPlotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GeneArrowTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MetricCiBarsRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ProfileRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/QQRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/RarefactionRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ScatterXyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SplitPanels.tsx
  packages/depictio-react-core/src/components/advanced_viz/colourScales.test.ts
  packages/depictio-react-core/src/components/advanced_viz/colourScales.ts
  packages/depictio-react-core/src/components/advanced_viz/groupSplit.test.ts
  packages/depictio-react-core/src/components/advanced_viz/groupSplit.ts
  packages/depictio-react-core/src/components/inlineMarkdown.test.ts
  packages/depictio-react-core/src/components/inlineMarkdown.ts
Due: none

feat(advanced-viz): let a lollipop name its stems, and colour ARG arrows by tool
  depictio/catalog/hamronization/report.yaml
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  packages/depictio-react-core/src/components/advanced_viz/LollipopRenderer.tsx
  packages/tool-studio/public/catalog.json
  packages/tool-studio/public/kinds.json
Due: ty-check-models-api-dash-cli

docs(nf-core): the validation annexes and the showcase thumbnails
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d70_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d70_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d71_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d71_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d72_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d72_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d73_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d73_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d74_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d74_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d75_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d75_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d76_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d76_light.png
  depictio/projects/nf-core/MEGATEST_STATUS.md
  depictio/projects/nf-core/TEST_DATASETS.md
  depictio/projects/nf-core/VALIDATION_SCENARIOS.md
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/alpha-diversity.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/community-diversity.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/differential-abundance.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/environment-ctd.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/multiqc.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/ordination-clustering.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/phylogeny.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/sampling-campaign.png
  depictio/projects/nf-core/viralrecon/3.0.0/docs/screenshots/coverage-depth.png
  depictio/projects/nf-core/viralrecon/3.0.0/docs/screenshots/lineage-clustering.png
  depictio/projects/nf-core/viralrecon/3.0.0/docs/screenshots/multiqc.png
  depictio/projects/nf-core/viralrecon/3.0.0/docs/screenshots/sample-qc.png
  depictio/projects/nf-core/viralrecon/3.0.0/docs/screenshots/variants.png
  scripts/nfcore_trigger_stub.py
  scripts/nfcore_validation.config
  scripts/nfcore_validation_hpc.py
Due: ty-check-models-api-dash-cli

fix(nf-core): rebuild the ampliseq and viralrecon seeds from today's YAML
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_alpha_diversity.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_differential.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_environment.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_ordination.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_phylogeny.json
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/reference_extended.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_alpha_diversity.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_differential.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_environment.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_ordination.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_phylogeny.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_lineage_clustering.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_sample_qc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_variants.json
Due: none

fix(nf-core): name the MultiQC tab for what it is, and give every tab the project icon
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/small/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/structural/dashboards/base.yaml
Due: none

fix(api): keep same-titled MultiQC metrics apart, and stop dense heatmaps washing out
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/services/figure/code_executor.py
  depictio/api/v1/services/multiqc/general_stats_payload.py
  depictio/tests/api/v1/tasks/test_complex_heatmap_annotation_palette.py
  depictio/tests/api/v1/test_code_executor_builtins.py
  depictio/tests/api/v1/test_general_stats_duplicate_titles.py
  packages/plotly-complexheatmap/plotly_complexheatmap/annotations.py
  packages/plotly-complexheatmap/plotly_complexheatmap/heatmap.py
  packages/plotly-complexheatmap/tests/test_annotations.py
  packages/plotly-complexheatmap/tests/test_heatmap.py
Due: ty-check-models-api-dash-cli

feat(sashimi): draw measured read depth under the arcs
  depictio/api/v1/db_init_reference_datasets.py
  depictio/models/components/advanced_viz/configs.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_sashimi.json
  depictio/projects/init/advanced_viz_showcase/dashboards/sashimi.yaml
  depictio/projects/init/advanced_viz_showcase/data/sashimi_coverage_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  packages/depictio-react-core/src/colors.ts
  packages/depictio-react-core/src/components/advanced_viz/SashimiRenderer.tsx
Due: ty-check-models-api-dash-cli

fix(seeds): stop the export from reading the wrong Mongo, or emptying a seed
  depictio/projects/nf-core/ampliseq/2.16.0/generate_seeds.sh
  depictio/projects/nf-core/ampliseq/2.18.0/generate_seeds.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/generate_seeds.sh
  depictio/projects/nf-core/viralrecon/3.0.0/generate_seeds.sh
Due: none

feat(dashboards): sort the table by when you last opened a dashboard
  depictio/viewer/src/dashboards/DashboardsList.tsx
  depictio/viewer/src/dashboards/views/DashboardTableView.tsx
  depictio/viewer/table-harness.tsx
Due: none

feat(complex-heatmap): name the metadata columns to annotate, instead of baking them in
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/models/components/advanced_viz/configs.py
  depictio/tests/api/v1/tasks/test_complex_heatmap_annotation_sources.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/ComplexHeatmapRenderer.tsx
Due: ty-check-models-api-dash-cli

feat(nf-core): a third wave of profiles, and stop shipping a genome index
  scripts/nfcore_validation_hpc.py
Due: none

docs(nf-core): the measured verdicts, and a driver for the showcase instance
  depictio/projects/nf-core/TEST_DATASETS.md
  scripts/nfcore_showcase.py
  scripts/nfcore_validation.config
  scripts/nfcore_validation_hpc.py
Due: none

fix(dot-plot): scale the dots against the data's own peak, and say what a dot is worth
  packages/depictio-react-core/src/components/advanced_viz/DotPlotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/dotSizes.test.ts
  packages/depictio-react-core/src/components/advanced_viz/dotSizes.ts
Due: none

feat(groups): carry a selection group across data collections, and say when it cannot
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/filter_links.py
  depictio/api/v1/services/card_groups.py
  depictio/api/v1/services/figure/groups.py
  depictio/tests/api/v1/test_group_link_resolution.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/GroupingHeaderControl.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/interactive/GroupingSteps.tsx
  packages/depictio-react-core/src/components/interactive/PendingGroupForm.tsx
  packages/depictio-react-core/src/components/interactive/SelectionGroupsPanel.tsx
  packages/depictio-react-core/src/components/interactive/ValueListPreview.tsx
  packages/depictio-react-core/src/components/interactive/groupingGuide.test.ts
  packages/depictio-react-core/src/components/interactive/groupingGuide.ts
  packages/depictio-react-core/src/groupStatus.test.ts
  packages/depictio-react-core/src/groupStatus.ts
  packages/depictio-react-core/src/hooks/useSelectionGroups.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selectionGroups.ts
  packages/depictio-react-core/src/utils/panelToggle.ts
Due: ty-check-models-api-dash-cli

feat(nf-core): give the MultiQC tab back to MultiQC, and pin the sample sheet to every tab
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/airrflow/5.1.0/docs/dashboards.md
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/reference_extended.yaml
  depictio/projects/nf-core/atacseq/1.2.2/VALIDATION_REPORT.md
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/docs/dashboards.md
  depictio/projects/nf-core/chipseq/1.2.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/docs/dashboards.md
  depictio/projects/nf-core/cutandrun/3.1/VALIDATION_REPORT.md
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/docs/dashboards.md
  depictio/projects/nf-core/differentialabundance/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/dashboards.md
  depictio/projects/nf-core/funcscan/4.0.0/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/rnaseq/3.26.0/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/docs/dashboards.md
  depictio/projects/nf-core/taxprofiler/2.0.1/VALIDATION_REPORT.md
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/docs/dashboards.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/small/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/structural/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/tests/models/test_shipped_dashboard_yamls.py
Due: ty-check-models-api-dash-cli

fix(nf-core): give WITTYER a home, and add the two routes it unblocked
  scripts/nfcore_showcase.py
  scripts/nfcore_validation.config
  scripts/nfcore_validation_hpc.py
Due: none

docs(nf-core): record what a second and a third route through each pipeline found
  depictio/projects/nf-core/TEST_DATASETS.md
Due: none

fix(nf-core): pin the runs a moving plugin floor broke, and add the SISPA route
  scripts/nfcore_showcase.py
  scripts/nfcore_validation_hpc.py
Due: none

docs(nf-core): add the variantbenchmarking somatic route to the showcase
  scripts/nfcore_showcase.py
Due: none

docs(nf-core): put back the three showcase entries the placement rebase split off
  scripts/nfcore_showcase.py
Due: none

feat(nf-core): add the one full-size run, and count coverage the way it is served
  depictio/projects/nf-core/TEST_DATASETS.md
  scripts/nfcore_showcase.py
  scripts/nfcore_validation_hpc.py
Due: none

Bump version: 1.10.0 → 1.10.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

docs(nf-core): break the coverage table out per profile
  depictio/projects/nf-core/TEST_DATASETS.md
Due: none

feat(nf-core): shared megatest infrastructure for pipeline templates
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/catalog/SCHEMA.md
  depictio/catalog/catalog.schema.json
  depictio/catalog/multiqc/bcftools.yaml
  depictio/catalog/multiqc/bowtie2.yaml
  depictio/catalog/multiqc/cutadapt.yaml
  depictio/catalog/multiqc/fastp.yaml
  depictio/catalog/multiqc/fastqc.yaml
  depictio/catalog/multiqc/happy.yaml
  depictio/catalog/multiqc/ivar.yaml
  depictio/catalog/multiqc/kraken.yaml
  depictio/catalog/multiqc/mosdepth.yaml
  depictio/catalog/multiqc/quast.yaml
  depictio/catalog/multiqc/samtools.yaml
  depictio/catalog/multiqc/snpeff.yaml
  depictio/catalog/multiqc/sompy.yaml
  depictio/catalog/multiqc/summary.yaml
  depictio/catalog/multiqc/truvari.yaml
  depictio/catalog/output.schema.json
  depictio/dev_scripts/multiqc_reprocess.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/projects/init/catalog_conformance/scripts/generate_project.py
  depictio/projects/init/catalog_conformance/template.yaml
  depictio/projects/nf-core/MEGATEST_STATUS.md
  depictio/projects/nf-core/VALIDATION_SCENARIOS.md
  depictio/projects/nf-core/ampliseq/2.18.0/download_test_data.sh
  depictio/projects/nf-core/ampliseq/2.18.0/megatest.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/download_test_data.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/megatest.yaml
  depictio/tests/api/v1/test_catalog_compose_matching.py
  depictio/tests/models/test_catalog.py
  depictio/tests/unit/test_bump_template_version.py
  depictio/tests/unit/test_multiqc_reprocess.py
  depictio/tests/unit/test_nfcore_megatest.py
  depictio/tests/unit/test_nfcore_monitor.py
  packages/tool-studio/public/catalog.json
  packages/tool-studio/public/catalog.schema.json
  scripts/bump_template_version.py
  scripts/nfcore_megatest.py
  scripts/nfcore_monitor.py
Due: ty-check-models-api-dash-cli

docs(nf-core): give the dense plots their own row, and screenshot every tab
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/docs/dashboards.md
  depictio/projects/nf-core/rnafusion/4.1.3/docs/screenshots/evidence.png
  depictio/projects/nf-core/rnafusion/4.1.3/docs/screenshots/fusion-calls.png
  depictio/projects/nf-core/rnafusion/4.1.3/docs/screenshots/fusioninspector-and-splicing.png
  depictio/projects/nf-core/rnafusion/4.1.3/docs/screenshots/quality-control.png
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
