Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

refactor(dash): simplify code and add comprehensive docstrings
  depictio/dash/api_calls.py
  depictio/dash/core/app_factory.py
  depictio/dash/core/auth.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/project_data_collections.py
  depictio/dash/layouts/save.py
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

refactor(dash): extract helpers and fix type safety
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

refactor(dash): simplify figure and table component callbacks
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/table_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

feat(docker): add healthchecks and restart policies for production readiness
  docker-compose.yaml
  docker-compose/docker-compose.minio.yaml
Due: none

fix: add type ignore for dynamic kwargs in header.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/header.py
Due: ty-check-models-api-dash-cli

fix: add fallback on non-200 status in _check_deltatables
  depictio/dash/layouts/draggable.py
Due: ty-check-models-api-dash-cli

feat(helm): add Celery worker deployment for background task processing
  CLAUDE.md
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix(auth): make triangle background animations visible immediately
  depictio/dash/assets/css/components/auth.css
  depictio/dash/layouts/users_management.py
Due: ty-check-models-api-dash-cli

ci(helm): add Celery worker validation to test-build-push workflow
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

refactor(dash): remove verbose runtime logs from frontend callbacks
  .claude/settings.local.json
  depictio/dash/background_callback_helpers.py
  depictio/dash/core/callbacks.py
  depictio/dash/flask_dispatcher.py
  depictio/dash/layouts/callbacks/remove_component.py
  depictio/dash/layouts/consolidated_api.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/remove_component_simple.py
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/ui.py
  depictio/dash/modules/figure_component/multiqc_vis.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/interactive_component/callbacks/core_async.py
  depictio/dash/modules/multiqc_component/frontend.py
  depictio/dash/modules/table_component/callbacks/core.py
  docker-compose/.env
  pixi.lock
  uv.lock
Due: ty-check-models-api-dash-cli

feat(docs): add automated OpenAPI spec extraction for documentation
  .github/workflows/update-api-docs.yaml
  scripts/extract_openapi.py
Due: none

ci(helm): add comprehensive Celery worker debugging
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

ci(helm): move Celery debugging to upstream monitoring step
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

fix(docker): copy VERSION file to Docker images
  docker-images/Dockerfile_depictio.dockerfile
  docker-images/Dockerfile_depictio_prod.dockerfile
  docker-images/Dockerfile_depictio_uv.dockerfile
Due: none

ci(helm): switch to uv-based Dockerfile for faster builds
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

docs: add key features to README
  README.md
Due: none

Revert "docs: add key features to README"
  README.md
Due: none

ci(helm): add separate log steps for backend, frontend, celery
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

fix: restore screenshot trigger and update accordion selectors for DMC 2.0+
  depictio/dash/assets/js/dashAgGridComponentFunctions.js
  depictio/dash/layouts/save.py
  depictio/tests/e2e-tests/cypress/e2e/projects_management/project-permissions.cy.js
  depictio/tests/e2e-tests/cypress/e2e/unauthenticated/dashboard-access-restrictions.cy.js
  depictio/tests/e2e-tests/cypress/support/unauthenticated-commands.js
Due: ty-check-models-api-dash-cli

fix(e2e): handle viewer user access restrictions in permissions test
  depictio/tests/e2e-tests/cypress/e2e/projects_management/project-permissions.cy.js
Due: ty-check-models-api-dash-cli

ci: use content-based hash for Docker image tags
  .dockerignore
  .github/workflows/depictio-ci.yaml
Due: none

refactor: remove verbose debug/info logs for cleaner output
  depictio/api/cache.py
  depictio/api/v1/configs/config.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/key_utils.py
  depictio/api/v1/s3.py
  depictio/dash/api_calls.py
  depictio/dash/background_callback_helpers.py
  depictio/dash/celery_app.py
  depictio/dash/component_metadata.py
  depictio/dash/layouts/add_component_simple.py
  depictio/dash/layouts/consolidated_api.py
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/header.py
  depictio/dash/layouts/projects.py
  depictio/dash/layouts/projectwise_user_management.py
  depictio/dash/layouts/shared_app_shell.py
  depictio/dash/layouts/sidebar.py
  depictio/dash/layouts/users_management.py
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/card_component/utils.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/design.py
  depictio/dash/modules/figure_component/callbacks/ui.py
  depictio/dash/modules/figure_component/parameter_discovery.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/interactive_component/callbacks/core_async.py
  depictio/dash/modules/interactive_component/callbacks/core_interactivity.py
  depictio/dash/modules/interactive_component/callbacks/design.py
  depictio/dash/modules/interactive_component/utils.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/table_component/callbacks/core.py
  depictio/dash/modules/table_component/utils.py
  depictio/dash/pages/management_app.py
  depictio/dash/profiling.py
  depictio/dash/utils.py
  depictio/models/s3_utils.py
  docker-images/run_dash.sh
  docker-images/run_fastapi.sh
Due: ty-check-models-api-dash-cli

refactor: clean up logging and fix edit-page-context error
  depictio/api/main.py
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/core_functions.py
  depictio/api/v1/tasks/cleanup_tasks.py
  depictio/dash/api_calls.py
  depictio/dash/components/workflow_logo_overlay.py
  depictio/dash/core/shared_auth.py
  depictio/dash/layouts/add_component_simple.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/consolidated_api.py
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/edit_component_simple.py
  depictio/dash/layouts/edit_page.py
  depictio/dash/layouts/save.py
  depictio/dash/layouts/shared_app_shell.py
  depictio/dash/layouts/sidebar.py
  depictio/dash/layouts/tab_callbacks.py
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/card_component/callbacks/design.py
  depictio/dash/modules/card_component/callbacks/edit.py
  depictio/dash/modules/figure_component/callbacks/design.py
  depictio/dash/modules/figure_component/callbacks/edit.py
  depictio/dash/modules/figure_component/callbacks/ui.py
  depictio/dash/modules/figure_component/parameter_discovery.py
  depictio/dash/modules/interactive_component/callbacks/core_interactivity.py
  depictio/dash/modules/interactive_component/callbacks/edit.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/pages/dashboard_viewer.py
  depictio/dash/utils.py
  docker-images/run_fastapi.sh
Due: ty-check-models-api-dash-cli

refactor: clean up stepper verbose logs and add guards for None values
  depictio/dash/layouts/add_component_simple.py
  depictio/dash/layouts/stepper.py
  depictio/dash/layouts/stepper_page.py
  depictio/dash/layouts/stepper_parts/part_one.py
  depictio/dash/layouts/stepper_parts/part_three.py
  depictio/dash/layouts/stepper_parts/part_two.py
  depictio/tests/api/v1/tasks/test_cleanup_tasks.py
Due: ty-check-models-api-dash-cli

refactor: clean up verbose logs in table, text, and multiqc components
  depictio/dash/modules/multiqc_component/frontend.py
  depictio/dash/modules/table_component/callbacks/design.py
  depictio/dash/modules/table_component/frontend.py
  depictio/dash/modules/text_component/frontend.py
Due: ty-check-models-api-dash-cli

fix: prevent input-dropdown-column callback from firing before component exists
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

fix: change workflow/dc from Input to State in interactive callback
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

fix: add type check for edit_context before calling .get()
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

feat: add gunicorn config with token masking in access logs
  depictio/api/gunicorn_conf.py
  depictio/api/logging_config.py
Due: ty-check-models-api-dash-cli

fix: correct parameter order in update_aggregation_options callback
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

fix: make slider mark labels visible in dark mode
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

fix: use dmc.Text for slider mark labels for dark mode support
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

fix: use default text color for slider marks instead of dimmed
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

fix: add root logger to gunicorn config and use standard access formatter
  depictio/api/gunicorn_conf.py
Due: ty-check-models-api-dash-cli

Bump version: 0.6.0-b4 → 0.6.0-b4
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.6.0-b4 → 0.6.0-b5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0-b5
  CHANGELOG.md
Due: none
