Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix(serverless): bind figures whose grouping column holds nulls
  depictio/serverless/binding.py
  depictio/serverless/scripts/measure_binding.py
  depictio/tests/unit/serverless/test_binding.py
  depictio/tests/unit/serverless/test_producer_b.py
Due: ty-check-models-api-dash-cli

feat(serverless): switch tabs inside the bundle, and say where it came from
  depictio/tests/e2e-playwright/tests/static-runtime/helpers.ts
  depictio/tests/e2e-playwright/tests/static-runtime/tabs.spec.ts
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/chrome/StaticProvenance.tsx
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/bundle.ts
  depictio/viewer/src/static-runtime/main.tsx
  depictio/viewer/src/static-runtime/tabApiShim.ts
  depictio/viewer/src/static-runtime/tabNav.ts
  depictio/viewer/vite-plugins/module-shim.ts
  depictio/viewer/vite.static.config.ts
  packages/depictio-react-core/src/components/chrome/StaticBadgeContext.tsx
  packages/depictio-static-core/fixtures/manifest-tabs.json
  packages/depictio-static-core/scripts/generate_tabs_fixture.py
Due: ty-check-models-api-dash-cli

fix(serverless): hand renderers numbers, not BigInts
  depictio/viewer/src/static-runtime/liveData.ts
Due: none

fix(serverless): carry the static runtime onto the post-rebase viewer
  depictio/viewer/src/static-runtime/useCurrentUserShim.ts
  packages/depictio-react-core/src/api.ts
Due: none

feat(serverless): manifest carries a tab family and export provenance
  depictio/models/models/serverless.py
  depictio/models/models/serverless.schema.json
  packages/depictio-static-core/fixtures/manifest-basic.json
  packages/depictio-static-core/src/manifest.ts
Due: ty-check-models-api-dash-cli

feat(serverless): compute box_plot_stats offline
  depictio/viewer/src/static-runtime/liveData.ts
  packages/depictio-static-core/src/engine/QueryEngine.ts
  packages/depictio-static-core/src/engine/aggregate.ts
  packages/depictio-static-core/test/engine/aggregate.test.ts
Due: none

feat(serverless): producer C - static-export API endpoints + Celery job (phase 8)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/endpoints/serverless_endpoints/__init__.py
  depictio/api/v1/endpoints/serverless_endpoints/routes.py
  depictio/serverless/producer_b.py
  depictio/tests/api/test_serverless_endpoints.py
Due: ty-check-models-api-dash-cli

fix(telemetry): stop our own CI reporting itself as an installation
  docker-compose.yaml
  helm-charts/depictio/values-gh-actions.yaml
Due: helm-lint

fix(telemetry): stop every event being filed as bot traffic
  depictio/telemetry/posthog.py
  depictio/tests/unit/test_telemetry_core.py
Due: ty-check-models-api-dash-cli

feat(telemetry): count CLI installations, not just CLI usage
  depictio/cli/cli/utils/telemetry.py
  depictio/cli/depictio_cli.py
  depictio/telemetry/schema.py
  depictio/telemetry/state.py
  depictio/tests/cli/utils/test_telemetry.py
  docs/telemetry.md
  scripts/gen_telemetry_docs.py
Due: ty-check-models-api-dash-cli

fix(telemetry): isolate the CLI check from the machine it runs on
  scripts/telemetry_cli_check.py
Due: none

Bump version: 1.5.0 → 1.5.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.5.1
  CHANGELOG.md
Due: none

feat(remote-data): manifest refresh endpoint + template catalog (phase 4 slice)
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/templates_catalog.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_templates_catalog.py
  docs/design/rfc-remote-data-manifests.md
Due: ty-check-models-api-dash-cli

feat(remote-data): async manifest refresh fan-out + builder UI (phase 4)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/templates_catalog.py
  depictio/api/v1/monitoring/store.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/e2e-playwright/tests/projects/create-from-manifest.spec.ts
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/ProjectsApp.tsx
  docs/design/rfc-remote-data-manifests.md
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(remote-data): per-project storage config (issue 383) — phase 4 complete
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/crypto.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/storage_config.py
  depictio/cli/cli/utils/deltatables.py
  depictio/models/models/cli.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_ingest_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_storage_config.py
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  depictio/viewer/src/projects/detail/StoragePanel.tsx
  docs/design/rfc-remote-data-manifests.md
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

docs(rfc): replace phase 5 auto-compose with template export
  docs/design/rfc-remote-data-manifests.md
Due: none

feat(templates): export a project + dashboards as a template bundle (phase 5)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/export_template.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/cli/cli/commands/template.py
  depictio/cli/depictio_cli.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_export_template.py
Due: ty-check-models-api-dash-cli

feat(manifest): demo kit + monitoring summary for url/manifest scan modes
  depictio/cli/cli/commands/run.py
  depictio/dev_scripts/demo_manifest/README.md
  depictio/dev_scripts/demo_manifest/generate.py
  depictio/tests/cli/commands/test_run_guards.py
Due: ty-check-models-api-dash-cli

feat(viewer): Export-as-template button on the project detail page
  depictio/viewer/src/projects/detail/ExportTemplateModal.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(ai): AIConfig settings, gated /ai router skeleton and status feature flags
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/ai_endpoints/__init__.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/tests/api/v1/endpoints/ai_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_ai_config.py
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

feat(viewer): create DC from URL + refresh-manifest button
  depictio/dev_scripts/demo_manifest/README.md
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(ai): port the AI backend core from the gR9q7 exploration branch
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/ai_endpoints/code_gen.py
  depictio/api/v1/endpoints/ai_endpoints/component_yaml.py
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/executor.py
  depictio/api/v1/endpoints/ai_endpoints/llm_client.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_component_yaml.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_executor.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_prompts.py
  depictio/tests/api/v1/test_deltatables_utils.py
Due: ty-check-models-api-dash-cli

feat(ai): suggest-figures and component-from-prompt endpoints
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_singleshot.py
Due: ty-check-models-api-dash-cli

feat(ai): analyze SSE loop, resolve-filters endpoint and filter resolver
  depictio/api/v1/endpoints/ai_endpoints/filter_resolver.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_filter_resolver.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_analyze.py
Due: ty-check-models-api-dash-cli

feat(ai): per-section summaries with hash-keyed Mongo cache
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/endpoints/ai_endpoints/summaries.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_summaries.py
Due: ty-check-models-api-dash-cli

feat(ai): depictio-react-ai package (drawer-less AI surface for the viewer)
  depictio/viewer/package.json
  packages/depictio-react-ai/package.json
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/AIAnalyzePanel.tsx
  packages/depictio-react-ai/src/components/AIKeySection.tsx
  packages/depictio-react-ai/src/components/ActionsPreview.tsx
  packages/depictio-react-ai/src/components/AddWithAIModal.tsx
  packages/depictio-react-ai/src/components/AiFillModal.tsx
  packages/depictio-react-ai/src/components/ExecutionTrace.tsx
  packages/depictio-react-ai/src/components/SectionSummary.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/store.ts
  packages/depictio-react-ai/src/types.ts
  packages/depictio-react-ai/tsconfig.json
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
  pnpm-lock.yaml
Due: none

feat(ai): mount the AI assistant in the viewer and editor
  depictio/viewer/scripts/generate-icon-subset.mjs
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/hooks/useServerStatus.ts
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/ExecutionTrace.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
Due: none

feat(ai): 'Add component → With AI…' flow and in-builder AI fill
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/CreateComponentPage.tsx
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/steps/StepDesign.tsx
  depictio/viewer/src/builder/store/useBuilderStore.ts
  depictio/viewer/src/chrome/Header.tsx
Due: none

feat(ai): on-demand per-section summaries in the viewer
  depictio/viewer/src/App.tsx
  packages/depictio-react-ai/src/components/SectionSummary.tsx
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: none

test(ai): deterministic e2e coverage + AI assistant docs
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  depictio/viewer/src/App.tsx
  docs/ai-assistant.md
Due: ty-check-models-api-dash-cli

feat(ai): apply AI figure mutations as transient render overrides
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_render_figure_patch.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
Due: ty-check-models-api-dash-cli

feat(ai): 'Summarize all' sweep across dashboard sections
  depictio/viewer/src/App.tsx
Due: none

feat(ai): figure suggestions inside the 'Add with AI' modal
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/AddWithAIModal.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
Due: none

test(ai): e2e coverage for figure mutations + suggestions, docs refresh
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  docs/ai-assistant.md
Due: ty-check-models-api-dash-cli

feat(viewer): global color-by, split display and per-group card comparison (#89)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/card_groups.py
  depictio/api/v1/services/card_metrics.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/api/v1/services/figure/groups.py
  depictio/projects/init/iris/.db_seeds/dashboard.json
  depictio/projects/init/iris/dashboards/overview.yaml
  depictio/projects/init/penguins/.db_seeds/dashboard.json
  depictio/projects/init/penguins/dashboards/species_analysis.yaml
  depictio/tests/api/v1/test_card_group_compare.py
  depictio/tests/api/v1/test_figure_groups.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/GroupingHeaderControl.tsx
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/card/GroupCompareStrip.tsx
  packages/depictio-react-core/src/components/interactive/ActiveFilterSummary.tsx
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/components/interactive/SelectionGroupsPanel.tsx
  packages/depictio-react-core/src/hooks/useColorByColumns.ts
  packages/depictio-react-core/src/hooks/useSelectionGroups.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selectionGroups.ts
Due: ty-check-models-api-dash-cli

fix(cards): keep All/Other rows neutral in rank-tinted card minis
  docs/images/selection-groups/analysis_panel.png
  docs/images/selection-groups/color_by_species.jpg
  docs/images/selection-groups/overview_groups_compare.jpg
  docs/images/selection-groups/split_by_species.jpg
  packages/depictio-react-core/src/components/card/metrics/format.ts
Due: none

feat(serverless): the preflight decides instead of guessing
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/serverless_endpoints/routes.py
  depictio/cli/cli/commands/dashboard.py
  depictio/serverless/binding.py
  depictio/serverless/preflight.py
  depictio/serverless/producer_a.py
  depictio/serverless/producer_b.py
  depictio/tests/api/test_serverless_endpoints.py
  depictio/tests/api/test_serverless_export.py
  depictio/tests/api/test_serverless_export_prologue.py
  depictio/tests/unit/serverless/test_advanced_viz_live.py
  depictio/tests/unit/serverless/test_links_producers.py
Due: ty-check-models-api-dash-cli

feat(viewer): export moves into settings, and the sidebar footer condenses
  depictio/tests/e2e-playwright/tests/export/export-static.spec.ts
  depictio/tests/e2e-playwright/tests/static-runtime/no-network.spec.ts
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/AppSidebar.tsx
  depictio/viewer/src/chrome/AuthModeBadge.tsx
  depictio/viewer/src/chrome/DepictioLogo.tsx
  depictio/viewer/src/chrome/ExportStaticModal.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/PoweredBy.tsx
  depictio/viewer/src/chrome/ProfileBadge.tsx
  depictio/viewer/src/chrome/ServerStatusBadge.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/chrome/SidebarFooter.tsx
  depictio/viewer/src/chrome/StaticProvenance.tsx
  depictio/viewer/src/chrome/ThemeToggle.tsx
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/bundle.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli
