Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

feat(remote-data): async manifest refresh fan-out + builder UI (phase 4)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/templates_catalog.py
  depictio/api/v1/monitoring/store.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/e2e-playwright/tests/projects/create-from-manifest.spec.ts
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/ProjectsApp.tsx
  docs/design/rfc-remote-data-manifests.md
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(manifest): demo kit + monitoring summary for url/manifest scan modes
  depictio/cli/cli/commands/run.py
  depictio/dev_scripts/demo_manifest/README.md
  depictio/dev_scripts/demo_manifest/generate.py
  depictio/tests/cli/commands/test_run_guards.py
Due: ty-check-models-api-dash-cli

docs(rfc): replace phase 5 auto-compose with template export
  docs/design/rfc-remote-data-manifests.md
Due: none

feat(remote-data): per-project storage config (issue 383) — phase 4 complete
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/crypto.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/storage_config.py
  depictio/cli/cli/utils/deltatables.py
  depictio/models/models/cli.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_ingest_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_storage_config.py
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  depictio/viewer/src/projects/detail/StoragePanel.tsx
  docs/design/rfc-remote-data-manifests.md
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(viewer): Export-as-template button on the project detail page
  depictio/viewer/src/projects/detail/ExportTemplateModal.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(templates): export a project + dashboards as a template bundle (phase 5)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/export_template.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/cli/cli/commands/template.py
  depictio/cli/depictio_cli.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_export_template.py
Due: ty-check-models-api-dash-cli

feat(remote-data): bind any data collection to local or remote data
  depictio/cli/cli/commands/manifest.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/bindings.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/templates.py
  depictio/cli/depictio_cli.py
  depictio/models/models/data_collections.py
  depictio/models/models/workflows.py
  depictio/tests/cli/commands/test_manifest_from_table.py
  depictio/tests/cli/commands/test_run_guards.py
  depictio/tests/cli/utils/test_bindings.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/cli/utils/test_templates.py
  depictio/tests/models/test_workflows.py
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  dev/diagrams/data_binding_schemas.py
  docs/images/data_binding_matrix.png
  docs/images/data_binding_matrix.svg
  docs/images/data_binding_no_manifest.png
  docs/images/data_binding_no_manifest.svg
  docs/images/data_binding_sharing.png
  docs/images/data_binding_sharing.svg
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

fix(templates): keep resolve_template data-root-optional after the rebase
  depictio/cli/cli/utils/templates.py
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

feat(config): declare the remote-read policy in settings and wire it end to end
  .env.example
  depictio/api/v1/configs/settings_models.py
  depictio/tests/api/v1/test_settings_models.py
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-compose/.env
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

fix(security): apply the SSRF gateway on the read path, not only at the API boundary
  depictio/api/v1/remote_fetch.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/unit/test_remote_fetch.py
Due: ty-check-models-api-dash-cli

fix(security): validate manifest entry URLs and template ids, keep pre-flight skips in refresh runs
  depictio/api/v1/endpoints/projects_endpoints/from_manifest.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/cli/cli/commands/template.py
  depictio/cli/cli/utils/templates.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_from_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_ingest_manifest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/cli/commands/test_template_export.py
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

fix(storage): resolve the Fernet key from the auth keys dir and give storage configs a full lifecycle
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/crypto.py
  depictio/api/v1/db.py
  depictio/api/v1/db_init.py
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/storage_config.py
  depictio/cli/cli/utils/backup_validation.py
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_create_from_url.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_storage_config.py
  depictio/tests/api/v1/test_demo_mode_regressions.py
  depictio/tests/api/v1/test_project_cascade_delete.py
Due: ty-check-models-api-dash-cli

fix(viewer): brand accents, disable instead of hide, readable error details; spec guard; docs
  depictio/dev_scripts/demo_manifest/README.md
  depictio/tests/e2e-playwright/tests/projects/create-from-manifest.spec.ts
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/detail/ExportTemplateModal.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  depictio/viewer/src/projects/detail/StoragePanel.tsx
  docs/design/rfc-remote-data-manifests.md
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

refactor(remote): one client shape for the CLI read path, fail-closed context check
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/remote_fetch.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/unit/test_remote_fetch.py
  depictio/viewer/src/projects/detail/StoragePanel.tsx
Due: ty-check-models-api-dash-cli

fix(models,export): idempotent description escaping, scan mode cross-check, runtime-free bundles
  depictio/api/v1/endpoints/projects_endpoints/export_template.py
  depictio/models/models/base.py
  depictio/models/models/data_collections.py
  depictio/models/models/workflows.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_export_template.py
  depictio/tests/models/test_base.py
  depictio/tests/models/test_data_collections.py
  depictio/tests/models/test_workflows.py
Due: ty-check-models-api-dash-cli

style: ruff-format drift in two CLI test files
  depictio/tests/cli/commands/test_manifest_from_table.py
  depictio/tests/cli/utils/test_bindings.py
Due: ty-check-models-api-dash-cli

style(tests): sort the settings test imports after the S3 rename
  depictio/tests/api/v1/test_settings_models.py
Due: ty-check-models-api-dash-cli

fix(models): clamp a text tile's heading level instead of rejecting it
  depictio/models/components/lite.py
Due: ty-check-models-api-dash-cli

test(models): an out-of-range text heading level is clamped, not rejected
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

feat(viewer): Generate with AI tab, progress panel and draft banner
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/DashboardInfoBody.tsx
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/DashboardsApp.tsx
  depictio/viewer/src/hooks/useServerStatus.ts
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/AIDraftBanner.tsx
  packages/depictio-react-ai/src/components/GenerateDashboardPanel.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

fix(compose): pass the dashboard generation flag to the dev backend
  docker-compose.dev.yaml
Due: none

refactor(dashboards): extract the import persistence tail; ai_generation draft flag
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/core_functions.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_import_persist.py
  depictio/tests/api/v1/test_catalog_compose_offers.py
  depictio/tests/models/test_dashboard_ai_generation.py
Due: ty-check-models-api-dash-cli

test(e2e): cover Suggestions mode; docs(ai): suggest-components
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  docs/ai-assistant.md
  docs/images/v1.4/ai/screenshots/suggestion_landed.png
  docs/images/v1.4/ai/screenshots/suggestions_auto.png
Due: ty-check-models-api-dash-cli

test(e2e): give the cold editor and the Describe remount more time
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  depictio/viewer/src/builder/steps/StepDescribe.tsx
Due: ty-check-models-api-dash-cli

fix(backup): list the ai_generations run records with the assistant's history
  depictio/cli/cli/utils/backup_validation.py
Due: ty-check-models-api-dash-cli

fix(ai): let an explicit section name lead its funnel stage
  depictio/api/v1/endpoints/ai_endpoints/dashboard_plan.py
Due: ty-check-models-api-dash-cli

feat(ai): generate-dashboard route streams a plan, its components and a draft
  depictio/api/v1/endpoints/ai_endpoints/dashboard_gen.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_generate.py
Due: ty-check-models-api-dash-cli

feat(ai): suggest-components route with per-type legal spaces
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/endpoints/ai_endpoints/suggest.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_suggest.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_suggest.py
Due: ty-check-models-api-dash-cli

feat(ai): plan normalisation, deterministic layout and schema checks
  depictio/api/v1/endpoints/ai_endpoints/dashboard_layout.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_plan.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_validate.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_layout.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_plan.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_validate.py
Due: ty-check-models-api-dash-cli

feat(viewer): Suggestions mode for every component type on Describe
  depictio/viewer/src/builder/ai/AISuggestionPreview.tsx
  depictio/viewer/src/builder/catalog/CatalogTab.tsx
  depictio/viewer/src/builder/catalog/renderConfig.ts
  depictio/viewer/src/builder/steps/StepDescribe.tsx
  depictio/viewer/src/builder/store/useBuilderStore.ts
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
Due: none

feat(ai): generation settings, plan prompt, project data context, run records
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/generations.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_ai_config.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_context.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_generations.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_prompts.py
  helm-charts/depictio/README.md
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/secrets.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

test(e2e): drive a mocked generation run and the draft banner; docs(ai): generation
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  docs/ai-assistant.md
Due: ty-check-models-api-dash-cli

feat(ai): settle a whole draft in one click, and pick every collection in one
  depictio/api/v1/endpoints/ai_endpoints/dashboard_gen.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_regenerate.py
  depictio/viewer/src/EditorApp.tsx
  docs/ai-assistant.md
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/DraftReviewPanel.tsx
  packages/depictio-react-ai/src/components/GenerateDashboardPanel.tsx
  packages/depictio-react-ai/src/types.ts
Due: ty-check-models-api-dash-cli

fix(viewer): draw the AI surfaces in the app's own icons and colours
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-ai/src/componentVisuals.ts
  packages/depictio-react-ai/src/components/DraftReviewPanel.tsx
  packages/depictio-react-ai/src/components/GenerationProgress.tsx
  packages/depictio-react-ai/src/index.ts
Due: none

feat(viewer): fold the draft review list by section, and by tab when there is one
  docs/ai-assistant.md
  packages/depictio-react-ai/src/components/DraftReviewPanel.tsx
Due: none

test(ai): catch the suites up with three behaviours this branch changed
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_validate.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_generate.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_regenerate.py
Due: ty-check-models-api-dash-cli

test(dashboards): the stored AI stamp carries its empty sections list
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_import_persist.py
Due: ty-check-models-api-dash-cli

feat(ai): a plan phase, the real cost of a run, and a render gate
  depictio/api/v1/endpoints/ai_endpoints/dashboard_gen.py
  depictio/api/v1/endpoints/ai_endpoints/generations.py
  depictio/api/v1/endpoints/ai_endpoints/llm_client.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_generations.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_generate.py
Due: ty-check-models-api-dash-cli

feat(viewer): review a draft from the banner, not from the tiles
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  depictio/viewer/src/EditorApp.tsx
  docs/ai-assistant.md
  packages/depictio-react-ai/src/components/AIDraftBanner.tsx
  packages/depictio-react-ai/src/components/DraftTileActions.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
Due: ty-check-models-api-dash-cli

fix(ai): stop offering visualizations that only fit the data by accident
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_probe.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_validate.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_context.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_probe.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_validate.py
Due: ty-check-models-api-dash-cli
