Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix: default docker-compose to stable tag; clean up CI image tag semantics
  .github/workflows/amd64-build.yaml
  .github/workflows/multi-arch-build.yaml
  docker-compose.yaml
Due: none

fix: latest tag follows most recent release (beta or stable)
  .github/workflows/amd64-build.yaml
  docker-compose.yaml
Due: none

Bump version: 0.7.3-b7 → 0.7.3-b8
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3-b7 → 0.7.3-b8
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.3-b8
  CHANGELOG.md
Due: none

Bump version: 0.7.3-b8 → 0.7.3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3-b8 → 0.7.3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.3
  CHANGELOG.md
Due: none

ci: fix multi-arch build — use native arm64 runner, drop QEMU
  .github/workflows/multi-arch-build.yaml
Due: none

ci: push amd64 tags immediately, upgrade to multi-arch on merge
  .github/workflows/multi-arch-build.yaml
Due: none

ci: add version input for manual workflow_dispatch
  .github/workflows/multi-arch-build.yaml
Due: none

ci: fix amd64 early tag push — use imagetools create after digest push
  .github/workflows/multi-arch-build.yaml
Due: none

ci: add docs repo notification to stable multi-arch build merge job
  .github/workflows/multi-arch-build.yaml
Due: none

fix: single-user auto-login as admin and /auth redirect to /dashboards
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/dash/pages/management_app.py
Due: ty-check-models-api-dash-cli

fix: discard stale local-store tokens after instance recreation in single-user mode
  depictio/dash/core/shared_auth.py
Due: ty-check-models-api-dash-cli

fix: correct MongoDB data path and improve docker-compose healthchecks
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-compose/.env
Due: none

fix: update .env for single-user mode configuration and clean up comments
  docker-compose/.env
Due: none

fix: update documentation link in .env.example for environment reference
  .env.example
Due: none

fix: update tests for _get_anonymous_user_session single-user mode branch
  depictio/tests/api/v1/endpoints/user_endpoints/test_core_functions.py
Due: ty-check-models-api-dash-cli

fix: enable CLI config generation in public/demo mode
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/dash/layouts/tokens_management.py
  docker-compose/.env
Due: ty-check-models-api-dash-cli

chore: replace Gitpod with GitHub Codespaces and remove Gitpod files
  .gitpod.Dockerfile
  .gitpod.yml
  README.md
  projects
  update-gitpod-env.sh
Due: none

chore: remove leftover analysis and summary markdown files
  COMPLETE_IMPLEMENTATION.md
  DASHBOARD_JSON_SCHEMA_ANALYSIS.md
  FINAL_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
  INITIALIZATION_FIX_SUMMARY.md
  INITIALIZATION_RACE_CONDITION_FIX.md
  JOIN_ERROR_FIX.md
  K8S_PERFORMANCE_OPTIMIZATIONS.md
  QUICK_DECISION_GUIDE.md
  SIMPLE_JSON_POC.py
  SIMPLIFIED_YAML_JSON_PROPOSAL.md
  YAML_DEPRECATION_SUMMARY.md
  YAML_MONGODB_ANALYSIS.md
Due: none

fix: restore theme callbacks registration alongside view_controls
  depictio/dash/modules/figure_component/callbacks/__init__.py
Due: ty-check-models-api-dash-cli

fix: critical bugs in figure customization system
  depictio/dash/modules/figure_component/callbacks/edit.py
  depictio/dash/modules/figure_component/callbacks/ui.py
  depictio/dash/modules/figure_component/utils.py
  docker-compose.dev.yaml
Due: ty-check-models-api-dash-cli

feat: add YAML customizations interface for highlights, ref lines, and presets
  depictio/dash/modules/figure_component/customizations/models.py
  depictio/dashboards_yaml/examples/threshold_highlight.yaml
  depictio/dashboards_yaml/examples/volcano_plot_customizations.yaml
  depictio/dashboards_yaml/examples/volcano_plot_preset.yaml
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/models/test_customizations_yaml.py
Due: ty-check-models-api-dash-cli

feat: add interactive figure customization controls in view mode
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/stepper_page.py
  depictio/dash/modules/figure_component/callbacks/ui.py
  depictio/dash/modules/figure_component/callbacks/view_controls.py
  depictio/dash/modules/figure_component/component_builder.py
  depictio/dash/modules/figure_component/utils.py
Due: ty-check-models-api-dash-cli

feat: complete interactive figure customization system implementation
  depictio/dash/celery_lock.py
  depictio/dash/modules/figure_component/callbacks/__init__.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/render.py
  depictio/dash/modules/figure_component/component_builder.py
  depictio/dash/modules/figure_component/customizations/processor.py
  depictio/dash/modules/figure_component/models.py
  depictio/models/yaml_serialization/compact_format.py
Due: ty-check-models-api-dash-cli

feat: add static/dynamic highlight types and fix multi-app callback registration
  depictio/dash/assets/css/components/draggable-grid.css
  depictio/dash/celery_lock.py
  depictio/dash/layouts/edit.py
  depictio/dash/modules/figure_component/callbacks/__init__.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/ui.py
  depictio/dash/modules/figure_component/callbacks/view_controls.py
  depictio/dash/modules/figure_component/component_builder.py
  depictio/dash/modules/figure_component/customizations/models.py
  depictio/dash/modules/figure_component/customizations/presets.py
  depictio/dash/modules/figure_component/customizations/processor.py
  depictio/dash/modules/figure_component/utils.py
Due: ty-check-models-api-dash-cli

feat(events): improve event service startup and add test endpoint
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/services/lifespan.py
  depictio/projects/test/image_demo/project.yaml
  dev/test_realtime_events.py
  docker-compose/.env
Due: ty-check-models-api-dash-cli

feat(events): add auto-refresh infrastructure for real-time component updates
  depictio/dash/assets/realtime-highlights.css
  depictio/dash/layouts/realtime_callbacks.py
  depictio/dash/layouts/shared_app_shell.py
Due: ty-check-models-api-dash-cli

fix(events): resolve WebSocket URL malformation and connection issues
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/middleware/analytics_middleware.py
  depictio/api/v1/services/events/connection_manager.py
  depictio/dash/layouts/realtime_callbacks.py
  depictio/dash/layouts/shared_app_shell.py
  pixi.lock
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

fix: resolve CI FileNotFoundError in test_yaml_path fixture
  depictio/tests/api/v1/endpoints/projects_endpoints/test_utils.py
  projects
Due: ty-check-models-api-dash-cli

fix: remove outdated test for CLI agent generation in public mode
  depictio/tests/api/v1/test_unauthenticated_mode.py
Due: ty-check-models-api-dash-cli

fix(realtime): scatter and table components now refresh on WebSocket data updates
  .devcontainer/scripts/allocate-ports.sh
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/agent_config_utils.py
  depictio/api/v1/json_response.py
  depictio/api/v1/services/events/connection_manager.py
  depictio/cli/cli/commands/dashboard.py
  depictio/cli/cli/utils/common.py
  depictio/cli/uv.lock
  depictio/dash/celery_lock.py
  depictio/dash/layouts/realtime_callbacks.py
  depictio/dash/modules/table_component/callbacks/core.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/pages/dashboard_viewer.py
  depictio/models/models/cli.py
  depictio/projects/test/image_demo/dashboard_lite.yaml
  depictio/projects/test/image_demo/images_data.csv
  depictio/projects/test/image_demo/project.yaml
  docker-compose/.env
  scripts/stream_test.sh
  uv.lock
Due: ty-check-models-api-dash-cli

feat: add embedded slider with highlight card for interactive figure customization
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/card_component/utils.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/ref_line_slider_component/__init__.py
  depictio/dash/modules/ref_line_slider_component/callbacks/__init__.py
  depictio/dash/modules/ref_line_slider_component/callbacks/core.py
  depictio/dash/modules/ref_line_slider_component/filter_utils.py
  depictio/dash/modules/ref_line_slider_component/utils.py
  depictio/dash/modules/table_component/callbacks/core.py
  depictio/dash/modules/table_component/utils.py
  depictio/dashboards_yaml/examples/iris_customizations.yaml
  depictio/models/components/lite.py
Due: ty-check-models-api-dash-cli

feat: implement dynamic table highlighting with cache-busting for slider-controlled filters
  .devcontainer/scripts/allocate-ports.sh
  depictio/api/v1/configs/CLAUDE.md
  depictio/api/v1/endpoints/events_endpoints/CLAUDE.md
  depictio/api/v1/services/CLAUDE.md
  depictio/api/v1/services/events/CLAUDE.md
  depictio/api/v1/services/events/connection_manager.py
  depictio/cli/uv.lock
  depictio/dash/assets/css/components/CLAUDE.md
  depictio/dash/assets/css/components/table-component-vertical-growing.css
  depictio/dash/celery_lock.py
  depictio/dash/component_metadata.py
  depictio/dash/layouts/CLAUDE.md
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/customizations/processor.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/ref_line_slider_component/callbacks/core.py
  depictio/dash/modules/table_component/callbacks/core.py
  depictio/dash/modules/table_component/utils.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/pages/dashboard_viewer.py
  depictio/dashboards_yaml/examples/iris_customizations.yaml
  depictio/models/models/dashboards.py
Due: ty-check-models-api-dash-cli

fix: auto-create admin user in single-user mode to resolve E2E test race condition
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/projects/test/image_demo/dashboard_lite.yaml
  depictio/tests/api/v1/endpoints/user_endpoints/test_core_functions.py
Due: ty-check-models-api-dash-cli

fix: enable single-user mode in CI and standardize setting name usage
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
