Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

Add performance benchmark harness (datasets + runner + report)
  .gitignore
  benchmark/README.md
  benchmark/__init__.py
  benchmark/cli.py
  benchmark/configgen.py
  benchmark/datagen.py
  benchmark/matrix.py
  benchmark/metrics.py
  benchmark/report.py
  benchmark/runner.py
  depictio/api/v1/configs/benchmark_dataset_generator.py
  depictio/tests/unit/test_benchmark_harness.py
Due: ty-check-models-api-dash-cli

docs(blog): add templates and tools-catalog logos to What's next
  docs/blog/depictio-1-0.md
Due: none

feat(monitoring): runtime log-capture level control + UI ingestion ledger
  depictio/api/v1/endpoints/datacollections_endpoints/table_manage.py
  depictio/api/v1/endpoints/monitoring_endpoints/routes.py
  depictio/api/v1/monitoring/log_handler.py
  depictio/api/v1/monitoring/task_signals.py
  depictio/api/v1/services/figure/code_mode.py
  depictio/models/models/monitoring.py
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(render): figure/table row caps, point downsampling & cheap row-count
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/models/components/figure.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/test_figure_sampling.py
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
  depictio/viewer/src/builder/table/TableBuilder.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
Due: ty-check-models-api-dash-cli

fix(monitoring): gate WS probe on events_enabled to stop 403 reconnect loop
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
Due: none

perf(bench): ingest throughput + per-type report sections
  benchmark/metrics.py
  benchmark/report.py
  benchmark/runner.py
Due: none

perf(cli): per-phase ingest timing (parse/collect/write/upload) + peak RSS
  depictio/cli/cli/commands/images.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/helpers.py
  depictio/cli/cli/utils/ingest_timing.py
  depictio/cli/cli/utils/multiqc_processor.py
Due: ty-check-models-api-dash-cli

perf(bench): ingestion benchmark for table / MultiQC / images
  benchmark/cli.py
  benchmark/configgen.py
  benchmark/datagen.py
  benchmark/matrix.py
  benchmark/metrics.py
  benchmark/report.py
  benchmark/runner.py
Due: none

feat(monitoring): granular ingestion steps, task-detail titles, lazy panels
  depictio/api/v1/endpoints/monitoring_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/monitoring/task_signals.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/api_calls.py
  depictio/models/models/monitoring.py
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

feat(monitoring): capture CLI command, local paths + per-DC breakdown; live-step scaffold
  depictio/api/v1/endpoints/monitoring_endpoints/routes.py
  depictio/api/v1/monitoring/store.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/api_calls.py
  depictio/models/models/monitoring.py
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

docs(monitoring): refresh Log & Task screenshots + ingestion detail/live shots
  dev/playwright_debug/docs_screenshots.py
  docs/images/v0.12/react/admin_monitoring_ingestion_dark.png
  docs/images/v0.12/react/admin_monitoring_ingestion_detail_dark.png
  docs/images/v0.12/react/admin_monitoring_ingestion_detail_light.png
  docs/images/v0.12/react/admin_monitoring_ingestion_light.png
  docs/images/v0.12/react/admin_monitoring_ingestion_live_dark.png
  docs/images/v0.12/react/admin_monitoring_ingestion_live_light.png
  docs/images/v0.12/react/admin_monitoring_logs_dark.png
  docs/images/v0.12/react/admin_monitoring_logs_light.png
  docs/images/v0.12/react/admin_monitoring_task_detail_dark.png
  docs/images/v0.12/react/admin_monitoring_task_detail_light.png
  docs/images/v0.12/react/admin_monitoring_tasks_dark.png
  docs/images/v0.12/react/admin_monitoring_tasks_light.png
Due: none

docs(monitoring): refresh Health screenshots; wait for metric cards
  dev/playwright_debug/docs_screenshots.py
  docs/images/v0.12/react/admin_monitoring_health_dark.png
  docs/images/v0.12/react/admin_monitoring_health_light.png
Due: none

Bump version: 1.2.0 → 1.2.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.2.0 → 1.2.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.2.1
  CHANGELOG.md
Due: none

perf(cli): opt-in streamed Delta write to bound ingest memory
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/deltatables.py
  depictio/tests/cli/utils/test_deltatable_streaming.py
Due: ty-check-models-api-dash-cli

perf(cli): opt-in parallel MultiQC report parsing
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/tests/cli/utils/test_multiqc_parse_parallel.py
Due: ty-check-models-api-dash-cli

perf(cli): resolve existing image keys with one LIST instead of N HEADs
  depictio/cli/cli/commands/images.py
  depictio/tests/cli/utils/test_image_existing_keys.py
Due: ty-check-models-api-dash-cli

refactor(cli): drop the type: ignore comments added with the ingest work
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/ingest_timing.py
Due: ty-check-models-api-dash-cli

perf(cli): opt-in parallel multi-data-collection ingestion
  depictio/cli/cli/utils/process.py
  depictio/tests/cli/utils/test_multi_dc_parallel.py
Due: ty-check-models-api-dash-cli

perf(api): stop materialising the delta table in the upsert event payload
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
  depictio/viewer/src/builder/table/TableBuilder.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/chrome/LoadAllButton.tsx
Due: ty-check-models-api-dash-cli

perf(bench): make the harness survive and characterise the 1GB tier
  benchmark/README.md
  benchmark/blog_metrics.py
  benchmark/cli.py
  benchmark/configgen.py
  benchmark/matrix.py
  benchmark/metrics.py
  benchmark/report.py
  benchmark/runner.py
  depictio/tests/unit/test_benchmark_harness.py
  docker-compose.bench.yaml
Due: ty-check-models-api-dash-cli

perf(api): scan-level aggregation pushdown for figures and cards
  depictio/api/v1/celery_dispatch.py
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/models/models/dashboards.py
  depictio/tests/unit/test_card_aggregation.py
  depictio/tests/unit/test_figure_aggregate.py
Due: ty-check-models-api-dash-cli

feat(viewer): bounded render payloads with an explicit load-all escape hatch
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/advanced_viz/DaBarplotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MARenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/StackedTaxonomyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/VolcanoRenderer.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/fetchQueue.ts
Due: none

chore: refresh seeded dashboard screenshots and cli uv.lock
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8cbe_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8cbe_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8cc2_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8cc2_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d00_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d00_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d13_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d13_light.png
  depictio/api/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/api/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/api/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/api/static/screenshots/6824cb3b89d2b72169309738_light.png
  depictio/cli/uv.lock
Due: ty-check-models-api-dash-cli

docs(bench): handoff notes for the ingest-path memory blowup
  benchmark/HANDOFF_ingest_memory.md
Due: none

chore(bench): ignore per-run benchmark output directories
  .gitignore
Due: none

perf(cli): cluster Delta tables on the columns they get filtered by
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/process.py
  depictio/tests/unit/test_delta_clustering.py
Due: ty-check-models-api-dash-cli

perf(api): keep categorical filters pushable into the parquet scan
  depictio/api/v1/deltatables_utils.py
  depictio/tests/api/v1/test_categorical_filter_pushdown.py
  depictio/tests/api/v1/test_column_projection.py
  depictio/tests/api/v1/test_deltatables_utils.py
Due: ty-check-models-api-dash-cli

perf(api): compute column specs from a lazy scan instead of the whole frame
  benchmark/HANDOFF_ingest_memory.md
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
  depictio/tests/api/v1/test_precompute_columns_specs.py
Due: ty-check-models-api-dash-cli

perf(api): sample advanced-viz data across the whole frame, not its prefix
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/tests/unit/test_advanced_viz_sampling.py
Due: ty-check-models-api-dash-cli

perf(api): opt-in per-group sampling for box-plot quartiles
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/tests/unit/test_figure_aggregate.py
Due: ty-check-models-api-dash-cli

perf(api): resolve cross-DC link filters once per fan-out, and lazily
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/links_endpoints/routes.py
  depictio/api/v1/filter_links.py
  depictio/tests/unit/test_link_filter_memoization.py
  depictio/tests/unit/test_link_graph_traversal.py
Due: ty-check-models-api-dash-cli

perf(api,viewer): stop sorting tables past a row ceiling, and page at scan level
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/TableRenderer.tsx
Due: ty-check-models-api-dash-cli

feat(viewer): drop superseded render fetches, and follow a settled filter
  depictio/viewer/src/App.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/DaBarplotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MARenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/StackedTaxonomyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/VolcanoRenderer.tsx
  packages/depictio-react-core/src/fetchQueue.ts
  packages/depictio-react-core/src/index.ts
Due: none

fix(viewer): budget WebGL contexts so scatter markers stop vanishing
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizPlot.tsx
  packages/depictio-react-core/src/components/advanced_viz/CoverageTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/LollipopRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MARenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ManhattanRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/PhylogeneticRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/QQRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/VolcanoRenderer.tsx
  packages/depictio-react-core/src/webglBudget.ts
Due: none

perf(bench): realistic linked topology, cold/warm opens, and first-paint timing
  benchmark/README.md
  benchmark/blog_metrics.py
  benchmark/cli.py
  benchmark/configgen.py
  benchmark/datagen_linked.py
  benchmark/matrix.py
  benchmark/metrics.py
  benchmark/profile.py
  benchmark/report.py
  benchmark/runner.py
  depictio/tests/unit/test_benchmark_harness.py
  depictio/tests/unit/test_benchmark_linked_dataset.py
  docker-compose.bench.yaml
Due: ty-check-models-api-dash-cli

chore: refresh seeded dashboard screenshots
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d12_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d12_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d43_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d43_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d46_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d46_light.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9ca2_dark.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9ca2_light.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb5_dark.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb5_light.png
Due: ty-check-models-api-dash-cli

refactor(api): drop the type: ignore comments added with the specs rewrite
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
