Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

feat: implement colored ASCII logo display with scaling options and black & white version support
  depictio/cli/depictio_cli.py
  dev/cli-ascii-art/logo.py
Due: ty-check-models-api-dash-cli

feat: add textual dependency for enhanced terminal UI support
  pyproject.toml
Due: none

Delete demo.cast
  demo.cast
Due: none

refactor: remove excessive logging and unused settings checks in API and layout files
  depictio/dash/api_calls.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/save.py
  depictio/dash/modules/figure_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: add callback to sync dict_kwargs from stored metadata and log component metadata
  depictio/dash/modules/figure_component/frontend.py
  depictio/dash/modules/figure_component/utils.py
Due: ty-check-models-api-dash-cli

feat: add callback to close edit modal and update AG Grid theme based on current theme
  depictio/dash/layouts/stepper.py
Due: ty-check-models-api-dash-cli

feat: enhance component removal logging and update metadata handling for code-generated figures
  depictio/dash/layouts/save.py
  depictio/dash/modules/figure_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: update callback to return modified draggable children without direct state modification
  depictio/dash/layouts/draggable.py
Due: ty-check-models-api-dash-cli

feat: enhance button enabling logic by incorporating visualization type selection
  depictio/dash/modules/figure_component/frontend.py
Due: ty-check-models-api-dash-cli

dev: Implement working async grid layout with dynamic component loading
  dev/dash-dynamic-grid-layout/stress_test_async.py
  dev/dash-dynamic-grid-layout/stress_test_sync.py
  dev/dash-dynamic-grid-layout/working_async_grid.functional.py
Due: none

feat: implement adaptive memory management for DataFrame loading and caching
  depictio/api/v1/deltatables_utils.py
Due: ty-check-models-api-dash-cli

feat: enhance cleanup tasks with flexible interval parameters and update tests
  depictio/api/main.py
  depictio/api/v1/tasks/cleanup_tasks.py
  depictio/tests/api/v1/tasks/test_cleanup_tasks.py
Due: ty-check-models-api-dash-cli

feat: enhance draggable component handling with detailed logging and layout preservation
  depictio/dash/layouts/draggable.py
Due: ty-check-models-api-dash-cli

feat: optimize DataFrame loading by applying metadata filters during lazy scan
  depictio/api/v1/deltatables_utils.py
Due: ty-check-models-api-dash-cli

chore: disable UMAP visualization for now
  depictio/dash/modules/figure_component/parameter_discovery.py
Due: ty-check-models-api-dash-cli

fix: add validation to prevent reassignment of 'df' variable in user code
  depictio/dash/modules/figure_component/simple_code_executor.py
Due: ty-check-models-api-dash-cli

fix: modify DataFrame loading to cache full dataset and apply filters in memory for improved efficiency and prevent cached interactive filters
  depictio/api/v1/deltatables_utils.py
Due: ty-check-models-api-dash-cli

feat: enhance cleanup of expired temporary users by deleting associated projects, dashboards, files, and deltatables
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/dash/api_calls.py
  depictio/dash/layouts/profile.py
  depictio/dash/layouts/projects.py
Due: ty-check-models-api-dash-cli

fix: improve error handling in cleanup of expired temporary users by adding try-except blocks for project, deltatable, dashboard, and file deletions
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
Due: ty-check-models-api-dash-cli

test: enhance load_deltatable_lite test by adding size mock for lazy loading path
  depictio/tests/api/v1/test_deltatables_utils.py
Due: ty-check-models-api-dash-cli

Bump version: 0.2.1 → 0.3.0
  .bumpversion.cfg
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.3.0
  CHANGELOG.md
Due: none

Update .env
  docker-compose/.env
Due: none

chore: Enhance logging in API calls and data collection processing functions
  depictio/api/v1/endpoints/utils_endpoints/process_data_collections.py
  depictio/cli/cli/utils/api_calls.py
Due: ty-check-models-api-dash-cli

feat: Add persistent volume claims for config and uploads, enhance backend and frontend resource configurations ; enhance EMBL config and set up EMBL S3 MinIO instance (not pushed)
  .gitignore
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/pvcs.yaml
  helm-charts/depictio/values-embl-unauth.yaml
  helm-charts/depictio/values-no-ingress.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix: Normalize column data types in precompute_columns_specs function
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
Due: ty-check-models-api-dash-cli

fix: Add project-specific labels to service selectors in services.yaml
  helm-charts/depictio/templates/services.yaml
Due: helm-lint

fix: Update pod selectors in Helm chart workflow to include release name for accurate identification
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

fix: Update authentication configuration in values.yaml to set defaults for unauthenticated mode and anonymous user
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix: Enhance pod status and log checks in Helm chart workflow for better debugging
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

fix: Add init container to fix permissions for frontend mounted volumes
  helm-charts/depictio/templates/deployments.yaml
Due: helm-lint

fix: Update ownership and permissions for frontend mounted directories to match security context
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

refactor: Implement robust typing commands for improved input reliability in tests
  depictio/tests/e2e-tests/cypress/e2e/auth/create-cli-config.cy.js
  depictio/tests/e2e-tests/cypress/e2e/auth/edit-password.cy.js
  depictio/tests/e2e-tests/cypress/e2e/auth/logout.cy.js
  depictio/tests/e2e-tests/cypress/e2e/dashboards_management/create-dashboard.cy.js
  depictio/tests/e2e-tests/cypress/e2e/projects_management/project-permissions.cy.js
  depictio/tests/e2e-tests/cypress/support/commands.js
Due: ty-check-models-api-dash-cli

fix: Ensure depictio_run_id is included in joins for proper run isolation
  depictio/api/v1/deltatables_utils.py
  depictio/dash/layouts/stepper.py
Due: ty-check-models-api-dash-cli

refactor: Standardize import statements across multiple files for consistency
  depictio/dash/components/depictio_cytoscape_joins.py
  depictio/dash/core/app_factory.py
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/layouts_toolbox.py
  depictio/dash/layouts/profile.py
  depictio/dash/layouts/project_data_collections.py
  depictio/dash/layouts/projects.py
  depictio/dash/layouts/projectwise_user_management.py
  depictio/dash/layouts/save.py
  depictio/dash/layouts/stepper_parts/part_one.py
  depictio/dash/layouts/users_management.py
  depictio/dash/modules/card_component/frontend.py
  depictio/dash/modules/card_component/utils.py
  depictio/dash/modules/figure_component/frontend.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/interactive_component/frontend.py
  depictio/dash/modules/interactive_component/utils.py
  depictio/dash/modules/table_component/frontend.py
  depictio/dash/modules/table_component/utils.py
Due: ty-check-models-api-dash-cli

refactor: Reorganize import statements for consistency across multiple files
  depictio/dash/components/depictio_cytoscape_joins.py
  depictio/dash/core/app_factory.py
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/layouts_toolbox.py
  depictio/dash/layouts/profile.py
  depictio/dash/layouts/project_data_collections.py
  depictio/dash/layouts/projects.py
  depictio/dash/layouts/projectwise_user_management.py
  depictio/dash/layouts/save.py
  depictio/dash/layouts/stepper_parts/part_one.py
  depictio/dash/layouts/users_management.py
  depictio/dash/modules/card_component/frontend.py
  depictio/dash/modules/card_component/utils.py
  depictio/dash/modules/figure_component/frontend.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/interactive_component/frontend.py
  depictio/dash/modules/interactive_component/utils.py
  depictio/dash/modules/table_component/frontend.py
  depictio/dash/modules/table_component/utils.py
Due: ty-check-models-api-dash-cli

fix: Pin optional dependencies to specific versions for consistency
  pyproject.toml
Due: none

fix: Adjust resource limits and update logging verbosity for backend services
  depictio/api/v1/deltatables_utils.py
  depictio/tests/api/v1/test_deltatables_utils.py
Due: ty-check-models-api-dash-cli

refactor: Standardize import statements across multiple files for consistency
  depictio/dash/layouts/about.py
  depictio/dash/layouts/admin_management.py
  depictio/dash/layouts/admin_notifications.py
  depictio/dash/layouts/consolidated_api.py
  depictio/dash/layouts/draggable_scenarios/graphs_interactivity.py
  depictio/dash/layouts/draggable_scenarios/progressive_loading.py
  depictio/dash/layouts/header.py
  depictio/dash/layouts/notes_footer.py
  depictio/dash/layouts/palette.py
  depictio/dash/layouts/sidebar.py
  depictio/dash/layouts/stepper_parts/part_three.py
  depictio/dash/layouts/stepper_parts/part_two.py
  depictio/dash/layouts/tokens_management.py
  depictio/dash/layouts/upgrade_modal.py
  depictio/dash/modules/figure_component/code_mode.py
  depictio/dash/modules/figure_component/component_builder.py
  depictio/dash/modules/jbrowse_component/frontend.py
  depictio/dash/modules/jbrowse_component/utils.py
  depictio/dash/modules/text_component/frontend.py
  depictio/dash/modules/text_component/utils.py
  depictio/dash/theme_utils.py
Due: ty-check-models-api-dash-cli
