Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

refactor(local): small helpers for up, export-compose in its own module
  .github/workflows/local-server-smoke.yaml
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_compose.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  depictio/tests/cli/commands/test_local_commands.py
  depictio/tests/cli/commands/test_local_compose.py
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

ci(local): drive depictio local up with Playwright
  .github/workflows/local-server-smoke.yaml
  depictio/tests/e2e-playwright/tests/local/local-mode.spec.ts
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

refactor(local): one owner-only write helper, one list of examples
  depictio/cli/cli/local_compose.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
Due: ty-check-models-api-dash-cli

fix(local): wait only for examples being seeded, owner-only export, no proxy on loopback
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_compose.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  depictio/tests/cli/commands/test_local_commands.py
  depictio/tests/cli/commands/test_local_compose.py
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

fix(local): wait for the examples before saying ready
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
Due: ty-check-models-api-dash-cli

ci(pypi): publish depictio and the two plotly packages on a release tag
  .github/workflows/local-server-smoke.yaml
  .github/workflows/publish-pypi.yaml
  packages/plotly-complexheatmap/pyproject.toml
  packages/plotly-upset/pyproject.toml
  pyproject.toml
  scripts/check_depictio_wheel.py
Due: none

fix(local): open the exported SeaweedFS to the Compose network
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
Due: ty-check-models-api-dash-cli

test(local): open the dashboards grid explicitly in the local e2e
  depictio/tests/e2e-playwright/tests/local/local-mode.spec.ts
Due: ty-check-models-api-dash-cli

fix(packaging): ship the dashboard seeds in the wheel
  pyproject.toml
Due: none

fix(figures): lock the brand-theme patch of the Plotly templates
  depictio/api/v1/services/figure/mantine_templates.py
  depictio/tests/unit/test_mantine_templates_race.py
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

fix(cli): report the version of the depictio package too
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/commands/standalone.py
  depictio/cli/cli/local_compose.py
  depictio/cli/cli/utils/telemetry.py
  depictio/cli/depictio_cli.py
  depictio/tests/cli/commands/test_local_compose.py
  depictio/tests/cli/utils/test_telemetry.py
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

feat(cli): add `depictio local` to run the full server without Docker
  .github/workflows/local-server-smoke.yaml
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/screenshot_service.py
  depictio/api/v1/utils.py
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/cli/depictio_cli.py
  depictio/tests/cli/commands/test_local.py
  depictio/tests/unit/test_install_paths.py
  depictio/version.py
  dev/design/local-server-profile.md
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

docs(local): a same-code schema sized for a documentation column
  dev/diagrams/local_server.py
Due: none

fix(local): give weed mini a free port for each internal service
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

fix(local): run on Linux and macOS, x86_64 and arm64
  .github/workflows/local-server-smoke.yaml
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

feat(local): hand a local server over to Docker Compose
  .github/workflows/local-server-smoke.yaml
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
Due: ty-check-models-api-dash-cli

docs(local): say what the local stack does use from conda
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
Due: none

test(local): wait for the iris Delta table before the local specs
  depictio/tests/e2e-playwright/tests/local/local-mode.spec.ts
Due: ty-check-models-api-dash-cli

docs(local): redraw the two schemas as pictures rather than boxes of text
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_same_code.png
  docs/images/v1.4/local/schema_same_code.svg
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
Due: none

ci(local): test the Compose hand-over on this commit's images
  .github/workflows/depictio-ci.yaml
  .github/workflows/local-server-smoke.yaml
Due: none

build(local): an 8.6 MB wheel with iris and penguins as examples
  .github/workflows/local-server-smoke.yaml
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  docker-images/Dockerfile.worker
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

docs(local): give the screenshots neutral file names
  dev/design/local-server-profile.md
  docs/images/v1.4/local/screenshots/rnaseq_01.png
  docs/images/v1.4/local/screenshots/rnaseq_02.png
  docs/images/v1.4/local/screenshots/rnaseq_03.png
  docs/images/v1.4/local/screenshots/rnaseq_04.png
  docs/images/v1.4/local/screenshots/rnaseq_05.png
  docs/images/v1.4/local/screenshots/rnaseq_06.png
  docs/images/v1.4/local/screenshots/rnaseq_07.png
Due: none

test(local): open the dashboards grid through the shared DASHBOARDS_GRID_URL
  depictio/tests/e2e-playwright/tests/local/local-mode.spec.ts
Due: ty-check-models-api-dash-cli

feat(local): run SeaweedFS instead of MinIO, like the Docker stack
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  dev/design/local-server-profile.md
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_same_code.png
  docs/images/v1.4/local/schema_same_code.svg
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
  docs/images/v1.4/local/screenshots/rnaseq_01.png
  docs/images/v1.4/local/screenshots/rnaseq_02.png
  docs/images/v1.4/local/screenshots/rnaseq_03.png
  docs/images/v1.4/local/screenshots/rnaseq_05.png
  docs/images/v1.4/local/screenshots/rnaseq_06.png
  docs/images/v1.4/local/screenshots/rnaseq_07.png
Due: ty-check-models-api-dash-cli

build: leave the maintainer scripts in depictio/dev_scripts out of the wheel
  pyproject.toml
  scripts/check_depictio_wheel.py
Due: none

docs(local): diagrams, screenshots and a server vs CLI comparison
  dev/design/local-server-profile.md
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_same_code.png
  docs/images/v1.4/local/schema_same_code.svg
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
  docs/images/v1.4/local/screenshots/rnaseq_gene_explorer.png
  docs/images/v1.4/local/screenshots/rnaseq_heatmap.png
  docs/images/v1.4/local/screenshots/rnaseq_multiqc_filter_gm12878.png
  docs/images/v1.4/local/screenshots/rnaseq_multiqc_panels_closed.png
  docs/images/v1.4/local/screenshots/rnaseq_multiqc_panels_open.png
  docs/images/v1.4/local/screenshots/rnaseq_overview_filter_gm12878.png
  docs/images/v1.4/local/screenshots/rnaseq_overview_no_filter.png
Due: none

ci(local): build the viewer without sourcemaps and with a 4 GB heap
  .github/workflows/local-server-smoke.yaml
Due: none

fix(celery): release MultiQC locks held by a task whose worker died
  depictio/api/celery_app.py
  depictio/tests/unit/test_multiqc_lock_release.py
Due: ty-check-models-api-dash-cli

fix(local): stable ports, safe stops and a clear first run
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  depictio/tests/cli/commands/test_local_commands.py
Due: ty-check-models-api-dash-cli

Bump version: 1.11.2 → 1.12.0-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.12.0-b1
  CHANGELOG.md
Due: none

ci(deploy): deploy every tag to EMBL dev again, demo by hand only
  .github/workflows/deploy-embl-selfhosted.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
Due: helm-lint

ci(deploy): drop the EMBL demo deploy from the workflow
  .github/workflows/deploy-embl-selfhosted.yaml
Due: none

ci(deploy): restore the manual EMBL demo deploy
  .github/workflows/deploy-embl-selfhosted.yaml
Due: none

docs(recipes): schema of a recipe's contract, inputs and output
  dev/diagrams/recipe_output_schema.py
  docs/images/recipe-output-schema_contract.png
  docs/images/recipe-output-schema_contract.svg
Due: none

docs(recipes): redraw the contract schema as an annotated recipe
  dev/diagrams/recipe_output_schema.py
  docs/images/recipe-output-schema_contract.png
  docs/images/recipe-output-schema_contract.svg
Due: none

feat(recipes): check each source against its input_schema before transform()
  depictio/cli/cli/commands/recipe.py
  depictio/cli/cli/utils/deltatables.py
  depictio/models/models/transforms.py
  depictio/projects/nf-core/ampliseq/2.18.0/generate_canonical_seeds.py
  depictio/recipes/__init__.py
  depictio/tests/cli/commands/test_recipe.py
  depictio/tests/cli/utils/test_recipes.py
  docs/design/bioinformatics-catalog.md
Due: ty-check-models-api-dash-cli

docs(recipes): schema of the input and output schema checkpoints
  dev/diagrams/recipe_input_schema.py
  docs/images/recipe-input-schema_checkpoints.png
  docs/images/recipe-input-schema_checkpoints.svg
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
