Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

refactor(viewer): present the component's section as collapsed placement
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
  depictio/viewer/src/builder/interactive/InteractiveBuilder.tsx
  depictio/viewer/src/builder/shared/DesignShell.tsx
  depictio/viewer/src/builder/shared/PlacementSection.tsx
  depictio/viewer/src/builder/steps/StepDesign.tsx
Due: none

feat(viewer): link the dashboard's project to its detail page
  depictio/viewer/src/chrome/DashboardInfoBody.tsx
Due: none

feat(cli): make bundled template seeds ingestible by depictio-cli
  depictio/api/v1/db_init_reference_datasets.py
  depictio/cli/cli/utils/templates.py
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

feat(viewer): offer the ingestion report for every project, not just templates
  depictio/viewer/src/chrome/DashboardInfoBody.tsx
  depictio/viewer/src/projects/detail/IngestionReportPanel.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
Due: none

fix(dashboards): a text component keeps its tag across the round-trip
  depictio/models/models/dashboards.py
  depictio/tests/models/test_filter_sections.py
Due: ty-check-models-api-dash-cli

fix(e2e): reach the builder through the editor's Add menu
  depictio/tests/e2e-playwright/tests/dashboards/filters-into-builder.spec.ts
  depictio/viewer/src/chrome/Header.tsx
Due: ty-check-models-api-dash-cli

test(e2e): give the cross-tab spec room for two dashboard loads
  depictio/tests/e2e-playwright/tests/dashboards/cross-tab-persistence.spec.ts
Due: ty-check-models-api-dash-cli

fix(builder): make the MultiQC badge visible on the data source step
  depictio/viewer/src/builder/componentTypes.ts
  depictio/viewer/src/builder/steps/StepData.tsx
Due: none

Bump version: 1.5.2 → 1.6.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.6.0
  CHANGELOG.md
Due: none

feat(helm): Percona-operator HA mongo for EMBL internal tenant
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values-embl-internal-dev.yaml
  helm-charts/depictio/values-embl-internal-prod.yaml
Due: helm-lint

chore(scripts): mongodump helper for K8s deployments (EMBL + generic)
  depictio/dev_scripts/k8s_mongo_backup.sh
Due: none

Keep Create Data Collection reachable while the section is collapsed
  depictio/viewer/src/projects/detail/LinksSection.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

Split a data collection's metatype and its map capability
  depictio/viewer/src/projects/dcBadges.tsx
  depictio/viewer/src/projects/detail/CoordinatesMapPreview.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

Make a geo table its own DC type flavour instead of a capability
  depictio/viewer/src/projects/dcBadges.tsx
  depictio/viewer/src/projects/dcMetatype.tsx
  depictio/viewer/src/projects/dcTypeIcon.tsx
  depictio/viewer/src/projects/detail/CoordinatesMapPreview.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

Show Geomap beside a table's type, not instead of it
  depictio/viewer/src/projects/dcTypeIcon.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

Stop a roleless viz kind recommending itself on shape alone
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/models/test_advanced_viz_suggestions.py
Due: ty-check-models-api-dash-cli

Draw every DC type with the shared type glyph
  depictio/viewer/src/builder/multiqc/MultiQCBuilder.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

Render a DC type identically in the manager and the viewer
  depictio/viewer/src/projects/dcTypeIcon.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

fix(tests): unbreak main — assert seed visibility pass-through, not a fixed flag
  depictio/tests/api/v1/test_demo_mode_regressions.py
Due: ty-check-models-api-dash-cli

fix(viewer): drop the duplicate filter-count badge, pin the funnel chart's margin
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/components/interactive/FunnelView.tsx
Due: none

feat(viewer): real Plotly funnel view, reorderable stages, funnel on by default
  depictio/models/models/dashboards.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/components/interactive/FunnelView.tsx
Due: ty-check-models-api-dash-cli

feat(viewer): inspect a link's mapping from the links table
  depictio/viewer/src/projects/detail/LinkEditModal.tsx
  depictio/viewer/src/projects/detail/LinkMappingInspector.tsx
  depictio/viewer/src/projects/detail/LinksSection.tsx
Due: none

fix(funnel): agree on what counts as an active filter, harden the new endpoints
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/links_endpoints/resolvers.py
  depictio/api/v1/endpoints/links_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_funnel_values.py
  depictio/tests/api/v1/endpoints/links_endpoints/test_mapping_preview.py
  depictio/viewer/src/projects/detail/LinkMappingInspector.tsx
  packages/depictio-react-core/src/components/interactive/FunnelView.tsx
Due: ty-check-models-api-dash-cli

fix(multiqc): symmetric sample matching, filter intersection + funnel/mapping-preview endpoints
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/links_endpoints/resolvers.py
  depictio/api/v1/endpoints/links_endpoints/routes.py
  depictio/api/v1/services/multiqc/general_stats_payload.py
  depictio/api/v1/services/multiqc/patching.py
  depictio/api/v1/services/multiqc/sample_matching.py
  depictio/models/models/dashboards.py
  depictio/models/models/links.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_funnel_values.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_multiqc_sample_filter.py
  depictio/tests/api/v1/endpoints/links_endpoints/test_mapping_preview.py
  depictio/tests/api/v1/endpoints/links_endpoints/test_sample_mapping_resolver.py
  depictio/tests/api/v1/test_sample_matching.py
Due: ty-check-models-api-dash-cli

feat(viewer): funnel filtering UX + link mapping inspector
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/projects/detail/LinkEditModal.tsx
  packages/depictio-components/src/lib/components/DepictioMultiSelect.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/availableValues.tsx
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/components/interactive/FunnelView.tsx
  packages/depictio-react-core/src/components/interactive/MultiSelectRenderer.tsx
  packages/depictio-react-core/src/components/interactive/SegmentedControlRenderer.tsx
  packages/depictio-react-core/src/components/interactive/funnelDecorations.tsx
  packages/depictio-react-core/src/index.ts
Due: none

chore(dev): register link-inspection and funnel screenshot shots
  dev/playwright_debug/docs_screenshots.py
Due: none

Bump version: 1.6.0 → 1.6.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.6.1
  CHANGELOG.md
Due: none

feat(viewer): selection groups — save, compare and color-by-group (#89)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/figure/groups.py
  depictio/tests/api/v1/test_figure_groups.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/components/interactive/SelectionGroupsPanel.tsx
  packages/depictio-react-core/src/hooks/useSelectionGroups.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selectionGroups.ts
Due: ty-check-models-api-dash-cli

feat(viewer): global color-by, split display and per-group card comparison (#89)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/card_groups.py
  depictio/api/v1/services/card_metrics.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/api/v1/services/figure/groups.py
  depictio/projects/init/iris/dashboards/overview.yaml
  depictio/projects/init/penguins/.db_seeds/dashboard.json
  depictio/projects/init/penguins/dashboards/species_analysis.yaml
  depictio/tests/api/v1/test_card_group_compare.py
  depictio/tests/api/v1/test_figure_groups.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/GroupingHeaderControl.tsx
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/card/GroupCompareStrip.tsx
  packages/depictio-react-core/src/components/interactive/ActiveFilterSummary.tsx
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/components/interactive/SelectionGroupsPanel.tsx
  packages/depictio-react-core/src/hooks/useColorByColumns.ts
  packages/depictio-react-core/src/hooks/useSelectionGroups.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selectionGroups.ts
Due: ty-check-models-api-dash-cli

feat(viewer): exclusive analysis modes, in-place group saving, panel reset
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/chrome/SaveGroupAction.tsx
  packages/depictio-react-core/src/components/interactive/SelectionGroupsPanel.tsx
  packages/depictio-react-core/src/hooks/useSelectionGroups.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selectionGroups.ts
Due: none

feat(viewer): analysis-mode capability marker and chrome polish (#89)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/components/GroupingHeaderControl.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/GroupColorSwatches.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/card/GroupCompareStrip.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/DownloadButton.tsx
  packages/depictio-react-core/src/components/chrome/FullscreenButton.tsx
  packages/depictio-react-core/src/components/chrome/InspectButton.tsx
  packages/depictio-react-core/src/components/chrome/MetadataPopover.tsx
  packages/depictio-react-core/src/components/chrome/ResetButton.tsx
  packages/depictio-react-core/src/components/chrome/SaveGroupAction.tsx
  packages/depictio-react-core/src/components/chrome/chrome.css
  packages/depictio-react-core/src/components/interactive/SelectionGroupsPanel.tsx
  packages/depictio-react-core/src/hooks/useSelectionGroups.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selection.ts
  packages/depictio-react-core/src/selectionGroups.ts
Due: ty-check-models-api-dash-cli

fix(viewer): place Analysis between Save and the mode switch
  depictio/viewer/src/chrome/Header.tsx
Due: none

fix(cards): keep All/Other rows neutral in rank-tinted card minis
  docs/images/selection-groups/analysis_panel.png
  docs/images/selection-groups/color_by_species.jpg
  docs/images/selection-groups/overview_groups_compare.jpg
  docs/images/selection-groups/split_by_species.jpg
  packages/depictio-react-core/src/components/card/metrics/format.ts
Due: none

fix(models): export selection_column alongside selection_enabled for figures
  depictio/models/models/dashboards.py
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

Bump version: 1.6.1 → 1.7.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.7.0
  CHANGELOG.md
Due: none

Add dashboard-wide font-size control (A-/A+) to the viewer header
  depictio/tests/e2e-playwright/tests/ui/font-size-control.spec.ts
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/hooks/useColorScheme.ts
  depictio/viewer/src/hooks/useUiScalePref.ts
  depictio/viewer/src/main.tsx
  depictio/viewer/src/theme.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/data/DataGridBody.tsx
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/uiScale.ts
Due: ty-check-models-api-dash-cli

Add instance-level branding via DEPICTIO_BRANDING_* env vars
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/api/v1/services/figure/mantine_templates.py
  depictio/api/v1/services/multiqc/themes.py
  depictio/viewer/package.json
  depictio/viewer/src/auth/components/AuthCard.tsx
  depictio/viewer/src/branding.ts
  depictio/viewer/src/chrome/AppSidebar.tsx
  depictio/viewer/src/chrome/BrandLogo.tsx
  depictio/viewer/src/main.tsx
  helm-charts/depictio/examples/values-branding.yaml
  packages/depictio-react-core/src/api.ts
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
