Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

style: ruff format drift in 4 unrelated dash files
  depictio/dash/layouts/edit_page.py
  depictio/dash/layouts/profile.py
  depictio/dash/layouts/stepper_page.py
  depictio/tests/dash/test_api_calls.py
Due: ty-check-models-api-dash-cli

Bump version: 0.10.3 → 0.11.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.10.3 → 0.11.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.11.0
  CHANGELOG.md
Due: none

fix: skip scan step for MultiQC DC creation and fix file naming
  depictio/dash/api_calls.py
Due: ty-check-models-api-dash-cli

fix: extract DC columns from enriched aggregation specs for Cytoscape
  depictio/dash/components/depictio_cytoscape_joins.py
Due: ty-check-models-api-dash-cli

fix: resolve Cytoscape link edge referencing nonexistent column nodes
  depictio/dash/components/depictio_cytoscape_joins.py
Due: ty-check-models-api-dash-cli

feat: add DC linking UI and MultiQC DC creation via UI
  depictio/dash/api_calls.py
  depictio/dash/layouts/layouts_toolbox.py
  depictio/dash/layouts/project_data_collections.py
Due: ty-check-models-api-dash-cli

fix: handle aggregation_columns_specs as list of dicts in Cytoscape
  depictio/dash/components/depictio_cytoscape_joins.py
Due: ty-check-models-api-dash-cli

Add sample metadata TSV generation to multi-run report script
  dev/multiqc-multi-reports/generate_multi_run_reports.py
Due: none

Add multi-run MultiQC parquet report generator
  dev/multiqc-multi-reports/.gitignore
  dev/multiqc-multi-reports/generate_multi_run_reports.py
  dev/multiqc-multi-reports/pyproject.toml
Due: none

feat(multiqc): DC manage flow + folder uploads + live cache + prewarm
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/links_endpoints/resolvers.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/dash/api_calls.py
  depictio/dash/assets/multiqc_folder_upload.js
  depictio/dash/flask_dispatcher.py
  depictio/dash/layouts/layouts_toolbox.py
  depictio/dash/layouts/project_data_collections.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/models.py
  depictio/dash/modules/multiqc_component/utils.py
  depictio/tests/api/v1/endpoints/multiqc_endpoints/test_bulk_delete.py
Due: ty-check-models-api-dash-cli

fix(multiqc): authorize destructive endpoints + tighten suffix regex
  depictio/api/v1/endpoints/links_endpoints/resolvers.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

fix(multiqc): cache key correctness + safer append + helper tests
  depictio/dash/api_calls.py
  depictio/dash/celery_app.py
  depictio/dash/modules/figure_component/multiqc_vis.py
  depictio/tests/api/v1/endpoints/links_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/links_endpoints/test_sample_mapping_resolver.py
  depictio/tests/dash/test_multiqc_helpers.py
Due: ty-check-models-api-dash-cli

chore: untrack auto-generated CLAUDE.md context + superseded .claude-code/ skills
  .claude-code/skills/README.md
  .claude-code/skills/bump-version.md
  .claude-code/skills/check-quality.md
  .claude-code/skills/cleanup-branches.md
  .claude-code/skills/create-pr.md
  .claude-code/skills/data-import.md
  .claude-code/skills/db-operations.md
  .claude-code/skills/release-workflow.md
  .claude-code/skills/run-tests.md
  .claude-code/skills/test-e2e.md
  .claude-code/skills/update-docs.md
  .gitignore
  depictio/api/v1/CLAUDE.md
  depictio/api/v1/configs/CLAUDE.md
  depictio/api/v1/endpoints/dashboards_endpoints/CLAUDE.md
  depictio/api/v1/endpoints/events_endpoints/CLAUDE.md
  depictio/api/v1/endpoints/links_endpoints/CLAUDE.md
  depictio/api/v1/services/CLAUDE.md
  depictio/api/v1/services/events/CLAUDE.md
  depictio/cli/cli/utils/CLAUDE.md
  depictio/dash/assets/CLAUDE.md
  depictio/dash/assets/css/components/CLAUDE.md
  depictio/dash/layouts/CLAUDE.md
  depictio/dash/layouts/callbacks/CLAUDE.md
  depictio/dash/layouts/draggable_scenarios/CLAUDE.md
  depictio/dash/modules/CLAUDE.md
  depictio/dash/modules/figure_component/CLAUDE.md
  depictio/dash/modules/interactive_component/callbacks/CLAUDE.md
  depictio/dash/modules/multiqc_component/callbacks/CLAUDE.md
  depictio/dash/modules/table_component/CLAUDE.md
  depictio/dash/modules/table_component/callbacks/CLAUDE.md
  depictio/dash/pages/CLAUDE.md
  depictio/models/models/CLAUDE.md
Due: ty-check-models-api-dash-cli

Move viralrecon recipes to canonical projects/ path
  depictio/projects/nf-core/viralrecon/recipes/nextclade_results.py
  depictio/projects/nf-core/viralrecon/recipes/pangolin_lineages.py
  depictio/projects/nf-core/viralrecon/recipes/summary_metrics.py
  depictio/projects/nf-core/viralrecon/recipes/variants_long.py
  depictio/recipes/nf-core/viralrecon/__init__.py
Due: none

chore: untrack AI session handoff scratch in depictio/viewer/
  .gitignore
  depictio/viewer/CONTINUATION_PROMPT.md
  depictio/viewer/HANDOFF.md
  depictio/viewer/PHASE2_HANDOFF.md
Due: none

chore: untrack depictio/dashboards_yaml/ (instance/runtime-only)
  .gitignore
  depictio/dashboards_yaml/.gitkeep
  depictio/dashboards_yaml/Iris_Dashboard_demo_6824cb3b89d2b72169309737.yaml
  depictio/dashboards_yaml/Iris_Dataset_Project_Data_Analysis/Iris_Dashboard_demo_6824cb3b89d2b72169309737.yaml
  depictio/dashboards_yaml/README.md
Due: none

Bump version: 0.11.0 → 0.11.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.11.0 → 0.11.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.11.1
  CHANGELOG.md
Due: none

feat(ai): backend skeleton for AI assistant endpoints
  depictio/api/v1/endpoints/ai_endpoints/__init__.py
  depictio/api/v1/endpoints/ai_endpoints/llm_client.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/endpoints/routers.py
  pyproject.toml
Due: ty-check-models-api-dash-cli

feat(ai): suggest-figures + figure-from-prompt with Polars executor
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/executor.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat(ai): analyze endpoint with SSE streaming + dashboard context
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat(ai): scaffold depictio-react-ai package (api client, store, hooks)
  packages/depictio-react-ai/package.json
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/store.ts
  packages/depictio-react-ai/src/types.ts
  packages/depictio-react-ai/tsconfig.json
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(ai): AIDrawer, AIKeySection, ExecutionTrace, ActionsPreview, SuggestionsPanel
  packages/depictio-react-ai/src/components/AIDrawer.tsx
  packages/depictio-react-ai/src/components/AIKeySection.tsx
  packages/depictio-react-ai/src/components/ActionsPreview.tsx
  packages/depictio-react-ai/src/components/ExecutionTrace.tsx
  packages/depictio-react-ai/src/components/SuggestionsPanel.tsx
  packages/depictio-react-ai/src/index.ts
Due: none

feat(ai): wire AI assistant into the React viewer
  depictio/viewer/package.json
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
Due: none

chore(ai): lock pnpm + uv deps so checkout-and-run works
  packages/depictio-react-ai/package.json
  packages/depictio-react-core/src/api.ts
  pnpm-lock.yaml
  uv.lock
Due: none

chore: ignore pnpm workspace node_modules
  .gitignore
Due: none

fix(viewer): add react-resizable as direct dep so pnpm build resolves CSS import
  depictio/viewer/package.json
  packages/depictio-react-core/package.json
  pnpm-lock.yaml
Due: none

fix(ai): stable EMPTY_SESSION to avoid React error #185
  packages/depictio-react-ai/src/store.ts
Due: none

chore(lock): refresh pnpm-lock after reinstall to pick up store.ts edit
  pnpm-lock.yaml
Due: none

feat(ai): inline FigurePreview in AIDrawer for the New figure flow
  depictio/viewer/src/App.tsx
  packages/depictio-react-ai/package.json
  packages/depictio-react-ai/src/components/AIDrawer.tsx
  packages/depictio-react-ai/src/components/FigurePreview.tsx
  packages/depictio-react-ai/src/index.ts
  pnpm-lock.yaml
Due: none

feat(ai): show underlying Python code for figures and analysis
  depictio/api/v1/endpoints/ai_endpoints/code_gen.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  packages/depictio-react-ai/src/components/AIDrawer.tsx
  packages/depictio-react-ai/src/components/ExecutionTrace.tsx
  packages/depictio-react-ai/src/components/PythonCodeBlock.tsx
  packages/depictio-react-ai/src/components/SuggestionsPanel.tsx
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
Due: ty-check-models-api-dash-cli

feat(ai): persistent analyze panel + Add to dashboard, tighter prompt
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/viewer/src/App.tsx
  packages/depictio-react-ai/src/components/AIAnalyzePanel.tsx
  packages/depictio-react-ai/src/components/AIDrawer.tsx
  packages/depictio-react-ai/src/components/AISuggestedFigures.tsx
  packages/depictio-react-ai/src/index.ts
Due: ty-check-models-api-dash-cli

feat(ai): wire AI drawer + analyze panel into the editor
  depictio/viewer/src/EditorApp.tsx
Due: none

fix(ai): SSE double-nesting, code-mode persistence, key persistence
  depictio/api/v1/endpoints/ai_endpoints/code_gen.py
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/executor.py
  depictio/api/v1/endpoints/ai_endpoints/llm_client.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-ai/src/components/AIKeySection.tsx
  packages/depictio-react-ai/src/store.ts
Due: ty-check-models-api-dash-cli

fix(ai): analyze DC, iterative refine, inline code editing
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  packages/depictio-react-ai/src/components/AIDrawer.tsx
  packages/depictio-react-ai/src/components/FigurePreview.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/types.ts
Due: ty-check-models-api-dash-cli

fix(ai): direct localStorage I/O for credential persistence
  packages/depictio-react-ai/src/store.ts
Due: none

viewer: fix Docker build for prod + dev compose HMR
  .dockerignore
  .gitignore
  depictio/viewer/vite.config.ts
  docker-compose.dev.yaml
  docker-images/Dockerfile_depictio_uv.dockerfile
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-components/src/lib/components/DepictioMultiSelect.tsx
  packages/depictio-components/src/lib/components/DepictioRangeSlider.tsx
  packages/depictio-components/src/lib/index.ts
  pnpm-workspace.yaml
Due: none
