Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix(cards): print values under 0.001 and shares under 1% readably
  packages/depictio-react-core/src/components/card/metrics/format.test.ts
  packages/depictio-react-core/src/components/card/metrics/format.ts
Due: none

fix(text): fit hero logos into one box so pipeline names read alike
  packages/depictio-react-core/src/components/TextRenderer.tsx
Due: none

docs(nf-core): rules for file-track windows and the sashimi view
  depictio/projects/nf-core/RULES.md
Due: none

fix(seeds): regenerate from today's YAML, without the SINTAX alternates
  depictio/projects/nf-core/ampliseq/2.18.0/build_reference_dashboard.py
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/reference_extended.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/generate_seeds.sh
  depictio/projects/nf-core/viralrecon/3.0.0/generate_seeds.sh
Due: none

chore(seeds): ampliseq and viralrecon seeds with hero logos and number formats
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_environment.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_ordination.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_overview.json
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_phylogeny.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_overview.json
Due: none

fix(nf-core/ampliseq): use the two-line nf-core logo like the other templates
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_overview.json
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/reference_extended.yaml
Due: none

fix(nf-core/rnasplice): offer the sashimi's GenomeSpy view again
  depictio/projects/nf-core/RULES.md
  depictio/projects/nf-core/rnasplice/1.0.4/dashboards/base.yaml
  depictio/projects/nf-core/rnasplice/1.0.4/docs/dashboards.md
Due: none

fix(advanced-viz): draw the sashimi GenomeSpy view on the opened locus
  packages/depictio-react-core/src/components/advanced_viz/SashimiRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/sashimi/SashimiGenomeSpyView.tsx
  packages/depictio-react-core/src/components/advanced_viz/sashimi/sashimiGenomeSpySpec.ts
Due: none

feat(nf-core): give the Findings figures two equal tiles per row
  depictio/projects/nf-core/RULES.md
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/.db_seeds/dashboard_overview.json
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/reference_extended.yaml
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/demultiplex/1.8.0/dashboards/base.yaml
  depictio/projects/nf-core/differentialabundance/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/eager/2.4.5/dashboards/base.yaml
  depictio/projects/nf-core/funcscan/4.0.0/dashboards/base.yaml
  depictio/projects/nf-core/genomeassembler/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/hic/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/mag/5.5.0/dashboards/base.yaml
  depictio/projects/nf-core/methylseq/2.3.0/dashboards/base.yaml
  depictio/projects/nf-core/mhcquant/3.2.0/dashboards/base.yaml
  depictio/projects/nf-core/mhcquant/3.2.0/docs/dashboards.md
  depictio/projects/nf-core/nanoseq/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/riboseq/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/dashboards/base.yaml
  depictio/projects/nf-core/sarek/3.10.0/dashboards/base.yaml
  depictio/projects/nf-core/scrnaseq/4.2.0/dashboards/base.yaml
  depictio/projects/nf-core/smrnaseq/2.4.1/dashboards/base.yaml
  depictio/projects/nf-core/smrnaseq/2.4.1/docs/dashboards.md
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_overview.json
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
Due: none

feat(cli): warn when a run is another major release than its template
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/templates.py
  depictio/tests/cli/utils/test_template_detection.py
Due: ty-check-models-api-dash-cli

fix(nf-core/cutandrun): skip the IGV copies of the SEACR beds
  depictio/projects/nf-core/cutandrun/3.1/template.yaml
Due: none

fix(advanced-viz): open default_region first on a contig the data carries
  packages/depictio-react-core/src/components/advanced_viz/GenomeViewRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/genomespy/defaultRegion.test.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/defaultRegion.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/locusParse.ts
Due: none

docs(nf-core): rules from the 2.x live check
  depictio/projects/nf-core/RULES.md
Due: none

fix(nf-core/airrflow): say that SKIP_MULTIQC drops the MultiQC tab
  depictio/projects/nf-core/airrflow/5.1.0/template.yaml
Due: none

refactor(api,viewer): simplify the v2 platform code
  depictio/api/v1/configs/security_headers.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/cli/cli/utils/templates.py
  depictio/models/components/category_palette.py
  depictio/models/components/text_layout.py
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/guide/useGuideSources.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/advanced_viz/PhyloSummaryRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/StackedTaxonomyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/genomespy/defaultRegion.ts
  packages/depictio-react-core/src/components/blockMarkdown.ts
  packages/depictio-react-core/src/components/card/metrics/format.test.ts
  packages/depictio-react-core/src/components/card/metrics/format.ts
  packages/depictio-react-core/src/components/textValues.ts
Due: ty-check-models-api-dash-cli

fix(figure): let code figures write only to what they build
  depictio/api/v1/services/figure/code_executor.py
  depictio/tests/api/v1/test_code_executor_builtins.py
Due: ty-check-models-api-dash-cli

chore(tool-studio): regenerate the catalog snapshot
  packages/tool-studio/public/catalog.json
Due: none

fix(nf-core/ampliseq): narrow PERMANOVA to GROUP_COL in the recipe
  depictio/projects/nf-core/RULES.md
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/reference_extended.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/template.yaml
  depictio/projects/nf-core/ampliseq/recipes/beta_adonis.py
  depictio/tests/models/test_template_conventions.py
  depictio/tests/recipes/test_ampliseq_read_tracking_adonis.py
Due: ty-check-models-api-dash-cli

feat(nf-core/airrflow): 5.1.1 template
  depictio/projects/nf-core/airrflow/5.1.1/VALIDATION_REPORT.md
  depictio/projects/nf-core/airrflow/5.1.1/dashboards/base.yaml
  depictio/projects/nf-core/airrflow/5.1.1/docs/dashboards.md
  depictio/projects/nf-core/airrflow/5.1.1/download_test_data.sh
  depictio/projects/nf-core/airrflow/5.1.1/megatest.yaml
  depictio/projects/nf-core/airrflow/5.1.1/pipeline_info/params.json
  depictio/projects/nf-core/airrflow/5.1.1/pipeline_info/software_versions.yml
  depictio/projects/nf-core/airrflow/5.1.1/recipes/annotation_counts.py
  depictio/projects/nf-core/airrflow/5.1.1/recipes/cdr3_spectratype.py
  depictio/projects/nf-core/airrflow/5.1.1/recipes/vj_usage_matrix.py
  depictio/projects/nf-core/airrflow/5.1.1/template.yaml
Due: none

feat(nf-core/atacseq): 2.1.2 template on the v2 authoring rules
  depictio/projects/nf-core/atacseq/2.1.2/VALIDATION_REPORT.md
  depictio/projects/nf-core/atacseq/2.1.2/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/2.1.2/docs/dashboards.md
  depictio/projects/nf-core/atacseq/2.1.2/download_test_data.sh
  depictio/projects/nf-core/atacseq/2.1.2/megatest.yaml
  depictio/projects/nf-core/atacseq/2.1.2/recipes/deseq2_qc_pca.py
  depictio/projects/nf-core/atacseq/2.1.2/recipes/peak_summary.py
  depictio/projects/nf-core/atacseq/2.1.2/recipes/sample_design.py
  depictio/projects/nf-core/atacseq/2.1.2/template.yaml
  depictio/tests/recipes/test_atacseq_2_1_2_deseq2_qc_pca.py
  depictio/tests/recipes/test_atacseq_2_1_2_peak_summary.py
  depictio/tests/recipes/test_atacseq_2_1_2_sample_design.py
Due: ty-check-models-api-dash-cli

feat(nf-core/cutandrun): 3.2.2 template
  depictio/projects/nf-core/cutandrun/3.2.2/VALIDATION_REPORT.md
  depictio/projects/nf-core/cutandrun/3.2.2/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.2.2/docs/dashboards.md
  depictio/projects/nf-core/cutandrun/3.2.2/download_test_data.sh
  depictio/projects/nf-core/cutandrun/3.2.2/input/samplesheet.valid.csv
  depictio/projects/nf-core/cutandrun/3.2.2/megatest.yaml
  depictio/projects/nf-core/cutandrun/3.2.2/pipeline_info/local_versions.yml
  depictio/projects/nf-core/cutandrun/3.2.2/pipeline_info/software_versions.yml
  depictio/projects/nf-core/cutandrun/3.2.2/template.yaml
  depictio/tests/unit/test_cutandrun_3_2_2_template.py
Due: ty-check-models-api-dash-cli

fix(ingest): skip zero-byte pipeline outputs
  depictio/cli/cli/utils/scan.py
  depictio/recipes/__init__.py
  depictio/tests/unit/test_zero_byte_outputs.py
Due: ty-check-models-api-dash-cli

fix(scripts): rewrite only whole version strings in bump_template_version
  depictio/tests/unit/test_bump_template_version.py
  scripts/bump_template_version.py
Due: ty-check-models-api-dash-cli

feat(nf-core/chipseq): 2.1.0 template on the v2 authoring rules
  depictio/projects/nf-core/chipseq/2.1.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/chipseq/2.1.0/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/2.1.0/docs/dashboards.md
  depictio/projects/nf-core/chipseq/2.1.0/download_test_data.sh
  depictio/projects/nf-core/chipseq/2.1.0/megatest.yaml
  depictio/projects/nf-core/chipseq/2.1.0/recipes/deseq2_qc_pca.py
  depictio/projects/nf-core/chipseq/2.1.0/recipes/design_factors.py
  depictio/projects/nf-core/chipseq/2.1.0/recipes/peaks.py
  depictio/projects/nf-core/chipseq/2.1.0/template.yaml
  depictio/tests/recipes/test_chipseq_2_1_0_deseq2_qc_pca.py
  depictio/tests/recipes/test_chipseq_2_1_0_design_factors.py
  depictio/tests/recipes/test_chipseq_2_1_0_peaks.py
Due: ty-check-models-api-dash-cli

chore(nf-core): showcase scenarios and megatest status for the new releases
  depictio/projects/nf-core/MEGATEST_STATUS.md
  scripts/nfcore_showcase.py
Due: none

fix(figure): gate /figure/preview on project access and restrict code figures
  depictio/api/v1/endpoints/figure_endpoints/routes.py
  depictio/api/v1/services/figure/code_executor.py
  depictio/api/v1/services/figure/code_mode.py
  depictio/tests/api/v1/test_code_executor_sandbox.py
  depictio/tests/api/v1/test_figure_preview_permissions.py
Due: ty-check-models-api-dash-cli

fix(dashboards): gate the JSON export on project access
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_export_json_permission.py
Due: ty-check-models-api-dash-cli

fix(sections): one accent across the section dialog
  depictio/viewer/src/components/sections/SectionForm.tsx
  depictio/viewer/src/components/sections/SectionList.tsx
  depictio/viewer/src/components/sections/SectionModal.tsx
  depictio/viewer/src/components/sections/SectionsModal.tsx
  depictio/viewer/src/components/sections/sectionIcons.ts
  depictio/viewer/src/components/settings/SettingsSections.tsx
Due: none

Bump version: 1.14.0 → 1.14.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

docs: advertise dashboards.versions; correct the stale architecture notes
  CLAUDE.md
Due: none

fix(files,scan): stop destroying file registration history
  depictio/api/v1/core_indexes.py
  depictio/api/v1/endpoints/files_endpoints/routes.py
  depictio/api/v1/services/lifespan.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/api/v1/endpoints/files_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/files_endpoints/test_registration_time_immutable.py
  depictio/tests/cli/utils/test_scan_file_id_buckets.py
Due: ty-check-models-api-dash-cli

feat(viewer): version history drawer for dashboards
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  depictio/viewer/src/versions/VersionTimelineItem.tsx
  depictio/viewer/src/versions/format.ts
  depictio/viewer/src/versions/useVersionHistory.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

docs(diagrams): hand-drawn schemas for version capture and restore
  dev/diagrams/dashboard_versioning_schema.py
  docs/images/v0.12/react/schema_version_capture.png
  docs/images/v0.12/react/schema_version_capture.svg
  docs/images/v0.12/react/schema_version_restore.png
  docs/images/v0.12/react/schema_version_restore.svg
Due: none

feat(dashboards): version history with pin, restore and time travel
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/version_store.py
  depictio/api/v1/endpoints/dashboards_endpoints/versioning.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/services/lifespan.py
  depictio/models/models/dashboard_versions.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_prune.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_versioning.py
Due: ty-check-models-api-dash-cli

feat(dashboards): compatibility report, and capture on the routes that bypassed /save
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/schema_integrity.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
  depictio/viewer/src/versions/VersionCompatibilityPanel.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(viewer): render a past dashboard version read-only
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/dashboards/lib/dashboardLinks.ts
  depictio/viewer/src/versions/VersionPreviewBanner.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

fix(dashboards): persist version counts; drop the ledger with the dashboard
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/versioning.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/models/models/dashboard_versions.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_versioning.py
Due: ty-check-models-api-dash-cli

fix(versions): a baseline before the first write, and review fixes
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/version_store.py
  depictio/api/v1/endpoints/dashboards_endpoints/versioning.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/api/v1/services/yaml_watcher.py
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_prune.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_versioning.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_import_source_key.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_save_route_version_kind.py
  depictio/tests/api/v1/test_dashboard_save_timestamps.py
  depictio/tests/api/v1/test_project_visibility_model.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/versions/VersionCompatibilityPanel.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  depictio/viewer/src/versions/VersionPreviewBanner.tsx
  depictio/viewer/src/versions/format.ts
Due: ty-check-models-api-dash-cli

fix(versions): drop ledgers with their project, and back them up
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/version_store.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/cli/cli/utils/backup_validation.py
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_prune.py
  depictio/tests/api/v1/test_comments_routes.py
  depictio/tests/api/v1/test_project_cascade_delete.py
Due: ty-check-models-api-dash-cli

feat(versions): snapshot the settings added since the ledger forked
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/versioning.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/api/v1/services/yaml_watcher.py
  depictio/models/models/dashboard_versions.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_versioning.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_import_source_key.py
  depictio/tests/models/test_tab_group.py
Due: ty-check-models-api-dash-cli
