Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

docs(diagrams): draw version capture and restore, not boxes
  dev/diagrams/dashboard_versioning_schema.py
  dev/diagrams/sketch.py
  docs/images/v0.12/react/schema_version_capture.png
  docs/images/v0.12/react/schema_version_capture.svg
  docs/images/v0.12/react/schema_version_restore.png
  docs/images/v0.12/react/schema_version_restore.svg
Due: none

fix(editor): write nothing before the user acts
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/notes/useNotesEditor.ts
Due: none

fix(versions): a Save click seals its autosave; creation is explicit; stamps are UTC
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/version_store.py
  depictio/api/v1/endpoints/dashboards_endpoints/versioning.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/models/models/dashboard_versions.py
  depictio/models/timestamps.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_versioning.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_save_route_version_kind.py
  depictio/tests/api/v1/test_dashboard_save_timestamps.py
  depictio/tests/api/v1/test_project_visibility_model.py
Due: ty-check-models-api-dash-cli

feat(models): jobs, ingestion steps and Delta commit provenance
  depictio/models/models/deltatables.py
  depictio/models/models/files.py
  depictio/models/models/jobs.py
  depictio/models/models/monitoring.py
Due: ty-check-models-api-dash-cli

feat(cli): versioned Delta writes over a retried, job-aware client
  depictio/cli/cli/utils/api_calls.py
  depictio/cli/cli/utils/common.py
  depictio/cli/cli/utils/delta_versioning.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/http_retry.py
  depictio/cli/cli/utils/jobs.py
  depictio/cli/cli/utils/process.py
  depictio/cli/cli/utils/rich_utils.py
  depictio/cli/cli/utils/step_reporter.py
  depictio/tests/cli/test_jobs_client.py
  depictio/tests/cli/utils/test_delta_versioning.py
  depictio/tests/cli/utils/test_http_retry.py
  depictio/tests/cli/utils/test_process_skip.py
  depictio/tests/cli/utils/test_step_reporter.py
Due: ty-check-models-api-dash-cli

fix(cli): a persisted join records its Delta commit
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/joins.py
  depictio/tests/cli/utils/test_joins.py
Due: ty-check-models-api-dash-cli

feat(viewer): live ingestion steps, a Watchers pane and dataset history
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
  depictio/viewer/src/monitoring/AgentsPane.tsx
  depictio/viewer/src/monitoring/IngestionStepTimeline.tsx
  depictio/viewer/src/monitoring/TriggerBadge.tsx
  depictio/viewer/src/monitoring/format.ts
  depictio/viewer/src/monitoring/monitoring.css
  depictio/viewer/src/monitoring/primitives.tsx
  depictio/viewer/src/monitoring/tokens.ts
  depictio/viewer/src/monitoring/usePolling.ts
  depictio/viewer/src/projects/detail/DeltaVersionHistory.tsx
  depictio/viewer/src/projects/detail/IngestionReportPanel.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  depictio/viewer/src/projects/detail/ProjectIngestionHistoryPanel.tsx
  depictio/viewer/src/projects/detail/ProjectIngestionTrigger.tsx
  packages/depictio-react-core/src/adminUrlState.test.ts
  packages/depictio-react-core/src/adminUrlState.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

docs: automated ingestion guide, deploy units and diagrams
  deploy/.env.example
  deploy/depictio-watch@.service
  deploy/docker-compose.watcher.yaml
  dev/diagrams/ingestion_schemas.py
  dev/diagrams/watch_trigger_schema.py
  dev/playwright_debug/docs_screenshots.py
  docs/automated-ingestion.md
  docs/images/v0.12/react/admin_monitoring_agents_dark.png
  docs/images/v0.12/react/admin_monitoring_agents_light.png
  docs/images/v0.12/react/admin_monitoring_ingestion_watch_dark.png
  docs/images/v0.12/react/admin_monitoring_ingestion_watch_light.png
  docs/images/v0.12/react/schema_column_drift.png
  docs/images/v0.12/react/schema_column_drift.svg
  docs/images/v0.12/react/schema_cycle_cost.png
  docs/images/v0.12/react/schema_cycle_cost.svg
  docs/images/v0.12/react/schema_missing_runs.png
  docs/images/v0.12/react/schema_missing_runs.svg
  docs/images/v0.12/react/schema_watch_trigger.png
  docs/images/v0.12/react/schema_watch_trigger.svg
  docs/images/v0.12/react/schema_write_decision.png
  docs/images/v0.12/react/schema_write_decision.svg
Due: none

feat(cli): incremental scan, and `depictio watch` as ingest on a loop
  depictio/cli/cli/commands/data.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/commands/watch.py
  depictio/cli/cli/utils/backup_validation.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/scan_walk.py
  depictio/cli/cli/utils/state.py
  depictio/cli/cli/utils/watch.py
  depictio/cli/depictio_cli.py
  depictio/tests/cli/commands/conftest.py
  depictio/tests/cli/commands/test_ingest_flags.py
  depictio/tests/cli/commands/test_run_ingestion_record.py
  depictio/tests/cli/commands/test_watch_command.py
  depictio/tests/cli/utils/test_scan_detection.py
  depictio/tests/cli/utils/test_scan_missing_runs.py
  depictio/tests/cli/utils/test_scan_signal.py
  depictio/tests/cli/utils/test_scan_walk.py
  depictio/tests/cli/utils/test_state.py
  depictio/tests/cli/utils/test_watch.py
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

fix(ingestion): jobs, offload and browser trigger review fixes
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/schema_integrity.py
  depictio/api/v1/endpoints/dashboards_endpoints/versioning.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
  depictio/api/v1/endpoints/files_endpoints/routes.py
  depictio/api/v1/endpoints/jobs_endpoints/routes.py
  depictio/api/v1/endpoints/monitoring_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/runs_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/ingestion_roots.py
  depictio/api/v1/ingestion_tasks.py
  depictio/api/v1/jobs/store.py
  depictio/api/v1/monitoring/store.py
  depictio/models/models/deltatables.py
  depictio/models/models/jobs.py
  depictio/models/models/monitoring.py
  depictio/tests/api/test_browser_trigger.py
  depictio/tests/api/test_delta_version_surface.py
  depictio/tests/api/test_ingestion_offload.py
  depictio/tests/api/test_ingestion_provenance.py
  depictio/tests/api/test_ingestion_run_ownership.py
  depictio/tests/api/test_jobs_store.py
  depictio/tests/api/test_pending_aggregation_readers.py
  depictio/tests/api/test_project_ingestion_runs.py
  depictio/tests/models/test_monitoring.py
Due: ty-check-models-api-dash-cli

fix(cli): watch and ingest review fixes
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/commands/watch.py
  depictio/cli/cli/utils/api_calls.py
  depictio/cli/cli/utils/delta_versioning.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/jobs.py
  depictio/cli/cli/utils/joins.py
  depictio/cli/cli/utils/process.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/scan_walk.py
  depictio/cli/cli/utils/state.py
  depictio/cli/cli/utils/step_reporter.py
  depictio/cli/cli/utils/watch.py
  depictio/tests/cli/commands/test_ingest.py
  depictio/tests/cli/commands/test_watch_command.py
  depictio/tests/cli/conftest.py
  depictio/tests/cli/test_jobs_client.py
  depictio/tests/cli/utils/test_delete_batches.py
  depictio/tests/cli/utils/test_delta_versioning.py
  depictio/tests/cli/utils/test_joins.py
  depictio/tests/cli/utils/test_phylogeny_ingest.py
  depictio/tests/cli/utils/test_process_skip.py
  depictio/tests/cli/utils/test_scan_missing_runs.py
  depictio/tests/cli/utils/test_scan_walk.py
  depictio/tests/cli/utils/test_step_reporter.py
  depictio/tests/cli/utils/test_watch.py
  deploy/depictio-watch@.service
  deploy/docker-compose.watcher.yaml
  docs/automated-ingestion.md
Due: ty-check-models-api-dash-cli

fix(viewer): ingestion monitoring review fixes
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
  depictio/viewer/src/monitoring/AgentsPane.tsx
  depictio/viewer/src/monitoring/IngestionStepTimeline.tsx
  depictio/viewer/src/monitoring/format.ts
  depictio/viewer/src/monitoring/primitives.tsx
  depictio/viewer/src/monitoring/runs.ts
  depictio/viewer/src/monitoring/usePolling.ts
  depictio/viewer/src/projects/detail/DeltaVersionHistory.tsx
  depictio/viewer/src/projects/detail/IngestionReportPanel.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  depictio/viewer/src/projects/detail/ProjectIngestionHistoryPanel.tsx
  depictio/viewer/src/projects/detail/ProjectIngestionTrigger.tsx
  depictio/viewer/src/projects/detail/deltaHistory.ts
  depictio/viewer/src/projects/detail/followJob.ts
  depictio/viewer/tests/monitoring/runs.test.ts
  depictio/viewer/tests/monitoring/usePolling.test.ts
  depictio/viewer/tests/projects/deltaHistory.test.ts
  depictio/viewer/tests/projects/followJob.test.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/httpStatusError.test.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(models): stable component ids, and every chart type the builder offers
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/models/components/constants.py
  depictio/models/components/lite.py
  depictio/models/components/types.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/test_visu_types_registry.py
  depictio/tests/models/test_component_index_stability.py
  depictio/viewer/src/builder/figure/visuTypes.ts
  packages/tool-studio/public/catalog.schema.json
Due: ty-check-models-api-dash-cli

feat(api): read a dashboard's data as a past version recorded it
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/dashboards_endpoints/data_versions.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_data_versions.py
  depictio/tests/api/v1/test_delta_time_travel.py
  depictio/tests/unit/test_figure_aggregate.py
Due: ty-check-models-api-dash-cli

feat(versions): component history, definition overrides and baselines
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/versioning.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_card_definition_override.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_versioning.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_restore_component.py
Due: ty-check-models-api-dash-cli

docs: versioning notes, time travel schemas and screenshots
  CLAUDE.md
  dev/diagrams/dashboard_time_travel_schema.py
  dev/playwright_debug/docs_screenshots.py
  docs/images/v0.12/react/component_history_compare_dark.png
  docs/images/v0.12/react/component_history_compare_light.png
  docs/images/v0.12/react/component_history_compare_menu_dark.png
  docs/images/v0.12/react/component_history_compare_menu_light.png
  docs/images/v0.12/react/component_history_dark.png
  docs/images/v0.12/react/component_history_light.png
  docs/images/v0.12/react/schema_time_travel_axes.png
  docs/images/v0.12/react/schema_time_travel_axes.svg
  docs/images/v0.12/react/schema_time_travel_read.png
  docs/images/v0.12/react/schema_time_travel_read.svg
  docs/images/v0.12/react/version_dataset_picker_dark.png
  docs/images/v0.12/react/version_dataset_picker_light.png
  docs/images/v0.12/react/version_preview_dark.png
  docs/images/v0.12/react/version_preview_light.png
  docs/images/v0.12/react/version_row_actions_dark.png
  docs/images/v0.12/react/version_row_actions_light.png
  docs/images/v0.12/react/version_timeline_dark.png
  docs/images/v0.12/react/version_timeline_light.png
Due: none

feat(viewer): dataset time travel and component history in the editor
  depictio/viewer/dev/component_history_check.mjs
  depictio/viewer/dev/data_version_body_check.mjs
  depictio/viewer/dev/preview_contract_check.mjs
  depictio/viewer/dev/render_key_check.mjs
  depictio/viewer/dev/run_check.mjs
  depictio/viewer/package.json
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/GridItemEditOverlay.tsx
  depictio/viewer/src/versions/ComponentVersionModal.tsx
  depictio/viewer/src/versions/DataVersionBanner.tsx
  depictio/viewer/src/versions/DatasetVersionPicker.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  depictio/viewer/src/versions/VersionPreviewBanner.tsx
  depictio/viewer/src/versions/VersionTimelineItem.tsx
  depictio/viewer/src/versions/dataVersionChoice.ts
  depictio/viewer/src/versions/format.ts
  depictio/viewer/src/versions/preview.ts
  depictio/viewer/src/versions/useDatasetHistories.ts
  depictio/viewer/src/versions/versions.css
Due: none

fix(versions): pinned tables, map data and figure totals read the pinned commit
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/dashboards_endpoints/data_versions.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_data_versions.py
  depictio/tests/api/v1/test_pinned_table_render.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/map/MapDataButton.tsx
Due: ty-check-models-api-dash-cli

feat(viewer): component history follows main's modal and menu conventions
  depictio/viewer/src/components/GridItemEditOverlay.tsx
  depictio/viewer/src/guide/demos/ActionsDemo.tsx
  depictio/viewer/src/versions/ComponentVersionModal.tsx
  depictio/viewer/src/versions/DatasetVersionPicker.tsx
  depictio/viewer/src/versions/dataVersionChoice.ts
  depictio/viewer/src/versions/useDatasetHistories.ts
  packages/depictio-react-core/src/components/chrome/actionStyles.ts
  packages/depictio-react-core/src/guide/guideModel.test.ts
  packages/depictio-react-core/src/guide/guideModel.ts
  packages/depictio-react-core/src/guide/tileActionCatalog.test.ts
  packages/depictio-react-core/src/guide/tileActionCatalog.ts
Due: none

feat(viewer): version history and data version as settings sections
  depictio/projects/init/iris_versioned/check_restore_in_browser.py
  depictio/projects/init/iris_versioned/check_served_bundle.py
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/versions/DataVersionPanel.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  depictio/viewer/src/versions/VersionHistoryPanel.tsx
  depictio/viewer/src/versions/VersionTimelineItem.tsx
  depictio/viewer/src/versions/format.ts
  depictio/viewer/src/versions/useVersionHistory.ts
  depictio/viewer/src/versions/versions.css
  dev/playwright_debug/docs_screenshots.py
Due: none

test(versions): iris_versioned, four data versions and four dashboards
  depictio/projects/init/iris_versioned/.gitignore
  depictio/projects/init/iris_versioned/README.md
  depictio/projects/init/iris_versioned/batches/batch_01_setosa_only/iris.csv
  depictio/projects/init/iris_versioned/batches/batch_02_versicolor_added/iris.csv
  depictio/projects/init/iris_versioned/batches/batch_03_setosa_recalibrated/iris.csv
  depictio/projects/init/iris_versioned/batches/batch_04_virginica_added/iris.csv
  depictio/projects/init/iris_versioned/check_bypass_capture.py
  depictio/projects/init/iris_versioned/check_component_history.py
  depictio/projects/init/iris_versioned/check_component_restore.py
  depictio/projects/init/iris_versioned/check_dark_shots.py
  depictio/projects/init/iris_versioned/check_render_paths.py
  depictio/projects/init/iris_versioned/check_restore_in_browser.py
  depictio/projects/init/iris_versioned/check_served_bundle.py
  depictio/projects/init/iris_versioned/check_time_travel.py
  depictio/projects/init/iris_versioned/dashboards/v1_survey.yaml
  depictio/projects/init/iris_versioned/dashboards/v2_extended.yaml
  depictio/projects/init/iris_versioned/dashboards/v3_recalibrated.yaml
  depictio/projects/init/iris_versioned/dashboards/v4_complete.yaml
  depictio/projects/init/iris_versioned/data/.gitkeep
  depictio/projects/init/iris_versioned/generate_batches.py
  depictio/projects/init/iris_versioned/project.yaml
  depictio/projects/init/iris_versioned/rebuild_demo.py
  depictio/projects/init/iris_versioned/regenerate_dashboards.py
  depictio/projects/init/iris_versioned/stage_batch.sh
  depictio/tests/api/v1/utils/test_s3_backup_integration.py
  depictio/tests/models/test_iris_versioned_fixture.py
Due: ty-check-models-api-dash-cli

fix(viewer): the version banners say what the data is
  depictio/viewer/src/versions/DataVersionBanner.tsx
  depictio/viewer/src/versions/VersionPreviewBanner.tsx
  depictio/viewer/src/versions/format.ts
Due: none

test(e2e): version history in the settings modal
  depictio/tests/e2e-playwright/tests/dashboards/version-history.spec.ts
Due: ty-check-models-api-dash-cli

feat(react-core): thread data pins and overrides through every renderer
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/ImageRenderer.tsx
  packages/depictio-react-core/src/components/MapRenderer.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/dataVersions.tsx
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/renderKey.ts
Due: none

test(versions): penguins_versioned, two datasets, their join and five versions
  depictio/projects/init/penguins_versioned/.gitignore
  depictio/projects/init/penguins_versioned/README.md
  depictio/projects/init/penguins_versioned/batches/batch_01_season_2007/season_2007/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_01_season_2007/season_2007/physical_features.csv
  depictio/projects/init/penguins_versioned/batches/batch_02_season_2008/season_2007/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_02_season_2008/season_2007/physical_features.csv
  depictio/projects/init/penguins_versioned/batches/batch_02_season_2008/season_2008/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_02_season_2008/season_2008/physical_features.csv
  depictio/projects/init/penguins_versioned/batches/batch_03_scale_recalibrated/season_2007/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_03_scale_recalibrated/season_2007/physical_features.csv
  depictio/projects/init/penguins_versioned/batches/batch_03_scale_recalibrated/season_2008/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_03_scale_recalibrated/season_2008/physical_features.csv
  depictio/projects/init/penguins_versioned/batches/batch_04_season_2009/season_2007/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_04_season_2009/season_2007/physical_features.csv
  depictio/projects/init/penguins_versioned/batches/batch_04_season_2009/season_2008/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_04_season_2009/season_2008/physical_features.csv
  depictio/projects/init/penguins_versioned/batches/batch_04_season_2009/season_2009/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_04_season_2009/season_2009/physical_features.csv
  depictio/projects/init/penguins_versioned/batches/batch_05_sex_completed/season_2007/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_05_sex_completed/season_2007/physical_features.csv
  depictio/projects/init/penguins_versioned/batches/batch_05_sex_completed/season_2008/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_05_sex_completed/season_2008/physical_features.csv
  depictio/projects/init/penguins_versioned/batches/batch_05_sex_completed/season_2009/demographic_data.csv
  depictio/projects/init/penguins_versioned/batches/batch_05_sex_completed/season_2009/physical_features.csv
  depictio/projects/init/penguins_versioned/dashboards/v1_first_season.yaml
  depictio/projects/init/penguins_versioned/dashboards/v2_second_season.yaml
  depictio/projects/init/penguins_versioned/dashboards/v3_scale_recalibrated.yaml
  depictio/projects/init/penguins_versioned/dashboards/v4_three_seasons.yaml
  depictio/projects/init/penguins_versioned/dashboards/v5_sex_completed.yaml
  depictio/projects/init/penguins_versioned/data/.gitkeep
  depictio/projects/init/penguins_versioned/generate_batches.py
  depictio/projects/init/penguins_versioned/penguins_story.py
  depictio/projects/init/penguins_versioned/project.yaml
  depictio/projects/init/penguins_versioned/rebuild_demo.py
  depictio/projects/init/penguins_versioned/regenerate_dashboards.py
  depictio/projects/init/penguins_versioned/stage_batch.py
Due: none

fix(versions): definitions come from the ledger, never the request
  CLAUDE.md
  depictio/api/v1/endpoints/dashboards_endpoints/data_versions.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/version_store.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/projects/init/iris_versioned/check_component_history.py
  depictio/projects/init/iris_versioned/check_component_restore.py
  depictio/projects/init/iris_versioned/check_served_bundle.py
  depictio/projects/init/iris_versioned/check_time_travel.py
  depictio/projects/init/penguins_versioned/rebuild_demo.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_card_definition_override.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_data_versions.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_restore_component.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_time_travel_reads.py
  depictio/tests/models/test_component_index_stability.py
  dev/diagrams/dashboard_time_travel_schema.py
  docs/images/v0.12/react/schema_time_travel_read.png
  docs/images/v0.12/react/schema_time_travel_read.svg
Due: ty-check-models-api-dash-cli

Bump version: 1.14.1 → 1.15.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

feat(remote): read allowlisted public buckets unsigned, refresh any readable source
  .env.example
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/remote_fetch.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/api/v1/test_settings_models.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/e2e-playwright/tests/projects/refresh-manifest.spec.ts
  depictio/tests/unit/test_remote_fetch.py
  depictio/viewer/src/projects/detail/ManifestRefreshPanel.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-compose/.env
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli, helm-lint

feat(viewer): manifest refresh panel and post-create review modal
  depictio/tests/e2e-playwright/tests/projects/refresh-manifest.spec.ts
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/ProjectsApp.tsx
  depictio/viewer/src/projects/detail/ManifestRefreshPanel.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

test(remote-data): coverage for template export, scan wrappers, create_from_url, and the manifest e2e in CI
  .github/workflows/depictio-ci.yaml
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_create_from_url.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_export_template.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_manifest_tables_template.py
  depictio/tests/api/v1/monitoring/__init__.py
  depictio/tests/api/v1/monitoring/test_store.py
  depictio/tests/cli/commands/test_template_export.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/e2e-playwright/tests/projects/export-template.spec.ts
  depictio/tests/e2e-playwright/tests/projects/storage-panel.spec.ts
  docker-compose/docker-compose.e2e-manifest.yaml
Due: ty-check-models-api-dash-cli

fix(remote-data): follow main's v1.12-v1.14 changes after the restack
  depictio/cli/cli/utils/scan.py
  depictio/tests/cli/commands/test_run_guards.py
Due: ty-check-models-api-dash-cli

fix(cli): template export takes --server, CLI text follows depictio ingest
  depictio/cli/cli/commands/manifest.py
  depictio/cli/cli/commands/template.py
  depictio/cli/cli/utils/bindings.py
  depictio/dev_scripts/demo_manifest/README.md
  depictio/models/models/templates.py
  depictio/projects/generic/manifest-tables/1/template.yaml
  depictio/tests/cli/commands/test_run_guards.py
  depictio/tests/cli/commands/test_template_export.py
  docs/design/rfc-remote-data-manifests.md
Due: ty-check-models-api-dash-cli

docs(diagrams): redraw the data binding diagrams with real glyphs
  dev/diagrams/data_binding_schemas.py
  dev/diagrams/sketch.py
  docs/design/rfc-remote-data-manifests.md
  docs/images/data_binding_matrix.png
  docs/images/data_binding_matrix.svg
  docs/images/data_binding_no_manifest.png
  docs/images/data_binding_no_manifest.svg
  docs/images/data_binding_sharing.png
  docs/images/data_binding_sharing.svg
Due: none

feat(viewer): project settings modal on the shared settings shell
  depictio/tests/e2e-playwright/tests/projects/export-template.spec.ts
  depictio/tests/e2e-playwright/tests/projects/refresh-manifest.spec.ts
  depictio/tests/e2e-playwright/tests/projects/storage-panel.spec.ts
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/components/settings/SettingsNavModal.tsx
  depictio/viewer/src/components/settings/SettingsSections.tsx
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/IngestionResultTable.tsx
  depictio/viewer/src/projects/detail/ExportTemplateModal.tsx
  depictio/viewer/src/projects/detail/ExportTemplatePanel.tsx
  depictio/viewer/src/projects/detail/ManifestRefreshPanel.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  depictio/viewer/src/projects/detail/ProjectSettingsModal.tsx
  depictio/viewer/src/projects/detail/StoragePanel.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

fix(viewer): manifest tab polish and plain punctuation in the stack's text
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
Due: none

fix(remote-data): one S3 target resolution and one boto3 client for remote reads
  .env.example
  depictio/api/main.py
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/storage_config.py
  depictio/api/v1/remote_fetch.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/models/models/cli.py
  depictio/models/s3_access.py
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_create_from_url.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_storage_config.py
  depictio/tests/api/v1/test_settings_models.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/models/test_s3_access.py
  depictio/tests/unit/test_remote_fetch.py
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-compose/.env
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

test(remote-data): server-context tests pin DEPICTIO_CONTEXT
  depictio/tests/api/v1/endpoints/projects_endpoints/test_storage_config.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
