Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

docs(comments): refer to the parallel versioning branch by its scope
  dev/design/component-comments-annotations.md
Due: none

fix(viewer): let Rollup chunk GenomeSpy so the production bundle boots
  depictio/viewer/vite.config.ts
Due: none

fix(viewer): only pin a tile's height on resize at the breakpoint that is saved
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: none

test(e2e): reach the resize handle and log in for the tile sizing check
  depictio/tests/e2e-playwright/tests/dashboards/tile-sizing.spec.ts
Due: ty-check-models-api-dash-cli

fix(catalog): bind the grouping names in the catalog preview like the dashboard render
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/services/figure/groups.py
  depictio/catalog/payload.py
  depictio/tests/catalog/test_payload.py
Due: ty-check-models-api-dash-cli

test(e2e): walk the catalog in timed chunks and print problems as found
  depictio/tests/e2e-playwright/playwright.config.ts
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e): check genome_view renders for GenomeSpy's canvas, not a Plotly plot
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e): recognise genome_chord, record_card and group_compare renders in the catalog walk
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

fix(local): run on Linux and macOS, x86_64 and arm64
  .github/workflows/local-server-smoke.yaml
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

fix(celery): release MultiQC locks held by a task whose worker died
  depictio/api/celery_app.py
  depictio/tests/unit/test_multiqc_lock_release.py
Due: ty-check-models-api-dash-cli

fix(packaging): ship the dashboard seeds in the wheel
  pyproject.toml
Due: none

ci(local): drive depictio local up with Playwright
  .github/workflows/local-server-smoke.yaml
  depictio/tests/e2e-playwright/tests/local/local-mode.spec.ts
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

fix(figures): lock the brand-theme patch of the Plotly templates
  depictio/api/v1/services/figure/mantine_templates.py
  depictio/tests/unit/test_mantine_templates_race.py
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

test(local): wait for the iris Delta table before the local specs
  depictio/tests/e2e-playwright/tests/local/local-mode.spec.ts
Due: ty-check-models-api-dash-cli

feat(bioimage): add the bioimage file-backed data collection type
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/models/models/data_collections.py
  depictio/models/models/data_collections_types/bioimage.py
  depictio/models/models/files.py
  depictio/tests/api/v1/test_bioimage_endpoint.py
  depictio/tests/api/v1/test_project_cascade_delete.py
  depictio/tests/cli/utils/test_bioimage_ingest.py
  depictio/tests/models/data_collections_types/test_bioimage.py
  depictio/tests/models/test_data_collections.py
Due: ty-check-models-api-dash-cli

feat(bioimage): add the bioimage_viewer advanced_viz kind
  depictio/api/v1/services/screenshot_helpers.py
  depictio/api/v1/services/screenshot_service.py
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/__init__.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/sampling.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/tests/models/test_bioimage_viewer_config.py
  depictio/viewer/package.json
  depictio/viewer/src/catalog-preview/bioimageViewerStub.ts
  depictio/viewer/src/catalog-preview/mockApi.ts
  depictio/viewer/src/projects/dcTypeIcon.tsx
  depictio/viewer/vite.catalog-preview.config.ts
  depictio/viewer/vite.config.ts
  packages/depictio-react-core/package.json
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/BioimageViewerRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/bioimage/channels.test.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/channels.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/geometry.test.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/geometry.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/viewer.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selection.ts
  packages/depictio-react-core/src/splitPanels.test.ts
  packages/depictio-react-core/src/splitPanels.ts
  packages/tool-studio/public/catalog.schema.json
  packages/tool-studio/public/kinds.json
  packages/tool-studio/src/api/studioApi.ts
  pnpm-lock.yaml
  scripts/check_deployment.py
Due: ty-check-models-api-dash-cli

fix(bioimage): move the CLI upload-workers flag to DEPICTIO_INGEST_* and refresh Tool Studio snapshots
  depictio/cli/cli/utils/deltatables.py
  depictio/tests/cli/utils/test_bioimage_ingest.py
  packages/tool-studio/public/figureParams.json
Due: ty-check-models-api-dash-cli

chore(tool-studio): regenerate kinds snapshot for the bioimage_viewer description
  packages/tool-studio/public/kinds.json
Due: none

feat(jbrowse): genomic_tracks DC, JBrowse lite component, Range track proxy and config render
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/jbrowse_endpoints/routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/services/jbrowse/__init__.py
  depictio/api/v1/services/jbrowse/assemblies.py
  depictio/api/v1/services/jbrowse/config_builder.py
  depictio/api/v1/services/jbrowse/render.py
  depictio/api/v1/services/jbrowse/signing.py
  depictio/api/v1/services/jbrowse/tracks.py
  depictio/api/v1/services/remote_read.py
  depictio/models/components/lite.py
  depictio/models/components/validation.py
  depictio/models/models/dashboards.py
  depictio/models/models/data_collections.py
  depictio/models/models/data_collections_types/genomic_tracks.py
  depictio/models/models/links.py
  packages/depictio-react-core/package.json
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

ci(local): build the viewer without sourcemaps and with a 4 GB heap
  .github/workflows/local-server-smoke.yaml
Due: none

feat(jbrowse): embedded linear genome view with cross-filtering and toggles
  depictio/viewer/vite.config.ts
  packages/depictio-react-core/package.json
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/componentTypeMeta.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardLoadingProvider.tsx
  packages/depictio-react-core/src/components/JBrowseRenderer.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/jbrowse/trackSync.test.ts
  packages/depictio-react-core/src/components/jbrowse/trackSync.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selection.ts
  packages/depictio-react-core/src/selectionGroups.ts
  pnpm-lock.yaml
Due: none

feat(jbrowse): ingest genomic_tracks collections, read runs in place, cutandrun tracks tab
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/api/v1/services/jbrowse/render.py
  depictio/api/v1/services/jbrowse/tracks.py
  depictio/api/v1/services/remote_read.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/genomic_tracks_ingest.py
  depictio/cli/cli/utils/templates.py
  depictio/models/models/data_collections_types/genomic_tracks.py
  depictio/models/models/templates.py
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/template.yaml
  depictio/projects/nf-core/cutandrun/recipes/tracks.py
  depictio/recipes/__init__.py
  depictio/tests/api/v1/test_jbrowse_config_builder.py
  depictio/tests/api/v1/test_jbrowse_proxy_endpoints.py
  depictio/tests/api/v1/test_jbrowse_remote_read.py
  depictio/tests/api/v1/test_project_cascade_delete.py
  depictio/tests/cli/utils/test_genomic_tracks_ingest.py
  depictio/tests/models/data_collections_types/test_genomic_tracks.py
Due: ty-check-models-api-dash-cli

feat(bioimage): read table DCs straight from a SpatialData store
  depictio/api/v1/endpoints/datacollections_endpoints/table_manage.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/spatial_transforms.py
  depictio/cli/cli/utils/spatialdata_table.py
  depictio/cli/pyproject.toml
  depictio/cli/uv.lock
  depictio/models/models/data_collections_types/table.py
  depictio/projects/init/bioimage_examples/.db_seeds/dashboard_spatialdata.json
  depictio/projects/init/bioimage_examples/dashboards/spatialdata.yaml
  depictio/projects/init/bioimage_examples/data/README.md
  depictio/projects/init/bioimage_examples/data/manifest.json
  depictio/projects/init/bioimage_examples/data/skin_spatialdata.zarr/tables/table/obs/total_counts/c/0
  depictio/projects/init/bioimage_examples/data/skin_spatialdata.zarr/tables/table/obs/total_counts/zarr.json
  depictio/projects/init/bioimage_examples/data/skin_spatialdata.zarr/tables/table/obs/zarr.json
  depictio/projects/init/bioimage_examples/data/skin_spatialdata.zarr/zarr.json
  depictio/projects/init/bioimage_examples/data/skin_spatialdata_spots.csv
  depictio/projects/init/bioimage_examples/project.yaml
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_spatialdata_guards.py
  depictio/tests/cli/utils/test_spatialdata_table.py
  depictio/tests/models/data_collections_types/test_table.py
  dev/bioimage/make_spatialdata_example.py
  dev/diagrams/bioimage_spatialdata.py
  docs/images/bioimage/schema_one_store_two_dcs.png
  docs/images/bioimage/schema_one_store_two_dcs.svg
  docs/images/bioimage/schema_sync_and_coordinates.png
  docs/images/bioimage/schema_sync_and_coordinates.svg
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

feat(jbrowse): preset assemblies through the API, track order, annotated screenshot tool
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/jbrowse_endpoints/routes.py
  depictio/api/v1/services/jbrowse/assemblies.py
  depictio/api/v1/services/jbrowse/config_builder.py
  depictio/api/v1/services/jbrowse/render.py
  depictio/api/v1/services/jbrowse/tracks.py
  depictio/cli/cli/utils/deltatables.py
  depictio/models/models/data_collections_types/genomic_tracks.py
  depictio/projects/init/genome_tracks_examples/.db_seeds/dashboard_strandseq.json
  depictio/projects/init/genome_tracks_examples/dashboards/strandseq.yaml
  depictio/projects/init/genome_tracks_examples/data/sarscov2/tracks.tsv
  depictio/projects/init/genome_tracks_examples/project.yaml
  depictio/projects/nf-core/chipseq/1.2.0/template.yaml
  depictio/projects/nf-core/chipseq/recipes/tracks.py
  depictio/projects/nf-core/cutandrun/3.1/template.yaml
  depictio/projects/nf-core/cutandrun/recipes/tracks.py
  depictio/projects/nf-core/rnaseq/3.26.0/template.yaml
  depictio/projects/nf-core/rnaseq/recipes/tracks.py
  depictio/recipes/__init__.py
  depictio/tests/api/v1/test_jbrowse_config_builder.py
  depictio/tests/api/v1/test_jbrowse_proxy_endpoints.py
  dev/diagrams/jbrowse_screenshots.py
Due: ty-check-models-api-dash-cli

docs(jbrowse): annotated screenshots of the genome browser examples
  dev/diagrams/jbrowse_screenshots.py
  docs/images/jbrowse/builder_jbrowse.png
  docs/images/jbrowse/nfcore_chipseq.png
  docs/images/jbrowse/nfcore_cutandrun.png
  docs/images/jbrowse/nfcore_rnaseq.png
  docs/images/jbrowse/sarscov2_variant.png
  docs/images/jbrowse/strandseq_click.png
  docs/images/jbrowse/strandseq_compact.png
  docs/images/jbrowse/strandseq_filter.png
  docs/images/jbrowse/strandseq_overview.png
Due: none

feat(jbrowse): deployment wiring, design doc and config reference
  .dockerignore
  .env.example
  .gitignore
  depictio/api/v1/configs/config_backend_dockercompose.yaml
  depictio/api/v1/configs/config_backend_k8s.yaml
  depictio/api/v1/configs/config_backend_k8s_embl.yaml
  depictio/models/components/lite.py
  docker-compose.dev.yaml
  docker-compose.yaml
  docs/config.md
  docs/design/jbrowse-genome-tracks.md
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/secrets.yaml
  helm-charts/depictio/values.yaml
  packages/depictio-react-core/src/api.ts
  scripts/security_audit_compose.sh
Due: ty-check-models-api-dash-cli, helm-lint

refactor(spatialdata): share store/element path helpers in the table reader and scan
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/spatialdata_table.py
Due: ty-check-models-api-dash-cli

fix(bioimage): stream whole S3 keys past the relay limit instead of buffering them
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/models/components/advanced_viz/configs.py
  depictio/tests/api/v1/test_bioimage_endpoint.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/channels.ts
Due: ty-check-models-api-dash-cli

docs(jbrowse): show each example in the full Depictio page before the close-up
  dev/diagrams/jbrowse_screenshots.py
  docs/design/jbrowse-genome-tracks.md
  docs/images/jbrowse/nfcore_chipseq.png
  docs/images/jbrowse/nfcore_chipseq_context.png
  docs/images/jbrowse/nfcore_cutandrun.png
  docs/images/jbrowse/nfcore_cutandrun_context.png
  docs/images/jbrowse/nfcore_rnaseq.png
  docs/images/jbrowse/nfcore_rnaseq_context.png
  docs/images/jbrowse/sarscov2_context.png
  docs/images/jbrowse/sarscov2_variant.png
  docs/images/jbrowse/strandseq_context.png
  docs/images/jbrowse/strandseq_filter.png
  docs/images/jbrowse/strandseq_filter_context.png
  docs/images/jbrowse/strandseq_overview.png
Due: none

docs(local): a same-code schema sized for a documentation column
  dev/diagrams/local_server.py
Due: none

feat(jbrowse): the nf-core Genome tracks tabs put the browser among other components
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/docs/dashboards.md
  depictio/projects/nf-core/chipseq/1.2.0/template.yaml
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/docs/dashboards.md
  depictio/projects/nf-core/cutandrun/3.1/template.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/docs/dashboards.md
  depictio/projects/nf-core/rnaseq/3.26.0/template.yaml
  dev/diagrams/jbrowse_screenshots.py
  docs/design/jbrowse-genome-tracks.md
  docs/images/jbrowse/builder_jbrowse.png
  docs/images/jbrowse/nfcore_chipseq.png
  docs/images/jbrowse/nfcore_chipseq_context.png
  docs/images/jbrowse/nfcore_cutandrun_context.png
  docs/images/jbrowse/nfcore_cutandrun_peak.png
  docs/images/jbrowse/nfcore_cutandrun_peak_context.png
  docs/images/jbrowse/nfcore_rnaseq.png
  docs/images/jbrowse/nfcore_rnaseq_context.png
  docs/images/jbrowse/sarscov2_context.png
  docs/images/jbrowse/sarscov2_variant.png
  docs/images/jbrowse/strandseq_context.png
  docs/images/jbrowse/strandseq_filter.png
  docs/images/jbrowse/strandseq_filter_context.png
  docs/images/jbrowse/strandseq_overview.png
Due: none

chore(nf-core): validate variantbenchmarking 1.5.0 against megatest
  .nfcore-monitor/variantbenchmarking-1.5.0.md
Due: none

chore(nf-core): validate chipseq 2.1.0 against megatest
  .nfcore-monitor/chipseq-2.1.0.md
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
