Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

style: apply ruff format after the main merge
  depictio/projects/test/catalog_cli_smoke/scripts/generate_fixtures.py
  depictio/tests/catalog/test_cli_smoke_project.py
  depictio/tests/models/test_advanced_viz_config_alignment.py
Due: ty-check-models-api-dash-cli

docs(catalog): document the picker flow and fix the CLI command drift
  depictio/catalog/README.md
  depictio/catalog/TODO.md
  dev/playwright_debug/docs_screenshots.py
  packages/depictio-react-core/src/components/chrome/chrome.css
Due: none

fix: unbreak the e2e suite (chooser, prerender dir, recipe-lane matching)
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/api/v1/services/multiqc_prerender_store.py
  depictio/catalog/SCHEMA.md
  depictio/tests/api/v1/test_catalog_compose_matching.py
  depictio/tests/e2e-playwright/tests/dashboards/filters-into-builder.spec.ts
Due: ty-check-models-api-dash-cli

fix: reconcile the rebase onto main
  depictio/catalog/output.schema.json
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/chrome/MetadataPopover.tsx
  packages/depictio-react-core/src/index.ts
Due: none

fix(branding): serve public-config past the per-worker theme cache
  depictio/api/v1/endpoints/utils_endpoints/routes.py
Due: ty-check-models-api-dash-cli

test(e2e): admin backup & restore loop
  depictio/tests/e2e-playwright/tests/admin/backup-restore.spec.ts
Due: ty-check-models-api-dash-cli

feat(backup): download/upload endpoints, restore validation gate, version stamp fix
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/cli/cli/commands/backup.py
  depictio/cli/cli/utils/api_calls.py
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
  depictio/tests/cli/commands/test_backup.py
Due: ty-check-models-api-dash-cli

feat(admin): Backups tab with create/download/upload/validate/restore UI
  depictio/viewer/src/admin/AdminApp.tsx
  depictio/viewer/src/admin/AdminBackupsPanel.tsx
  depictio/viewer/src/admin/RestoreBackupModal.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(backup): scheduled backups with UI-managed interval and retention
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/services/lifespan.py
  depictio/api/v1/tasks/backup_tasks.py
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
  depictio/tests/api/v1/tasks/test_backup_tasks.py
  depictio/tests/e2e-playwright/tests/admin/backup-restore.spec.ts
  depictio/viewer/src/admin/AdminBackupsPanel.tsx
  depictio/viewer/src/admin/AdminMaintenancePanel.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(backup): tiered retention, two-panel schedule UI, restored-backup marker
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
  depictio/tests/api/v1/tasks/test_backup_tasks.py
  depictio/tests/e2e-playwright/tests/admin/backup-restore.spec.ts
  depictio/viewer/src/admin/AdminBackupsPanel.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

test(e2e): give brand-theme a real admin token, and check the responses
  depictio/tests/e2e-playwright/fixtures/auth.ts
  depictio/tests/e2e-playwright/tests/ui/brand-theme.spec.ts
Due: ty-check-models-api-dash-cli

feat(backup): two retention modes, document the database/data split
  depictio/viewer/src/admin/AdminBackupsPanel.tsx
  docs/backup-restore.md
Due: none

fix: restore what the rebase silently dropped
  depictio/cli/cli/utils/templates.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/cli/utils/test_templates.py
  packages/tool-studio/public/catalog.json
  packages/tool-studio/public/catalog.schema.json
  packages/tool-studio/public/kinds.json
Due: ty-check-models-api-dash-cli

feat(backup): make smart retention a single fixed policy
  depictio/viewer/src/admin/AdminBackupsPanel.tsx
  docs/backup-restore.md
Due: none

feat(backup): anchor the schedule to a time of day, promote restore-from-file
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/tasks/backup_tasks.py
  depictio/tests/api/v1/endpoints/backup_endpoints/test_backup_routes.py
  depictio/tests/api/v1/tasks/test_backup_tasks.py
  depictio/viewer/src/admin/AdminBackupsPanel.tsx
  docs/backup-restore.md
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

fix(e2e): assert restore-modal content instead of the zero-size Modal root
  depictio/tests/e2e-playwright/tests/admin/backup-restore.spec.ts
Due: ty-check-models-api-dash-cli

fix(tool-studio): derive the golden tool id from its output folder
  packages/tool-studio/scripts/genGolden.ts
Due: none

fix(builder): keep disclosures from remounting, and open them in the e2e
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
  packages/tool-studio/e2e/components.spec.ts
Due: none

fix(e2e): assert the restore marker on the row that was actually restored
  depictio/tests/e2e-playwright/tests/admin/backup-restore.spec.ts
Due: ty-check-models-api-dash-cli

feat(backup): keep the drag & drop zone, in a modal behind the button
  depictio/tests/e2e-playwright/tests/admin/backup-restore.spec.ts
  depictio/viewer/src/admin/AdminBackupsPanel.tsx
Due: ty-check-models-api-dash-cli

Bump version: 1.8.3 → 1.9.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.9.0
  CHANGELOG.md
Due: none

fix(tool-studio): give the footer the full bar, and put the commit under the versions
  packages/tool-studio/src/App.tsx
  packages/tool-studio/src/components/AppFooter.tsx
Due: none

fix(tool-studio): put the deploy commit in parentheses on the versions line
  packages/tool-studio/src/App.tsx
  packages/tool-studio/src/components/AppFooter.tsx
Due: none

fix(viewer,api): the product defects the seeded-dashboard review surfaced
  depictio/api/celery_app.py
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/screenshot_service.py
  depictio/models/components/advanced_viz/configs.py
  depictio/viewer/src/hooks/useFilterPanelWidth.ts
  packages/depictio-components/src/lib/components/DepictioRangeSlider.tsx
  packages/depictio-react-core/src/activeFilters.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/MapRenderer.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizExtras.tsx
  packages/depictio-react-core/src/components/advanced_viz/DotPlotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/EnrichmentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ManhattanRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/colourScales.ts
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/MetadataBody.tsx
  packages/depictio-react-core/src/components/interactive/DatePickerRenderer.tsx
  packages/depictio-react-core/src/components/interactive/RangeSliderRenderer.tsx
  packages/depictio-react-core/src/components/interactive/numericScale.ts
  packages/plotly-upset/plotly_upset/upset.py
  packages/plotly-upset/plotly_upset/utils.py
Due: ty-check-models-api-dash-cli

feat(viewer): return to the shared link after signing in
  depictio/viewer/src/auth/AuthApp.tsx
  depictio/viewer/src/auth/components/GoogleOAuthCallback.tsx
  depictio/viewer/src/auth/components/MagicLinkCallback.tsx
  depictio/viewer/src/auth/postAuthTarget.ts
  depictio/viewer/src/main.tsx
Due: none

test(e2e): drag the phylogeny plot from a point inside the viewport
  depictio/tests/e2e-playwright/tests/advanced-viz/phylogeny.spec.ts
Due: ty-check-models-api-dash-cli

fix(viewer,api): second review round on the seeded dashboards
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/figure/code_mode.py
  depictio/api/v1/services/map/render.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/test_code_mode_preprocessing.py
  depictio/tests/api/v1/test_map_render_fit.py
  depictio/tests/models/test_advanced_viz_selection.py
  depictio/tests/models/test_catalog_source_from_use.py
  depictio/viewer/src/builder/catalog/CatalogPreviewPanel.tsx
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/MapRenderer.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/CoverageTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ManhattanRenderer.tsx
  packages/depictio-react-core/src/components/autofit.ts
  packages/depictio-react-core/src/selection.ts
  packages/plotly-complexheatmap/plotly_complexheatmap/heatmap.py
  packages/plotly-complexheatmap/tests/test_key_placement.py
Due: ty-check-models-api-dash-cli

feat(projects): second review round on the seeded dashboards
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_live.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_pca.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_pcoa.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_tsne.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_umap.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_manhattan.json
  depictio/projects/init/advanced_viz_showcase/dashboards/clustering_live.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/clustering_pca.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/clustering_pcoa.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/clustering_tsne.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/clustering_umap.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/manhattan.yaml
  depictio/projects/init/iris/.db_seeds/dashboard_petal.json
  depictio/projects/init/iris/dashboards/petal_analysis.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_alpha_diversity.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_differential.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_environment.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_ordination.json
  depictio/projects/nf-core/ampliseq/2.16.0/build_reference_dashboard.py
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/reference_extended.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_lineage_clustering.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_sample_qc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_variants.json
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
Due: none

fix(viewer): send the docked map fit to the subplot Plotly actually draws
  packages/depictio-react-core/src/components/MapRenderer.tsx
  packages/depictio-react-core/src/components/map/fit.test.ts
  packages/depictio-react-core/src/components/map/fit.ts
Due: none

fix(dev): give reseed_project back the dashboards of an optional dataset
  depictio/dev_scripts/reseed_project.py
Due: none

feat(viewer,api): analysis grouping reaches advanced viz, and faceted figures fit their tile
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/services/figure/code_executor.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/api/v1/services/figure/groups.py
  depictio/tests/api/v1/test_figure_groups.py
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizExtras.tsx
  packages/depictio-react-core/src/components/advanced_viz/DaBarplotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/DotPlotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/LollipopRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MARenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ManhattanRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SplitPanels.tsx
  packages/depictio-react-core/src/components/advanced_viz/VolcanoRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/groupSplit.test.ts
  packages/depictio-react-core/src/components/advanced_viz/groupSplit.ts
  packages/depictio-react-core/src/components/autofit.ts
  packages/depictio-react-core/src/components/chrome/CatalogButton.tsx
  packages/depictio-react-core/src/components/chrome/InspectButton.tsx
  packages/depictio-react-core/src/components/chrome/LoadAllButton.tsx
  packages/depictio-react-core/src/components/chrome/ResetButton.tsx
  packages/depictio-react-core/src/components/map/MapDataButton.tsx
  packages/depictio-react-core/src/selectionGroups.ts
  packages/depictio-react-core/src/splitPanels.test.ts
  packages/depictio-react-core/src/splitPanels.ts
Due: ty-check-models-api-dash-cli

fix(dashboards): catalog provenance on MultiQC tiles, and a readable abundance chart
  depictio/dev_scripts/generate_iris_penguins_seeds.py
  depictio/projects/init/iris/.db_seeds/dashboard.json
  depictio/projects/init/iris/.db_seeds/dashboard_petal.json
  depictio/projects/init/iris/dashboards/petal_analysis.yaml
  depictio/projects/init/penguins/.db_seeds/dashboard.json
  depictio/projects/init/penguins/.db_seeds/dashboard_island_season.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_alpha_diversity.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_differential.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_environment.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_ordination.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_phylogeny.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_sampling_campaign.json
  depictio/projects/nf-core/ampliseq/2.16.0/build_reference_dashboard.py
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/reference_extended.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_lineage_clustering.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_sample_qc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_variants.json
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
Due: none

fix(dashboards): name the dataset in the iris and penguins dashboard icons
  depictio/dev_scripts/generate_iris_penguins_seeds.py
Due: none

Bump version: 1.9.0 → 1.9.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.9.1
  CHANGELOG.md
Due: none

fix(ampliseq): make the phylogeny and taxonomy tiles work on a full-size run
  depictio/catalog/qiime2/stacked_taxonomy_canonical.py
  depictio/cli/cli/utils/templates.py
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/ampliseq/recipes/sankey_canonical.py
  depictio/projects/nf-core/ampliseq/recipes/sunburst_canonical.py
  depictio/projects/nf-core/ampliseq/recipes/tree_metadata_canonical.py
  depictio/projects/nf-core/ampliseq/scripts/prune_newick.py
  depictio/recipes/__init__.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
