Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix(nf-core/smrnaseq,mhcquant): declare collections after those their recipes read
  depictio/projects/nf-core/RULES.md
  depictio/projects/nf-core/mhcquant/3.2.0/template.yaml
  depictio/projects/nf-core/smrnaseq/2.4.1/template.yaml
  depictio/tests/models/test_template_dc_order.py
Due: ty-check-models-api-dash-cli

feat(nf-core/mag,taxprofiler): v2 layout with an Overview main tab
  depictio/projects/nf-core/mag/5.5.0/dashboards/base.yaml
  depictio/projects/nf-core/mag/5.5.0/docs/dashboards.md
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/docs/dashboards.md
Due: none

feat(nf-core/funcscan,genomeassembler): v2 layout with an Overview main tab
  depictio/projects/nf-core/funcscan/4.0.0/dashboards/base.yaml
  depictio/projects/nf-core/funcscan/4.0.0/docs/dashboards.md
  depictio/projects/nf-core/genomeassembler/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/genomeassembler/2.0.0/docs/dashboards.md
Due: none

feat(nf-core/eager,mhcquant): v2 layout with an Overview main tab
  depictio/projects/nf-core/eager/2.4.5/dashboards/base.yaml
  depictio/projects/nf-core/eager/2.4.5/docs/dashboards.md
  depictio/projects/nf-core/mhcquant/3.2.0/dashboards/base.yaml
  depictio/projects/nf-core/mhcquant/3.2.0/docs/dashboards.md
Due: none

feat(nf-core/viralrecon,nanoseq): v2 layout with an Overview main tab
  depictio/projects/nf-core/nanoseq/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/nanoseq/3.0.0/docs/dashboards.md
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/docs/dashboards.md
Due: none

feat(nf-core/sarek,variantbenchmarking): v2 layout with an Overview main tab
  depictio/projects/nf-core/sarek/3.10.0/dashboards/base.yaml
  depictio/projects/nf-core/sarek/3.10.0/docs/dashboards.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/dashboards.md
Due: none

fix(import): remove the tabs a re-imported YAML no longer holds
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_import_source_key.py
Due: ty-check-models-api-dash-cli

fix(nf-core/mag,taxprofiler): correct the v2 dashboards from the live screenshots
  depictio/projects/nf-core/mag/5.5.0/dashboards/base.yaml
  depictio/projects/nf-core/mag/5.5.0/docs/dashboards.md
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/docs/dashboards.md
Due: none

fix(nf-core/funcscan,genomeassembler): correct the v2 dashboards from the live screenshots
  depictio/projects/nf-core/funcscan/4.0.0/dashboards/base.yaml
  depictio/projects/nf-core/funcscan/4.0.0/docs/dashboards.md
  depictio/projects/nf-core/genomeassembler/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/genomeassembler/2.0.0/docs/dashboards.md
Due: none

fix(nf-core/eager,mhcquant): correct the v2 dashboards from the live screenshots
  depictio/projects/nf-core/eager/2.4.5/dashboards/base.yaml
  depictio/projects/nf-core/eager/2.4.5/docs/dashboards.md
  depictio/projects/nf-core/mhcquant/3.2.0/dashboards/base.yaml
  depictio/projects/nf-core/mhcquant/3.2.0/docs/dashboards.md
Due: none

fix(advanced-viz): draw profile shaded bands at their own opacity
  packages/depictio-react-core/src/annotations/toPlotly.test.ts
  packages/depictio-react-core/src/components/advanced_viz/ProfileRenderer.tsx
Due: none

feat(nf-core/scrnaseq,airrflow): adopt the v2 template rules
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/airrflow/5.1.0/docs/dashboards.md
  depictio/projects/nf-core/scrnaseq/4.2.0/dashboards/base.yaml
  depictio/projects/nf-core/scrnaseq/4.2.0/docs/dashboards.md
Due: none

docs(nf-core): add the wave B round 2 lessons to RULES.md
  depictio/projects/nf-core/RULES.md
Due: none

fix(card): keep a long headline value on one line
  packages/depictio-components/src/lib/components/DepictioCard.tsx
Due: none

fix(nf-core/sarek,variantbenchmarking): correct the v2 dashboards from the live screenshots
  depictio/projects/nf-core/sarek/3.10.0/dashboards/base.yaml
  depictio/projects/nf-core/sarek/3.10.0/docs/dashboards.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/dashboards.md
Due: none

fix(nf-core/viralrecon,nanoseq): correct the v2 dashboards from the live screenshots
  depictio/projects/nf-core/nanoseq/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/nanoseq/3.0.0/docs/dashboards.md
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/docs/dashboards.md
Due: none

fix(nf-core/viralrecon): keep the summary metrics on nanopore runs
  depictio/catalog/multiqc/summary_metrics.py
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
  depictio/tests/recipes/test_viralrecon_summary_metrics.py
Due: ty-check-models-api-dash-cli

chore(seeds): viralrecon reference seeds with the Overview as main tab
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_lineage_clustering.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_overview.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_sample_qc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_variants.json
  depictio/projects/nf-core/viralrecon/3.0.0/generate_seeds.sh
  depictio/projects/nf-core/viralrecon/3.0.0/remap_seeds_to_static_ids.py
  depictio/tests/api/v1/test_seed_projects_filter.py
Due: ty-check-models-api-dash-cli

fix(nf-core/scrnaseq,airrflow): correct the v2 dashboards from the live screenshots
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/airrflow/5.1.0/docs/dashboards.md
  depictio/projects/nf-core/scrnaseq/4.2.0/dashboards/base.yaml
  depictio/projects/nf-core/scrnaseq/4.2.0/docs/dashboards.md
Due: none

fix(advanced-viz): let CI bars of a non-rate metric take their own range
  packages/depictio-react-core/src/components/advanced_viz/MetricCiBarsRenderer.tsx
Due: none

docs(nf-core): add the last wave B lessons to RULES.md
  depictio/projects/nf-core/RULES.md
Due: none

docs(nf-core/viralrecon): the nanopore route keeps its Key figures
  depictio/projects/nf-core/viralrecon/3.0.0/docs/dashboards.md
Due: none

fix(advanced-viz): keep GenomeSpy tiles alive when a viz control changes
  packages/depictio-react-core/src/components/advanced_viz/cnv_profile/CnvLocusView.tsx
  packages/depictio-react-core/src/components/advanced_viz/genomespy/useGenomeSpy.test.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/useGenomeSpy.ts
  packages/depictio-react-core/src/components/advanced_viz/sashimi/SashimiGenomeSpyView.tsx
Due: none

fix(nf-core/hic): read the decay slope Key figure off the pooled curve
  depictio/catalog/cooltools/distance_profile.yaml
  depictio/projects/nf-core/RULES.md
  depictio/projects/nf-core/hic/2.0.0/dashboards/base.yaml
Due: none

feat(nf-core): show each pipeline's wordmark on the Overview hero
  depictio/projects/nf-core/RULES.md
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/demultiplex/1.8.0/dashboards/base.yaml
  depictio/projects/nf-core/differentialabundance/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/eager/2.4.5/dashboards/base.yaml
  depictio/projects/nf-core/funcscan/4.0.0/dashboards/base.yaml
  depictio/projects/nf-core/genomeassembler/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/hic/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/mag/5.5.0/dashboards/base.yaml
  depictio/projects/nf-core/methylseq/2.3.0/dashboards/base.yaml
  depictio/projects/nf-core/mhcquant/3.2.0/dashboards/base.yaml
  depictio/projects/nf-core/nanoseq/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/riboseq/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/dashboards/base.yaml
  depictio/projects/nf-core/sarek/3.10.0/dashboards/base.yaml
  depictio/projects/nf-core/sarek/3.10.0/docs/dashboards.md
  depictio/projects/nf-core/scrnaseq/4.2.0/dashboards/base.yaml
  depictio/projects/nf-core/smrnaseq/2.4.1/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  packages/depictio-react-core/src/components/TextRenderer.tsx
Due: none

feat(nf-core/rnasplice): a sashimi of the event junctions, paired volcanoes, even rows
  depictio/projects/nf-core/rnasplice/1.0.4/VALIDATION_REPORT.md
  depictio/projects/nf-core/rnasplice/1.0.4/dashboards/base.yaml
  depictio/projects/nf-core/rnasplice/1.0.4/docs/dashboards.md
  depictio/projects/nf-core/rnasplice/1.0.4/megatest.yaml
  depictio/projects/nf-core/rnasplice/1.0.4/template.yaml
  depictio/projects/nf-core/rnasplice/recipes/event_junctions.py
Due: none

feat(nf-core/airrflow): four Key figures on every route
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/airrflow/5.1.0/docs/dashboards.md
  depictio/projects/nf-core/airrflow/5.1.0/megatest.yaml
  depictio/projects/nf-core/airrflow/5.1.0/recipes/annotation_counts.py
  depictio/projects/nf-core/airrflow/5.1.0/template.yaml
  depictio/tests/recipes/test_airrflow_route_alternates.py
Due: ty-check-models-api-dash-cli

fix(security): let the browser read indexed files from the S3 origin
  depictio/api/v1/configs/security_headers.py
  depictio/tests/api/v1/test_security_headers.py
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-compose/docker-compose.no-minio.yaml
  docker-images/Dockerfile.viewer
  docker-images/nginx.conf.template
  docs/indexed-files.md
  helm-charts/depictio/templates/_helpers.tpl
  helm-charts/depictio/templates/deployments.yaml
Due: ty-check-models-api-dash-cli, helm-lint

feat(card): a number format for card values: percent, integer, si, decimals:N
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/models/yaml_serialization/mvp_format.py
  depictio/tests/models/test_card_format.py
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/card/CardBuilder.tsx
  depictio/viewer/src/builder/card/CardPreview.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
  packages/depictio-react-core/src/components/card/metrics/BoxPlot.tsx
  packages/depictio-react-core/src/components/card/metrics/Coverage.tsx
  packages/depictio-react-core/src/components/card/metrics/Gauge.tsx
  packages/depictio-react-core/src/components/card/metrics/Histogram.tsx
  packages/depictio-react-core/src/components/card/metrics/StatList.tsx
  packages/depictio-react-core/src/components/card/metrics/Threshold.tsx
  packages/depictio-react-core/src/components/card/metrics/TopN.tsx
  packages/depictio-react-core/src/components/card/metrics/Trend.tsx
  packages/depictio-react-core/src/components/card/metrics/format.test.ts
  packages/depictio-react-core/src/components/card/metrics/format.ts
  packages/depictio-react-core/src/components/textValues.ts
Due: ty-check-models-api-dash-cli

fix(advanced-viz): let GenomeSpy lanes grow with their tile and in fullscreen
  packages/depictio-react-core/src/components/advanced_viz/genomespy/fileSpec.test.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/fileSpec.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/genomeSpySpec.test.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/genomeSpySpec.ts
Due: none

feat(advanced-viz): default_region: first opens the first contig the data carries
  depictio/models/components/advanced_viz/configs.py
  depictio/tests/models/test_advanced_viz_genome_view.py
  packages/depictio-react-core/src/components/advanced_viz/genomespy/defaultRegion.test.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/defaultRegion.ts
Due: ty-check-models-api-dash-cli

fix(nf-core/variantbenchmarking): read a near-empty benchmark honestly
  depictio/catalog/happy/summary.py
  depictio/catalog/sompy/regions.py
  depictio/catalog/sompy/summary.py
  depictio/catalog/truvari/summary.py
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/template.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/dashboards.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
  depictio/tests/recipes/test_benchmark_undefined_metrics.py
Due: ty-check-models-api-dash-cli

docs(nf-core): add the second live review lessons to RULES.md
  depictio/projects/nf-core/RULES.md
Due: none

fix(advanced-viz): leave a CI bar row with no estimate out instead of drawing it at 0
  packages/depictio-react-core/src/components/advanced_viz/MetricCiBarsRenderer.tsx
Due: none

chore(showcase): give the viralrecon nanopore run a project of its own
  scripts/nfcore_showcase.py
Due: none

feat(nf-core): format shares as percentages and large counts with SI suffixes
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/airrflow/5.1.0/docs/dashboards.md
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/docs/dashboards.md
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/differentialabundance/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/dashboards.md
  depictio/projects/nf-core/eager/2.4.5/dashboards/base.yaml
  depictio/projects/nf-core/genomeassembler/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/hic/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/hic/2.0.0/docs/dashboards.md
  depictio/projects/nf-core/mhcquant/3.2.0/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/sarek/3.10.0/dashboards/base.yaml
  depictio/projects/nf-core/scrnaseq/4.2.0/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/docs/dashboards.md
Due: none

feat(nf-core/eager): open the locus navigator on the first contig
  depictio/projects/nf-core/eager/2.4.5/dashboards/base.yaml
  depictio/projects/nf-core/eager/2.4.5/docs/dashboards.md
Due: none

fix(security): let the indexed-file readers load their inflate WebAssembly
  depictio/api/v1/configs/security_headers.py
  depictio/tests/api/v1/test_security_headers.py
  docker-images/nginx.conf.template
Due: ty-check-models-api-dash-cli

fix(nf-core/sarek): read the annotated VCFs at the default 1 Mb region
  depictio/projects/nf-core/sarek/3.10.0/dashboards/base.yaml
  depictio/projects/nf-core/sarek/3.10.0/docs/dashboards.md
Due: none

fix(nf-core/rnasplice): offer the sashimi's arc view only
  depictio/projects/nf-core/rnasplice/1.0.4/dashboards/base.yaml
  depictio/projects/nf-core/rnasplice/1.0.4/docs/dashboards.md
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
