Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix(api): register the Plotly templates when the figure cache is warm
  depictio/api/v1/services/multiqc/figures.py
  depictio/cli/cli/utils/mantine_templates.py
Due: ty-check-models-api-dash-cli

feat(viewer): scope the load indicator to the viewport, animate the boot splash
  depictio/viewer/src/App.tsx
  depictio/viewer/src/assets/animated_favicon.svg
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/components/BootSplash.tsx
  depictio/viewer/src/components/DashboardLoadIndicator.tsx
  depictio/viewer/src/components/DashboardLoadingBar.tsx
  depictio/viewer/src/main.tsx
  depictio/viewer/src/styles/app.css
  docs/viewer-loading.md
  packages/depictio-react-core/src/components/DashboardLoadingProvider.tsx
Due: none

fix(viewer): probe visibility after the grid has positioned its panels
  packages/depictio-react-core/src/hooks/useInView.ts
Due: none

feat(watch): run a watcher cycle from the UI, and keep it visible
  depictio/api/v1/endpoints/monitoring_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/monitoring/store.py
  depictio/cli/cli/commands/data.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/api_calls.py
  depictio/cli/cli/utils/common.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/step_reporter.py
  depictio/cli/cli/utils/watch.py
  depictio/cli/depictio_cli.py
  depictio/models/models/monitoring.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_core_functions.py
  depictio/tests/cli/utils/test_watch.py
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
  depictio/viewer/src/monitoring/AgentsPane.tsx
  depictio/viewer/src/monitoring/monitoring.css
  depictio/viewer/src/monitoring/primitives.tsx
  depictio/viewer/src/monitoring/tokens.ts
  depictio/viewer/src/projects/detail/ProjectIngestionHistoryPanel.tsx
  dev/diagrams/watch_trigger_schema.py
  dev/playwright_debug/docs_screenshots.py
  docs/automated-ingestion.md
  docs/images/v0.12/react/admin_monitoring_agents_dark.png
  docs/images/v0.12/react/admin_monitoring_agents_light.png
  docs/images/v0.12/react/admin_monitoring_ingestion_watch_dark.png
  docs/images/v0.12/react/admin_monitoring_ingestion_watch_light.png
  docs/images/v0.12/react/schema_watch_trigger.png
  docs/images/v0.12/react/schema_watch_trigger.svg
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(telemetry): route to the Depictio PostHog project, send anonymous events
  .github/workflows/telemetry-metrics.yaml
  depictio/api/v1/configs/settings_models.py
  depictio/cli/cli/utils/telemetry.py
  depictio/telemetry/constants.py
  depictio/telemetry/posthog.py
  depictio/tests/api/v1/test_telemetry.py
  depictio/tests/cli/utils/test_telemetry.py
  depictio/tests/unit/test_telemetry_core.py
  docs/telemetry.md
  packages/depictio-react-core/src/telemetry.ts
  scripts/gen_telemetry_docs.py
Due: ty-check-models-api-dash-cli

test(auth): pin the JWT warning assertions to the depictio logger
  depictio/tests/api/v1/endpoints/user_endpoints/test_core_functions.py
Due: ty-check-models-api-dash-cli

ci: stop downgrading polars under the pinned deltalake
  .github/workflows/depictio-ci.yaml
Due: none

fix(files,scan): stop destroying file registration history
  depictio/api/v1/core_indexes.py
  depictio/api/v1/endpoints/files_endpoints/routes.py
  depictio/api/v1/services/lifespan.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/api/v1/endpoints/files_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/files_endpoints/test_registration_time_immutable.py
  depictio/tests/cli/utils/test_scan_file_id_buckets.py
Due: ty-check-models-api-dash-cli

feat(dashboards): version history with pin, restore and time travel
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/version_store.py
  depictio/api/v1/endpoints/dashboards_endpoints/versioning.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/services/lifespan.py
  depictio/models/models/dashboard_versions.py
  depictio/models/yaml_serialization/DEPRECATION.md
  depictio/tests/api/v1/endpoints/dashboards_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_prune.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_versioning.py
Due: ty-check-models-api-dash-cli

feat(viewer): version history drawer for dashboards
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  depictio/viewer/src/versions/VersionTimelineItem.tsx
  depictio/viewer/src/versions/format.ts
  depictio/viewer/src/versions/useVersionHistory.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
  packages/plotly-complexheatmap/README.md
  packages/plotly-complexheatmap/plotly_complexheatmap/heatmap.py
  packages/plotly-upset/README.md
Due: none

docs: advertise dashboards.versions; correct the stale architecture notes
  CLAUDE.md
  depictio/api/v1/endpoints/utils_endpoints/routes.py
Due: ty-check-models-api-dash-cli

perf(ingestion): only rebuild what changed, and only the runs that changed
  depictio/api/v1/endpoints/datacollections_endpoints/table_manage.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
  depictio/api/v1/ingestion_tasks.py
  depictio/cli/cli/commands/data.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/delta_versioning.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/process.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/api/test_ingestion_provenance.py
  depictio/tests/cli/utils/test_delta_versioning.py
  depictio/tests/cli/utils/test_process_skip.py
  depictio/tests/cli/utils/test_scan_signal.py
  deploy/.env.example
  deploy/depictio-watch@.service
  deploy/docker-compose.watcher.yaml
  docs/automated-ingestion.md
Due: ty-check-models-api-dash-cli

refactor(cli): promote the watcher to `depictio watch`
  depictio/cli/cli/commands/data.py
  depictio/cli/depictio_cli.py
  depictio/cli/pyproject.toml
  depictio/models/models/monitoring.py
  depictio/viewer/src/monitoring/AgentsPane.tsx
  depictio/viewer/src/projects/detail/ProjectIngestionHistoryPanel.tsx
  deploy/depictio-watch@.service
  deploy/docker-compose.watcher.yaml
  dev/diagrams/watch_trigger_schema.py
  dev/playwright_debug/docs_screenshots.py
  docs/automated-ingestion.md
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

docs(claude): drop stale Dash-era guidance, correct commands and paths
  CLAUDE.md
Due: none

docs: four hand-drawn schemas for the incremental ingestion path
  dev/diagrams/ingestion_schemas.py
  dev/diagrams/sketch.py
  dev/diagrams/watch_trigger_schema.py
  docs/automated-ingestion.md
  docs/images/v0.12/react/schema_column_drift.png
  docs/images/v0.12/react/schema_column_drift.svg
  docs/images/v0.12/react/schema_cycle_cost.png
  docs/images/v0.12/react/schema_cycle_cost.svg
  docs/images/v0.12/react/schema_missing_runs.png
  docs/images/v0.12/react/schema_missing_runs.svg
  docs/images/v0.12/react/schema_watch_trigger.png
  docs/images/v0.12/react/schema_watch_trigger.svg
  docs/images/v0.12/react/schema_write_decision.png
  docs/images/v0.12/react/schema_write_decision.svg
Due: none

docs(design): RFC for static dashboard export (serverless viewing)
  docs/design/rfc-static-dashboard-export.md
Due: none

Bump version: 1.2.1 → 1.2.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.2.2
  CHANGELOG.md
Due: none

fix(release): re-point version tag at the amended bump commit
  bump-with-helm.sh
Due: none

Update README.md
  README.md
Due: none

dev(screenshots): realtime shots, journal seeding, anonymous instances
  dev/playwright_debug/docs_screenshots.py
Due: none

perf(docker,api): scope the dev-mode file watchers to real source
  depictio/api/run.py
  docker-compose.dev.yaml
  docker-images/run_celery_worker.sh
Due: ty-check-models-api-dash-cli

feat(render): figure/table row caps, point downsampling & cheap row-count
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/models/components/figure.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/test_figure_sampling.py
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
  depictio/viewer/src/builder/table/TableBuilder.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
Due: ty-check-models-api-dash-cli

Add performance benchmark harness (datasets + runner + report)
  .gitignore
  benchmark/README.md
  benchmark/__init__.py
  benchmark/cli.py
  benchmark/configgen.py
  benchmark/datagen.py
  benchmark/matrix.py
  benchmark/metrics.py
  benchmark/report.py
  benchmark/runner.py
  depictio/api/v1/configs/benchmark_dataset_generator.py
  depictio/tests/unit/test_benchmark_harness.py
Due: ty-check-models-api-dash-cli

perf(bench): ingest throughput + per-type report sections
  benchmark/metrics.py
  benchmark/report.py
  benchmark/runner.py
Due: none

perf(cli): per-phase ingest timing (parse/collect/write/upload) + peak RSS
  depictio/cli/cli/commands/images.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/helpers.py
  depictio/cli/cli/utils/ingest_timing.py
  depictio/cli/cli/utils/multiqc_processor.py
Due: ty-check-models-api-dash-cli

perf(cli): opt-in streamed Delta write to bound ingest memory
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/deltatables.py
  depictio/tests/cli/utils/test_deltatable_streaming.py
Due: ty-check-models-api-dash-cli

perf(bench): ingestion benchmark for table / MultiQC / images
  benchmark/cli.py
  benchmark/configgen.py
  benchmark/datagen.py
  benchmark/matrix.py
  benchmark/metrics.py
  benchmark/report.py
  benchmark/runner.py
Due: none

perf(api): stop materialising the delta table in the upsert event payload
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
  depictio/viewer/src/builder/table/TableBuilder.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/chrome/LoadAllButton.tsx
Due: ty-check-models-api-dash-cli

refactor(cli): drop the type: ignore comments added with the ingest work
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/ingest_timing.py
Due: ty-check-models-api-dash-cli

fix(monitoring): gate WS probe on events_enabled to stop 403 reconnect loop
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
Due: none

perf(cli): opt-in parallel multi-data-collection ingestion
  depictio/cli/cli/utils/process.py
  depictio/tests/cli/utils/test_multi_dc_parallel.py
Due: ty-check-models-api-dash-cli

perf(bench): make the harness survive and characterise the 1GB tier
  benchmark/README.md
  benchmark/blog_metrics.py
  benchmark/cli.py
  benchmark/configgen.py
  benchmark/matrix.py
  benchmark/metrics.py
  benchmark/report.py
  benchmark/runner.py
  depictio/tests/unit/test_benchmark_harness.py
  docker-compose.bench.yaml
Due: ty-check-models-api-dash-cli

perf(cli): opt-in parallel MultiQC report parsing
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/tests/cli/utils/test_multiqc_parse_parallel.py
Due: ty-check-models-api-dash-cli

perf(cli): resolve existing image keys with one LIST instead of N HEADs
  depictio/cli/cli/commands/images.py
  depictio/tests/cli/utils/test_image_existing_keys.py
Due: ty-check-models-api-dash-cli

perf(api): scan-level aggregation pushdown for figures and cards
  depictio/api/v1/celery_dispatch.py
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/models/models/dashboards.py
  depictio/tests/unit/test_card_aggregation.py
  depictio/tests/unit/test_figure_aggregate.py
Due: ty-check-models-api-dash-cli

feat(viewer): bounded render payloads with an explicit load-all escape hatch
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/advanced_viz/DaBarplotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MARenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/StackedTaxonomyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/VolcanoRenderer.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/fetchQueue.ts
Due: none

chore: refresh seeded dashboard screenshots and cli uv.lock
  depictio/cli/uv.lock
Due: ty-check-models-api-dash-cli

chore(bench): ignore per-run benchmark output directories
  .gitignore
Due: none

docs(bench): handoff notes for the ingest-path memory blowup
  benchmark/HANDOFF_ingest_memory.md
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
