Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix: Update ensure_owners_and_viewers_are_unique method to use instance variables
  depictio/models/models/users.py
Due: ty-check-models-api-dash-cli

feat: Add icon selection functionality to interactive component and enhance default icon mapping
  depictio/dash/modules/interactive_component/frontend.py
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

feat: Enhance filtering logic to support joined data collections in _filter_relevant_dcs function
  depictio/dash/modules/figure_component/frontend.py
Due: ty-check-models-api-dash-cli

fix: Update Celery worker command to correctly point to celery_app module
  docker-images/run_celery_worker.sh
Due: none

fix: Add MultiQC to quality check dependencies in CI workflow
  .github/workflows/depictio-cli-test-and-publish.yaml
Due: none

feat: Add detailed logging for save callback and clean up commented code
  depictio/dash/layouts/save.py
Due: ty-check-models-api-dash-cli

feat: Add sample mapping utility to build mappings from canonical IDs to MultiQC variants
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/cli/cli/utils/multiqc_processor.py
Due: ty-check-models-api-dash-cli

fix: Update patch targets in MultiQC processor tests for correct module referencing
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

feat: Add sample mappings and canonical samples fields to MultiQCMetadata for enhanced data representation
  depictio/models/models/multiqc_reports.py
Due: ty-check-models-api-dash-cli

fix: Increase height of notes footer content for better visibility
  depictio/dash/layouts/notes_footer.py
Due: ty-check-models-api-dash-cli

feat: Update sync callback to allow duplicate outputs and adjust initial call behavior
  depictio/dash/modules/text_component/frontend.py
Due: ty-check-models-api-dash-cli

fix: Update mock path handling in MultiQC processor tests to improve directory iteration
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

feat: Implement interactive filtering support with extraction, grouping, and relevance checks for data collections
  depictio/dash/modules/figure_component/frontend.py
Due: ty-check-models-api-dash-cli

fix: Update layout IDs to match component index to prevent layout destruction on dashboard reload
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/save.py
Due: ty-check-models-api-dash-cli

feat: Enhance logging for filter application in load_deltatable_lite function
  depictio/api/v1/deltatables_utils.py
Due: ty-check-models-api-dash-cli

feat: Add endpoint to retrieve sample mappings for MultiQC reports
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
Due: ty-check-models-api-dash-cli

refactor: Comment out performance monitoring intervals in background effects and analytics layout
  depictio/dash/components/background_effects.py
  depictio/dash/layouts/admin_analytics.py
Due: ty-check-models-api-dash-cli

feat: Re-enable color picker and add title size selection in interactive component
  depictio/dash/modules/interactive_component/frontend.py
Due: ty-check-models-api-dash-cli

refactor: Update layout dimensions for 48-column grid with ultra-fine precision
  depictio/dash/layouts/draggable.py
Due: ty-check-models-api-dash-cli

fix: Update default dimensions for components to fit 48-column grid layout
  depictio/dash/component_metadata.py
Due: ty-check-models-api-dash-cli

chore: ampliseq def refmt
  dev/ampliseq_rfmt/dev.ipynb
Due: none

fix: Reduce interval for SVG trigger to improve loading responsiveness
  depictio/dash/layouts/draggable_scenarios/progressive_loading.py
Due: ty-check-models-api-dash-cli

feat: Enhance MultiQC processor tests with improved mocking and error handling
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

fix: Adjust button height in selected and unselected styles for consistency
  depictio/dash/assets/dock-animation.css
  depictio/dash/utils.py
Due: ty-check-models-api-dash-cli

fix: Simplify dependency installation process and verify polars installation
  .github/workflows/depictio-ci.yaml
Due: none

refactor: Move partial data popover update callback to frontend.py for better synchronization
  depictio/dash/layouts/edit.py
Due: ty-check-models-api-dash-cli

fix: Comment out pandera dependency for pandas and polars in dev requirements
  pyproject.toml
Due: none

feat: Enhance UI/UX of interactive components with improved layout and spacing adjustments
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

feat: Improve dashboard screenshot functionality with enhanced loading and composite rendering
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix: Update CI workflow to clean up conflicting polars packages and ensure correct installation of polars-lts-cpu
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/configs/ampliseq_dataset/ampliseq_project.yaml
Due: ty-check-models-api-dash-cli

feat: Add workflow logo overlay component for dashboard branding
  depictio/dash/assets/css/components/workflow-logo-overlay.css
  depictio/dash/assets/images/workflows/ampliseq.png
  depictio/dash/components/workflow_logo_overlay.py
Due: ty-check-models-api-dash-cli

feat: Implement defensive cache check for project data and add workflow logo overlay
  depictio/dash/layouts/app_layout.py
Due: ty-check-models-api-dash-cli

Bump version: 0.4.0 → 0.5.0
  .bumpversion.cfg
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.5.0
  CHANGELOG.md
Due: none

feat: Add Redis support with configuration, deployment, and connectivity tests
  .github/workflows/test-and-package-helm-chart.yaml
  .gitignore
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/services.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix: Correct string formatting in Redis cache stats logging
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

feat: Enhance dashboard model and UI with subtitle and icon customization options
  depictio/api/v1/endpoints/dashboards_endpoints/core_functions.py
  depictio/dash/layouts/dashboards_management.py
  depictio/models/models/dashboards.py
Due: ty-check-models-api-dash-cli

feat: Enhance theme management with improved clientside callbacks and logo updates
  depictio/dash/simple_theme.py
Due: ty-check-models-api-dash-cli

refactor: Remove dark theme specific styles for auth modal and Google button
  depictio/dash/assets/css/components/auth.css
Due: ty-check-models-api-dash-cli
