Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix(catalog): type homer's TSS peak_count as Int64, not polars' UInt64
  depictio/catalog/homer/tss_distance_profile.py
Due: none

feat(groups): carry a selection group across data collections, and say when it cannot
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/filter_links.py
  depictio/api/v1/services/card_groups.py
  depictio/api/v1/services/figure/groups.py
  depictio/tests/api/v1/test_group_link_resolution.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/GroupingHeaderControl.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/interactive/GroupingSteps.tsx
  packages/depictio-react-core/src/components/interactive/PendingGroupForm.tsx
  packages/depictio-react-core/src/components/interactive/SelectionGroupsPanel.tsx
  packages/depictio-react-core/src/components/interactive/ValueListPreview.tsx
  packages/depictio-react-core/src/components/interactive/groupingGuide.test.ts
  packages/depictio-react-core/src/components/interactive/groupingGuide.ts
  packages/depictio-react-core/src/groupStatus.test.ts
  packages/depictio-react-core/src/groupStatus.ts
  packages/depictio-react-core/src/hooks/useSelectionGroups.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selectionGroups.ts
  packages/depictio-react-core/src/utils/panelToggle.ts
Due: ty-check-models-api-dash-cli

feat(catalog): one panel for both catalogues, and a preview for every render
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/catalog/payload.py
  depictio/viewer/src/builder/catalog/CatalogPreviewPanel.tsx
  depictio/viewer/src/catalog-preview/App.tsx
  depictio/viewer/src/catalog-preview/Gallery.tsx
  depictio/viewer/src/catalog-preview/OutputView.tsx
  depictio/viewer/src/catalog-preview/shared.tsx
  depictio/viewer/src/catalog-shared/tileSnippet.ts
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

docs(nf-core): give the dense plots their own row, and screenshot every tab
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/docs/dashboards.md
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/atac-signal.png
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/consensus.png
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/differential-accessibility.png
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/library-qc.png
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/peaks.png
Due: none

feat(nf-core): add atacseq and cutandrun, and fix two manifest guards
  depictio/projects/nf-core/MEGATEST_STATUS.md
  depictio/projects/nf-core/TEMPLATE_BOTTLENECKS.md
  depictio/tests/unit/test_nfcore_megatest.py
  scripts/nfcore_megatest.py
Due: ty-check-models-api-dash-cli

feat(nf-core): add a tab screenshot capture script for template dashboards
  dev/playwright_debug/template_dashboard_shots.py
Due: none

fix(homer): anchor the TSS profile glob to the per-sample peak tables
  depictio/catalog/homer/tss_distance_profile.yaml
  packages/tool-studio/public/catalog.json
Due: none

feat(complex-heatmap): name the metadata columns to annotate, instead of baking them in
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/models/components/advanced_viz/configs.py
  depictio/tests/api/v1/tasks/test_complex_heatmap_annotation_sources.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/ComplexHeatmapRenderer.tsx
Due: ty-check-models-api-dash-cli

docs(nf-core): give the dense plots their own row, and screenshot every tab
  depictio/projects/nf-core/differentialabundance/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/dashboards.md
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/differential-expression-overview.png
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/differential-expression.png
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/expression-heatmap.png
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/expression.png
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/genome-view-overview.png
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/genome-view.png
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/manhattan.png
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/samples-overview.png
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/samples-pca-distance.png
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/samples.png
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/screenshots/volcano-ma.png
Due: none

docs(nf-core): give the dense plots their own row, and screenshot every tab
  depictio/projects/nf-core/rnaseq/3.26.0/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/docs/dashboards.md
  depictio/projects/nf-core/rnaseq/3.26.0/docs/screenshots/expression-heatmap.png
  depictio/projects/nf-core/rnaseq/3.26.0/docs/screenshots/expression-overview.png
  depictio/projects/nf-core/rnaseq/3.26.0/docs/screenshots/gene-explorer.png
  depictio/projects/nf-core/rnaseq/3.26.0/docs/screenshots/qc.png
Due: none

fix(catalog): validate list-valued render roles, and record the lot-1 gaps
  depictio/projects/nf-core/MEGATEST_STATUS.md
  depictio/projects/nf-core/TEMPLATE_BOTTLENECKS.md
  depictio/projects/nf-core/VALIDATION_SCENARIOS.md
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

docs(nf-core): put back the three showcase entries the placement rebase split off
  scripts/nfcore_showcase.py
Due: none

feat(nf-core): add the atacseq 1.2.2 template with the ataqv catalog tool
  .gitignore
  depictio/catalog/ataqv/chromosome_counts.py
  depictio/catalog/ataqv/chromosome_counts.tsv
  depictio/catalog/ataqv/chromosome_counts.yaml
  depictio/catalog/ataqv/fragment_length.py
  depictio/catalog/ataqv/fragment_length.tsv
  depictio/catalog/ataqv/fragment_length.yaml
  depictio/catalog/ataqv/metrics.py
  depictio/catalog/ataqv/metrics.tsv
  depictio/catalog/ataqv/metrics.yaml
  depictio/catalog/ataqv/module.yaml
  depictio/catalog/ataqv/tss_coverage.py
  depictio/catalog/ataqv/tss_coverage.tsv
  depictio/catalog/ataqv/tss_coverage.yaml
  depictio/catalog/multiqc/ataqv.yaml
  depictio/projects/init/catalog_conformance/ataqv_chromosome_counts.tsv
  depictio/projects/init/catalog_conformance/ataqv_fragment_length.tsv
  depictio/projects/init/catalog_conformance/ataqv_metrics.tsv
  depictio/projects/init/catalog_conformance/ataqv_tss_coverage.tsv
  depictio/projects/init/catalog_conformance/manifest.json
  depictio/projects/init/catalog_conformance/run_1/multiqc/multiqc_data/multiqc.parquet
  depictio/projects/init/catalog_conformance/scripts/multiqc_stubs.py
  depictio/projects/init/catalog_conformance/static_ids.json
  depictio/projects/init/catalog_conformance/template.yaml
  depictio/projects/nf-core/VALIDATION_SCENARIOS.md
  depictio/projects/nf-core/atacseq/1.2.2/.db_seeds/.gitkeep
  depictio/projects/nf-core/atacseq/1.2.2/VALIDATION_REPORT.md
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/docs/dashboards.md
  depictio/projects/nf-core/atacseq/1.2.2/download_test_data.sh
  depictio/projects/nf-core/atacseq/1.2.2/input/design_reads.csv
  depictio/projects/nf-core/atacseq/1.2.2/megatest.yaml
  depictio/projects/nf-core/atacseq/1.2.2/pipeline_info/software_versions.csv
  depictio/projects/nf-core/atacseq/1.2.2/recipes/broad_peaks.py
  depictio/projects/nf-core/atacseq/1.2.2/recipes/sample_design.py
  depictio/projects/nf-core/atacseq/1.2.2/template.yaml
  packages/tool-studio/public/catalog.json
Due: none

fix(homer): bind the annotation recipe to the per-sample tables only
  depictio/catalog/homer/annotate_peaks.py
  depictio/catalog/homer/annotate_peaks.yaml
  depictio/projects/nf-core/chipseq/1.2.0/template.yaml
  packages/tool-studio/public/catalog.json
Due: none

fix(nf-core): name the MultiQC tab for what it is, and give every tab the project icon
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/small/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/structural/dashboards/base.yaml
Due: none

fix(catalog): keep a catalog interactive render's variant, and wait out MultiQC
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
  depictio/viewer/src/builder/catalog/CatalogTab.tsx
Due: ty-check-models-api-dash-cli

feat(viewer): say where run parameters come from, and settle the z-index order
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/DashboardInfoBody.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/components/DemoModeBanner.tsx
  depictio/viewer/src/components/NotesFooter.tsx
  depictio/viewer/src/projects/detail/RunProvenanceCard.tsx
  depictio/viewer/src/projects/template.tsx
  packages/depictio-react-core/src/components/mapPanel/MapPanelSurface.tsx
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/zLayers.ts
Due: none

fix(complexheatmap): drop row labels that have no room to be read
  packages/plotly-complexheatmap/plotly_complexheatmap/heatmap.py
  packages/plotly-complexheatmap/tests/test_heatmap.py
Due: none

feat(advanced-viz): let a lollipop name its stems, and colour ARG arrows by tool
  depictio/catalog/hamronization/report.yaml
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  packages/depictio-react-core/src/components/advanced_viz/LollipopRenderer.tsx
  packages/tool-studio/public/catalog.json
  packages/tool-studio/public/kinds.json
Due: ty-check-models-api-dash-cli

docs(nf-core): give the dense plots their own row, and screenshot every tab
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/airrflow/5.1.0/docs/dashboards.md
  depictio/projects/nf-core/airrflow/5.1.0/docs/screenshots/clonal-analysis.png
  depictio/projects/nf-core/airrflow/5.1.0/docs/screenshots/quality-control.png
  depictio/projects/nf-core/airrflow/5.1.0/docs/screenshots/repertoire.png
  depictio/projects/nf-core/airrflow/5.1.0/docs/screenshots/sequence-processing.png
Due: none

docs(nf-core): the measured verdicts, and a driver for the showcase instance
  depictio/projects/nf-core/TEST_DATASETS.md
  scripts/nfcore_showcase.py
  scripts/nfcore_validation.config
  scripts/nfcore_validation_hpc.py
Due: none

feat(dashboards): sort the table by when you last opened a dashboard
  depictio/viewer/src/dashboards/DashboardsList.tsx
  depictio/viewer/src/dashboards/views/DashboardTableView.tsx
  depictio/viewer/table-harness.tsx
Due: none

feat(sashimi): draw measured read depth under the arcs
  depictio/api/v1/db_init_reference_datasets.py
  depictio/models/components/advanced_viz/configs.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_sashimi.json
  depictio/projects/init/advanced_viz_showcase/dashboards/sashimi.yaml
  depictio/projects/init/advanced_viz_showcase/data/sashimi_coverage_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  packages/depictio-react-core/src/colors.ts
  packages/depictio-react-core/src/components/advanced_viz/SashimiRenderer.tsx
Due: ty-check-models-api-dash-cli

fix(api): keep same-titled MultiQC metrics apart, and stop dense heatmaps washing out
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/services/figure/code_executor.py
  depictio/api/v1/services/multiqc/general_stats_payload.py
  depictio/tests/api/v1/tasks/test_complex_heatmap_annotation_palette.py
  depictio/tests/api/v1/test_code_executor_builtins.py
  depictio/tests/api/v1/test_general_stats_duplicate_titles.py
  packages/plotly-complexheatmap/plotly_complexheatmap/annotations.py
  packages/plotly-complexheatmap/plotly_complexheatmap/heatmap.py
  packages/plotly-complexheatmap/tests/test_annotations.py
  packages/plotly-complexheatmap/tests/test_heatmap.py
Due: ty-check-models-api-dash-cli

docs(templates): give the generated reference an Origin and Reads column
  depictio/dev_scripts/gen_template_docs.py
Due: none

fix(variantbenchmarking): anchor the recipes on the variant-type directory
  depictio/catalog/happy/roc.py
  depictio/catalog/happy/summary.py
  depictio/catalog/rtgtools/vcfeval_summary.py
  depictio/catalog/sompy/regions.py
  depictio/catalog/sompy/summary.py
  depictio/catalog/svanalyzer/svbenchmark.py
  depictio/catalog/truvari/summary.py
  depictio/catalog/wittyer/summary.py
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
Due: none

fix(variantbenchmarking): keep the germline and somatic vcfeval tables apart
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
Due: none

feat(github): an issue form for dashboard feedback, so reports arrive sorted
  .env.example
  .github/ISSUE_TEMPLATE/dashboard_feedback.yml
Due: none

feat(viewer): an opt-in feedback link that carries the reader's context
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/tests/unit/test_feedback_config.py
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/feedback.ts
  depictio/viewer/src/main.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

fix(viewer): move the feedback icon to the end of the header row
  depictio/viewer/src/chrome/Header.tsx
Due: none

fix(viewer): send the tab label the reader sees, not the dashboard title
  depictio/viewer/src/chrome/Header.tsx
Due: none

feat(github): ask what the reader can see, on two axes instead of one
  .github/ISSUE_TEMPLATE/dashboard_feedback.yml
Due: none

fix(deploy): let DEPICTIO_FEEDBACK_* actually reach a container
  .env.example
  docker-compose.dev.yaml
  docker-compose.yaml
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix(nf-core): drop the two showcase scenarios that were the megatest twice
  depictio/projects/nf-core/TEST_DATASETS.md
  scripts/nfcore_showcase.py
Due: none

test(e2e): stop the catalog walk from racing MultiQC's server-side preparation
  depictio/tests/e2e-playwright/fixtures/catalog.ts
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
