Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

refactor(api): relocate figure_component helpers out of dash/
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/figure_endpoints/routes.py
  depictio/api/v1/services/figure/__init__.py
  depictio/api/v1/services/figure/code_executor.py
  depictio/api/v1/services/figure/code_mode.py
  depictio/api/v1/services/figure/definitions.py
  depictio/api/v1/services/figure/error_figure.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/api/v1/services/figure/heatmap.py
  depictio/api/v1/services/figure/models.py
  depictio/api/v1/services/figure/parameter_discovery.py
Due: ty-check-models-api-dash-cli

refactor(api): relocate multiqc + map data helpers out of dash/
  depictio/api/celery_app.py
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/services/map/__init__.py
  depictio/api/v1/services/map/render.py
  depictio/api/v1/services/multiqc/__init__.py
  depictio/api/v1/services/multiqc/dc_lookup.py
  depictio/api/v1/services/multiqc/figures.py
  depictio/api/v1/services/multiqc/general_stats_payload.py
  depictio/api/v1/services/multiqc/patching.py
  depictio/api/v1/services/multiqc/paths.py
  depictio/api/v1/services/multiqc/themes.py
Due: ty-check-models-api-dash-cli

test(k8s): throwaway manifests for React-migration deploy validation
  dev/react-migration-test/README.md
  dev/react-migration-test/manifests.yaml
Due: none

ci: skip Dash-dependent CI jobs + verification steps
  .github/workflows/depictio-ci.yaml
Due: none

ci: build api/worker/viewer instead of monolith; rename depictio-frontend → depictio-viewer
  .github/workflows/depictio-ci.yaml
Due: none

fix(nginx): defer backend DNS resolution from startup to request time
  docker-images/nginx.conf
Due: none

ci: fix stale nginx.conf path filter in build-images workflow
  .github/workflows/build-images.yaml
Due: none

feat(helm): port chart + minikube CI to per-service images (api/worker/viewer)
  .github/workflows/test-and-package-helm-chart.yaml
  docker-compose.dev.yaml
  docker-images/Dockerfile.viewer
  docker-images/nginx.conf.template
  helm-charts/depictio/templates/NOTES.txt
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/ingress.yaml
  helm-charts/depictio/templates/services.yaml
  helm-charts/depictio/templates/wipe-job.yaml
  helm-charts/depictio/values-gh-actions.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix(screenshots): route /screenshot-react-dual through Celery worker (API has no chromium)
  .github/workflows/test-and-package-helm-chart.yaml
  depictio/api/celery_app.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix(screenshots): navigate to viewer (nginx), not FastAPI, for SPA capture
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/services/screenshot_service.py
  depictio/tests/api/v1/test_settings_models.py
Due: ty-check-models-api-dash-cli

fix(cli): bump validate_cli_config timeout to 30s (was httpx 5 s default)
  depictio/cli/cli/utils/api_calls.py
Due: ty-check-models-api-dash-cli

feat(catalog): declarative bio tool→viz catalog with nf-core/bio.tools/EDAM identity
  depictio/catalog/README.md
  depictio/catalog/metaphlan.yaml
  depictio/catalog/qiime2.yaml
  depictio/cli/cli/commands/catalog.py
  depictio/cli/depictio_cli.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/producers.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/models/test_catalog.py
  docs/design/bioinformatics-catalog.md
Due: ty-check-models-api-dash-cli

fix(cli): set 60 s timeout on every httpx call (was 5 s default)
  depictio/cli/cli/utils/api_calls.py
Due: ty-check-models-api-dash-cli

fix(cli): bump api_login timeout 30 s → 120 s for cold-start backends
  depictio/cli/cli/utils/api_calls.py
Due: ty-check-models-api-dash-cli

feat(catalog): full viralrecon + ampliseq coverage, pipeline entries, JSON Schema
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/catalog/ampliseq.yaml
  depictio/catalog/catalog.schema.json
  depictio/catalog/qiime2.yaml
  depictio/catalog/viralrecon.yaml
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

feat(auth): backend for pipeline provisioning + magic-link login
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/services/lifespan.py
  depictio/models/models/users.py
Due: ty-check-models-api-dash-cli

refactor(catalog): MultiQC-module layout — find rules, raw file_schema, resolvable links
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/catalog/ampliseq.yaml
  depictio/catalog/catalog.schema.json
  depictio/catalog/fastqc.yaml
  depictio/catalog/ivar.yaml
  depictio/catalog/metaphlan.yaml
  depictio/catalog/mosdepth/amplicon_coverage.yaml
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/mosdepth/genome_coverage.yaml
  depictio/catalog/mosdepth/module.yaml
  depictio/catalog/multiqc.yaml
  depictio/catalog/nextclade.yaml
  depictio/catalog/pangolin.yaml
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/catalog/qiime2/alpha_rarefaction.yaml
  depictio/catalog/qiime2/ancombc.yaml
  depictio/catalog/qiime2/module.yaml
  depictio/catalog/qiime2/phylogeny.yaml
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/catalog/qiime2/taxa_barplot.yaml
  depictio/catalog/viralrecon.yaml
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
  docs/design/bioinformatics-catalog.md
Due: ty-check-models-api-dash-cli

feat(viewer): passwordless magic-link login route
  depictio/viewer/src/auth/AuthApp.tsx
  depictio/viewer/src/auth/components/MagicLinkCallback.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(cli): run --user provisions account and emits magic-link login
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/api_calls.py
Due: ty-check-models-api-dash-cli

test(auth): cover provisioning + magic-link core functions
  depictio/tests/api/v1/endpoints/user_endpoints/test_provisioning.py
Due: ty-check-models-api-dash-cli

refactor(catalog): bind MultiQC tools, URLs over IDs, recipe-only reshape, drop pipelines
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/catalog/catalog.schema.json
  depictio/catalog/fastqc.yaml
  depictio/catalog/ivar.yaml
  depictio/catalog/metaphlan.yaml
  depictio/catalog/mosdepth/amplicon_coverage.yaml
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/mosdepth/genome_coverage.yaml
  depictio/catalog/mosdepth/module.yaml
  depictio/catalog/multiqc.yaml
  depictio/catalog/multiqc/aggregate.yaml
  depictio/catalog/multiqc/fastqc.yaml
  depictio/catalog/multiqc/module.yaml
  depictio/catalog/nextclade.yaml
  depictio/catalog/pangolin.yaml
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/catalog/qiime2/alpha_rarefaction.yaml
  depictio/catalog/qiime2/ancombc.yaml
  depictio/catalog/qiime2/module.yaml
  depictio/catalog/qiime2/phylogeny.yaml
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/catalog/qiime2/taxa_barplot.yaml
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
  docs/design/bioinformatics-catalog.md
Due: ty-check-models-api-dash-cli

fix(catalog): apply multi-angle review findings (validate bugs, domain data, validators)
  depictio/catalog/SCHEMA.md
  depictio/catalog/ivar.yaml
  depictio/catalog/metaphlan.yaml
  depictio/catalog/mosdepth/module.yaml
  depictio/catalog/multiqc/fastqc.yaml
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/catalog/qiime2/alpha_rarefaction.yaml
  depictio/catalog/qiime2/ancombc.yaml
  depictio/catalog/qiime2/module.yaml
  depictio/catalog/qiime2/phylogeny.yaml
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/catalog/qiime2/taxa_barplot.yaml
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

Fix tab three-dots menu triggering URL refresh in React viewer
  depictio/viewer/src/chrome/Sidebar.tsx
Due: none

perf: trim worker Dockerfile + remove 4 unused Python deps
  docker-images/Dockerfile.worker
  pyproject.toml
  uv.lock
Due: none

refactor(catalog): redesign as a decoupled tool→recipe→component linking table
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/catalog/catalog.schema.json
  depictio/catalog/ivar.yaml
  depictio/catalog/metaphlan.yaml
  depictio/catalog/mosdepth/amplicon_coverage.yaml
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/mosdepth/genome_coverage.yaml
  depictio/catalog/mosdepth/module.yaml
  depictio/catalog/multiqc/aggregate.yaml
  depictio/catalog/multiqc/fastqc.yaml
  depictio/catalog/multiqc/module.yaml
  depictio/catalog/nextclade.yaml
  depictio/catalog/pangolin.yaml
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/catalog/qiime2/alpha_rarefaction.yaml
  depictio/catalog/qiime2/ancombc.yaml
  depictio/catalog/qiime2/module.yaml
  depictio/catalog/qiime2/phylogeny.yaml
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/catalog/qiime2/taxa_barplot.yaml
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/producers.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/models/test_catalog.py
  docs/design/bioinformatics-catalog.md
Due: ty-check-models-api-dash-cli

fix(catalog): validate `component` against the real ComponentType + identity URL formats
  depictio/catalog/catalog.schema.json
  depictio/catalog/multiqc/aggregate.yaml
  depictio/catalog/multiqc/fastqc.yaml
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

feat(catalog): existence validation for nf-core modules + EDAM terms (offline)
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/catalog/_index/edam_terms.txt
  depictio/catalog/_index/nf_core_modules.txt
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

feat(catalog): module-granular guided composition (catalog compose) + direction v3
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/producers.py
  depictio/tests/models/test_catalog.py
  docs/design/bioinformatics-catalog.md
Due: ty-check-models-api-dash-cli

feat(catalog): software_versions.yml scoping for guided recognition + align retirement wording
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/models/test_catalog.py
  docs/design/bioinformatics-catalog.md
Due: ty-check-models-api-dash-cli

docs(catalog): add concise TODO backlog (free-mode UI, guided ingestion, v3 module re-keying, suggest_producers retirement)
  depictio/catalog/TODO.md
Due: none

perf(docker): slim api/worker images (~880 MB)
  .dockerignore
  docker-images/Dockerfile.worker
Due: none

chore(docker): remove legacy Dockerfiles and dead k8s-dev artifacts
  docker-images/Dockerfile_jbrowse.dev.240424.dockerfile
  docker-images/Dockerfile_jbrowse.dev.dockerfile
  docker-images/Dockerfile_jbrowse.dev.plugin.dockerfile
  docker-images/Dockerfile_jbrowse.dockerfile
  kubernetes/dev/backend/Dockerfile
  kubernetes/dev/backend/main.py
  kubernetes/dev/dummy_app_python.yaml
  kubernetes/dev/frontend/Dockerfile
  kubernetes/dev/frontend/app.py
Due: none

feat(docker): fold no-minio into a local-minio/external-s3 compose profile
  .env.example
  docker-compose.yaml
  docker-compose/docker-compose.no-minio.yaml
Due: none

refactor(dev): dev stack serves the Vite viewer only; live-reload worker and viewer
  .devcontainer/docker-compose.devcontainer.yaml
  .devcontainer/post_create_setup.sh
  .devcontainer/pre_create_setup.sh
  .devcontainer/scripts/allocate-ports.sh
  .devcontainer/scripts/forward-ports.sh
  .devcontainer/scripts/print-ports.sh
  docker-compose.dev.yaml
  docker-images/Dockerfile.viewer.dev
  docker-images/run_celery_worker.sh
  pyproject.toml
  uv.lock
Due: none

fix(viewer): single-user screenshots, root redirect to /dashboards-beta, Vite host
  .gitignore
  depictio/api/v1/services/screenshot_service.py
  depictio/viewer/vite.config.ts
  docker-images/nginx.conf.template
Due: ty-check-models-api-dash-cli

fix(api): register mantine Plotly templates natively; correct multiqc paths import
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/api/v1/services/figure/mantine_templates.py
  depictio/api/v1/services/multiqc/figures.py
Due: ty-check-models-api-dash-cli

feat(catalog): figure (UI + code mode) & card renders + fixture-grounded validation
  depictio/catalog/SCHEMA.md
  depictio/catalog/TODO.md
  depictio/catalog/catalog.schema.json
  depictio/catalog/ivar.yaml
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

feat(catalog): enrich renders + add bundled fixtures across all entries
  depictio/catalog/ivar.yaml
  depictio/catalog/mosdepth/amplicon_coverage.yaml
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/mosdepth/genome_coverage.yaml
  depictio/catalog/nextclade.yaml
  depictio/catalog/pangolin.yaml
  depictio/catalog/qiime2/alpha_rarefaction.yaml
  depictio/catalog/qiime2/ancombc.yaml
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/catalog/qiime2/taxa_barplot.yaml
Due: none

test(catalog): mosdepth genome now renders coverage_track + a card (assert membership)
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli
