Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix: set -e leaks into interactive shell when allocate-ports.sh is sourced
  .devcontainer/scripts/allocate-ports.sh
Due: none

fix: remove set -e from sourced script to prevent readline freeze
  .devcontainer/scripts/allocate-ports.sh
Due: none

fix: export now includes embedded workflows/DCs + UI teal consistency
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/dash/layouts/projects.py
Due: ty-check-models-api-dash-cli

fix: datetime JSON serialization error + tabs centered under title
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/dash/layouts/projects.py
Due: ty-check-models-api-dash-cli

feat: complete migrate export/import — S3 bundling, conflict detection, auto-refresh
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/dash/layouts/projects.py
Due: ty-check-models-api-dash-cli

fix: CLI --overwrite flag, CI conflict/files/deltatables assertions, code cleanup
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/cli/cli/commands/migrate.py
  depictio/cli/cli/utils/api_calls.py
  depictio/dash/layouts/projects.py
Due: ty-check-models-api-dash-cli

fix: dc_ids extraction handles 'id'/'_id' keys + dry-run skips conflict check
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix: use aggregation pipeline to extract dc_ids/workflow_ids from project doc
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix: cascade delete S3 objects and dependent MongoDB docs on project delete
  depictio/api/v1/endpoints/projects_endpoints/routes.py
Due: ty-check-models-api-dash-cli

test(ci): add cascade delete verification step for project deletion
  .github/workflows/depictio-ci.yaml
Due: none

fix(ci): wait for background reference dataset processing before migrate tests
  .github/workflows/depictio-ci.yaml
Due: none

fix(api): add DeltaTableNotFoundError and enrich WebSocket broadcast payload
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat(realtime): add auto-refresh callbacks and waiting-for-data notification
  depictio/dash/layouts/realtime_callbacks.py
Due: ty-check-models-api-dash-cli

fix(figure): empty-state display, SVG render mode, and Plotly 6 customdata fix
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/selection.py
Due: ty-check-models-api-dash-cli

fix(components): show waiting-for-data state when delta table is empty
  depictio/dash/modules/image_component/callbacks/core.py
  depictio/dash/modules/interactive_component/callbacks/core_async.py
Due: ty-check-models-api-dash-cli

debug(ci): add pre-migrate MongoDB diagnostics to diagnose files=0/deltatables=0
  .github/workflows/depictio-ci.yaml
Due: none

feat(card): add multi-metric aggregations support
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/card_component/utils.py
Due: ty-check-models-api-dash-cli

fix(models): preserve aggregations field in dashboard to_full()
  depictio/models/models/dashboards.py
Due: ty-check-models-api-dash-cli

docs(dash): update CLAUDE.md with realtime callbacks architecture notes
  depictio/dash/layouts/CLAUDE.md
Due: ty-check-models-api-dash-cli

fix: query data_collection_id as both ObjectId and string
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix: skip S3 copy for self-migration (source == target instance)
  depictio/cli/cli/commands/migrate.py
Due: ty-check-models-api-dash-cli

fix(ci): fix syntax error in cascade delete step — extract token first
  .github/workflows/depictio-ci.yaml
Due: none

fix(ci): use grep/awk to extract access_token from admin_config.yaml
  .github/workflows/depictio-ci.yaml
Due: none

fix(test): update metadata filtering assertion for ENABLE_CACHING=False path
  depictio/tests/api/v1/test_deltatables_utils.py
Due: ty-check-models-api-dash-cli

fix(image_demo): restore correct relative paths and full CSV dataset
  depictio/projects/test/image_demo/data/images_data.csv
  depictio/projects/test/image_demo/project.yaml
Due: none

fix(demo): restore demo-tour-store, auth modal, and fix welcome_shown on auth redirect
  depictio/dash/layouts/demo_tour_callbacks.py
  depictio/dash/layouts/shared_app_shell.py
Due: ty-check-models-api-dash-cli

fix: rename migrate run → migrate in CLI command and CI workflow
  .github/workflows/depictio-ci.yaml
  depictio/cli/cli/commands/migrate.py
Due: ty-check-models-api-dash-cli

fix: use app.callback() so depictio-cli migrate invokes directly without subcommand
  depictio/cli/cli/commands/migrate.py
Due: ty-check-models-api-dash-cli

Bump version: 0.8.2 → 0.9.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.2 → 0.9.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.9.0
  CHANGELOG.md
Due: none

fix: correct test assertion for template.yaml preference in locate_template
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

feat: Add project template system with `depictio-cli run --template`
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/config.py
  depictio/cli/cli/utils/template_validator.py
  depictio/cli/cli/utils/templates.py
  depictio/models/models/links.py
  depictio/models/models/projects.py
  depictio/models/models/templates.py
  depictio/projects/nf-core/ampliseq/2.14.0/template.yaml
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

feat: integrate recipe system with ampliseq template
  depictio/projects/nf-core/ampliseq/2.14.0/template.yaml
  depictio/recipes/nf-core/ampliseq/alpha_rarefaction.py
  depictio/recipes/nf-core/ampliseq/ancom_volcano.py
  depictio/recipes/nf-core/ampliseq/taxonomy_composition.py
  depictio/tests/unit/test_transforms.py
Due: ty-check-models-api-dash-cli

feat: add Python recipe system for bioinformatics data preprocessing
  depictio/cli/cli/commands/recipe.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/depictio_cli.py
  depictio/models/models/data_collections.py
  depictio/models/models/transforms.py
  depictio/recipes/__init__.py
  depictio/recipes/nf-core/__init__.py
  depictio/recipes/nf-core/ampliseq/__init__.py
  depictio/recipes/nf-core/ampliseq/alpha_diversity.py
  depictio/recipes/nf-core/ampliseq/ancombc.py
  depictio/recipes/nf-core/ampliseq/taxonomy_rel_abundance.py
  depictio/tests/unit/test_transforms.py
Due: ty-check-models-api-dash-cli

Fix recipe paths, remove ancom_volcano, use ANCOM-BC for everything
  depictio/projects/nf-core/ampliseq/2.14.0/template.yaml
  depictio/recipes/nf-core/ampliseq/ancom_volcano.py
  depictio/recipes/nf-core/ampliseq/ancombc.py
  depictio/recipes/nf-core/ampliseq/taxonomy_composition.py
  depictio/tests/unit/test_transforms.py
Due: ty-check-models-api-dash-cli

Fix setuptools config to include all depictio sub-packages
  pyproject.toml
Due: none

Filter stale file records in fetch_file_data before validation
  depictio/cli/cli/utils/deltatables.py
Due: ty-check-models-api-dash-cli

Fix ModuleNotFoundError for load_recipe in recipe dc_ref resolution
  depictio/cli/cli/utils/deltatables.py
Due: ty-check-models-api-dash-cli

Add template & recipe unit tests and enable quality checks in CI
  .github/workflows/depictio-ci.yaml
  depictio/tests/cli/utils/test_recipes.py
  depictio/tests/models/test_transforms.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
