Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

test(e2e): cover the draft review strip; docs(ai): reviewing a draft
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  docs/ai-assistant.md
Due: ty-check-models-api-dash-cli

feat(viewer): review a draft from a side panel, not from the banner
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  depictio/viewer/src/EditorApp.tsx
  docs/ai-assistant.md
  packages/depictio-react-ai/src/components/AIDraftBanner.tsx
  packages/depictio-react-ai/src/components/DraftReviewPanel.tsx
  packages/depictio-react-ai/src/index.ts
Due: ty-check-models-api-dash-cli

feat(ai): plan and fill cards as multi-metric tiles by default
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  docs/ai-assistant.md
Due: ty-check-models-api-dash-cli

feat(ai): regenerate one tile or one section of a generated draft
  depictio/api/v1/endpoints/ai_endpoints/dashboard_gen.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_regenerate.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_import_persist.py
  depictio/tests/models/test_dashboard_ai_generation.py
Due: ty-check-models-api-dash-cli

feat(viewer): per-tile review strip, review counter and generation history
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/AIDraftBanner.tsx
  packages/depictio-react-ai/src/components/DraftTileActions.tsx
  packages/depictio-react-ai/src/components/GenerationHistory.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/index.ts
Due: none

feat(viewer): one review control per generated tile, carrying the reasons
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  depictio/viewer/src/EditorApp.tsx
  docs/ai-assistant.md
  packages/depictio-react-ai/src/components/AIDraftBanner.tsx
  packages/depictio-react-ai/src/components/DraftTileActions.tsx
Due: ty-check-models-api-dash-cli

docs(ai): draw the contract the model is held to
  dev/diagrams/ai_dashboard_generation.py
  docs/images/v1.4/ai/schema_model_contract.png
  docs/images/v1.4/ai/schema_model_contract.svg
Due: none

test(ai): assert the dtype-only rule, not which kind ranks first on penguins
  depictio/tests/api/v1/endpoints/ai_endpoints/test_context.py
Due: ty-check-models-api-dash-cli

docs(ai): redraw the two AI schemas as drawings, not rows of boxes
  dev/diagrams/ai_dashboard_generation.py
  dev/diagrams/sketch.py
  docs/images/v1.4/ai/schema_draft_review.png
  docs/images/v1.4/ai/schema_draft_review.svg
  docs/images/v1.4/ai/schema_generation_pipeline.png
  docs/images/v1.4/ai/schema_generation_pipeline.svg
Due: none

feat(ai): generate cards and filters with an icon, a colour and a group
  depictio/api/v1/endpoints/ai_endpoints/component_style.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_gen.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_plan.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_prompts.py
  docs/ai-assistant.md
Due: ty-check-models-api-dash-cli

feat(viewer): approve the plan, read the run, and leave it running
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/dashboards/DashboardsApp.tsx
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/GenerateDashboardPanel.tsx
  packages/depictio-react-ai/src/components/GenerationHistory.tsx
  packages/depictio-react-ai/src/components/GenerationProgress.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/store.ts
  packages/depictio-react-ai/src/types.ts
Due: none

feat(viewer): the generation run reads as one panel, not a running log
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/dashboards/DashboardsApp.tsx
  packages/depictio-react-ai/src/components/GenerateDashboardPanel.tsx
  packages/depictio-react-ai/src/components/GenerationHistory.tsx
  packages/depictio-react-ai/src/components/GenerationProgress.tsx
  packages/depictio-react-ai/src/index.ts
Due: none

feat(ai): the planner explains each section, and every run gets a name
  depictio/api/v1/endpoints/ai_endpoints/dashboard_gen.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_plan.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_plan.py
  depictio/tests/models/test_dashboard_ai_generation.py
  packages/depictio-react-ai/src/types.ts
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

feat(ai): plan the catalog first, and the specialised tiles only where they fit
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  docs/ai-assistant.md
Due: ty-check-models-api-dash-cli

docs(ai): draw the generation pipeline and the draft review
  dev/diagrams/ai_dashboard_generation.py
  docs/images/v1.4/ai/schema_draft_review.png
  docs/images/v1.4/ai/schema_draft_review.svg
  docs/images/v1.4/ai/schema_generation_pipeline.png
  docs/images/v1.4/ai/schema_generation_pipeline.svg
  docs/images/v1.4/ai/screenshots/draft_review_editor.png
  docs/images/v1.4/ai/screenshots/draft_review_panel.png
  docs/images/v1.4/ai/screenshots/generate_with_ai_tab.png
  docs/images/v1.4/ai/screenshots/generation_plan_gate.png
Due: none

test(dashboards): the stored AI stamp carries its empty checks list
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_import_persist.py
Due: ty-check-models-api-dash-cli

feat(ai): check every generated component, and show what was checked
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_gen.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_probe.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_validate.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/endpoints/ai_endpoints/suggest.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_probe.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_generate.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_regenerate.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_singleshot.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_suggest.py
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  depictio/tests/models/test_dashboard_ai_generation.py
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-ai/src/componentVisuals.ts
  packages/depictio-react-ai/src/components/CheckStrip.tsx
  packages/depictio-react-ai/src/components/DraftReviewPanel.tsx
  packages/depictio-react-ai/src/components/GenerationProgress.tsx
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

docs(ai): say what each gate can see, and what the drawing does not claim
  dev/diagrams/ai_dashboard_generation.py
  docs/ai-assistant.md
  docs/images/v1.4/ai/schema_model_contract.png
  docs/images/v1.4/ai/schema_model_contract.svg
  docs/images/v1.4/ai/screenshots/draft_review_checks.png
  docs/images/v1.4/ai/screenshots/draft_review_checks_missing.png
Due: none

test(cli): the --template guard message now also names --manifest and --bind
  depictio/tests/cli/commands/test_run.py
Due: ty-check-models-api-dash-cli

test(remote-data): cover template export, scan wrappers, create_from_url and the reference template; run the manifest e2e in CI
  .github/workflows/depictio-ci.yaml
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_create_from_url.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_export_template.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_manifest_tables_template.py
  depictio/tests/api/v1/monitoring/__init__.py
  depictio/tests/api/v1/monitoring/test_store.py
  depictio/tests/cli/commands/test_template_export.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/e2e-playwright/tests/projects/export-template.spec.ts
  depictio/tests/e2e-playwright/tests/projects/storage-panel.spec.ts
  docker-compose/docker-compose.e2e-manifest.yaml
Due: ty-check-models-api-dash-cli

fix(remote): read a public bucket in its own region, not us-east-1
  .env.example
  depictio/api/v1/remote_fetch.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/unit/test_remote_fetch.py
Due: ty-check-models-api-dash-cli

refactor(cli): give the preview, the scoped root and the S3 stubs one home each
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/data_root.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/template_preview.py
  depictio/cli/cli/utils/templates.py
  depictio/recipes/__init__.py
  depictio/tests/cli/commands/test_run_guards.py
  depictio/tests/cli/s3_stubs.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_bindings.py
  depictio/tests/cli/utils/test_data_root.py
  depictio/tests/cli/utils/test_run_provenance.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

fix(cli): read a local metadata override under a remote root, and list once
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/templates.py
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

feat(remote): read allowlisted public buckets unsigned, refresh any readable source
  .env.example
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/remote_fetch.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
  depictio/tests/api/v1/test_settings_models.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/unit/test_remote_fetch.py
  depictio/viewer/src/projects/detail/ManifestRefreshPanel.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-compose/.env
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

feat(cli): accept an s3:// data root, and make --dry-run show what it found
  depictio/cli/cli/commands/run.py
  depictio/tests/cli/commands/test_run_guards.py
Due: ty-check-models-api-dash-cli

feat(cli): resolve a data root through an object listing
  depictio/cli/cli/utils/data_root.py
  depictio/cli/cli/utils/scan.py
  depictio/models/models/data_collections.py
  depictio/tests/cli/utils/test_data_root.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
Due: ty-check-models-api-dash-cli

fix(viewer): stop the refresh panel calling every source a manifest
  depictio/tests/e2e-playwright/tests/projects/refresh-manifest.spec.ts
  depictio/viewer/src/projects/detail/ManifestRefreshPanel.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

feat(cli): resolve a template against a remote data root, and preview it first
  depictio/cli/cli/utils/bindings.py
  depictio/cli/cli/utils/templates.py
  depictio/tests/cli/utils/test_bindings.py
  depictio/tests/cli/utils/test_run_provenance.py
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

feat(viewer): manifest refresh panel and post-create review modal
  depictio/tests/e2e-playwright/tests/projects/refresh-manifest.spec.ts
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/ProjectsApp.tsx
  depictio/viewer/src/projects/detail/ManifestRefreshPanel.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(recipes): read recipe sources through the data root
  depictio/cli/cli/utils/deltatables.py
  depictio/recipes/__init__.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_recipes.py
Due: ty-check-models-api-dash-cli

fix(ingest): fan out in dependency order, report skipped, refresh recipes
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/projects_endpoints/from_run.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_from_run.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_refresh_manifest.py
Due: ty-check-models-api-dash-cli

feat(viewer): a "From a run folder" tab, with the preview before the create
  depictio/tests/e2e-playwright/tests/projects/create-from-run.spec.ts
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/FromRunReport.tsx
  depictio/viewer/src/projects/ProjectsApp.tsx
  depictio/viewer/src/projects/detail/ManifestRefreshPanel.tsx
  depictio/viewer/src/projects/manifestRun.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

docs(diagrams): sketches for the run-folder flow, the dependency order and the preview
  dev/diagrams/from_run_schemas.py
  docs/images/from_run_dependency_order.png
  docs/images/from_run_dependency_order.svg
  docs/images/from_run_flow.png
  docs/images/from_run_flow.svg
  docs/images/from_run_wrong_level.png
  docs/images/from_run_wrong_level.svg
Due: none

test(cli): import the S3 stubs relatively so the CLI-only test job finds them
  depictio/cli/cli/utils/templates.py
  depictio/tests/cli/commands/test_run_guards.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_bindings.py
  depictio/tests/cli/utils/test_data_root.py
  depictio/tests/cli/utils/test_run_provenance.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

feat(api): create a project from a run folder, and ingest it in the background
  depictio/api/v1/endpoints/projects_endpoints/from_run.py
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_from_run.py
Due: ty-check-models-api-dash-cli

fix(templates): never probe the server's disk under a remote root
  depictio/cli/cli/utils/templates.py
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

docs(images): the run-folder flow at device scale 2
  docs/images/from_run_ui_create.png
  docs/images/from_run_ui_preview.png
  docs/images/from_run_ui_preview_end.png
  docs/images/from_run_ui_preview_full.png
  docs/images/from_run_ui_source.png
  docs/images/from_run_ui_wrong_level.png
  docs/images/from_run_ui_wrong_level_full.png
Due: none

fix(preview): count dc_ref sources as inputs found
  depictio/cli/cli/utils/template_preview.py
  depictio/tests/cli/utils/test_templates.py
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/FromRunReport.tsx
Due: ty-check-models-api-dash-cli

fix(preview): a dc_ref counts only once its collection settles
  depictio/cli/cli/utils/template_preview.py
  depictio/tests/cli/utils/test_templates.py
  depictio/viewer/src/projects/FromRunReport.tsx
Due: ty-check-models-api-dash-cli

docs(images): screenshots of the run-folder preview
  docs/images/from_run_ui_preview.png
  docs/images/from_run_ui_preview_end.png
  docs/images/from_run_ui_wrong_level.png
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
