Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

Remove producers.py suggestion engine + migrate ampliseq complex_heatmap tiles to use: (#797)
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/catalog/README.md
  depictio/catalog/TODO.md
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/producers.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/tests/models/test_advanced_viz_suggestions.py
  depictio/tests/models/test_catalog.py
  docs/design/bioinformatics-catalog.md
  docs/design/rfc-reshape-on-render.md
  packages/depictio-react-core/src/components/advanced_viz/ComplexHeatmapRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/UpsetRenderer.tsx
Due: ty-check-models-api-dash-cli

fix(viewer): tab menu refresh + icon handling in tab/dashboard modals (#795)
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/chrome/TabModal.tsx
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/dashboards/EditDashboardModal.tsx
  depictio/viewer/src/dashboards/lib/workflowIcons.ts
  packages/depictio-react-core/src/api.ts
Due: none

Bump version: 1.0.0-b6 → 1.0.0-b7
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b6 → 1.0.0-b7
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.0-b7
  CHANGELOG.md
Due: none

chore(deps): Phase A — bump static analysis & test tooling (#799)
  .github/workflows/depictio-ci.yaml
  .pre-commit-config.yaml
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/utils.py
  depictio/api/v1/endpoints/utils_endpoints/CLAUDE.md
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/endpoints/workflow_endpoints/routes.py
  depictio/api/v1/services/multiqc/patching.py
  depictio/cli/cli/commands/images.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/models/models/dashboards.py
  depictio/models/yaml_serialization/__init__.py
  depictio/models/yaml_serialization/validation.py
  depictio/projects/test/adapt_feedb_ms/stream_test.sh
  depictio/tests/api/v1/test_unauthenticated_mode.py
  helm-charts/depictio/PRODUCTION-PERFORMANCE.md
  pixi.toml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

fix(devcontainer): harmonize MinIO credentials across worktree env layers
  .devcontainer/scripts/allocate-ports.sh
Due: none

Rework advanced-viz suggestion model into graded, tolerant scoring
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/catalog/TODO.md
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/models/test_advanced_viz_suggestions.py
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(advanced-viz builder): richer bindings UX + sankey/heatmap binding fixes
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
  depictio/viewer/src/builder/advanced_viz/configBlob.ts
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

fix(devcontainer): harmonize MinIO credentials across worktree env layers (#802)
  .devcontainer/scripts/allocate-ports.sh
Due: none

chore(deps): Phase B — bump runtime dependencies
  pyproject.toml
  uv.lock
Due: none

chore(deps): include data-layer majors (deltalake/pandas/polars/multiqc)
  pyproject.toml
  uv.lock
Due: none

fix(devcontainer): drop dangling docker-compose.minio.yaml reference
  .devcontainer/devcontainer.json
Due: none

ci: fix dropped "Verify users" step header from debug-logging edit
  .github/workflows/depictio-ci.yaml
Due: none

ci(debug): dump full backend logs when ingestion creates no deltatables
  .github/workflows/depictio-ci.yaml
Due: none

fix(deps): hold redis at 5.2.1 — redis-py 8.0 starves the API event loop
  pyproject.toml
  uv.lock
Due: none

fix(deltatables): accept pandas 3.0 string dtype ("str") in column specs
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
  depictio/models/models/deltatables.py
Due: ty-check-models-api-dash-cli

ci: add monthly Dependabot dependency-update health-check
  .github/dependabot.yml
Due: none

refactor(cli): presentation sweep + parallel image uploads
  depictio/cli/CLI_REVIEW.md
  depictio/cli/cli/commands/catalog.py
  depictio/cli/cli/commands/data.py
  depictio/cli/cli/commands/images.py
  depictio/cli/cli/commands/recipe.py
  depictio/cli/cli/utils/deltatables.py
Due: ty-check-models-api-dash-cli

feat(cli): redesign startup banner with the depictio favicon
  depictio/cli/depictio_cli.py
Due: ty-check-models-api-dash-cli

fix(cli): don't force ANSI on piped output (breaks backup CI grep)
  depictio/cli/CLI_REVIEW.md
  depictio/cli/cli/utils/rich_utils.py
Due: ty-check-models-api-dash-cli

refactor(cli): improve performance, presentation & logging consistency
  depictio/cli/CLI_REVIEW.md
  depictio/cli/cli/commands/catalog.py
  depictio/cli/cli/utils/api_calls.py
  depictio/cli/cli/utils/common.py
  depictio/cli/cli/utils/links.py
  depictio/cli/cli/utils/rich_utils.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/scan_utils.py
Due: ty-check-models-api-dash-cli

chore(cli): bump depictio/cli deps, fix python-jose CVEs
  depictio/cli/pyproject.toml
  depictio/cli/uv.lock
  depictio/models/models/deltatables.py
Due: ty-check-models-api-dash-cli

feat(cli): drop the tip line from the startup banner
  depictio/cli/depictio_cli.py
Due: ty-check-models-api-dash-cli

feat(cli): clearer `catalog list` (split Tool id / Name + info hint)
  depictio/cli/cli/commands/catalog.py
Due: ty-check-models-api-dash-cli

feat(api): re-export admin agent config on every dev-mode boot
  depictio/api/v1/db_init.py
Due: ty-check-models-api-dash-cli

feat(cli): drop redundant Name column from catalog list
  depictio/cli/cli/commands/catalog.py
Due: ty-check-models-api-dash-cli

fix(cli): catch typer.Exit in recipe_run so dc_ref standalone skip exits 0
  depictio/cli/cli/commands/recipe.py
  depictio/tests/cli/commands/test_recipe.py
Due: ty-check-models-api-dash-cli

refactor(cli): slim the user-facing command surface
  .github/workflows/catalog-ci.yaml
  .github/workflows/depictio-ci.yaml
  .github/workflows/deploy-embl-selfhosted.yaml
  .github/workflows/minimal-deploy.yaml
  .github/workflows/test-cli-with-local-instance.yaml
  depictio/cli/README.md
  depictio/cli/cli/commands/backup.py
  depictio/cli/cli/commands/catalog.py
  depictio/cli/cli/commands/config.py
  depictio/cli/cli/commands/dev.py
  depictio/cli/cli/commands/images.py
  depictio/cli/depictio_cli.py
  depictio/tests/cli/commands/test_backup.py
  depictio/tests/cli/commands/test_config.py
  depictio/tests/cli/commands/test_images.py
Due: ty-check-models-api-dash-cli

refactor(cli): move the data link subgroup under the hidden dev group
  depictio/cli/cli/commands/data.py
  depictio/cli/cli/commands/dev.py
Due: ty-check-models-api-dash-cli

feat(cli): add `depictio commands` grouped reference table
  depictio/cli/cli/commands/standalone.py
Due: ty-check-models-api-dash-cli

refactor(cli): move catalog match/compose to the hidden dev group
  depictio/cli/cli/commands/catalog.py
Due: ty-check-models-api-dash-cli

test(catalog): invoke moved maintainer commands via the dev app
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

feat(catalog): catalog-preview feature reconciled onto main's catalog foundation
  .gitignore
  depictio/api/v1/endpoints/catalog_endpoints/__init__.py
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/catalog/__init__.py
  depictio/catalog/ivar/variants_long.tsv
  depictio/catalog/metaphlan/profile.tsv
  depictio/catalog/mosdepth/amplicon_coverage.tsv
  depictio/catalog/mosdepth/amplicon_heatmap.tsv
  depictio/catalog/mosdepth/genome_coverage.tsv
  depictio/catalog/multiqc/aggregate.parquet
  depictio/catalog/multiqc/fastqc.parquet
  depictio/catalog/nextclade/report.tsv
  depictio/catalog/pangolin/report.tsv
  depictio/catalog/payload.py
  depictio/catalog/qiime2/alpha_rarefaction.tsv
  depictio/catalog/qiime2/ancombc.tsv
  depictio/catalog/qiime2/rel_abundance.tsv
  depictio/tests/catalog/__init__.py
  depictio/tests/catalog/test_payload.py
  depictio/viewer/catalog-preview.html
  depictio/viewer/package.json
  depictio/viewer/src/builder/ChoiceScreen.tsx
  depictio/viewer/src/builder/advanced_viz/AdvancedVizPreview.tsx
  depictio/viewer/src/builder/advanced_viz/configBlob.ts
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/catalog/CatalogTab.tsx
  depictio/viewer/src/catalog-preview/App.tsx
  depictio/viewer/src/catalog-preview/CatalogPreviewApp.tsx
  depictio/viewer/src/catalog-preview/Gallery.tsx
  depictio/viewer/src/catalog-preview/OutputView.tsx
  depictio/viewer/src/catalog-preview/main.tsx
  depictio/viewer/src/catalog-preview/mockApi.ts
  depictio/viewer/src/catalog-preview/shared.tsx
  depictio/viewer/vite.catalog-preview.config.ts
  packages/depictio-react-core/src/api.ts
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

Bump version: 1.0.0-b7 → 1.0.0-b8
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b7 → 1.0.0-b8
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.0-b8
  CHANGELOG.md
Due: none

docs(perf): add Gb-dataframe performance audit + roadmap
  dev/performance_analysis/GB_DATAFRAME_PERFORMANCE_AUDIT.md
Due: none

perf: Phase 1 quick wins for Gb-dataframe processing
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/figure/figure_builder.py
  docker-images/run_celery_worker.sh
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
