Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

chore(deps): consolidate dependabot updates, respecting held pins
  packages/plotly-complexheatmap/pyproject.toml
  packages/plotly-upset/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

chore(deps): keep beanie and redis at held pins in runtime bump
  pyproject.toml
  uv.lock
Due: none

fix(models): replace deprecated datetime.utcnow for ty 0.0.56
  depictio/models/models/analytics.py
  depictio/models/models/realtime.py
Due: ty-check-models-api-dash-cli

fix(viewer): DC manager upload, collapse persistence & coordinate map framing
  depictio/viewer/src/hooks/useFolderDropzone.ts
  depictio/viewer/src/projects/detail/CoordinatesMapPreview.tsx
  depictio/viewer/src/projects/detail/ManageDataCollectionModal.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

fix(viewer): point "Start editing" at /dashboard-edit, not the removed beta route
  depictio/viewer/src/App.tsx
  depictio/viewer/src/builder/catalog/CatalogTab.tsx
Due: none

feat(catalog): lower tools-catalogue contribution barriers (no-code floor + scaffolding)
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/cli/commands/test_catalog_scaffold.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

fix(realtime): repair timeline binding and new-item highlights on microscopy dashboard
  depictio/projects/test/adapt_feedb_ms/dashboard.yaml
  packages/depictio-react-core/src/components/ImageRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
Due: none

chore(realtime): make adapt_feedb_ms SVLT simulation driver instance-aware
  depictio/projects/test/adapt_feedb_ms/run_simulation.sh
Due: none

Bump version: 1.1.4-b1 → 1.1.4-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.1.4-b1 → 1.1.4-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.1.4-b2
  CHANGELOG.md
Due: none

feat(reuse): add dashboard column contract extraction (Phase 0)
  depictio/api/v1/services/figure/figure_builder.py
  depictio/api/v1/services/figure/px_columns.py
  depictio/api/v1/services/reuse/__init__.py
  depictio/api/v1/services/reuse/column_contract.py
  depictio/models/models/templates.py
  depictio/tests/api/v1/test_column_contract.py
Due: ty-check-models-api-dash-cli

feat(studio): local, service-free authoring studio (Dashboard mode)
  .gitignore
  depictio/authoring/__init__.py
  depictio/authoring/export_catalog.py
  depictio/authoring/export_dashboard.py
  depictio/authoring/paths.py
  depictio/authoring/preview.py
  depictio/authoring/recognize.py
  depictio/authoring/render.py
  depictio/authoring/routes.py
  depictio/authoring/server.py
  depictio/authoring/suggest.py
  depictio/authoring/tree.py
  depictio/cli/cli/commands/studio.py
  depictio/cli/depictio_cli.py
  depictio/tests/authoring/__init__.py
  depictio/tests/authoring/test_studio.py
  depictio/viewer/package.json
  depictio/viewer/src/studio/Cart.tsx
  depictio/viewer/src/studio/DataPanel.tsx
  depictio/viewer/src/studio/Designer.tsx
  depictio/viewer/src/studio/FileTree.tsx
  depictio/viewer/src/studio/LivePreview.tsx
  depictio/viewer/src/studio/StudioApp.tsx
  depictio/viewer/src/studio/backend.ts
  depictio/viewer/src/studio/main.tsx
  depictio/viewer/src/studio/spec.ts
  depictio/viewer/studio.html
  depictio/viewer/vite.studio.config.ts
Due: ty-check-models-api-dash-cli

feat(realtime): polish microscopy timeline, gallery highlights, and dev tooling
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/projects/test/adapt_feedb_ms/dashboard.yaml
  depictio/projects/test/adapt_feedb_ms/run_simulation.sh
  depictio/projects/test/adapt_feedb_ms/stream_test.sh
  depictio/projects/test/image_demo/dashboards/gallery.yaml
  depictio/projects/test/image_demo/data/images_data.csv
  depictio/projects/test/image_demo/project.yaml
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  docker-compose/.env
  docs/deploy-realtime-events.md
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/ImageRenderer.tsx
  packages/depictio-react-core/src/components/InteractiveGroupCard.tsx
  packages/depictio-react-core/src/components/RealtimeIndicator.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/TopPanel.tsx
  packages/depictio-react-core/src/components/interactive/TimelineRenderer.css
  packages/depictio-react-core/src/components/interactive/TimelineRenderer.tsx
  packages/depictio-react-core/src/highlight.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/styles/realtime-highlight.css
Due: ty-check-models-api-dash-cli

docs(realtime): document the SVLT + svltx-depictio simulation driver
  docs/deploy-realtime-events.md
Due: none

fix(realtime): align stream_test synthetic schema with the SVLT sim
  depictio/projects/test/adapt_feedb_ms/project.yaml
  depictio/projects/test/adapt_feedb_ms/stream_test.sh
Due: none

chore(realtime): track adapt_feedb_ms seed CSV for the demo import
  .gitignore
  depictio/projects/test/adapt_feedb_ms/phenobase.csv
Due: none

docs(realtime): clean up SVLT install snippet and tighten §5
  docs/deploy-realtime-events.md
Due: none

docs(realtime): seed only the iris sample project in the quickstart .env
  docs/deploy-realtime-events.md
Due: none

Bump version: 1.1.4-b2 → 1.1.4-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.1.4-b2 → 1.1.4-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.1.4-b3
  CHANGELOG.md
Due: none

feat(studio): workflow-first authoring — scan fidelity, workflows, repo metadata
  depictio/authoring/__init__.py
  depictio/authoring/export_catalog.py
  depictio/authoring/export_dashboard.py
  depictio/authoring/export_project.py
  depictio/authoring/metadata.py
  depictio/authoring/preview.py
  depictio/authoring/recognize.py
  depictio/authoring/render.py
  depictio/authoring/routes.py
  depictio/authoring/suggest.py
  depictio/cli/cli/commands/studio.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/scan_utils.py
  depictio/tests/authoring/test_studio.py
  depictio/tests/cli/utils/test_scan_utils.py
  depictio/viewer/src/studio/Cart.tsx
  depictio/viewer/src/studio/DataPanel.tsx
  depictio/viewer/src/studio/Designer.tsx
  depictio/viewer/src/studio/FileTree.tsx
  depictio/viewer/src/studio/LivePreview.tsx
  depictio/viewer/src/studio/StudioApp.tsx
  depictio/viewer/src/studio/YamlBlock.tsx
  depictio/viewer/src/studio/backend.ts
  depictio/viewer/src/studio/main.tsx
  depictio/viewer/src/studio/spec.ts
  depictio/viewer/vite.studio.config.ts
Due: ty-check-models-api-dash-cli

feat(catalog-studio): one-click GitHub PR via OAuth; user/developer render tabs
  packages/catalog-studio/.env.example
  packages/catalog-studio/.gitignore
  packages/catalog-studio/e2e/flow.spec.ts
  packages/catalog-studio/oauth-worker/.dev.vars.example
  packages/catalog-studio/oauth-worker/README.md
  packages/catalog-studio/oauth-worker/src/index.ts
  packages/catalog-studio/oauth-worker/wrangler.toml
  packages/catalog-studio/public/oauth-callback.html
  packages/catalog-studio/src/catalog/github.ts
  packages/catalog-studio/src/catalog/githubOAuth.ts
  packages/catalog-studio/src/steps/ExportPanel.tsx
  packages/catalog-studio/src/steps/VizDesigner.tsx
Due: none

feat(catalog): add ivar_consensus
  depictio/catalog/ivar_consensus/iris.csv
  depictio/catalog/ivar_consensus/module.yaml
  depictio/catalog/ivar_consensus/qual.yaml
Due: none

docs(catalog-studio): usage walkthrough + screenshots; richer PR body
  packages/catalog-studio/README.md
  packages/catalog-studio/docs/screenshots/01-tool.png
  packages/catalog-studio/docs/screenshots/02-fixture.png
  packages/catalog-studio/docs/screenshots/03-component-types.png
  packages/catalog-studio/docs/screenshots/04-figure-builder.png
  packages/catalog-studio/docs/screenshots/05-render-card.png
  packages/catalog-studio/docs/screenshots/06-export.png
  packages/catalog-studio/e2e/screenshots.spec.ts
  packages/catalog-studio/src/catalog/github.ts
  packages/catalog-studio/src/steps/ExportPanel.tsx
Due: none

fix(catalog): accept real nf-core modules — normalize nf_core_url + refresh index
  depictio/catalog/_index/edam_terms.txt
  depictio/catalog/_index/nf_core_modules.txt
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  packages/catalog-studio/src/catalog/fromNfCore.ts
  packages/catalog-studio/src/catalog/yamlGen.ts
  packages/catalog-studio/src/test/yamlGen.test.ts
Due: ty-check-models-api-dash-cli

feat(catalog-studio): add to existing tools + duplicate warning
  depictio/cli/cli/commands/catalog.py
  packages/catalog-studio/public/catalog.json
  packages/catalog-studio/scripts/genKinds.ts
  packages/catalog-studio/src/App.tsx
  packages/catalog-studio/src/catalog/catalog.ts
  packages/catalog-studio/src/catalog/github.ts
  packages/catalog-studio/src/catalog/yamlGen.ts
  packages/catalog-studio/src/state/useStudioStore.ts
  packages/catalog-studio/src/steps/AddToExistingPanel.tsx
  packages/catalog-studio/src/steps/ExportPanel.tsx
  packages/catalog-studio/src/steps/ToolForm.tsx
  packages/catalog-studio/src/steps/VizDesigner.tsx
  packages/catalog-studio/src/test/catalog.test.ts
  packages/catalog-studio/src/test/yamlGen.test.ts
Due: ty-check-models-api-dash-cli

feat(catalog): add 1 render to mosdepth
  depictio/catalog/mosdepth/amplicon_coverage.yaml
Due: none

refactor(project-builder): rename Studio → Project Builder
  .gitignore
  depictio/authoring/server.py
  depictio/cli/cli/commands/project_builder.py
  depictio/cli/depictio_cli.py
  depictio/project_builder/__init__.py
  depictio/project_builder/export_project.py
  depictio/project_builder/metadata.py
  depictio/project_builder/paths.py
  depictio/project_builder/preview.py
  depictio/project_builder/recognize.py
  depictio/project_builder/routes.py
  depictio/project_builder/server.py
  depictio/project_builder/tree.py
  depictio/tests/project_builder/__init__.py
  depictio/tests/project_builder/test_project_builder.py
  depictio/viewer/package.json
  depictio/viewer/project-builder.html
  depictio/viewer/src/project-builder/DataPanel.tsx
  depictio/viewer/src/project-builder/FileTree.tsx
  depictio/viewer/src/project-builder/ProjectBuilderApp.tsx
  depictio/viewer/src/project-builder/YamlBlock.tsx
  depictio/viewer/src/project-builder/backend.ts
  depictio/viewer/src/project-builder/main.tsx
  depictio/viewer/vite.project-builder.config.ts
Due: ty-check-models-api-dash-cli

project-builder: PR preview screenshots
  project-builder-create.png
  project-builder-workflow.png
Due: none

feat(catalog): validate now grounds dtypes, not just column names
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
  packages/catalog-studio/src/catalog/grounding.ts
Due: ty-check-models-api-dash-cli

feat(project-builder): brand header with Depictio logo
  depictio/viewer/src/project-builder/ProjectBuilderApp.tsx
Due: none

feat(project-builder): add Python & R engine logos, tolerate R engine
  depictio/viewer/public/logos/workflows/python.svg
  depictio/viewer/public/logos/workflows/r.svg
  depictio/viewer/src/project-builder/ProjectBuilderApp.tsx
Due: none

fix(project-builder): theme-aware logo + official engine casing
  depictio/viewer/src/project-builder/ProjectBuilderApp.tsx
Due: none

feat(project-builder): centered preview-empty-state card
  depictio/viewer/src/project-builder/DataPanel.tsx
Due: none

refactor(project-builder): drop redundant Source-step intro alert
  depictio/viewer/src/project-builder/ProjectBuilderApp.tsx
Due: none
