Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

Add notebook demonstrating component export API with 3 examples
  dev/component-export-endpoint/export_components_demo.ipynb
Due: none

Add pyproject.toml with ipykernel venv and standalone HTML exporter
  dev/component-export-endpoint/.gitignore
  dev/component-export-endpoint/export_components_demo.ipynb
  dev/component-export-endpoint/export_to_html.py
  dev/component-export-endpoint/pyproject.toml
Due: none

Add uv.lock and document kernel registration in pyproject.toml
  dev/component-export-endpoint/pyproject.toml
  dev/component-export-endpoint/uv.lock
Due: none

Add diagnostic cells: OpenAPI route check + component discovery
  dev/component-export-endpoint/export_components_demo.ipynb
Due: none

Fix render 404: add tag generation fallback and component list endpoint
  depictio/api/v1/endpoints/dashboards_endpoints/render.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/CLAUDE.md
  depictio/tests/api/v1/test_render_endpoints.py
  dev/component-export-endpoint/export_components_demo.ipynb
Due: ty-check-models-api-dash-cli

feat: Add project template system with `depictio-cli run --template`
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/config.py
  depictio/cli/cli/utils/template_validator.py
  depictio/cli/cli/utils/templates.py
  depictio/models/models/links.py
  depictio/models/models/projects.py
  depictio/models/models/templates.py
  depictio/projects/nf-core/ampliseq/2.14.0/template.yaml
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

fix: correct test assertion for template.yaml preference in locate_template
  depictio/tests/cli/utils/test_templates.py
Due: ty-check-models-api-dash-cli

feat: add multi-metric summary cards and conditional aggregations to card component
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/card_component/utils.py
  depictio/models/components/card.py
  depictio/models/components/filter_expr.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/projects/init/iris/dashboards/overview.yaml
  depictio/tests/models/test_card_extensions.py
Due: ty-check-models-api-dash-cli

feat: add filter_expr support to interactive components for scoped filters
  depictio/dash/modules/interactive_component/callbacks/core_async.py
  depictio/dash/modules/interactive_component/utils.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/projects/init/iris/dashboards/overview.yaml
  depictio/tests/models/test_card_extensions.py
Due: ty-check-models-api-dash-cli

fix: prevent infinite React re-render loop on heavy dashboards
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/map_component/callbacks/selection.py
  depictio/dash/modules/map_component/utils.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/callbacks/general_stats_callbacks.py
Due: ty-check-models-api-dash-cli

feat: expand filter_expr with bioinformatics-oriented methods
  depictio/models/components/filter_expr.py
  depictio/tests/models/test_card_extensions.py
Due: ty-check-models-api-dash-cli

fix: resolve infinite React re-render loop (Maximum update depth exceeded)
  depictio/dash/layouts/header.py
  depictio/dash/modules/map_component/callbacks/selection.py
  depictio/dash/modules/map_component/utils.py
Due: ty-check-models-api-dash-cli

chore: strip notebook outputs via nbstripout
  packages/plotly-complexheatmap/examples/biology_showcase.ipynb
  packages/plotly-complexheatmap/examples/showcase.ipynb
Due: none

fix: add value guards to burger callback and consolidate theme dispatches
  depictio/dash/layouts/header.py
  depictio/dash/simple_theme.py
Due: ty-check-models-api-dash-cli

revert: rollback infinite loop fixes, disable map and heatmap components
  depictio/dash/layouts/header.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/map_component/callbacks/selection.py
  depictio/dash/modules/map_component/utils.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/pages/dashboard_viewer.py
  depictio/dash/simple_theme.py
Due: ty-check-models-api-dash-cli

fix: eliminate burger/sidebar infinite loop by unifying bidirectional callbacks
  depictio/dash/layouts/header.py
Due: ty-check-models-api-dash-cli

fix: extend idempotency check to cover slider components
  depictio/dash/modules/interactive_component/callbacks/core_async.py
Due: ty-check-models-api-dash-cli

fix: break React infinite update loop with uirevision, selection guards, and deep equality
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/selection.py
  depictio/dash/modules/table_component/callbacks/selection.py
Due: ty-check-models-api-dash-cli

fix: revert sorted options and _clean_numeric_column to a4b81f1 behavior for bisect
  depictio/dash/modules/interactive_component/callbacks/core_async.py
Due: ty-check-models-api-dash-cli

Hide Dash debug UI in production mode
  depictio/dash/app.py
  depictio/dash/assets/debug-menu-control.js
  depictio/dash/assets/js/debug-menu-control.js
  depictio/dash/components/google_analytics.py
  depictio/dash/flask_dispatcher.py
Due: ty-check-models-api-dash-cli

Enable DEPICTIO_DEV_MODE in EMBL demodev Helm values
  helm-charts/depictio/values-embl-demo-dev.yaml
Due: helm-lint

Add DEPICTIO_DASH_DEBUG_UI flag to show debug UI without full dev mode
  depictio/dash/app.py
  depictio/dash/core/app_factory.py
  depictio/dash/flask_dispatcher.py
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Restore debug-menu-control.js and its script tags
  depictio/dash/assets/debug-menu-control.js
  depictio/dash/assets/js/debug-menu-control.js
  depictio/dash/components/google_analytics.py
  depictio/dash/flask_dispatcher.py
Due: ty-check-models-api-dash-cli

fix: render secondary metrics in their own container instead of stuffing into hero value
  depictio/dash/modules/card_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

fix: add card-secondary-metrics container to single-metric cards
  depictio/dash/modules/card_component/utils.py
Due: ty-check-models-api-dash-cli

feat: add petal analysis dashboard showcasing new card & filter features
  depictio/projects/init/iris/dashboards/petal_analysis.yaml
Due: none

Bump version: 0.8.0-b1 → 0.8.0-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.0-b1 → 0.8.0-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.0-b2
  CHANGELOG.md
Due: none

feat: add map, heatmap, and geo metadata to ampliseq dashboard
  depictio/cli/uv.lock
  depictio/dash/assets/css/components/dashboard.css
  depictio/dash/modules/map_component/utils.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/projects/nf-core/ampliseq/2.14.0/dashboards/full_analysis.yaml
  depictio/projects/nf-core/ampliseq/2.14.0/merged_metadata.tsv
  depictio/projects/nf-core/ampliseq/2.14.0/project.yaml
  depictio/projects/nf-core/ampliseq/2.14.0/taxonomy_heatmap.tsv
  packages/plotly-complexheatmap/examples/biology_showcase.ipynb
  packages/plotly-complexheatmap/examples/showcase.ipynb
  scripts/process_ampliseq_test_data.py
Due: ty-check-models-api-dash-cli

Bump version: 0.8.0-b2 → 0.8.0-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.8.0-b2 → 0.8.0-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.0-b3
  CHANGELOG.md
Due: none

fix: cross-DC filtering for figures, MultiQC, and heatmap components
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/links_endpoints/routes.py
  depictio/dash/assets/css/components/general-stats-table.css
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/callbacks/general_stats_callbacks.py
  depictio/dash/modules/multiqc_component/callbacks/theme.py
  depictio/dash/modules/multiqc_component/general_stats.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
  depictio/projects/nf-core/ampliseq/2.14.0/dashboards/full_analysis.yaml
  depictio/projects/nf-core/ampliseq/2.14.0/project.yaml
  pixi.lock
Due: ty-check-models-api-dash-cli
