Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

Update CHANGELOG.md for v1.0.1-b4
  CHANGELOG.md
Due: none

fix(quickstart): make viewer conf.d tmpfs writable by the nginx user
  docker-compose.yaml
Due: none

fix(devcontainer): force single-user auth mode deterministically
  .devcontainer/docker-compose.devcontainer.yaml
Due: none

fix(quickstart): drop read_only rootfs on viewer so nginx can render its config
  docker-compose.yaml
Due: none

Bump version: 1.0.1-b4 → 1.0.1-b5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.1-b4 → 1.0.1-b5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.1-b5
  CHANGELOG.md
Due: none

ci(quickstart): accept the viewer's / -> /dashboards redirect in smoke test
  .github/workflows/build-images.yaml
Due: none

fix(quickstart): drop read_only rootfs on backend so admin bootstrap can write
  docker-compose.yaml
Due: none

simplify prod compose to a single light file + cache CI builds
  .github/workflows/build-images.yaml
  docker-compose.yaml
Due: none

Bump version: 1.0.1-b5 → 1.0.1-b6
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.1-b6
  CHANGELOG.md
Due: none

perf(docker): split dependency + project layers so caching survives version bumps
  docker-images/Dockerfile.api
  docker-images/Dockerfile.viewer
  docker-images/Dockerfile.worker
Due: none

Bump version: 1.0.1-b6 → 1.0.1-b7
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.1-b6 → 1.0.1-b7
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.1-b7
  CHANGELOG.md
Due: none

feat(api): add DEPICTIO_SEED_PROJECTS allowlist to scope reference seeding
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/tests/api/v1/test_seed_projects_filter.py
Due: ty-check-models-api-dash-cli

build(release): self-pin docker-compose.yaml to every version via bump2version
  .bumpversion.cfg
  bump-with-helm.sh
  docker-compose.yaml
Due: none

feat(devcontainer): seed only the iris reference project in Codespaces
  .devcontainer/docker-compose.devcontainer.yaml
Due: none

docs(compose): trim the quick-start file to essential comments
  docker-compose.yaml
Due: none

Bump version: 1.0.1-b7 → 1.0.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.1-b7 → 1.0.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.1
  CHANGELOG.md
Due: none

ci: restore docs-repo notify on release (regenerate OpenAPI reference)
  .github/workflows/build-images.yaml
Due: none

feat(viewer): show dashboard logo as card thumbnail fallback
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/MultiTabPreview.tsx
  depictio/viewer/src/dashboards/lib/format.ts
Due: none

fix(compose): share screenshots dir worker→backend + seed iris/penguins thumbnails
  depictio/api/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/api/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/api/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/api/static/screenshots/6824cb3b89d2b72169309738_light.png
  docker-compose.yaml
Due: ty-check-models-api-dash-cli

feat(nf-core): add generalization validation scripts for viralrecon + ampliseq
  depictio/projects/nf-core/ampliseq/2.16.0/generate_validation_runs.sh
  depictio/projects/nf-core/viralrecon/3.0.0/generate_validation_runs.sh
Due: none

ci(nf-core): add weekly release monitor with megatest drift report
  .github/workflows/nfcore-release-monitor.yaml
  depictio/tests/unit/test_nfcore_monitor.py
  scripts/nfcore_monitor.py
Due: ty-check-models-api-dash-cli

fix(nf-core): set persist-credentials false so the monitor can open its PR
  .github/workflows/nfcore-release-monitor.yaml
Due: none

chore(nf-core): megatest drift report for new release(s)
  .nfcore-monitor/ampliseq-2.17.0.md
Due: none

refactor(nf-core): one draft PR per pipeline drift via dynamic matrix
  .github/workflows/nfcore-release-monitor.yaml
Due: none

chore(nf-core): ampliseq 2.17.0 megatest drift report
  .nfcore-monitor/ampliseq-2.17.0.md
Due: none

feat(nf-core): actually run recipes against the megatest, not just check paths
  depictio/tests/unit/test_nfcore_monitor.py
  scripts/nfcore_monitor.py
Due: ty-check-models-api-dash-cli

fix(nf-core): harden generate_validation_runs scripts
  depictio/projects/nf-core/ampliseq/2.16.0/generate_validation_runs.sh
  depictio/projects/nf-core/viralrecon/3.0.0/generate_validation_runs.sh
Due: none

chore: pre-commit auto-fixes (eof, nbstripout)
  depictio/projects/init/advanced_viz_showcase/data/stacked_taxonomy_demo.tsv
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_differential.json
  dev/ampliseq_rfmt/dev.ipynb
  dev/dev-multiqc-parquet/dev.ipynb
  dev/dev-multiqc-parquet/multiqc_api_exploration.ipynb
  packages/depictio-react-core/src/components/advanced_viz/genome_annotations/MN908947.3.gff
  packages/depictio-react-core/src/components/advanced_viz/genome_annotations/NC_001802.1.gff
  packages/depictio-react-core/src/components/advanced_viz/genome_annotations/NC_003977.2.gff
  packages/depictio-react-core/src/components/advanced_viz/genome_annotations/NC_038235.1.gff
Due: none

refactor(nf-core): simplify generate_validation_runs.sh scripts (run_nextflow helper)
  depictio/projects/nf-core/ampliseq/2.16.0/generate_validation_runs.sh
  depictio/projects/nf-core/viralrecon/3.0.0/generate_validation_runs.sh
Due: none

feat(nf-core): put the validation result in the auto-PR title
  .github/workflows/nfcore-release-monitor.yaml
  scripts/nfcore_monitor.py
Due: none

perf(api): make render offload adaptive instead of blanket-on
  depictio/api/v1/celery_dispatch.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  dev/performance_analysis/GB_DATAFRAME_PERFORMANCE_AUDIT.md
Due: ty-check-models-api-dash-cli

perf(api): offload rendering, raise worker concurrency, gzip, MultiQC 202
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  docker-images/run_celery_worker.sh
Due: ty-check-models-api-dash-cli

docs(perf): add Gb-dataframe performance audit + roadmap
  dev/performance_analysis/GB_DATAFRAME_PERFORMANCE_AUDIT.md
Due: none
