Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix: Complete YAML export with MultiQC params and enrichment
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/models/dashboards.py
Due: ty-check-models-api-dash-cli

docs: Update API CLAUDE.md with recent session context
  depictio/api/v1/configs/CLAUDE.md
Due: ty-check-models-api-dash-cli

fix: Preserve layout positions after YAML import (round-trip bug)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/cli/6824cb3b89d2b72169309737.yaml
  depictio/models/models/dashboards.py
  depictio/models/yaml_serialization/utils.py
  depictio/tests/models/test_dashboards_lite.py
  depictio/tests/models/test_yaml_roundtrip.py
  scripts/roundtrip_check.sh
  scripts/roundtrip_compare.py
Due: ty-check-models-api-dash-cli

fix: Stable component tags across YAML round-trips (multi-tab)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/yaml_serialization/utils.py
Due: ty-check-models-api-dash-cli

fix: Export and import code_content for code-mode figures
  depictio/models/models/dashboards.py
Due: ty-check-models-api-dash-cli

fix: preserve dashboard icon fields through YAML export/import
  depictio/models/models/dashboards.py
Due: ty-check-models-api-dash-cli

fix: simplify example dashboard classification to ID-only check
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

ci: add YAML export-import roundtrip test to cli-comprehensive-test job
  .github/workflows/depictio-ci.yaml
  scripts/roundtrip_check.sh
Due: none

feat: add domain validation to YAML import (enum fields + cross-field rules)
  depictio/cli/cli/commands/dashboard.py
  depictio/models/components/constants.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

refactor: clean up lite.py and dashboards.py post-validation addition
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
Due: ty-check-models-api-dash-cli

fix: enhance roundtrip_check.sh with JSON count helpers and assertions
  scripts/roundtrip_check.sh
Due: none

fix: make column_type optional in Card and Interactive lite components
  depictio/models/components/lite.py
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

test: add 5 validation test YAML dashboards for CLI edge cases
  depictio/projects/test/validation_tests/test_01_invalid_visu_type.yaml
  depictio/projects/test/validation_tests/test_02_agg_column_type_mismatch.yaml
  depictio/projects/test/validation_tests/test_03_interactive_type_mismatch.yaml
  depictio/projects/test/validation_tests/test_04_wrong_wf_dc_tags.yaml
  depictio/projects/test/validation_tests/test_05_code_mode_and_selection_errors.yaml
Due: none

feat: server schema validation in validate and import commands
  depictio/cli/cli/commands/dashboard.py
Due: ty-check-models-api-dash-cli

fix: comment out Checkbox/Switch (not yet in frontend), fix multi-error formatting
  depictio/cli/cli/commands/dashboard.py
  depictio/models/components/constants.py
  depictio/models/models/dashboards.py
  depictio/projects/test/validation_tests/test_03_interactive_type_mismatch.yaml
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

Bump version: 0.7.3-b5 → 0.7.3-b6
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3-b5 → 0.7.3-b6
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.3-b6
  CHANGELOG.md
Due: none

feat: add Image/MultiQC test YAML and offline validation unit tests
  depictio/projects/test/validation_tests/test_06_image_and_multiqc.yaml
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

feat: clean validation error output + MultiQC/Image component support
  depictio/cli/cli/commands/dashboard.py
  depictio/cli/cli/utils/CLAUDE.md
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/projects/test/validation_tests/test_02_agg_column_type_mismatch.yaml
  depictio/projects/test/validation_tests/test_04_wrong_wf_dc_tags.yaml
  depictio/projects/test/validation_tests/test_06_image_and_multiqc.yaml
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

fix: update CLI test assertion to match actual validation failure message
  depictio/tests/cli/commands/test_dashboard.py
Due: ty-check-models-api-dash-cli

test: add unit tests for _parse_component_lines and _resolve_dc_id_from_project
  depictio/tests/cli/commands/test_dashboard.py
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

fix: Resolve three demo mode issues — owner edit button, tab copy naming, and MultiQC s3_location
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/tab_callbacks.py
Due: ty-check-models-api-dash-cli

fix: Update CI/CD YAML files to use current naming conventions
  .github/workflows/depictio-ci.yaml
  .github/workflows/deploy-embl-selfhosted.yaml
Due: none

Bump version: 0.7.3-b6 → 0.7.3-b7
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3-b6 → 0.7.3-b7
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.3-b7
  CHANGELOG.md
Due: none

fix: Resolve demo mode round-2 issues — dashboard ownership, MultiQC habitat filter, and TabsTab href crash
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/dash/layouts/tab_callbacks.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

chore: Add missing child tab screenshots for ampliseq demo dashboard
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
Due: ty-check-models-api-dash-cli

chore: streamline Docker Compose — embed MinIO by default, freeze image/package versions
  .devcontainer/docs/WORKTREE_WORKFLOW.md
  .env.example
  .github/workflows/build-devcontainer.yaml
  .github/workflows/debug-deploy.yaml
  .github/workflows/depictio-ci.yaml
  .github/workflows/minimal-deploy.yaml
  CLAUDE.md
  depictio/cli/pyproject.toml
  docker-compose.dev.yaml
  docker-compose/.env
  docker-compose/docker-compose.backup-minio.yaml
  docker-compose/docker-compose.bak.yaml
  docker-compose/docker-compose.minio.yaml
  docker-compose/docker-compose.no-minio.yaml
  docker-compose/docker-compose.vnc.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli

fix: remove source bind-mounts and switch mongo to named volume for zero-clone quickstart
  docker-compose.yaml
  docker-compose/docker-compose.no-minio.yaml
Due: none

fix: Embed critical env defaults in compose files so .env is truly optional
  docker-compose.yaml
  docker-compose/docker-compose.no-minio.yaml
Due: none

chore: Trim compose environment blocks — keep only essential defaults
  docker-compose.yaml
  docker-compose/docker-compose.no-minio.yaml
Due: none

refactor: Clean up settings_models.py — remove dead code, add consistent docs
  depictio/api/v1/configs/settings_models.py
Due: ty-check-models-api-dash-cli

refactor: Reorganise settings_models.py into logical sections
  depictio/api/v1/configs/settings_models.py
Due: ty-check-models-api-dash-cli

feat: add YAML dashboard versions for iris, penguins & ampliseq reference projects
  depictio/models/models/dashboards.py
  depictio/projects/init/iris/dashboard.yaml
  depictio/projects/reference/ampliseq/dashboard.yaml
  depictio/projects/reference/penguins/dashboard.yaml
Due: ty-check-models-api-dash-cli

refactor: reorder YAML export fields — mandatory first, generated last
  depictio/models/models/dashboards.py
  depictio/projects/init/iris/dashboard.yaml
  depictio/projects/reference/ampliseq/dashboard.yaml
  depictio/projects/reference/penguins/dashboard.yaml
Due: ty-check-models-api-dash-cli

refactor: add section comment separators to YAML export
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/models/dashboards.py
  depictio/projects/init/iris/dashboard.yaml
  depictio/projects/reference/ampliseq/dashboard.yaml
  depictio/projects/reference/penguins/dashboard.yaml
Due: ty-check-models-api-dash-cli

fix: resolve CI failures — ruff import format and pyyaml version conflict
  depictio/api/v1/configs/settings_models.py
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

fix: regenerate pixi.lock for depictio 0.7.3b7 with relaxed pyyaml pin
  pixi.lock
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
