Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

viewer: declare react-resizable as direct dep
  depictio/viewer/package.json
  packages/depictio-react-core/package.json
  pnpm-lock.yaml
Due: none

Bump version: 0.11.1 → 0.11.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.11.1 → 0.11.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.11.2
  CHANGELOG.md
Due: none

helm: roll Pods on ConfigMap/Secret change via include-based checksum
  helm-charts/depictio/templates/deployments.yaml
Due: helm-lint

ci(docker): pin pnpm@10 in viewer-builder + dev-viewer stages
  docker-images/Dockerfile_depictio_uv.dockerfile
Due: none

fix: handle aggregation_columns_specs as list of dicts in Cytoscape
  depictio/dash/components/depictio_cytoscape_joins.py
Due: ty-check-models-api-dash-cli

feat(multiqc): HTTP endpoints for create + append + replace from React
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
Due: ty-check-models-api-dash-cli

fix(multiqc): cache key correctness + safer append + helper tests
  depictio/dash/api_calls.py
  depictio/dash/celery_app.py
  depictio/dash/modules/figure_component/multiqc_vis.py
  depictio/tests/api/v1/endpoints/links_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/links_endpoints/test_sample_mapping_resolver.py
  depictio/tests/dash/test_multiqc_helpers.py
Due: ty-check-models-api-dash-cli

feat(multiqc): DC manage flow + folder uploads + live cache + prewarm
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/links_endpoints/resolvers.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/dash/api_calls.py
  depictio/dash/assets/multiqc_folder_upload.js
  depictio/dash/flask_dispatcher.py
  depictio/dash/layouts/layouts_toolbox.py
  depictio/dash/layouts/project_data_collections.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/models.py
  depictio/dash/modules/multiqc_component/utils.py
  depictio/tests/api/v1/endpoints/multiqc_endpoints/test_bulk_delete.py
Due: ty-check-models-api-dash-cli

Add multi-run MultiQC parquet report generator
  dev/multiqc-multi-reports/.gitignore
  dev/multiqc-multi-reports/generate_multi_run_reports.py
  dev/multiqc-multi-reports/pyproject.toml
Due: none

fix: resolve Cytoscape link edge referencing nonexistent column nodes
  depictio/dash/components/depictio_cytoscape_joins.py
Due: ty-check-models-api-dash-cli

fix(multiqc): authorize destructive endpoints + tighten suffix regex
  depictio/api/v1/endpoints/links_endpoints/resolvers.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

feat: add DC linking UI and MultiQC DC creation via UI
  depictio/dash/api_calls.py
  depictio/dash/layouts/layouts_toolbox.py
  depictio/dash/layouts/project_data_collections.py
Due: ty-check-models-api-dash-cli

Add sample metadata TSV generation to multi-run report script
  dev/multiqc-multi-reports/generate_multi_run_reports.py
Due: none

feat(viewer): cross-DC link CRUD + MultiQC create/manage in React
  depictio/viewer/src/components/UnstyledDropZone.tsx
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/hooks/useFolderDropzone.ts
  depictio/viewer/src/projects/detail/LinkEditModal.tsx
  depictio/viewer/src/projects/detail/LinksSection.tsx
  depictio/viewer/src/projects/detail/ManageMultiQCModal.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

fix: extract DC columns from enriched aggregation specs for Cytoscape
  depictio/dash/components/depictio_cytoscape_joins.py
Due: ty-check-models-api-dash-cli

fix: skip scan step for MultiQC DC creation and fix file naming
  depictio/dash/api_calls.py
Due: ty-check-models-api-dash-cli

fix(viewer): hide demo banner + tour in React routes
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
Due: none

fix(screenshots): regenerate clean example dashboard previews
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
Due: ty-check-models-api-dash-cli

fix(viewer): let Vite rewrite favicon path via base
  depictio/viewer/index.html
Due: none

fix(api): cascade-delete cross-DC links when a DC is removed
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
Due: ty-check-models-api-dash-cli

feat(multiqc): run uniformity checks on the create flow
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
Due: ty-check-models-api-dash-cli

feat(viewer): Create DC modal polish + MultiQC uniformity checklist
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

chore(devcontainer): wire viewer-dev Vite port through allocator
  .devcontainer/scripts/allocate-ports.sh
  .devcontainer/scripts/forward-ports.sh
  .devcontainer/scripts/print-ports.sh
Due: none

feat(multiqc): uniformity validator + dry-run check endpoint + Check now button
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/multiqc_endpoints/uniformity.py
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/tests/api/v1/test_multiqc_uniformity.py
  depictio/tests/api/v1/test_multiqc_uniformity_integration.py
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(viewer,api): unified Manage Data Collection modal + Table append/replace/clear
  depictio/api/v1/endpoints/datacollections_endpoints/table_manage.py
  depictio/viewer/src/projects/detail/ManageDataCollectionModal.tsx
  depictio/viewer/src/projects/detail/ManageMultiQCModal.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(viewer): polish cross-DC Link create/edit modal
  depictio/viewer/src/projects/detail/LinkEditModal.tsx
  packages/depictio-react-core/src/api.ts
Due: none

feat(multiqc): disk-persistent prerender store + Celery worker rebuild
  depictio/api/cache.py
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/api/v1/services/lifespan.py
  depictio/api/v1/services/multiqc_prerender_store.py
  depictio/dash/celery_app.py
  depictio/dash/modules/figure_component/multiqc_vis.py
  depictio/dash/modules/multiqc_component/general_stats.py
  depictio/dash/modules/multiqc_component/models.py
  depictio/models/models/multiqc_prerender.py
  depictio/tests/api/v1/test_multiqc_prerender_store.py
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  docker-compose.dev.yaml
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/MultiQCRenderer.tsx
  packages/depictio-react-core/src/components/multiqc/MultiQCFigure.tsx
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/utils/multiqcSelection.ts
Due: ty-check-models-api-dash-cli

refactor(viewer): canonical selected_* keys + SPA route polish
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/multiqc/MultiQCBuilder.tsx
  depictio/viewer/src/builder/multiqc/MultiQCPreview.tsx
  depictio/viewer/src/hooks/useFolderDropzone.ts
  depictio/viewer/src/main.tsx
  depictio/viewer/vite.config.ts
Due: none

chore(dev): multi-run report generator — companion tables + bad-scenario fixtures
  dev/multiqc-multi-reports/generate_multi_run_reports.py
Due: none

chore: refresh uv.lock, CLAUDE.md stale section, regenerated screenshots
  depictio/cli/uv.lock
  depictio/dash/CLAUDE.md
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
Due: ty-check-models-api-dash-cli

feat(models): DCTableCoordinatesConfig — Map-capable table DC variant
  depictio/models/components/validation.py
  depictio/models/models/data_collections.py
  depictio/models/models/data_collections_types/table_coordinates.py
  depictio/tests/models/test_data_collections.py
Due: ty-check-models-api-dash-cli

feat(api): /create_from_upload accepts lat/lon hints with column validation
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
Due: ty-check-models-api-dash-cli

feat(sdk): fetchMultiQCBuilderOptions helper + latColumn/lonColumn upload input
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(viewer): Coordinates tab in Create DC + inline DC previews + Map-aware builder
  depictio/viewer/src/builder/map/MapBuilder.tsx
  depictio/viewer/src/builder/multiqc/MultiQCBuilder.tsx
  depictio/viewer/src/builder/steps/StepData.tsx
  depictio/viewer/src/projects/detail/CoordinatesMapPreview.tsx
  depictio/viewer/src/projects/detail/MultiQCViewerPreview.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: none

chore(api): bump MultiQC preview offload timeout + collapse multi-line log
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/services/lifespan.py
Due: ty-check-models-api-dash-cli

feat(viewer): map config rename + chrome polish + screenshot skip-on-unreachable
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/screenshot_service.py
  depictio/dash/modules/map_component/utils.py
  depictio/viewer/src/builder/CreateComponentPage.tsx
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/map/MapBuilder.tsx
  depictio/viewer/src/builder/map/MapPreview.tsx
  depictio/viewer/src/builder/multiqc/MultiQCBuilder.tsx
  depictio/viewer/src/builder/steps/StepDesign.tsx
  depictio/viewer/src/builder/store/useBuilderStore.ts
  packages/depictio-react-core/src/components/MapRenderer.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
Due: ty-check-models-api-dash-cli

feat(ai): typed component creation via DashboardDataLite YAML validator
  depictio/api/v1/endpoints/ai_endpoints/component_yaml.py
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/tests/api/v1/endpoints/ai_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_component_yaml.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/steps/StepDesign.tsx
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/AIAnalyzePanel.tsx
  packages/depictio-react-ai/src/components/AIDrawer.tsx
  packages/depictio-react-ai/src/components/AISuggestedFigures.tsx
  packages/depictio-react-ai/src/components/AiFillModal.tsx
  packages/depictio-react-ai/src/components/ExecutionTrace.tsx
  packages/depictio-react-ai/src/components/FigurePreview.tsx
  packages/depictio-react-ai/src/components/PythonCodeBlock.tsx
  packages/depictio-react-ai/src/components/SuggestionsPanel.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/store.ts
  packages/depictio-react-ai/src/types.ts
Due: ty-check-models-api-dash-cli

fix(viewer-dev): pin pnpm@11 + bump dev-viewer Node base to 22
  docker-compose.dev.yaml
  docker-images/Dockerfile_depictio_uv.dockerfile
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
