Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

feat: add geospatial map component with cross-filtering support
  depictio/dash/component_metadata.py
  depictio/dash/layouts/stepper_parts/part_three.py
  depictio/dash/layouts/stepper_parts/part_two.py
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/image_component/callbacks/core.py
  depictio/dash/modules/map_component/__init__.py
  depictio/dash/modules/map_component/callbacks/__init__.py
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/callbacks/design.py
  depictio/dash/modules/map_component/callbacks/edit.py
  depictio/dash/modules/map_component/callbacks/selection.py
  depictio/dash/modules/map_component/design_ui.py
  depictio/dash/modules/map_component/utils.py
  depictio/dash/modules/table_component/callbacks/core.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/pages/dashboard_viewer.py
  depictio/dash/utils.py
  depictio/models/components/__init__.py
  depictio/models/components/constants.py
  depictio/models/components/lite.py
  depictio/models/components/map.py
  depictio/models/components/types.py
  depictio/models/components/union.py
  depictio/models/components/validation.py
  depictio/models/models/dashboards.py
  depictio/projects/test/map_demo/dashboard_lite.yaml
  depictio/projects/test/map_demo/project.yaml
  depictio/projects/test/map_demo/sampling_locations.csv
Due: ty-check-models-api-dash-cli

fix: improve map component UX - viewport stability, selection highlighting, color locking
  depictio/dash/component_metadata.py
  depictio/dash/layouts/edit.py
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/utils.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/projects/test/map_demo/dashboard_lite.yaml
Due: ty-check-models-api-dash-cli

Bump version: 0.7.5 → 0.7.6-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.5 → 0.7.6-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.6-b1
  CHANGELOG.md
Due: none

feat: add choropleth map support with country borders and cross-filtering
  depictio/dash/modules/map_component/callbacks/edit.py
  depictio/dash/modules/map_component/utils.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/projects/test/map_demo/dashboard_lite.yaml
  depictio/projects/test/map_demo/project.yaml
  depictio/projects/test/map_demo/sampling_locations.csv
Due: ty-check-models-api-dash-cli

Add title, description, and styling options to table components
  depictio/dash/modules/table_component/utils.py
  depictio/models/components/lite.py
  depictio/projects/init/iris/dashboard.json
  depictio/projects/init/iris/dashboard.yaml
  depictio/projects/init/iris/dashboard_lite.yaml
  depictio/projects/reference/penguins/dashboard.json
  depictio/projects/reference/penguins/dashboard.yaml
Due: ty-check-models-api-dash-cli

fix: map component UX polish and stepper save support
  depictio/dash/component_metadata.py
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/stepper_parts/part_three.py
  depictio/dash/layouts/stepper_parts/part_two.py
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/callbacks/design.py
  depictio/dash/modules/map_component/callbacks/edit.py
  depictio/dash/modules/map_component/design_ui.py
  depictio/dash/modules/map_component/utils.py
  depictio/models/components/constants.py
  depictio/models/components/validation.py
Due: ty-check-models-api-dash-cli

Slim root CLAUDE.md from 801 to 80 lines per Boris Cherny best practices
  CLAUDE.md
  depictio/api/v1/endpoints/utils_endpoints/CLAUDE.md
  depictio/dash/CLAUDE.md
Due: ty-check-models-api-dash-cli

Clarify default MongoDB URL description in CLAUDE.md
  CLAUDE.md
Due: none

feat: add multi-tier caching and optimize MultiQC data loading
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/deltatables_utils.py
  depictio/dash/modules/figure_component/multiqc_vis.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/general_stats.py
  docker-compose.dev.yaml
  docker-compose/.envo
  docker-images/Dockerfile_depictio.dockerfile
  docker-images/run_dash.sh
Due: ty-check-models-api-dash-cli

Add process-s3 endpoint for external data integration
  depictio/api/v1/endpoints/datacollections_endpoints/process_routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat: add GeoJSON data collection type with S3 loading and choropleth DC support
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/cli/cli/utils/deltatables.py
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/callbacks/edit.py
  depictio/dash/modules/map_component/utils.py
  depictio/models/components/lite.py
  depictio/models/components/validation.py
  depictio/models/models/dashboards.py
  depictio/models/models/data_collections.py
  depictio/models/models/data_collections_types/geojson.py
  depictio/models/yaml_serialization/utils.py
  depictio/projects/test/map_demo/dashboard_lite.yaml
  depictio/projects/test/map_demo/europe_regions.geojson
  depictio/projects/test/map_demo/project.yaml
Due: ty-check-models-api-dash-cli

test: add unit tests for GeoJSON DC type, MapLiteComponent, and YAML serialization
  depictio/tests/models/data_collections_types/test_geojson.py
  depictio/tests/models/test_data_collections.py
  depictio/tests/models/test_map_lite_component.py
  depictio/tests/models/test_yaml_serialization.py
  depictio/tests/unit/models/validation/test_validation.py
Due: ty-check-models-api-dash-cli

Fix CI dashboard_lite.yaml references to new dashboards/ paths
  .github/workflows/depictio-ci.yaml
Due: none

fix: make map component theme-responsive with carto-positron default
  depictio/dash/modules/map_component/callbacks/__init__.py
  depictio/dash/modules/map_component/callbacks/design.py
  depictio/dash/modules/map_component/callbacks/theme.py
  depictio/dash/modules/map_component/design_ui.py
  depictio/dash/modules/map_component/utils.py
  depictio/models/components/lite.py
  depictio/tests/models/test_map_lite_component.py
Due: ty-check-models-api-dash-cli

fix: promote theme-store to Input for reliable map theme switching
  depictio/dash/modules/map_component/callbacks/__init__.py
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/callbacks/theme.py
Due: ty-check-models-api-dash-cli

fix: adjust map demo dashboard layout alignment and widths
  depictio/projects/test/map_demo/dashboard_lite.yaml
Due: none

refactor: simplify map component code with data-driven patterns
  depictio/dash/modules/map_component/callbacks/core.py
  depictio/dash/modules/map_component/callbacks/edit.py
  depictio/dash/modules/map_component/utils.py
  depictio/models/models/dashboards.py
Due: ty-check-models-api-dash-cli

fix: add plotly-complexheatmap local path to pixi.toml
  pixi.lock
  pixi.toml
Due: none

fix: remove absolute path from pixi.lock for CI portability
  pixi.lock
Due: none

Add component render/export API endpoint with Celery backend
  depictio/api/v1/endpoints/dashboards_endpoints/render.py
  depictio/api/v1/endpoints/dashboards_endpoints/render_models.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/tasks/render_tasks.py
  depictio/dash/celery_app.py
  depictio/tests/api/v1/test_render_endpoints.py
Due: ty-check-models-api-dash-cli

Add conditional highlighting prototype for Plotly figures
  dev/conditional-highlighting/CALLBACKS_REPORT.md
  dev/conditional-highlighting/app.py
  dev/conditional-highlighting/assets/custom.css
  dev/conditional-highlighting/callbacks.py
  dev/conditional-highlighting/data.py
  dev/conditional-highlighting/layout.py
  dev/conditional-highlighting/pyproject.toml
Due: none

Bump version: 0.7.6-b1 → 0.7.6
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.6
  CHANGELOG.md
Due: none

Bump version: 0.7.6-b1 → 0.8.0-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.6-b1 → 0.8.0-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.8.0-b1
  CHANGELOG.md
Due: none

Add pools project dashboard and update data collection config
  depictio/projects/reference/pools/dashboard.yaml
  depictio/projects/reference/pools/project.yaml
Due: none

Add inversion genotype heatmap to pools dashboard
  depictio/projects/reference/pools/dashboard.yaml
  depictio/projects/reference/pools/project.yaml
Due: none

Fix uv sync: mark project as non-package
  dev/conditional-highlighting/pyproject.toml
Due: none

Add uv.lock for reproducible dependency resolution
  dev/conditional-highlighting/uv.lock
Due: none

Remove [build-system] from pyproject.toml
  dev/conditional-highlighting/pyproject.toml
Due: none

Add .gitignore for conditional-highlighting prototype
  dev/conditional-highlighting/.gitignore
Due: none

Fix ObjectId JSON serialization error in render endpoint
  depictio/api/v1/endpoints/dashboards_endpoints/render.py
Due: ty-check-models-api-dash-cli

feat: add cross-tab global filters for multi-tab dashboards
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/dash/layouts/global_filters_panel.py
  depictio/dash/layouts/shared_app_shell.py
  depictio/dash/layouts/sidebar.py
  depictio/dash/layouts/tab_callbacks.py
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/image_component/callbacks/core.py
  depictio/dash/modules/interactive_component/callbacks/core_async.py
  depictio/dash/modules/interactive_component/callbacks/core_interactivity.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/callbacks/general_stats_callbacks.py
  depictio/dash/modules/table_component/callbacks/core.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/pages/dashboard_viewer.py
  depictio/dash/utils.py
  depictio/models/models/dashboards.py
  depictio/tests/dash/test_utils.py
Due: ty-check-models-api-dash-cli

Fix _build_init_data to query deltatables collection for delta_table_location
  depictio/api/v1/tasks/render_tasks.py
Due: ty-check-models-api-dash-cli
