Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

feat(catalog): multi-metric cards (secondary aggregations + filter_expr)
  depictio/catalog/SCHEMA.md
  depictio/catalog/catalog.schema.json
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

chore(helm): point ingress + docs at depictio-viewer (not the Dash frontend)
  helm-charts/depictio/README.md
  helm-charts/depictio/values-embl-auth.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
  helm-charts/depictio/values-embl.yaml
  helm-charts/depictio/values-minikube.yaml
  helm-charts/depictio/values-no-ingress.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

refactor(deps): drop dead Dash side of depictio-components
  packages/depictio-components/depictio_components/DepictioCard.py
  packages/depictio-components/depictio_components/DepictioMultiSelect.py
  packages/depictio-components/depictio_components/__init__.py
  packages/depictio-components/depictio_components/depictio_components.min.js
  packages/depictio-components/depictio_components/depictio_components.min.js.LICENSE.txt
  packages/depictio-components/package.json
  packages/depictio-components/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

chore: drop stale depictio/dash and depictio-frontend references
  .dockerignore
  .pre-commit-config.yaml
  depictio/api/v1/endpoints/utils_endpoints/infrastructure_diagnostics.py
Due: ty-check-models-api-dash-cli

feat(catalog): card secondary_layout (box_plot/Tukey, top_n, coverage…)
  depictio/catalog/SCHEMA.md
  depictio/catalog/catalog.schema.json
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

chore(helm): remove dead Dash frontend: blocks from values
  helm-charts/depictio/values-embl-auth.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
  helm-charts/depictio/values-minikube.yaml
Due: helm-lint

ci: point EMBL deploy/debug workflows at depictio-viewer (not the Dash frontend)
  .github/workflows/debug-deploy.yaml
  .github/workflows/deploy-embl-selfhosted.yaml
Due: none

fix(pixi): regenerate pixi.lock (stale after dep cleanup in 1b461f8)
  pixi.lock
Due: none

ci: re-enable seeded-integration checks; switch screenshot test to React
  .github/workflows/depictio-ci.yaml
Due: none

fix(screenshots): relocate reference dashboard thumbnails to api/static/screenshots
  .dockerignore
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9ca2_dark.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9ca2_light.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb3_dark.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb3_light.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb4_dark.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb4_light.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb5_dark.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb5_light.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cc2_dark.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cc2_light.png
Due: ty-check-models-api-dash-cli

chore(k8s): remove pre-split monolith manifests (superseded by helm)
  kubernetes/depictio.yaml
  kubernetes/depictio_embl.yaml
Due: none

test(catalog): harden fixture coverage + CLI/integration tests + CI validate step
  .github/workflows/depictio-ci.yaml
  depictio/catalog/TODO.md
  depictio/catalog/multiqc/aggregate.yaml
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

feat(catalog): `catalog preview` — render an output's components on its fixture → interactive HTML
  depictio/catalog/README.md
  depictio/catalog/TODO.md
  depictio/catalog/__init__.py
  depictio/catalog/render.py
  depictio/cli/cli/commands/catalog.py
  depictio/tests/catalog/__init__.py
  depictio/tests/catalog/test_render.py
Due: ty-check-models-api-dash-cli

feat(catalog): render `catalog preview` with depictio's REAL components (exact viewer fidelity)
  depictio/catalog/README.md
  depictio/catalog/TODO.md
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/catalog/render.py
  depictio/cli/cli/commands/catalog.py
  depictio/tests/catalog/test_render.py
Due: ty-check-models-api-dash-cli

feat(catalog): module-keyed catalog-local fixtures + dedicated catalog CI
  .github/workflows/catalog-ci.yaml
  .github/workflows/depictio-ci.yaml
  depictio/catalog/SCHEMA.md
  depictio/catalog/TODO.md
  depictio/catalog/_fixtures/README.md
  depictio/catalog/ivar.yaml
  depictio/catalog/mosdepth/amplicon_coverage.yaml
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/mosdepth/genome_coverage.yaml
  depictio/catalog/multiqc/aggregate.yaml
  depictio/catalog/nextclade.yaml
  depictio/catalog/pangolin.yaml
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/catalog/qiime2/alpha_rarefaction.yaml
  depictio/catalog/qiime2/ancombc.yaml
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/catalog/qiime2/taxa_barplot.yaml
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

fix(catalog): un-ignore + commit the module-keyed _fixtures TSVs
  .gitignore
  depictio/catalog/_fixtures/ivar_variants_long.tsv
  depictio/catalog/_fixtures/mosdepth_amplicon_coverage.tsv
  depictio/catalog/_fixtures/mosdepth_amplicon_heatmap.tsv
  depictio/catalog/_fixtures/mosdepth_genome_coverage.tsv
  depictio/catalog/_fixtures/nextclade_report.tsv
  depictio/catalog/_fixtures/pangolin_report.tsv
  depictio/catalog/_fixtures/qiime2_alpha_diversity.tsv
  depictio/catalog/_fixtures/qiime2_alpha_rarefaction.tsv
  depictio/catalog/_fixtures/qiime2_ancombc.tsv
  depictio/catalog/_fixtures/qiime2_rel_abundance.tsv
  depictio/catalog/_fixtures/qiime2_taxa_barplot.tsv
Due: none

ci: restore nginx depictio-viewer for integration tests behind a ci profile
  .github/workflows/depictio-ci.yaml
  docker-compose.dev.yaml
Due: none

ci(docker-system-init): trigger reference data ingestion before verify
  .github/workflows/depictio-ci.yaml
Due: none

ci: name compose services explicitly in cli + backup-s3 (avoid pulling dev viewer)
  .github/workflows/depictio-ci.yaml
Due: none

fix(pixi): drop stale depictio-components path entry from pixi.toml
  pixi.toml
Due: none

refactor(catalog): one folder per module with co-located fixtures (archi A)
  .gitignore
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/catalog/TODO.md
  depictio/catalog/_fixtures/README.md
  depictio/catalog/ivar.yaml
  depictio/catalog/ivar/module.yaml
  depictio/catalog/ivar/variants_long.tsv
  depictio/catalog/ivar/variants_long.yaml
  depictio/catalog/metaphlan.yaml
  depictio/catalog/metaphlan/module.yaml
  depictio/catalog/metaphlan/profile.yaml
  depictio/catalog/mosdepth/amplicon_coverage.tsv
  depictio/catalog/mosdepth/amplicon_coverage.yaml
  depictio/catalog/mosdepth/amplicon_heatmap.tsv
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/mosdepth/genome_coverage.tsv
  depictio/catalog/mosdepth/genome_coverage.yaml
  depictio/catalog/nextclade.yaml
  depictio/catalog/nextclade/module.yaml
  depictio/catalog/nextclade/report.tsv
  depictio/catalog/nextclade/report.yaml
  depictio/catalog/pangolin.yaml
  depictio/catalog/pangolin/module.yaml
  depictio/catalog/pangolin/report.tsv
  depictio/catalog/pangolin/report.yaml
  depictio/catalog/qiime2/alpha_diversity.tsv
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/catalog/qiime2/alpha_rarefaction.tsv
  depictio/catalog/qiime2/alpha_rarefaction.yaml
  depictio/catalog/qiime2/ancombc.tsv
  depictio/catalog/qiime2/ancombc.yaml
  depictio/catalog/qiime2/rel_abundance.tsv
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/catalog/qiime2/taxa_barplot.tsv
  depictio/catalog/qiime2/taxa_barplot.yaml
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

docs(compose): correct dev-viewer comments after re-adding nginx under ci profile
  docker-compose.dev.yaml
Due: none

ci: provision data/redis so the broker can persist (fixes screenshot 500)
  .github/workflows/depictio-ci.yaml
Due: none

ci(cli): wait for Iris deltatable before dashboard import
  .github/workflows/depictio-ci.yaml
Due: none

fix(catalog): fastqc is a tool surfaced via MultiQC, not a 'mode'
  depictio/catalog/multiqc/fastqc.yaml
Due: none

fix(catalog): MultiQC homepage → seqera.io/multiqc (nf-core meta.yml is stale)
  depictio/catalog/multiqc/module.yaml
Due: none

refactor(catalog): make module.yaml lightweight — identity derived from nf-core
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/catalog/ivar/module.yaml
  depictio/catalog/metaphlan/module.yaml
  depictio/catalog/mosdepth/module.yaml
  depictio/catalog/multiqc/module.yaml
  depictio/catalog/nextclade/module.yaml
  depictio/catalog/pangolin/module.yaml
  depictio/catalog/qiime2/module.yaml
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

refactor(recipes): make per-output reshapes module-owned, co-located in catalog
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/catalog/TODO.md
  depictio/catalog/ivar/variants_long.py
  depictio/catalog/ivar/variants_long.yaml
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/mosdepth/complex_heatmap_canonical.py
  depictio/catalog/mosdepth/coverage_track_canonical.py
  depictio/catalog/mosdepth/genome_coverage.yaml
  depictio/catalog/nextclade/nextclade_results.py
  depictio/catalog/nextclade/report.yaml
  depictio/catalog/pangolin/pangolin_lineages.py
  depictio/catalog/pangolin/report.yaml
  depictio/catalog/qiime2/alpha_diversity.yaml
  depictio/catalog/qiime2/alpha_diversity_multi_canonical.py
  depictio/catalog/qiime2/alpha_rarefaction.py
  depictio/catalog/qiime2/alpha_rarefaction.yaml
  depictio/catalog/qiime2/ancombc.py
  depictio/catalog/qiime2/ancombc.yaml
  depictio/catalog/qiime2/taxa_barplot.yaml
  depictio/catalog/qiime2/taxonomy_composition.py
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/projects/nf-core/ampliseq/2.14.0/template.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/generate_canonical_seeds.py
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
  depictio/recipes/__init__.py
  depictio/tests/models/test_catalog.py
Due: ty-check-models-api-dash-cli

test(recipes): patch CATALOG_DIR in empty-list test for the two recipe homes
  depictio/tests/cli/utils/test_recipes.py
Due: ty-check-models-api-dash-cli

fix(ci): update recipe CLI refs to module-keyed after the move
  .github/workflows/depictio-ci.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/download_test_data.sh
  depictio/projects/nf-core/viralrecon/3.0.0/download_test_data.sh
  docs/design/bioinformatics-catalog.md
Due: none

fix(helm): viewer→API proxy on k8s — FQDN upstream + auto-detected resolver
  docker-images/Dockerfile.viewer
  docker-images/nginx.conf.template
  helm-charts/depictio/templates/deployments.yaml
Due: helm-lint

feat(helm): HA replicas + PodDisruptionBudget for EMBL demo/demo-dev
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/poddisruptionbudget.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

ci(cli): parse admin token with the CLI venv python (has PyYAML)
  .github/workflows/depictio-ci.yaml
Due: none

ci(cli): wait for ingestion to settle before dashboard import
  .github/workflows/depictio-ci.yaml
Due: none

fix(helm): propagate auth-mode env to celery worker (fixes screenshot 500)
  .github/workflows/test-and-package-helm-chart.yaml
  helm-charts/depictio/templates/configmaps.yaml
Due: helm-lint

ci(helm): drain startup screenshot backlog before testing the endpoint
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

ci(helm): verify a screenshot PNG is produced instead of a blocking call
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

refactor(ampliseq): retire volcano_canonical — bind Volcano directly to ancombc_results
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_advanced_viz.json
  depictio/projects/nf-core/ampliseq/2.14.0/project.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_differential.json
  depictio/projects/nf-core/ampliseq/2.16.0/generate_canonical_seeds.py
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/volcano_canonical.tsv
  depictio/projects/nf-core/ampliseq/recipes/volcano_canonical.py
  depictio/tests/recipes/test_advanced_viz_recipes.py
Due: ty-check-models-api-dash-cli

sec: add automated security audit scripts + close 3 follow-ups they caught
  .devcontainer/docker-compose.devcontainer.yaml
  depictio/api/v1/endpoints/files_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/infrastructure_diagnostics.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/projects/init/advanced_viz_showcase/scripts/reupload_new_fixtures.py
  docker-compose.dev.yaml
  scripts/security_audit_compose.sh
  scripts/security_audit_helm.sh
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
