Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix(ci): register plotly-upset pixi source + reformat fixtures script
  depictio/projects/init/advanced_viz_showcase/scripts/reupload_new_fixtures.py
  pixi.toml
Due: none

fix(test): move requires_fastapi marker below imports (ruff E402)
  depictio/tests/models/test_global_filters.py
Due: ty-check-models-api-dash-cli

fix(viewer): add @types/plotly.js so CI tsc finds plotly types
  packages/depictio-react-core/package.json
  packages/depictio-react-core/src/plotly.d.ts
  pnpm-lock.yaml
Due: none

fix(viewer): cast Plotly selection-clear payloads for strict types
  packages/depictio-react-core/src/components/FigureRenderer.tsx
Due: none

feat(viewer): add text component and notes footer drawer
  depictio/viewer/package-lock.json
  depictio/viewer/package.json
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/ComponentBuilder.tsx
  depictio/viewer/src/builder/CreateComponentPage.tsx
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/componentTypes.ts
  depictio/viewer/src/builder/steps/StepDesign.tsx
  depictio/viewer/src/builder/store/useBuilderStore.ts
  depictio/viewer/src/builder/text/TextBuilder.tsx
  depictio/viewer/src/builder/text/TextPreview.tsx
  depictio/viewer/src/components/NotesFooter.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/index.ts
Due: none

feat(viewer): hide Data Source step for text + fullscreen notes drawer
  depictio/viewer/src/builder/CreateComponentPage.tsx
  depictio/viewer/src/components/NotesFooter.tsx
Due: none

fix(viewer): add tiptap deps to workspace pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(viewer): import @mantine/tiptap/styles.css so RichTextEditor renders
  depictio/viewer/src/main.tsx
Due: none

fix(viewer): move notes footer toggle from bottom-left to bottom-right
  depictio/viewer/src/components/NotesFooter.tsx
Due: none

chore(claude): add slash commands for bump/commit/worktree workflows
  .claude/commands/bump-docs-version.md
  .claude/commands/bump-version.md
  .claude/commands/cli-venv.md
  .claude/commands/commit-push-pr.md
  .claude/commands/commit-push.md
  .claude/commands/commit.md
  .claude/commands/import-project.md
  .claude/commands/new-worktree.md
Due: none

Bump version: 0.11.2 → 0.12.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.11.2 → 0.12.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.12.0
  CHANGELOG.md
Due: none

viewer(walkthrough): mode-aware guided tour with spotlight backdrop
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/steps/StepDesign.tsx
  depictio/viewer/src/builder/steps/StepType.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/ProfileBadge.tsx
  depictio/viewer/src/dashboards/DashboardsApp.tsx
  depictio/viewer/src/demo/DemoTour.tsx
  depictio/viewer/src/main.tsx
  depictio/viewer/src/walkthrough/SpotlightBackdrop.tsx
  depictio/viewer/src/walkthrough/Walkthrough.tsx
  depictio/viewer/src/walkthrough/WalkthroughHost.tsx
  depictio/viewer/src/walkthrough/index.ts
  depictio/viewer/src/walkthrough/steps/authBuilder.ts
  depictio/viewer/src/walkthrough/steps/publicExplorer.ts
  depictio/viewer/src/walkthrough/types.ts
  depictio/viewer/src/walkthrough/useWalkthrough.ts
Due: none

viewer(walkthrough): drop route guard from builder welcome step
  depictio/viewer/src/walkthrough/steps/authBuilder.ts
Due: none

viewer(walkthrough): projects-first flow, favicon hero, race-safe auto-advance
  depictio/viewer/src/projects/ProjectsApp.tsx
  depictio/viewer/src/walkthrough/Walkthrough.tsx
  depictio/viewer/src/walkthrough/steps/authBuilder.ts
  depictio/viewer/src/walkthrough/steps/publicExplorer.ts
  depictio/viewer/src/walkthrough/types.ts
  depictio/viewer/src/walkthrough/useWalkthrough.ts
Due: none

viewer(walkthrough): builder copy revisions + open-editor step
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/walkthrough/steps/authBuilder.ts
Due: none

viewer(walkthrough): fix component-builder route + watch DOM with MutationObserver
  depictio/viewer/src/walkthrough/Walkthrough.tsx
  depictio/viewer/src/walkthrough/steps/authBuilder.ts
Due: none

viewer(walkthrough): unblock target-pending state + clickable component-type
  depictio/viewer/src/walkthrough/Walkthrough.tsx
  depictio/viewer/src/walkthrough/steps/authBuilder.ts
Due: none

viewer(walkthrough): expand component-build phase with configure + resize steps
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/CreateComponentPage.tsx
  depictio/viewer/src/walkthrough/steps/authBuilder.ts
Due: none

viewer(walkthrough): render **bold** in step body strings
  depictio/viewer/src/walkthrough/Walkthrough.tsx
Due: none

viewer(walkthrough): tighten copy on resize + dashboard-save steps
  depictio/viewer/src/walkthrough/steps/authBuilder.ts
Due: none

viewer(walkthrough): public tour rewrite for shared-instance framing
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/walkthrough/steps/publicExplorer.ts
Due: none

viewer(walkthrough): add duplicate-to-temp-session step in public tour
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/viewer/src/hooks/useCurrentUser.ts
  depictio/viewer/src/walkthrough/WalkthroughHost.tsx
  depictio/viewer/src/walkthrough/index.ts
  depictio/viewer/src/walkthrough/steps/publicExplorer.ts
Due: ty-check-models-api-dash-cli

viewer(walkthrough): mention duplicate-to-temp-session upfront in welcome
  depictio/viewer/src/walkthrough/steps/publicExplorer.ts
Due: none

viewer(walkthrough): guide visitor through actual duplicate flow
  depictio/viewer/src/dashboards/DashboardActionsMenu.tsx
  depictio/viewer/src/walkthrough/steps/publicExplorer.ts
Due: none

viewer: gate edit affordances on dashboard ownership
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/lib/dashboardOwnership.ts
Due: none

feat(viewer): NotesFooter read-only for non-owners
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/NotesFooter.tsx
Due: none

feat(docs): playwright-driven docs screenshot capture for React viewer
  depictio/api/v1/endpoints/user_endpoints/utils.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2.png
  depictio/viewer/src/cli-agents/CliAgentsApp.tsx
  depictio/viewer/src/cli-agents/CreateTokenModal.tsx
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/dashboards/DashboardsApp.tsx
  depictio/viewer/src/projects/detail/LinkEditModal.tsx
  depictio/viewer/src/projects/detail/LinksSection.tsx
  depictio/viewer/src/projects/detail/ManageDataCollectionModal.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  dev/playwright_debug/docs_screenshots.py
Due: ty-check-models-api-dash-cli

chore(screenshots): refresh dashboard thumbnails
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
Due: ty-check-models-api-dash-cli

fix(screenshots): restore correct dark variant for 646b0f3c1e4a2d7f8e5b8ca2
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
Due: ty-check-models-api-dash-cli

Bump version: 0.12.0 → 0.12.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.12.0 → 0.12.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.12.1
  CHANGELOG.md
Due: none

docs: design proposal for advanced visualisation component family
  docs/design/advanced-viz.md
Due: none
