Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

feat: Improve dashboard screenshot functionality with enhanced loading and composite rendering
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat: Re-enable color picker and add title size selection in interactive component
  depictio/dash/modules/interactive_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: Refactor screenshot functionality to directly capture AppShell content, excluding navbar and header
  depictio/api/v1/endpoints/utils_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat: Enhance build_interactive function to support custom color and title size configuration
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

feat: Add customizable card styling options including background color, title color, icon selection, and title font size
  depictio/dash/modules/card_component/frontend.py
  depictio/dash/modules/card_component/utils.py
Due: ty-check-models-api-dash-cli

feat: Add icon selection functionality to interactive component and enhance default icon mapping
  depictio/dash/modules/interactive_component/frontend.py
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

feat: Add metadata and partial data warning buttons with dynamic visibility and content updates
  depictio/dash/assets/css/components/draggable-grid.css
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/edit.py
Due: ty-check-models-api-dash-cli

feat: Update sync callback to allow duplicate outputs and adjust initial call behavior
  depictio/dash/modules/text_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: Enhance figure component with metadata validation and data count tracking for improved UI feedback
  depictio/dash/modules/figure_component/frontend.py
  depictio/dash/modules/figure_component/utils.py
Due: ty-check-models-api-dash-cli

feat: Implement full data loading capability with user-triggered requests and bypass sampling
  depictio/dash/modules/figure_component/frontend.py
  depictio/dash/modules/figure_component/utils.py
Due: ty-check-models-api-dash-cli

feat: Add date range filtering capability to add_filter function with error handling
  depictio/api/v1/deltatables_utils.py
Due: ty-check-models-api-dash-cli

refactor: Move partial data popover update callback to frontend.py for better synchronization
  depictio/dash/layouts/edit.py
Due: ty-check-models-api-dash-cli

fix: Update layout IDs to match component index to prevent layout destruction on dashboard reload
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/save.py
Due: ty-check-models-api-dash-cli

test: Update MultiQC processor tests for improved mocking and error handling
  depictio/tests/api/v1/endpoints/auth_endpoints/test_google_oauth.py
  depictio/tests/api/v1/endpoints/multiqc_endpoints/test_utils.py
  depictio/tests/api/v1/tasks/test_cleanup_tasks.py
  depictio/tests/api/v1/test_settings_models.py
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

feat: Enhance MultiQC processor tests with improved mocking and error handling
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

fix: Pin MultiQC version to 1.31.0 and update polars-lts-cpu dependency to include extra features
  depictio/cli/pyproject.toml
  pyproject.toml
Due: ty-check-models-api-dash-cli

fix: Update patch targets in MultiQC processor tests for correct module referencing
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

refactor: Move build_sample_mapping utility to CLI utils to avoid code duplication and circular dependencies
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/cli/cli/utils/__init__.py
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/cli/cli/utils/sample_mapping.py
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

fix: Update mock path handling in MultiQC processor tests to improve directory iteration
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

Refactor tests and update configurations
  depictio/tests/api/v1/endpoints/multiqc_endpoints/test_utils.py
  depictio/tests/api/v1/tasks/test_cleanup_tasks.py
  depictio/tests/api/v1/test_settings_models.py
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

fix: Add MultiQC to quality check dependencies in CI workflow
  .github/workflows/depictio-cli-test-and-publish.yaml
Due: none

fix: Update ensure_owners_and_viewers_are_unique method to use instance variables
  depictio/models/models/users.py
Due: ty-check-models-api-dash-cli

fix: Simplify dependency installation process and verify polars installation
  .github/workflows/depictio-ci.yaml
Due: none

fix: Comment out pandera dependency for pandas to simplify dev requirements
  pyproject.toml
Due: none

fix: Update polars installation and modify pandera dependency for dev requirements
  .github/workflows/depictio-ci.yaml
  pyproject.toml
Due: none

fix: Update CI workflow to clean up conflicting polars packages and ensure correct installation of polars-lts-cpu
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/configs/ampliseq_dataset/ampliseq_project.yaml
Due: ty-check-models-api-dash-cli

fix: Comment out pandera dependency for pandas and polars in dev requirements
  pyproject.toml
Due: none

fix: Comment out unused add_filter function and pandera import in test_deltatables_utils
  depictio/tests/api/v1/test_deltatables_utils.py
Due: ty-check-models-api-dash-cli

fix: Enhance CI workflow by adding uv installation and Python setup with caching
  .github/workflows/depictio-ci.yaml
Due: none

fix: Add Redis service with healthcheck and volume configuration to docker-compose
  docker-compose.yaml
Due: none

Bump version: 0.4.0-b3 → 0.4.0
  .bumpversion.cfg
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.4.0
  CHANGELOG.md
Due: none

feat: Implement MultiQC FastQC Dashboard with dynamic sample filtering and plot updates
  .gitignore
  CLAUDE.md
  depictio/api/v1/configs/multiqc_dataset/sample_metadata.csv
  depictio/api/v1/configs/multiqc_dataset/test_multiqc_config.yaml
  dev/dev-multiqc-parquet/multiqc_dash_app_with_patch.py
Due: ty-check-models-api-dash-cli

refactor: Simplify child component processing in render_dashboard function
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
Due: ty-check-models-api-dash-cli

feat: Refactor MultiQC data processing and enhance dashboard functionality with argument parsing
  dev/dev-multiqc-parquet/multiqc_table_clean.py
Due: none

Add MultiQC Metadata Loader and Refactor Table Implementation
  dev/dev-multiqc-parquet/extract_multiqc_metadata.py
  dev/dev-multiqc-parquet/multiqc_metadata_extraction.json
  dev/dev-multiqc-parquet/multiqc_metadata_loader.py
  dev/dev-multiqc-parquet/multiqc_table_clean.py
Due: none

feat: Add S3 file access configuration options to .env for improved performance
  docker-compose/.env
Due: none

feat: Add S3 caching configuration and enhance S3 file handling in MultiQC visualization
  depictio/api/v1/configs/settings_models.py
  depictio/dash/modules/figure_component/multiqc_vis.py
  docker-images/Dockerfile_depictio.dockerfile
Due: ty-check-models-api-dash-cli
