Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

test(cli): share the run harness through a conftest fixture
  depictio/tests/cli/commands/conftest.py
  depictio/tests/cli/commands/test_run_attach_flow.py
  depictio/tests/cli/commands/test_run_ingestion_record.py
Due: ty-check-models-api-dash-cli

fix(upset): fit long set names and highlight the hovered intersection
  packages/depictio-react-core/src/components/advanced_viz/UpsetRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/upsetHover.test.ts
  packages/depictio-react-core/src/components/advanced_viz/upsetHover.ts
  packages/plotly-upset/plotly_upset/upset.py
  packages/plotly-upset/tests/test_upset.py
Due: none

fix(monitoring): filter ingestion runs by hostname when no instance label is set
  depictio/api/v1/monitoring/store.py
  depictio/tests/api/v1/test_ingestion_instance_filter.py
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
Due: ty-check-models-api-dash-cli

fix(heatmap): pick value columns by pattern so consensus heatmaps work on any run
  depictio/api/v1/celery_tasks.py
  depictio/models/components/advanced_viz/configs.py
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/tests/api/v1/tasks/test_heatmap_value_columns_pattern.py
  depictio/tests/models/test_complex_heatmap_config.py
  depictio/viewer/src/builder/advanced_viz/configBlob.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/ComplexHeatmapRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/namedColumns.test.ts
  packages/depictio-react-core/src/components/advanced_viz/namedColumns.ts
Due: ty-check-models-api-dash-cli

fix(multiqc): make the cold-miss re-enqueue actually rebuild
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
Due: ty-check-models-api-dash-cli

ci: bound the four jobs that boot containers
  .github/workflows/depictio-ci.yaml
Due: none

ci: bound the e2e job instead of leaving it to GitHub's 6h default
  .github/workflows/depictio-ci.yaml
Due: none

test(e2e): hold a MultiQC tile to the app's own ceiling, not a midpoint
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e): wait for the picker row as long as the call that produces it
  depictio/tests/e2e-playwright/fixtures/catalog.ts
Due: ty-check-models-api-dash-cli

ci: wait for reference datasets before walking the catalog
  .github/workflows/depictio-ci.yaml
Due: none

test(e2e): show the walk advancing instead of going quiet
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e): look for a component where it actually renders
  depictio/tests/e2e-playwright/fixtures/catalog.ts
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e): split the catalog walk into lanes so the second worker is used
  .github/workflows/depictio-ci.yaml
  depictio/tests/e2e-playwright/playwright.config.ts
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

fix(viewer): let an interactive component's index reach the DOM
  packages/depictio-react-core/src/components/InteractiveGroupCard.tsx
  packages/depictio-react-core/src/components/TopPanel.tsx
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
Due: none

test(e2e): stop paying three times for one deterministic failure
  depictio/tests/e2e-playwright/fixtures/catalog.ts
  depictio/tests/e2e-playwright/playwright.config.ts
  depictio/tests/e2e-playwright/tests/catalog/catalog-coverage.spec.ts
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
  depictio/tests/e2e-playwright/tests/catalog/catalog-registration.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e): walk each shard with one browser, not two
  .github/workflows/depictio-ci.yaml
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e): stop the catalog fixtures inheriting a click's budget
  depictio/tests/e2e-playwright/fixtures/catalog.ts
Due: ty-check-models-api-dash-cli

test(e2e): say what the picker offered when a match is missing
  depictio/tests/e2e-playwright/fixtures/catalog.ts
Due: ty-check-models-api-dash-cli

ci: size the walk's budget so a stuck run still reports
  .github/workflows/depictio-ci.yaml
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e): ride out a dropped connection while warming MultiQC
  depictio/tests/e2e-playwright/fixtures/catalog.ts
Due: ty-check-models-api-dash-cli

test(e2e): state the interactive placement contract on its own
  depictio/tests/e2e-playwright/tests/dashboards/interactive-placement.spec.ts
Due: ty-check-models-api-dash-cli

test(e2e): walk a third of the catalog per leg instead of all of it on each
  .github/workflows/depictio-ci.yaml
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

Bump version: 1.10.1 → 1.11.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.11.0
  CHANGELOG.md
Due: none

fix(ci): retry the quick-start smoke test's docker compose up on transient 5xx
  .github/workflows/build-images.yaml
Due: none

fix(ci): retry the quick-start smoke test's docker compose up on transient 5xx (#1100)
  .github/workflows/build-images.yaml
Due: none

feat(advanced-viz): spike a GenomeSpy track kind and write up the #1083 evaluation
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/sampling.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_genomespy_track.json
  depictio/projects/init/advanced_viz_showcase/dashboards/genomespy_track.yaml
  depictio/projects/nf-core/TEMPLATE_BOTTLENECKS.md
  depictio/viewer/package.json
  depictio/viewer/vite.config.ts
  docs/design/advanced-viz.md
  docs/design/genomespy-eval.md
  packages/depictio-react-core/package.json
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/GenomeSpyTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/genomespy/genomeSpySpec.test.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/genomeSpySpec.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/useGenomeSpy.ts
  packages/depictio-react-core/src/selection.ts
  packages/depictio-react-core/src/splitPanels.test.ts
  packages/depictio-react-core/src/splitPanels.ts
  packages/tool-studio/public/kinds.json
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

fix(catalog): give the preview pane a fixed height so AG Grid tables render
  depictio/viewer/src/catalog-preview/OutputView.tsx
Due: none

feat(cli): make the Nextflow trigger's install-time default configurable
  depictio/cli/cli/commands/config.py
  depictio/cli/configs/nextflow/depictio.config
  depictio/tests/cli/commands/test_config_nextflow.py
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

fix(multiqc): only offer General Stats when the report has the table
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/api/v1/services/multiqc/general_stats_payload.py
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/models/models/multiqc_reports.py
  depictio/tests/api/v1/endpoints/test_self_adapting_layout.py
  depictio/viewer/src/builder/multiqc/MultiQCBuilder.tsx
Due: ty-check-models-api-dash-cli

Bump version: 1.11.0 → 1.11.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.11.1
  CHANGELOG.md
Due: none

chore(nf-core): validate variantbenchmarking 1.5.0 against megatest
  .nfcore-monitor/variantbenchmarking-1.5.0.md
Due: none

chore(nf-core): validate atacseq 2.1.2 against megatest
  .nfcore-monitor/atacseq-2.1.2.md
Due: none

chore(nf-core): validate cutandrun 3.2.2 against megatest
  .nfcore-monitor/cutandrun-3.2.2.md
Due: none

chore(nf-core): validate chipseq 2.1.0 against megatest
  .nfcore-monitor/chipseq-2.1.0.md
Due: none

chore(nf-core): validate airrflow 5.1.1 against megatest
  .nfcore-monitor/airrflow-5.1.1.md
Due: none

fix(viewer): keep the builder preview in view while the controls scroll
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
  depictio/viewer/src/builder/figure/FigureBuilder.tsx
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
  depictio/viewer/src/builder/shared/DesignShell.tsx
  depictio/viewer/src/builder/shared/PlacementSection.tsx
  depictio/viewer/src/builder/shared/StickyPreview.tsx
  depictio/viewer/src/styles/app.css
Due: none
