Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix(tool-studio): refresh the catalog snapshot for the three new bindings
  packages/tool-studio/public/catalog.json
Due: none

feat(templates): bind the new life-science kinds to the pipelines that need them
  depictio/catalog/ctatsplicing/introns.yaml
  depictio/catalog/fusioninspector/protein_domains.yaml
  depictio/catalog/hamronization/report.yaml
  depictio/projects/nf-core/TEMPLATE_BOTTLENECKS.md
  depictio/projects/nf-core/funcscan/4.0.0/dashboards/base.yaml
  depictio/projects/nf-core/funcscan/4.0.0/docs/dashboards.md
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/docs/dashboards.md
Due: none

feat(catalog): let the preview's embeddings be re-coloured, and colour them by default
  depictio/catalog/ampcombi/embedding.yaml
  depictio/catalog/deseq2/vst_pca.yaml
  depictio/catalog/payload.py
  depictio/catalog/salmon/sample_pca.yaml
  depictio/catalog/taxpasta/embedding.yaml
  depictio/tests/api/v1/test_catalog_compose_matching.py
  depictio/tests/catalog/test_payload.py
  depictio/viewer/src/catalog-preview/mockApi.ts
  packages/tool-studio/public/catalog.json
Due: ty-check-models-api-dash-cli

fix(figure): apply the log axes the aggregate path was dropping
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
Due: none

fix(dev): wait for panels, not canvases, before a dashboard screenshot
  depictio/api/v1/services/screenshot_helpers.py
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/atac-signal.png
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/consensus.png
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/library-qc.png
  depictio/projects/nf-core/atacseq/1.2.2/docs/screenshots/peaks.png
  depictio/projects/nf-core/chipseq/1.2.0/docs/screenshots/consensus.png
  depictio/projects/nf-core/chipseq/1.2.0/docs/screenshots/peaks.png
  depictio/projects/nf-core/chipseq/1.2.0/docs/screenshots/sequencing-qc.png
  depictio/projects/nf-core/cutandrun/3.1/docs/screenshots/caller-agreement.png
  depictio/projects/nf-core/cutandrun/3.1/docs/screenshots/consensus-and-reproducibility.png
  depictio/projects/nf-core/cutandrun/3.1/docs/screenshots/peak-calls.png
  dev/playwright_debug/showcase_viz_shots.py
  dev/playwright_debug/template_dashboard_shots.py
Due: ty-check-models-api-dash-cli

feat(catalog): one panel for both catalogues, and a preview for every render
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/catalog/payload.py
  depictio/viewer/src/builder/catalog/CatalogPreviewPanel.tsx
  depictio/viewer/src/catalog-preview/App.tsx
  depictio/viewer/src/catalog-preview/Gallery.tsx
  depictio/viewer/src/catalog-preview/OutputView.tsx
  depictio/viewer/src/catalog-preview/shared.tsx
  depictio/viewer/src/catalog-shared/tileSnippet.ts
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

fix(cutandrun): size the caller dot plot to the two rows it draws
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
Due: none

feat(viewer): say where run parameters come from, and settle the z-index order
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/DashboardInfoBody.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/components/DemoModeBanner.tsx
  depictio/viewer/src/components/NotesFooter.tsx
  depictio/viewer/src/projects/detail/RunProvenanceCard.tsx
  depictio/viewer/src/projects/template.tsx
  packages/depictio-react-core/src/components/mapPanel/MapPanelSurface.tsx
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/zLayers.ts
Due: none

fix(homer): anchor the TSS profile glob to the per-sample peak tables
  depictio/catalog/homer/tss_distance_profile.yaml
Due: none

fix(catalog): type homer's TSS peak_count as Int64, not polars' UInt64
  depictio/catalog/homer/tss_distance_profile.py
Due: none

fix(viewer): reach the settings popover in fullscreen, and keep the sidebar where you left it
  depictio/viewer/src/chrome/Sidebar.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizExtras.tsx
  packages/depictio-react-core/src/components/chrome/useFullscreenPortalTarget.ts
Due: none

feat(sashimi): draw measured read depth under the arcs
  depictio/api/v1/db_init_reference_datasets.py
  depictio/models/components/advanced_viz/configs.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_sashimi.json
  depictio/projects/init/advanced_viz_showcase/dashboards/sashimi.yaml
  depictio/projects/init/advanced_viz_showcase/data/sashimi_coverage_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  packages/depictio-react-core/src/colors.ts
  packages/depictio-react-core/src/components/advanced_viz/SashimiRenderer.tsx
Due: ty-check-models-api-dash-cli

fix(api): keep same-titled MultiQC metrics apart, and stop dense heatmaps washing out
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/services/figure/code_executor.py
  depictio/api/v1/services/multiqc/general_stats_payload.py
  depictio/tests/api/v1/tasks/test_complex_heatmap_annotation_palette.py
  depictio/tests/api/v1/test_code_executor_builtins.py
  depictio/tests/api/v1/test_general_stats_duplicate_titles.py
  packages/plotly-complexheatmap/plotly_complexheatmap/annotations.py
  packages/plotly-complexheatmap/plotly_complexheatmap/heatmap.py
  packages/plotly-complexheatmap/tests/test_annotations.py
  packages/plotly-complexheatmap/tests/test_heatmap.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): let a lollipop name its stems, and colour ARG arrows by tool
  depictio/catalog/hamronization/report.yaml
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  packages/depictio-react-core/src/components/advanced_viz/LollipopRenderer.tsx
  packages/tool-studio/public/catalog.json
  packages/tool-studio/public/kinds.json
Due: ty-check-models-api-dash-cli

feat(nf-core): give the MultiQC tab back to MultiQC, and pin the sample sheet to every tab
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/airrflow/5.1.0/docs/dashboards.md
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/VALIDATION_REPORT.md
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/docs/dashboards.md
  depictio/projects/nf-core/chipseq/1.2.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/docs/dashboards.md
  depictio/projects/nf-core/cutandrun/3.1/VALIDATION_REPORT.md
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/docs/dashboards.md
  depictio/projects/nf-core/differentialabundance/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/dashboards.md
  depictio/projects/nf-core/funcscan/4.0.0/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/rnaseq/3.26.0/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/docs/dashboards.md
  depictio/projects/nf-core/taxprofiler/2.0.1/VALIDATION_REPORT.md
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/docs/dashboards.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/small/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/structural/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/tests/models/test_shipped_dashboard_yamls.py
Due: ty-check-models-api-dash-cli

fix(nf-core): name the MultiQC tab for what it is, and give every tab the project icon
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/rnafusion/4.1.3/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/small/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/structural/dashboards/base.yaml
Due: none

feat(groups): carry a selection group across data collections, and say when it cannot
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/filter_links.py
  depictio/api/v1/services/card_groups.py
  depictio/api/v1/services/figure/groups.py
  depictio/tests/api/v1/test_group_link_resolution.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/GroupingHeaderControl.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/interactive/GroupingSteps.tsx
  packages/depictio-react-core/src/components/interactive/PendingGroupForm.tsx
  packages/depictio-react-core/src/components/interactive/SelectionGroupsPanel.tsx
  packages/depictio-react-core/src/components/interactive/ValueListPreview.tsx
  packages/depictio-react-core/src/components/interactive/groupingGuide.test.ts
  packages/depictio-react-core/src/components/interactive/groupingGuide.ts
  packages/depictio-react-core/src/groupStatus.test.ts
  packages/depictio-react-core/src/groupStatus.ts
  packages/depictio-react-core/src/hooks/useSelectionGroups.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selectionGroups.ts
  packages/depictio-react-core/src/utils/panelToggle.ts
Due: ty-check-models-api-dash-cli

feat(complex-heatmap): name the metadata columns to annotate, instead of baking them in
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/models/components/advanced_viz/configs.py
  depictio/tests/api/v1/tasks/test_complex_heatmap_annotation_sources.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/ComplexHeatmapRenderer.tsx
Due: ty-check-models-api-dash-cli

fix(dot-plot): scale the dots against the data's own peak, and say what a dot is worth
  packages/depictio-react-core/src/components/advanced_viz/DotPlotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/dotSizes.test.ts
  packages/depictio-react-core/src/components/advanced_viz/dotSizes.ts
Due: none

docs(nf-core): the measured verdicts, and a driver for the showcase instance
  depictio/projects/nf-core/TEST_DATASETS.md
  scripts/nfcore_showcase.py
  scripts/nfcore_validation.config
  scripts/nfcore_validation_hpc.py
Due: none

fix(viewer): recolour seven more kinds by analysis group, and correct what the tiles draw
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/CoverageTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/DotPlotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GeneArrowTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MetricCiBarsRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ProfileRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/QQRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/RarefactionRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ScatterXyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SplitPanels.tsx
  packages/depictio-react-core/src/components/advanced_viz/colourScales.test.ts
  packages/depictio-react-core/src/components/advanced_viz/colourScales.ts
  packages/depictio-react-core/src/components/advanced_viz/groupSplit.test.ts
  packages/depictio-react-core/src/components/advanced_viz/groupSplit.ts
  packages/depictio-react-core/src/components/inlineMarkdown.test.ts
  packages/depictio-react-core/src/components/inlineMarkdown.ts
Due: none

feat(dashboards): sort the table by when you last opened a dashboard
  depictio/viewer/src/dashboards/DashboardsList.tsx
  depictio/viewer/src/dashboards/views/DashboardTableView.tsx
  depictio/viewer/table-harness.tsx
Due: none

docs(nf-core): the validation annexes and the showcase thumbnails
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d70_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d70_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d71_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d71_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d72_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d72_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d73_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d73_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d74_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d74_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d75_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d75_light.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d76_dark.png
  depictio/api/static/screenshots/646b0f3c1e4a2d7f8e5b8d76_light.png
  depictio/projects/nf-core/MEGATEST_STATUS.md
  depictio/projects/nf-core/TEST_DATASETS.md
  depictio/projects/nf-core/VALIDATION_SCENARIOS.md
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/alpha-diversity.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/community-diversity.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/differential-abundance.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/environment-ctd.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/multiqc.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/ordination-clustering.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/phylogeny.png
  depictio/projects/nf-core/ampliseq/2.18.0/docs/screenshots/sampling-campaign.png
  depictio/projects/nf-core/viralrecon/3.0.0/docs/screenshots/coverage-depth.png
  depictio/projects/nf-core/viralrecon/3.0.0/docs/screenshots/lineage-clustering.png
  depictio/projects/nf-core/viralrecon/3.0.0/docs/screenshots/multiqc.png
  depictio/projects/nf-core/viralrecon/3.0.0/docs/screenshots/sample-qc.png
  depictio/projects/nf-core/viralrecon/3.0.0/docs/screenshots/variants.png
  scripts/nfcore_trigger_stub.py
  scripts/nfcore_validation.config
  scripts/nfcore_validation_hpc.py
Due: ty-check-models-api-dash-cli

fix(variantbenchmarking): anchor the recipes on the variant-type directory
  depictio/catalog/happy/roc.py
  depictio/catalog/happy/summary.py
  depictio/catalog/rtgtools/vcfeval_summary.py
  depictio/catalog/sompy/regions.py
  depictio/catalog/sompy/summary.py
  depictio/catalog/svanalyzer/svbenchmark.py
  depictio/catalog/truvari/summary.py
  depictio/catalog/wittyer/summary.py
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
Due: none

test(backup): skip the MinIO integration tests when the container cannot start
  depictio/tests/api/v1/utils/test_s3_backup_integration.py
Due: ty-check-models-api-dash-cli

fix(ci): pull MinIO from quay.io, the registry that still has it
  depictio/tests/api/v1/utils/test_s3_backup_integration.py
  dev/react-migration-test/manifests.yaml
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-compose/docker-compose.backup-minio.yaml
  helm-charts/depictio/values.yaml
  scripts/security_audit_helm.sh
Due: ty-check-models-api-dash-cli, helm-lint

fix(variantbenchmarking): keep the germline and somatic vcfeval tables apart
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
Due: none

fix(figure): apply the log axes the aggregate path was dropping
  depictio/api/v1/services/figure/aggregate.py
  depictio/tests/unit/test_figure_aggregate.py
Due: ty-check-models-api-dash-cli

feat(showcase): give the six new viz kinds a showcase tab each
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/dev_scripts/generate_dashboard_seeds.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_fusion_structure.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_gene_arrow_track.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_gsea_running_score.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_profile.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_sashimi.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_signal_matrix.json
  depictio/projects/init/advanced_viz_showcase/dashboards/fusion_structure.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/gene_arrow_track.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/gsea_running_score.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/profile.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/sashimi.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/signal_matrix.yaml
  depictio/projects/init/advanced_viz_showcase/data/fusion_structure_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/gene_arrow_track_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/gsea_running_score_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/profile_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/sashimi_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/signal_matrix_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  dev/playwright_debug/showcase_viz_shots.py
  packages/depictio-react-core/src/components/advanced_viz/GeneArrowTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GseaRunningScoreRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ProfileRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SashimiRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SignalMatrixRenderer.tsx
Due: ty-check-models-api-dash-cli

fix(advanced-viz): place scatter_xy guides and labels in log-axis units
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_scatter_xy.json
  depictio/projects/init/advanced_viz_showcase/dashboards/scatter_xy.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  packages/depictio-react-core/src/components/advanced_viz/ScatterXyRenderer.tsx
Due: none

fix(complexheatmap): drop row labels that have no room to be read
  packages/plotly-complexheatmap/plotly_complexheatmap/heatmap.py
  packages/plotly-complexheatmap/tests/test_heatmap.py
Due: none

feat(nf-core): shared megatest infrastructure for pipeline templates
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/catalog/SCHEMA.md
  depictio/catalog/catalog.schema.json
  depictio/catalog/multiqc/bcftools.yaml
  depictio/catalog/multiqc/bowtie2.yaml
  depictio/catalog/multiqc/cutadapt.yaml
  depictio/catalog/multiqc/fastp.yaml
  depictio/catalog/multiqc/fastqc.yaml
  depictio/catalog/multiqc/happy.yaml
  depictio/catalog/multiqc/ivar.yaml
  depictio/catalog/multiqc/kraken.yaml
  depictio/catalog/multiqc/mosdepth.yaml
  depictio/catalog/multiqc/quast.yaml
  depictio/catalog/multiqc/samtools.yaml
  depictio/catalog/multiqc/snpeff.yaml
  depictio/catalog/multiqc/sompy.yaml
  depictio/catalog/multiqc/summary.yaml
  depictio/catalog/multiqc/truvari.yaml
  depictio/catalog/output.schema.json
  depictio/dev_scripts/multiqc_reprocess.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/projects/init/catalog_conformance/scripts/generate_project.py
  depictio/projects/init/catalog_conformance/template.yaml
  depictio/projects/nf-core/MEGATEST_STATUS.md
  depictio/projects/nf-core/VALIDATION_SCENARIOS.md
  depictio/projects/nf-core/ampliseq/2.18.0/download_test_data.sh
  depictio/projects/nf-core/ampliseq/2.18.0/megatest.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/download_test_data.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/megatest.yaml
  depictio/tests/api/v1/test_catalog_compose_matching.py
  depictio/tests/models/test_catalog.py
  depictio/tests/unit/test_bump_template_version.py
  depictio/tests/unit/test_multiqc_reprocess.py
  depictio/tests/unit/test_nfcore_megatest.py
  depictio/tests/unit/test_nfcore_monitor.py
  packages/tool-studio/public/catalog.json
  packages/tool-studio/public/catalog.schema.json
  scripts/bump_template_version.py
  scripts/nfcore_megatest.py
  scripts/nfcore_monitor.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): add the scatter_xy kind, and draw the JBrowse line
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/sampling.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_sashimi.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_scatter_xy.json
  depictio/projects/init/advanced_viz_showcase/dashboards/sashimi.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/scatter_xy.yaml
  depictio/projects/init/advanced_viz_showcase/data/sashimi_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/scatter_xy_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/ScatterXyRenderer.tsx
  packages/depictio-react-core/src/selection.ts
  packages/tool-studio/public/catalog.schema.json
  packages/tool-studio/public/kinds.json
Due: ty-check-models-api-dash-cli

fix(figure): bind the pure builtins a code figure needs
  depictio/api/v1/services/figure/code_executor.py
  depictio/tests/api/v1/test_code_executor_builtins.py
Due: ty-check-models-api-dash-cli

fix(advanced-viz): stop a shaded band from costing a tile its kind
  depictio/models/components/advanced_viz/configs.py
  depictio/tests/models/test_shipped_dashboard_yamls.py
Due: ty-check-models-api-dash-cli

fix(celery): stop compute_upset from annotating every non-set column
  depictio/api/v1/celery_tasks.py
  packages/plotly-upset/tests/test_annotations.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): add six life-science viz kinds
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/sampling.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/viewer/scripts/generate-icon-subset.mjs
  dev/advanced_viz_kinds/fusion_structure.md
  dev/advanced_viz_kinds/gene_arrow_track.md
  dev/advanced_viz_kinds/gsea_running_score.md
  dev/advanced_viz_kinds/phylogenetic_binding.md
  dev/advanced_viz_kinds/profile.md
  dev/advanced_viz_kinds/sashimi.md
  dev/advanced_viz_kinds/signal_matrix.md
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/FusionStructureRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GeneArrowTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GseaRunningScoreRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ProfileRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SashimiRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SignalMatrixRenderer.tsx
  packages/depictio-react-core/src/selection.ts
  packages/tool-studio/public/catalog.schema.json
  packages/tool-studio/public/kinds.json
Due: ty-check-models-api-dash-cli

feat(nf-core): add atacseq and cutandrun, and fix two manifest guards
  depictio/projects/nf-core/MEGATEST_STATUS.md
  depictio/projects/nf-core/TEMPLATE_BOTTLENECKS.md
  depictio/tests/unit/test_nfcore_megatest.py
  scripts/nfcore_megatest.py
Due: ty-check-models-api-dash-cli
