Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

models: make a component's YAML tag its stable id
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/models/test_component_identity.py
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

docs(showcase): capture every page, after the fixes
  dev/component-export-showcase/README.md
  dev/component-export-showcase/screenshots/01-landing.png
  dev/component-export-showcase/screenshots/02-qc-report.png
  dev/component-export-showcase/screenshots/03-gallery.png
  dev/component-export-showcase/screenshots/04-report.png
  dev/component-export-showcase/screenshots/05-versioning.png
  dev/component-export-showcase/screenshots/06-limited.png
  dev/component-export-showcase/screenshots/07-selftest.png
  dev/component-export-showcase/screenshots/ex-clean.png
  dev/component-export-showcase/screenshots/ex-limited.png
  dev/component-export-showcase/screenshots/ghga-clean.png
  dev/component-export-showcase/screenshots/ghga-clean2.png
  dev/component-export-showcase/screenshots/landing.png
  dev/component-export-showcase/screenshots/pp-report.png
  dev/component-export-showcase/screenshots/pp-report2.png
  dev/component-export-showcase/screenshots/qc-brand.png
  dev/component-export-showcase/screenshots/qc-panels.png
  dev/component-export-showcase/screenshots/qc-report.png
  dev/component-export-showcase/screenshots/qc.png
  dev/component-export-showcase/screenshots/report-controls.png
  dev/component-export-showcase/screenshots/selftest.png
  dev/component-export-showcase/screenshots/site-file.png
  dev/component-export-showcase/screenshots/site-live.png
  dev/component-export-showcase/screenshots/site-spec.png
  dev/component-export-showcase/screenshots/site-top.png
  dev/component-export-showcase/screenshots/versioning.png
  dev/component-export-showcase/shoot_all.py
Due: none

docs(showcase): make the site shareable as static files
  dev/component-export-showcase/README.md
  dev/component-export-showcase/freeze_site.py
Due: none

docs(comms): the write-up copy is two posts now, not six
  docs/comms/launch-kit.md
Due: none

fix(api): keep date column specs BSON-encodable
  depictio/api/v1/utils.py
  depictio/tests/api/v1/test_precompute_columns_specs.py
  packages/depictio-react-core/src/components/interactive/DatePickerRenderer.tsx
Due: ty-check-models-api-dash-cli

Bump version: 1.3.0 → 1.3.1-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.3.1-b1
  CHANGELOG.md
Due: none

chore(hooks): guard the default dashboard thumbnails
  .pre-commit-config.yaml
  scripts/check-screenshot-churn.sh
Due: none

Bump version: 1.3.1-b1 → 1.3.1-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.3.1-b2
  CHANGELOG.md
Due: none

Bump version: 1.3.1-b2 → 1.3.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.3.1
  CHANGELOG.md
Due: none

fix(viewer): route every API call through authFetch
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/hooks/useCurrentUser.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/realtime.ts
Due: none

chore(nf-core): validate ampliseq 2.18.0 against megatest
  .nfcore-monitor/ampliseq-2.18.0.md
Due: none

docs(design): RFC for static dashboard export (serverless viewing)
  docs/design/rfc-static-dashboard-export.md
Due: none

docs(design): reframe RFC as serverless deployment, not export
  docs/design/rfc-serverless-deployment.md
Due: none

docs(design): add serverless RFC errata vs main v1.3.1
  docs/design/rfc-serverless-deployment.md
Due: none

feat(serverless): bundle-manifest contract (Python + TS) with schema pinning
  depictio/models/models/serverless.py
  depictio/models/models/serverless.schema.json
  depictio/tests/unit/serverless/test_manifest_schema.py
  packages/depictio-static-core/fixtures/manifest-basic.json
  packages/depictio-static-core/package.json
  packages/depictio-static-core/src/index.ts
  packages/depictio-static-core/src/manifest.ts
  packages/depictio-static-core/src/resolveUri.ts
  packages/depictio-static-core/test/manifest.test.ts
  packages/depictio-static-core/test/resolveUri.test.ts
  packages/depictio-static-core/tsconfig.json
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

feat(serverless): static-bundle runtime — real viewer offline via module shims
  .gitignore
  depictio/tests/e2e-playwright/playwright.config.ts
  depictio/tests/e2e-playwright/tests/static-runtime/badges.spec.ts
  depictio/tests/e2e-playwright/tests/static-runtime/helpers.ts
  depictio/tests/e2e-playwright/tests/static-runtime/no-network.spec.ts
  depictio/viewer/package.json
  depictio/viewer/src/App.tsx
  depictio/viewer/src/static-runtime/apiShim.ts
  depictio/viewer/src/static-runtime/bundle.ts
  depictio/viewer/src/static-runtime/main.tsx
  depictio/viewer/src/static-runtime/realtimeShim.ts
  depictio/viewer/src/static-runtime/serverStatusShim.ts
  depictio/viewer/src/static-runtime/useCurrentUserShim.ts
  depictio/viewer/static.html
  depictio/viewer/tsconfig.json
  depictio/viewer/vite-plugins/module-shim.ts
  depictio/viewer/vite.catalog-preview.config.ts
  depictio/viewer/vite.static.config.ts
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/StaticBadgeContext.tsx
  packages/depictio-react-core/src/components/chrome/index.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-static-core/fixtures/manifest-basic.json
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

ci(serverless): dedicated workflow + first bundle byte-budget guard
  .github/workflows/serverless-ci.yaml
  depictio/viewer/scripts/check-bundle-budget.mjs
Due: none

ci: auto-open an epic issue when a milestone is created
  .github/workflows/epic-on-milestone.yaml
Due: none

style: format Python code blocks in DEPRECATION.md for ruff 0.16
  depictio/models/yaml_serialization/DEPRECATION.md
Due: ty-check-models-api-dash-cli

chore(deps): bump 10 of the 12 runtime-group updates, hold beanie and redis
  pyproject.toml
  uv.lock
Due: none

fix(helm): disable service link env vars on all pods
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/README.md
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/mongo-init-job.yaml
  helm-charts/depictio/templates/wipe-job.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix(viewer): don't let the auth probe mint the session it reports on
  depictio/tests/e2e-playwright/tests/auth/session-refresh.spec.ts
  depictio/viewer/src/hooks/useCurrentUser.ts
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

fix(cards): reconcile the aggregation tables, add a composition layout
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/catalog/catalog.schema.json
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/constants.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/test_aggregation_parity.py
  depictio/tests/unit/test_card_aggregation.py
  depictio/viewer/src/builder/aggFunctions.ts
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/card/CardBuilder.tsx
  depictio/viewer/src/builder/card/CardPreview.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
Due: ty-check-models-api-dash-cli

chore(dev): add weekly repo-audit report generator
  dev/repo_audit/.gitignore
  dev/repo_audit/README.md
  dev/repo_audit/build.py
  dev/repo_audit/notes.md
  dev/repo_audit/template.html
Due: none

fix(cards): real preview data, pre-filled layout config, donut layout
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/services/card_breakdown.py
  depictio/catalog/catalog.schema.json
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/test_card_breakdown.py
  depictio/viewer/src/builder/card/CardBuilder.tsx
  depictio/viewer/src/builder/card/CardPreview.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

fix(dashboards,projects): correct + timezone-aware create/modify times, add column picker
  depictio/api/celery_app.py
  depictio/api/v1/endpoints/dashboards_endpoints/core_functions.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/utils.py
  depictio/api/v1/services/yaml_watcher.py
  depictio/models/models/dashboards.py
  depictio/models/models/projects.py
  depictio/models/timestamps.py
  depictio/tests/api/v1/test_dashboard_listing_timestamps.py
  depictio/tests/models/test_timestamps.py
  depictio/viewer/src/admin/AdminDashboardsPanel.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/components/ColumnPicker.tsx
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/hooks/useDashboardFilters.ts
  depictio/viewer/src/dashboards/lib/format.ts
  depictio/viewer/src/dashboards/views/DashboardTableView.tsx
  depictio/viewer/src/lib/datetime.ts
  depictio/viewer/src/lib/useTableColumns.ts
  depictio/viewer/src/projects/views/ProjectTableView.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

fix(dashboards): stop save from breaking on immutable _id and blanking screenshot_ts
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_project_update_timestamps.py
  depictio/tests/api/v1/test_dashboard_save_timestamps.py
Due: ty-check-models-api-dash-cli

fix(viewer): column picker did nothing when clicking a column's label
  .gitignore
  depictio/tests/e2e-playwright/test_table_columns_and_timezone.py
  depictio/viewer/src/components/ColumnPicker.tsx
  depictio/viewer/table-harness.html
  depictio/viewer/table-harness.tsx
  depictio/viewer/vite.table-harness.config.ts
Due: ty-check-models-api-dash-cli

feat(cards): histogram, threshold, completeness and attrition layouts
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/services/card_metrics.py
  depictio/catalog/catalog.schema.json
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/test_card_metrics.py
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/card/CardBuilder.tsx
  depictio/viewer/src/builder/card/CardPreview.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

fix(admin): refresh token on Log & Task polls to stop 'Invalid token'
  packages/depictio-react-core/src/api.ts
Due: none

fix(editor): refresh token on dashboard autosave
  depictio/viewer/src/EditorApp.tsx
Due: none
