Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

feat(catalog-studio): recognition-first entry flow
  packages/catalog-studio/README.md
  packages/catalog-studio/docs/screenshots/01-tool.png
  packages/catalog-studio/docs/screenshots/01b-recognized.png
  packages/catalog-studio/docs/screenshots/02-fixture.png
  packages/catalog-studio/docs/screenshots/03-component-types.png
  packages/catalog-studio/docs/screenshots/05-render-card.png
  packages/catalog-studio/docs/screenshots/06-export.png
  packages/catalog-studio/e2e/flow.spec.ts
  packages/catalog-studio/e2e/screenshots.spec.ts
  packages/catalog-studio/src/App.tsx
  packages/catalog-studio/src/catalog/catalog.ts
  packages/catalog-studio/src/catalog/github.ts
  packages/catalog-studio/src/state/useStudioStore.ts
  packages/catalog-studio/src/steps/AddToExistingPanel.tsx
  packages/catalog-studio/src/steps/ExportPanel.tsx
  packages/catalog-studio/src/steps/RecognizedTool.tsx
  packages/catalog-studio/src/steps/ToolForm.tsx
  packages/catalog-studio/src/test/catalog.test.ts
Due: none

fix(catalog-studio): persist dismissed match across step navigation
  packages/catalog-studio/src/state/useStudioStore.ts
  packages/catalog-studio/src/steps/ToolForm.tsx
Due: none

Make run_simulation.sh location-independent
  depictio/projects/test/adapt_feedb_ms/run_simulation.sh
Due: none

run_simulation.sh: source the API token from ~/.depictio/CLI.yaml
  depictio/projects/test/adapt_feedb_ms/run_simulation.sh
  docs/deploy-realtime-events.md
Due: none

Bump version: 1.1.4-b3 → 1.1.4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.1.4-b3 → 1.1.4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.1.4
  CHANGELOG.md
Due: none

chore(compose): restore no-minio compose for external S3
  docker-compose/docker-compose.no-minio.yaml
Due: none

fix(nfcore-monitor): don't flag SIDLE/multiregion sources as drift
  depictio/models/models/transforms.py
  depictio/projects/nf-core/ampliseq/recipes/sidle_reconstructed.py
  depictio/projects/nf-core/ampliseq/recipes/sidle_reconstruction_qc.py
  depictio/tests/unit/test_nfcore_monitor.py
  scripts/nfcore_monitor.py
Due: ty-check-models-api-dash-cli

feat(catalog-studio): extract metadata from Galaxy tools & Snakemake wrappers
  depictio/catalog/catalog.schema.json
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
  packages/catalog-studio/public/catalog.schema.json
  packages/catalog-studio/src/App.tsx
  packages/catalog-studio/src/catalog/fromGalaxy.ts
  packages/catalog-studio/src/catalog/fromNfCore.ts
  packages/catalog-studio/src/catalog/fromSnakemake.ts
  packages/catalog-studio/src/catalog/githubRaw.ts
  packages/catalog-studio/src/catalog/yamlGen.ts
  packages/catalog-studio/src/steps/AppendedYamlPreview.tsx
  packages/catalog-studio/src/steps/ExportPanel.tsx
  packages/catalog-studio/src/steps/ToolForm.tsx
  packages/catalog-studio/src/test/fromGalaxy.test.ts
  packages/catalog-studio/src/test/fromSnakemake.test.ts
  packages/catalog-studio/src/test/yamlGen.test.ts
  packages/catalog-studio/src/types.ts
Due: ty-check-models-api-dash-cli

feat(templates): scaffold nf-core/variantbenchmarking 1.4.0 template
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/variantbenchmarking/1.4.0/.db_seeds/.gitkeep
  depictio/projects/nf-core/variantbenchmarking/1.4.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/download_test_data.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/generate_seeds.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
  depictio/projects/nf-core/variantbenchmarking/recipes/happy_roc.py
  depictio/projects/nf-core/variantbenchmarking/recipes/happy_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/sompy_regions.py
  depictio/projects/nf-core/variantbenchmarking/recipes/sompy_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/svbenchmark_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/truvari_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/vcfeval_summary.py
  depictio/projects/nf-core/variantbenchmarking/recipes/wittyer_summary.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): benchmarking viz kinds + per-category variantbenchmarking projects
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/catalog/happy/roc.yaml
  depictio/catalog/rtgtools/vcfeval_summary.yaml
  depictio/catalog/sompy/summary.yaml
  depictio/catalog/truvari/summary.yaml
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/projects/init/advanced_viz_showcase/dashboards/benchmark_ci.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/benchmark_confusion.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/benchmark_pr.yaml
  depictio/projects/init/advanced_viz_showcase/dashboards/benchmark_roc.yaml
  depictio/projects/init/advanced_viz_showcase/data/benchmark_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/roc_curve_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/template.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/small/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/small/template.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/structural/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/structural/template.yaml
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ConfusionMatrixRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MetricCiBarsRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/PrBenchmarkRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/RocPrCurveRenderer.tsx
  packages/depictio-react-core/src/utils/colorScale.ts
Due: ty-check-models-api-dash-cli

feat(templates): align variantbenchmarking dashboard with pipeline's canonical plots
  depictio/projects/nf-core/variantbenchmarking/1.4.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
Due: none

fix(catalog): add variantbenchmarking modules to the nf-core existence index
  depictio/catalog/_index/nf_core_modules.txt
Due: none

refactor(catalog): migrate variantbenchmarking modules to the catalog convention
  depictio/catalog/happy/module.yaml
  depictio/catalog/happy/roc.py
  depictio/catalog/happy/roc.tsv
  depictio/catalog/happy/roc.yaml
  depictio/catalog/happy/summary.py
  depictio/catalog/happy/summary.tsv
  depictio/catalog/happy/summary.yaml
  depictio/catalog/rtgtools/module.yaml
  depictio/catalog/rtgtools/vcfeval_summary.py
  depictio/catalog/rtgtools/vcfeval_summary.tsv
  depictio/catalog/rtgtools/vcfeval_summary.yaml
  depictio/catalog/sompy/module.yaml
  depictio/catalog/sompy/regions.py
  depictio/catalog/sompy/regions.tsv
  depictio/catalog/sompy/regions.yaml
  depictio/catalog/sompy/summary.py
  depictio/catalog/sompy/summary.tsv
  depictio/catalog/sompy/summary.yaml
  depictio/catalog/svanalyzer/module.yaml
  depictio/catalog/svanalyzer/svbenchmark.py
  depictio/catalog/svanalyzer/svbenchmark.tsv
  depictio/catalog/svanalyzer/svbenchmark.yaml
  depictio/catalog/truvari/module.yaml
  depictio/catalog/truvari/summary.py
  depictio/catalog/truvari/summary.tsv
  depictio/catalog/truvari/summary.yaml
  depictio/catalog/wittyer/module.yaml
  depictio/catalog/wittyer/summary.py
  depictio/catalog/wittyer/summary.tsv
  depictio/catalog/wittyer/summary.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/download_test_data.sh
  depictio/projects/nf-core/variantbenchmarking/1.4.0/template.yaml
Due: none

docs(variantbenchmarking): add dashboard documentation + screenshots
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/dashboards.md
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/advviz-confusion-matrix.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/advviz-metric-ci-forest.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/advviz-pr-benchmark.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/advviz-roc-pr-curve.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/germline-benchmark.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/germline-multiqc.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/somatic-benchmark.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/somatic-multiqc.png
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/screenshots/structural-multiqc.png
Due: none

fix(migrate): make project export/import round-trip work in single-user mode
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix(catalog): re-apply metric_ci_bars grounding + schema refresh
  depictio/catalog/catalog.schema.json
  depictio/catalog/sompy/summary.py
Due: none

test(cli): update generate_api_headers tests for CLI identity headers
  depictio/tests/cli/utils/test_common.py
Due: ty-check-models-api-dash-cli

feat(monitoring): live WebSocket push + model tests
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/endpoints/monitoring_endpoints/routes.py
  depictio/api/v1/monitoring/publish.py
  depictio/api/v1/monitoring/task_signals.py
  depictio/models/models/monitoring.py
  depictio/models/models/realtime.py
  depictio/tests/models/test_monitoring.py
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/realtime.ts
Due: ty-check-models-api-dash-cli

fix(monitoring): always show Log & Task tab in single-user mode
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/endpoints/monitoring_endpoints/routes.py
  depictio/viewer/src/admin/AdminApp.tsx
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
Due: ty-check-models-api-dash-cli

feat(monitoring): admin "Log & Task" monitoring (ledger + polling UI)
  depictio/api/celery_app.py
  depictio/api/celery_worker.py
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/monitoring_endpoints/__init__.py
  depictio/api/v1/endpoints/monitoring_endpoints/routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/monitoring/__init__.py
  depictio/api/v1/monitoring/log_handler.py
  depictio/api/v1/monitoring/store.py
  depictio/api/v1/monitoring/task_signals.py
  depictio/api/v1/services/lifespan.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/api_calls.py
  depictio/cli/cli/utils/common.py
  depictio/models/models/cli.py
  depictio/models/models/monitoring.py
  depictio/viewer/src/admin/AdminApp.tsx
  depictio/viewer/src/admin/AdminMonitoringPanel.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

docs(monitoring): admin Log & Task screenshots + docs_screenshots shots
  dev/playwright_debug/docs_screenshots.py
  docs/images/v0.12/react/admin_monitoring_health_dark.png
  docs/images/v0.12/react/admin_monitoring_health_light.png
  docs/images/v0.12/react/admin_monitoring_ingestion_dark.png
  docs/images/v0.12/react/admin_monitoring_ingestion_light.png
  docs/images/v0.12/react/admin_monitoring_logs_dark.png
  docs/images/v0.12/react/admin_monitoring_logs_light.png
  docs/images/v0.12/react/admin_monitoring_task_detail_dark.png
  docs/images/v0.12/react/admin_monitoring_task_detail_light.png
  docs/images/v0.12/react/admin_monitoring_tasks_dark.png
  docs/images/v0.12/react/admin_monitoring_tasks_light.png
Due: none

feat(catalog): in-app catalog picker, modern metadata inspector & catalog flag
  depictio/viewer/public/logos/tools_catalog_logo.png
  depictio/viewer/src/builder/ChoiceScreen.tsx
  depictio/viewer/src/builder/CreateComponentPage.tsx
  depictio/viewer/src/builder/catalog/CatalogPreviewPanel.tsx
  depictio/viewer/src/builder/catalog/CatalogTab.tsx
  depictio/viewer/src/builder/store/useBuilderStore.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/chrome/CatalogFlag.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
  packages/depictio-react-core/src/components/chrome/MetadataPopover.tsx
  packages/depictio-react-core/src/components/chrome/chrome.css
  packages/depictio-react-core/src/index.ts
Due: none

fix(migrate): export/import MultiQC + JBrowse docs and fix export headers
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
Due: ty-check-models-api-dash-cli

Bump version: 1.1.4 → 1.2.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.1.4 → 1.2.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.2.0
  CHANGELOG.md
Due: none

docs(blog): add six drafted blog posts (beginner → technical)
  docs/blog/connected-dashboards.md
  docs/blog/contribute-to-the-catalog.md
  docs/blog/depictio-1-0.md
  docs/blog/first-dashboard-15-minutes.md
  docs/blog/omics-visualization-catalog.md
  docs/blog/self-hosting-depictio.md
Due: none

docs: add modules-catalog blog post and launch/comms kit
  docs/blog/modules-catalog.md
  docs/comms/launch-kit.md
Due: none

docs: rework launch kit around v1.0.0 with accessible LinkedIn series
  docs/comms/launch-kit.md
Due: none

docs: correct stack to React front end (no Plotly Dash)
  docs/blog/modules-catalog.md
  docs/comms/launch-kit.md
Due: none

docs: add LinkedIn formatting cheat-sheet to launch kit
  docs/comms/launch-kit.md
Due: none

docs(blog): rewrite 1.0 post - human tone, stability/perf focus
  docs/blog/depictio-1-0.md
Due: none

docs(blog): revise 1.0 post per feedback
  docs/blog/depictio-1-0.md
Due: none

docs(blog): add emoji section headings + real docs screenshots to 1.0 post
  docs/blog/depictio-1-0.md
Due: none

docs(blog): swap hero to current React dashboard viewer screenshot
  docs/blog/depictio-1-0.md
Due: none

docs(blog): collapse volcano light/dark to a single image
  docs/blog/depictio-1-0.md
Due: none

docs(blog): refocus 'What's next' on templates + tools catalog article
  docs/blog/depictio-1-0.md
Due: none

docs(blog): add logo, fix duplicate screenshot, clarify templates/tools
  docs/blog/depictio-1-0.md
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
