Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

docs: advertise dashboards.versions; correct the stale architecture notes
  CLAUDE.md
  depictio/api/v1/endpoints/utils_endpoints/routes.py
Due: ty-check-models-api-dash-cli

docs(blog): correct 1.0 performance numbers against PERF_REPORT_v2
  docs/blog/depictio-1-0.md
Due: none

fix(versions): make the timeline truthful and restore actually restore
  CLAUDE.md
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/versioning.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/models/models/dashboard_versions.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_versioning.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  depictio/viewer/src/versions/VersionPreviewBanner.tsx
  depictio/viewer/src/versions/preview.ts
Due: ty-check-models-api-dash-cli

fix(versions): repair legacy counts, preview layout, and drawer density
  depictio/api/v1/endpoints/dashboards_endpoints/version_store.py
  depictio/api/v1/services/lifespan.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  depictio/viewer/src/versions/VersionTimelineItem.tsx
  depictio/viewer/src/versions/preview.ts
Due: ty-check-models-api-dash-cli

fix(versions): date on every timestamp, preview the tab you are on
  CLAUDE.md
  depictio/viewer/dev/preview_contract_check.mjs
  depictio/viewer/package.json
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  depictio/viewer/src/versions/VersionPreviewBanner.tsx
  depictio/viewer/src/versions/VersionTimelineItem.tsx
  depictio/viewer/src/versions/format.ts
Due: none

docs(blog): rework 1.0 post per author review
  docs/blog/depictio-1-0.md
Due: none

fix(versions): tighten timeline density, fill the drawer height
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  depictio/viewer/src/versions/VersionTimelineItem.tsx
  depictio/viewer/src/versions/versions.css
Due: none

docs(blog): Delta is the tabular path, not every data collection
  docs/blog/depictio-1-0.md
Due: none

docs(blog): drop JBrowse2, not shipped in 1.0
  docs/blog/depictio-1-0.md
Due: none

fix(versions): delete a dashboard's version ledger with the dashboard
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
Due: ty-check-models-api-dash-cli

style: ruff format the version route tests
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_version_routes.py
Due: ty-check-models-api-dash-cli

docs(blog): give interactivity its own section, it is the main point
  docs/blog/depictio-1-0.md
Due: none

feat(demo): iris_versioned — a project that actually exercises versioning
  depictio/projects/init/iris_versioned/.gitignore
  depictio/projects/init/iris_versioned/README.md
  depictio/projects/init/iris_versioned/batches/batch_01_initial_survey/iris.csv
  depictio/projects/init/iris_versioned/batches/batch_02_virginica_added/iris.csv
  depictio/projects/init/iris_versioned/batches/batch_03_virginica_recalibrated/iris.csv
  depictio/projects/init/iris_versioned/dashboards/v1_survey.yaml
  depictio/projects/init/iris_versioned/dashboards/v2_extended.yaml
  depictio/projects/init/iris_versioned/dashboards/v3_recalibrated.yaml
  depictio/projects/init/iris_versioned/data/.gitkeep
  depictio/projects/init/iris_versioned/generate_batches.py
  depictio/projects/init/iris_versioned/project.yaml
  depictio/projects/init/iris_versioned/stage_batch.sh
  depictio/tests/models/test_iris_versioned_fixture.py
Due: ty-check-models-api-dash-cli

docs: note the ledger-delete rule and the iris_versioned fixture
  CLAUDE.md
Due: none

test(demo): prove the iris_versioned fixture's validation is not vacuous
  depictio/tests/models/test_iris_versioned_fixture.py
Due: ty-check-models-api-dash-cli

test(demo): execute the documented ingest sequence instead of asserting it
  depictio/tests/models/test_iris_versioned_fixture.py
Due: ty-check-models-api-dash-cli

docs(demo): correct the iris_versioned setup against a real run
  depictio/projects/init/iris_versioned/README.md
  depictio/projects/init/iris_versioned/stage_batch.sh
Due: none

fix(versions): expose version history in the viewer, not just the editor
  depictio/viewer/src/App.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
Due: none

fix(versions): stamp the Delta version instead of degrading to "none"
  depictio/api/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/api/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/api/v1/endpoints/dashboards_endpoints/versioning.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_dashboard_versioning.py
Due: ty-check-models-api-dash-cli

docs(blog): second review pass
  docs/blog/depictio-1-0.md
Due: none

feat(versions): read a dashboard's data as it was, not just its layout
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/dashboards_endpoints/data_versions.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_data_versions.py
  depictio/tests/api/v1/test_delta_time_travel.py
Due: ty-check-models-api-dash-cli

feat(versions): dataset version picker in the viewer
  depictio/viewer/src/App.tsx
  depictio/viewer/src/versions/DataVersionBanner.tsx
  depictio/viewer/src/versions/DatasetVersionPicker.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
  depictio/viewer/src/versions/VersionTimelineItem.tsx
  depictio/viewer/src/versions/useDatasetHistories.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/ImageRenderer.tsx
  packages/depictio-react-core/src/components/MapRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/dataVersions.tsx
  packages/depictio-react-core/src/index.ts
Due: none

feat(versions): component history modal
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_card_definition_override.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/versions/ComponentHistoryAction.tsx
  depictio/viewer/src/versions/ComponentVersionModal.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: ty-check-models-api-dash-cli

docs(demo): a runnable end-to-end check for time travel
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/projects/init/iris_versioned/README.md
  depictio/projects/init/iris_versioned/check_time_travel.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_card_definition_override.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_data_versions.py
Due: ty-check-models-api-dash-cli

fix(versions): a ?version= preview now pins its data too
  depictio/viewer/src/App.tsx
  depictio/viewer/src/versions/VersionPreviewBanner.tsx
Due: none

fix(versions): say which collections are NOT time travelling
  depictio/viewer/src/App.tsx
  depictio/viewer/src/versions/DataVersionBanner.tsx
  depictio/viewer/src/versions/DatasetVersionPicker.tsx
  depictio/viewer/src/versions/VersionHistoryDrawer.tsx
Due: none

docs(blog): third review pass
  docs/blog/depictio-1-0.md
Due: none

Bump version: 1.2.2 → 1.3.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.3.0
  CHANGELOG.md
Due: none

feat(demo): four dataset versions at 50/100/100/150, and dashboards that change
  depictio/projects/init/iris_versioned/README.md
  depictio/projects/init/iris_versioned/batches/batch_01_setosa_only/iris.csv
  depictio/projects/init/iris_versioned/batches/batch_02_versicolor_added/iris.csv
  depictio/projects/init/iris_versioned/batches/batch_03_setosa_recalibrated/iris.csv
  depictio/projects/init/iris_versioned/batches/batch_03_virginica_recalibrated/iris.csv
  depictio/projects/init/iris_versioned/batches/batch_04_virginica_added/iris.csv
  depictio/projects/init/iris_versioned/check_time_travel.py
  depictio/projects/init/iris_versioned/dashboards/v1_survey.yaml
  depictio/projects/init/iris_versioned/dashboards/v3_recalibrated.yaml
  depictio/projects/init/iris_versioned/dashboards/v4_complete.yaml
  depictio/projects/init/iris_versioned/generate_batches.py
  depictio/projects/init/iris_versioned/stage_batch.sh
  depictio/viewer/dev/data_version_body_check.mjs
  depictio/viewer/package.json
Due: none

fix(versions): the editor had no dataset picker at all
  depictio/viewer/src/EditorApp.tsx
Due: none

feat(demo): rebuild iris_versioned in one command, with the stamps actually ascending
  depictio/projects/init/iris_versioned/README.md
  depictio/projects/init/iris_versioned/check_time_travel.py
  depictio/projects/init/iris_versioned/project.yaml
  depictio/projects/init/iris_versioned/rebuild_demo.py
Due: none

fix(versions): components kept a different identity in every version
  depictio/api/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/api/static/screenshots/6824cb3b89d2b72169309738_light.png
  depictio/api/v1/endpoints/dashboards_endpoints/data_versions.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/versions_routes.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/projects/init/iris_versioned/check_component_restore.py
  depictio/projects/init/iris_versioned/check_render_paths.py
  depictio/projects/init/iris_versioned/rebuild_demo.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_restore_component.py
  depictio/tests/models/test_component_index_stability.py
Due: ty-check-models-api-dash-cli

feat(versions): component history gets data travel, compare and restore
  depictio/viewer/dev/component_history_check.mjs
  depictio/viewer/package.json
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/GridItemEditOverlay.tsx
  depictio/viewer/src/versions/ComponentHistoryAction.tsx
  depictio/viewer/src/versions/ComponentVersionModal.tsx
  depictio/viewer/src/versions/dataVersionChoice.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/index.ts
Due: none

test(versions): prove the component-history modal shows what it claims
  depictio/projects/init/iris_versioned/check_component_history.py
Due: none

docs(blog): add social copy for the 1.0 post
  docs/blog/depictio-1-0-social.md
Due: none

fix(versions): dataset travel reached only cards, and compare goes horizontal
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/projects/init/iris_versioned/check_component_history.py
  depictio/projects/init/iris_versioned/dashboards/v1_survey.yaml
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_card_definition_override.py
  depictio/viewer/dev/component_history_check.mjs
  depictio/viewer/src/versions/ComponentVersionModal.tsx
  packages/depictio-react-core/src/dataVersions.tsx
Due: ty-check-models-api-dash-cli

test(versions): check what the browser is served, not what the repo holds
  depictio/projects/init/iris_versioned/check_served_bundle.py
Due: none

docs(blog): strip the draft-note comment from the post
  docs/blog/depictio-1-0-social.md
  docs/blog/depictio-1-0.md
Due: none

fix(versions): a restored figure redrew only after a page reload
  depictio/projects/init/iris_versioned/check_served_bundle.py
  depictio/viewer/dev/render_key_check.mjs
  depictio/viewer/package.json
  depictio/viewer/src/versions/ComponentVersionModal.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/ImageRenderer.tsx
  packages/depictio-react-core/src/components/MapRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/renderKey.ts
Due: none
