Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

feat(cli): auto-detect nf-core run and compose a dashboard from the catalog
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/templates.py
  depictio/models/components/advanced_viz/compose.py
  depictio/models/models/nextflow.py
  depictio/models/models/workflows.py
  depictio/tests/cli/utils/test_template_detection.py
  depictio/tests/models/test_compose_dashboard.py
  depictio/tests/models/test_nextflow_run_info.py
Due: ty-check-models-api-dash-cli

feat(cli): pluggable workflow-run connectors (generic + Snakemake)
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/templates.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/compose.py
  depictio/models/models/nextflow.py
  depictio/models/models/run_info.py
  depictio/models/models/snakemake.py
  depictio/tests/models/test_nextflow_run_info.py
  depictio/tests/models/test_run_info_dispatch.py
  depictio/tests/models/test_snakemake_run_info.py
Due: ty-check-models-api-dash-cli

feat(cli): auto-trigger ingestion from Nextflow via nextflow.config
  depictio/cli/README.md
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/common.py
  depictio/cli/configs/nextflow/depictio.config
  depictio/cli/configs/nextflow/example/README.md
  depictio/cli/configs/nextflow/example/depictio_project.yaml
  depictio/cli/configs/nextflow/example/main.nf
  depictio/cli/configs/nextflow/example/nextflow.config
  depictio/tests/cli/commands/test_run.py
  depictio/tests/cli/utils/test_common.py
Due: ty-check-models-api-dash-cli

feat(catalog cli): serve preview/gallery ephemerally by default, --out to export
  depictio/cli/cli/commands/catalog.py
Due: ty-check-models-api-dash-cli

style(catalog): apply ruff format to payload.py + catalog cli (fix CI quality)
  depictio/catalog/payload.py
  depictio/cli/cli/commands/catalog.py
Due: ty-check-models-api-dash-cli

fix(multiqc): drop matplotlib dep from general-stats colormap
  depictio/api/v1/services/multiqc/general_stats_payload.py
  depictio/tests/api/v1/test_general_stats_colormap.py
Due: ty-check-models-api-dash-cli

Bump version: 1.0.0-b8 → 1.0.0-b9
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b8 → 1.0.0-b9
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.0-b9
  CHANGELOG.md
Due: none

chore(screenshots): drop legacy dash/static screenshots (relocated to api/static on main)
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9ca2_dark.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9ca2_light.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cb3_dark.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cb3_light.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cb5_dark.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cb5_light.png
Due: ty-check-models-api-dash-cli

Bump version: 1.0.0-b9 → 1.0.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b9 → 1.0.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.0
  CHANGELOG.md
Due: none

fix(quickstart): zero-config `docker compose up -d` + multi-arch images
  .env.example
  .github/workflows/build-images.yaml
  bump-with-helm.sh
  docker-compose.yaml
Due: none

fix(quickstart): auto-seed default admin in single-user mode
  depictio/api/v1/db_init.py
Due: ty-check-models-api-dash-cli

ci(quickstart): smoke-test that the published compose boots with no .env
  .github/workflows/build-images.yaml
Due: none

ci(quickstart): add detailed sanity checks to the smoke test
  .github/workflows/build-images.yaml
Due: none

ci(quickstart): verify admin user + iris dashboard seeded in smoke test
  .github/workflows/build-images.yaml
Due: none

ci(quickstart): build arm64 only for stable releases
  .github/workflows/build-images.yaml
Due: none

ci(quickstart): also build arm64 for beta releases
  .github/workflows/build-images.yaml
Due: none

fix(quickstart): keep working creds in .env.example for CI/dev compose
  .env.example
Due: none

Bump version: 1.0.0 → 1.0.1-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0 → 1.0.1-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.1-b1
  CHANGELOG.md
Due: none

fix(quickstart): let mongo start under cap_drop:[ALL]
  docker-compose.yaml
Due: none

Bump version: 1.0.1-b1 → 1.0.1-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.1-b1 → 1.0.1-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

fix(devcontainer): reliable Codespaces port forwarding + single-user + auto-open viewer
  .devcontainer/devcontainer.json
  .devcontainer/scripts/allocate-ports.sh
  .devcontainer/scripts/forward-ports.sh
Due: none

Update CHANGELOG.md for v1.0.1-b2
  CHANGELOG.md
Due: none

ci(quickstart): poll the viewer in smoke test instead of one eager curl
  .github/workflows/build-images.yaml
Due: none

Bump version: 1.0.1-b2 → 1.0.1-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.1-b2 → 1.0.1-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.1-b3
  CHANGELOG.md
Due: none

fix(devcontainer): bound service-readiness waits so postCreate can't hang
  .devcontainer/post_create_setup.sh
Due: none

fix(quickstart): give the viewer a writable /etc/nginx/conf.d
  docker-compose.yaml
Due: none

Bump version: 1.0.1-b3 → 1.0.1-b4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.1-b3 → 1.0.1-b4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint
