Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

feat: Update icon color handling to apply via CSS style to prevent browser freeze in card and interactive components
  depictio/dash/modules/card_component/utils.py
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

feat: Enhance filtering logic for date and range components in metadata samples retrieval
  depictio/dash/modules/multiqc_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: Enable auto-refresh for analytics dashboard with a 30-second interval
  depictio/dash/layouts/admin_analytics.py
Due: ty-check-models-api-dash-cli

Add favicon and update screenshot assets
  depictio/api/v1/configs/ampliseq_dataset/ampliseq_project.yaml
  depictio/api/v1/configs/iris_dataset/initial_dashboard.json
  depictio/dash/assets/images/icons/favicon.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737.png
Due: ty-check-models-api-dash-cli

feat: Add EMBL specific values for unauthenticated access and Google OAuth configuration
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values-embl-auth.yaml
Due: helm-lint

feat: Add S3 delta table existence check and improve project ID handling during creation
  depictio/api/main.py
  depictio/api/v1/endpoints/projects_endpoints/utils.py
Due: ty-check-models-api-dash-cli

fix: Update references to 'Iris Dashboard' to 'Iris Dashboard Demo' for clarity in unauthenticated mode tests
  depictio/tests/e2e-tests/cypress/e2e/projects_management/project-permissions.cy.js
  depictio/tests/e2e-tests/cypress/e2e/unauthenticated/enable-interactive-mode.cy.js
Due: ty-check-models-api-dash-cli

fix: Standardize 'Iris Dashboard Demo' to 'Iris Dashboard demo' for consistency in tests
  depictio/tests/e2e-tests/cypress/e2e/projects_management/project-permissions.cy.js
  depictio/tests/e2e-tests/cypress/e2e/unauthenticated/enable-interactive-mode.cy.js
Due: ty-check-models-api-dash-cli

Bump version: 0.5.1 → 0.5.2
  .bumpversion.cfg
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.5.2
  CHANGELOG.md
Due: none

feat: Preserve original IDs during project creation to ensure consistency across K8s instances
  .github/workflows/test-and-package-helm-chart.yaml
  depictio/api/v1/db_init.py
Due: ty-check-models-api-dash-cli

feat: Enhance project creation to preserve original IDs from YAML for consistency across K8s instances
  depictio/api/v1/db_init.py
  depictio/api/v1/endpoints/projects_endpoints/utils.py
Due: ty-check-models-api-dash-cli

feat: Implement static IDs in project creation for K8s consistency
  depictio/api/v1/db_init.py
Due: ty-check-models-api-dash-cli

Bump version: 0.5.2 → 0.5.3
  .bumpversion.cfg
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.5.3
  CHANGELOG.md
Due: none

feat: Force static data collection ID in dashboard components for K8s consistency
  depictio/api/main.py
  depictio/api/v1/db_init.py
Due: ty-check-models-api-dash-cli

feat: Add verification for deltatable and dashboard dc_id references in multi-instance K8s deployments
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

refactor: Simplify print statements for dc_id verification in Helm chart workflow
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

feat: Enhance dashboard creation to verify and update static dc_ids for existing dashboards
  depictio/api/v1/db_init.py
Due: ty-check-models-api-dash-cli

feat: Update dashboard components to ensure static dc_id consistency and improve logging
  depictio/api/v1/db_init.py
Due: ty-check-models-api-dash-cli

Refactor callbacks to client-side for performance optimization
  depictio/api/v1/deltatables_utils.py
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/admin_notifications.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/header.py
  depictio/dash/layouts/notes_footer.py
  depictio/dash/layouts/profile.py
  depictio/dash/layouts/sidebar.py
  depictio/dash/layouts/tokens_management.py
  depictio/dash/layouts/users_management.py
  depictio/dash/simple_theme.py
  depictio/dash/utils.py
Due: ty-check-models-api-dash-cli

feat: Add periodic token purge task to improve performance by offloading cleanup from frontend
  depictio/api/v1/tasks/cleanup_tasks.py
Due: ty-check-models-api-dash-cli

feat: Implement orjson for faster JSON serialization in Flask
  depictio/dash/assets/performance-monitor.js
  depictio/dash/core/app_factory.py
Due: ty-check-models-api-dash-cli

feat: Update _create_action_icon to conditionally include n_clicks parameter
  depictio/dash/layouts/header.py
Due: ty-check-models-api-dash-cli

Enhance performance and logging in dashboard rendering and user management
  depictio/dash/core/auth.py
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/draggable_scenarios/progressive_loading.py
  depictio/dash/layouts/draggable_scenarios/progressive_loading_component.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/palette.py
  depictio/dash/layouts/save.py
  depictio/dash/layouts/users_management.py
Due: ty-check-models-api-dash-cli

Add performance analysis tools for Dash applications
  dev/performance_analysis/MYSTERY_SOLVED_POPOVER_BOTTLENECK.md
  dev/performance_analysis/O(N2)_ANALYSIS.md
  dev/performance_analysis/OPTIMIZATION_PHASE1B_NAVBAR.md
  dev/performance_analysis/OPTIMIZATION_PHASE1_CACHING.md
  dev/performance_analysis/OPTIMIZATION_PHASE2_NOTIFICATIONS.md
  dev/performance_analysis/OPTIMIZATION_PHASE3_METADATA.md
  dev/performance_analysis/OPTIMIZATION_PHASE4A_CLIENTSIDE_FILTERS.md
  dev/performance_analysis/PERFORMANCE_ANALYSIS_REPORT.md
  dev/performance_analysis/PERFORMANCE_COMPARISON_AFTER_NAVBAR_OPT.md
  dev/performance_analysis/PERFORMANCE_OPTIMIZATION_ROADMAP.md
  dev/performance_analysis/PHASE3_RESULTS_AND_NEXT_STEPS.md
  dev/performance_analysis/PHASE4A_RESULTS_AND_MYSTERY.md
  dev/performance_analysis/PHASE4C_DISABLE_POPOVER.md
  dev/performance_analysis/PHASE4C_RESULTS.md
  dev/performance_analysis/PHASE4D_CALLBACK_OPTIMIZATIONS.md
  dev/performance_analysis/PHASE4E_FINAL_REPORT.md
  dev/performance_analysis/PHASE5_CLIENT_SIDE_PROFILING_RESULTS.md
  dev/performance_analysis/analyze_callback_graph.py
  dev/performance_analysis/analyze_client_profiling.py
  dev/performance_analysis/analyze_performance_report.py
  dev/performance_analysis/callback_flow_analyzer.py
  dev/performance_analysis/callback_registry_builder.py
  dev/performance_analysis/dash_initialization_profiler.html
  dev/performance_analysis/extract_callback_details.py
  dev/performance_analysis/performance_comparison.md
  dev/performance_analysis/performance_monitor.py
Due: none

refactor: Refactor code structure for layout & routing
  depictio/dash/core/app_factory.py
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/add_component_simple.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/draggable.py.bak
  depictio/dash/layouts/draggable_scenarios/progressive_loading_component.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/position_controls.py
  depictio/dash/layouts/remove_component_simple.py
  depictio/dash/layouts/save.py
  depictio/dash/layouts/stepper.py
  depictio/dash/layouts/stepper_page.py
  depictio/dash/layouts/stepper_parts/part_two.py
  depictio/dash/modules/card_component/frontend.py.bak
  depictio/dash/modules/card_component/utils.py
  depictio/dash/modules/figure_component/frontend.py
  depictio/dash/modules/interactive_component/frontend.py
Due: ty-check-models-api-dash-cli

fix: Correct dash_dir path in CallbackRegistryBuilder initialization fix: Update DASHBOARD_URL to point to the correct large dashboard for performance monitoring
  dev/performance_analysis/callback_registry_builder.py
  dev/performance_analysis/performance_monitor.py
Due: none

chore: Add documentation for removed CLEARME functionalities and future restoration plans
  dev/TEMPLATE_SYSTEM_IMPLEMENTATION_PLAN.md
  dev/draggable/CLEARME_DOCUMENTATION.md
Due: none

refactor: Optimize component rendering and state management in dashboard layouts
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/header.py
  depictio/dash/layouts/position_controls.py
  depictio/dash/layouts/stepper.py
  depictio/dash/layouts/stepper_page.py
Due: ty-check-models-api-dash-cli

feat: Implement position optimization with CSS order support for draggable grid items
  depictio/dash/assets/css/components/draggable-grid.css
Due: ty-check-models-api-dash-cli

refactor: Implement component editing navigation and standalone edit page
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/add_component_simple.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/edit_component_simple.py
  depictio/dash/layouts/edit_page.py
  depictio/dash/layouts/save.py
Due: ty-check-models-api-dash-cli

refactor: Simplify card component callbacks and enhance edit mode handling
  depictio/dash/modules/card_component/frontend.py
  depictio/dash/modules/card_component/utils.py
  depictio/dash/modules/figure_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: Restore and configure depictio-celery-worker service in docker-compose
  docker-compose.dev.yaml
Due: none

Add performance analysis scripts and JSON report for card component optimization
  dev/performance_analysis/FINAL_ANALYSIS_REPORT.md
  dev/performance_analysis/PERFORMANCE_ANALYSIS_SUMMARY.md
  dev/performance_analysis/PHASE_2A_SUMMARY.md
  dev/performance_analysis/PHASE_2C_SUMMARY.md
  dev/performance_analysis/PHASE_2_RESULTS.md
  dev/performance_analysis/PHASE_3_SPRINT_1_SUMMARY.md
  dev/performance_analysis/analyze_network_requests.py
  dev/performance_analysis/analyze_report.py
  dev/performance_analysis/assets/performance-monitor.js
  dev/performance_analysis/auto_reload_profiler.js
  dev/performance_analysis/browser_performance_profiler.js
  dev/performance_analysis/callback_flow_analyzer.py
  dev/performance_analysis/callback_registry.json
  dev/performance_analysis/compare_standalone_vs_depictio.py
  dev/performance_analysis/identify_callback_chains.py
  dev/performance_analysis/performance_monitor.py
  dev/performance_analysis/prototype_split_callbacks.py
  dev/performance_analysis/quick_summary.py
  dev/performance_analysis/run_standalone_benchmark.py
  dev/performance_analysis/standalone_iris_dashboard copy.py
  dev/performance_analysis/standalone_iris_dashboard.py
  dev/performance_analysis/standalone_report.md
  dev/performance_analysis/standalone_report_20251028_230353.json
  dev/performance_analysis/test_card_component_split.py
  dev/performance_analysis/test_import_timing.py
Due: none

feat: Add diagnostic scripts for Dash component and interactive filter analysis
  dev/performance_analysis/check_dash_components.js
  dev/performance_analysis/debug_interactive_filters.js
Due: none

feat: Implement core Claude agent for Vizro with dashboard creation, debugging, optimization, and teaching capabilities
  dev/vizro_agent/agent_core.py
Due: none

Add Vizro integration examples and standalone app
  dev/vizro_agent/README.md
  dev/vizro_agent/examples/code_optimization.py
  dev/vizro_agent/examples/dashboard_creation.py
  dev/vizro_agent/examples/debugging_session.py
  dev/vizro_agent/mcp_integration.py
  dev/vizro_agent/prompt_templates.py
  dev/vizro_agent/tests/test_agent_capabilities.py
  dev/vizro_agent/validation_helpers.py
  dev/vizro_agent/vizro_knowledge_base.py
  dev/vizro_dev/inspect_vizro_app.py
  dev/vizro_dev/vizro_in_dash.py
  dev/vizro_dev/vizro_integration_prototype.py
  dev/vizro_dev/vizro_layout_only.py
  dev/vizro_dev/vizro_mcp_generated.py
  dev/vizro_dev/vizro_minimal.py
  dev/vizro_dev/vizro_standalone.py
Due: none
