Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

Update CHANGELOG.md for v0.13.6
  CHANGELOG.md
Due: none

fix(deltatables): use positional indexing in precompute_columns_specs
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
  depictio/tests/api/v1/test_precompute_columns_specs.py
Due: ty-check-models-api-dash-cli

fix(deltatables): use positional indexing in precompute_columns_specs (#769)
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
  depictio/tests/api/v1/test_precompute_columns_specs.py
Due: ty-check-models-api-dash-cli

Bump version: 0.13.6 → 0.13.7
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.6 → 0.13.7
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.7
  CHANGELOG.md
Due: none

fix(screenshots): honour dashboard-level owners after duplication
  depictio/api/v1/services/screenshot_service.py
  depictio/tests/api/v1/test_screenshot_owner_check.py
Due: ty-check-models-api-dash-cli

ci: add repackage-helm-chart workflow to overwrite OCI tag contents
  .github/workflows/repackage-helm-chart.yaml
Due: none

ci: add repackage-helm-chart workflow to overwrite OCI tag contents (#772)
  .github/workflows/repackage-helm-chart.yaml
Due: none

Fix React project import 404 and per-project creation timestamps
  depictio/models/models/deltatables.py
  depictio/models/models/files.py
  depictio/models/models/projects.py
  depictio/models/models/workflows.py
  depictio/viewer/src/projects/CreateProjectModal.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

fix(screenshots): honour dashboard-level owners after duplication (#771)
  depictio/api/v1/services/screenshot_service.py
  depictio/tests/api/v1/test_screenshot_owner_check.py
Due: ty-check-models-api-dash-cli

Fix React project import 404 and per-project creation timestamps (#773)
  depictio/models/models/deltatables.py
  depictio/models/models/files.py
  depictio/models/models/projects.py
  depictio/models/models/workflows.py
  depictio/viewer/src/projects/CreateProjectModal.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

Bump version: 0.13.7 → 0.13.8
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.7 → 0.13.8
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.8
  CHANGELOG.md
Due: none

fix(auth): let admins bypass public/demo-mode write-action gates
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/pages/management_app.py
  depictio/tests/api/v1/test_unauthenticated_mode.py
  depictio/viewer/src/projects/ProjectsApp.tsx
  depictio/viewer/src/projects/ProjectsList.tsx
Due: ty-check-models-api-dash-cli

fix(auth): let admins bypass public/demo-mode write-action gates (#774)
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/pages/management_app.py
  depictio/tests/api/v1/test_unauthenticated_mode.py
  depictio/viewer/src/projects/ProjectsApp.tsx
  depictio/viewer/src/projects/ProjectsList.tsx
Due: ty-check-models-api-dash-cli

Bump version: 0.13.8 → 0.13.9
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.8 → 0.13.9
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.9
  CHANGELOG.md
Due: none

fix(builder): viz suggestion precision, text-step skip, screenshot regen on Save
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/dash/celery_app.py
  depictio/models/components/advanced_viz/producers.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/models/test_advanced_viz_suggestions.py
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/steps/StepType.tsx
Due: ty-check-models-api-dash-cli

fix(builder): viz suggestion precision, text-step skip, screenshot regen on Save (#775)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/dash/celery_app.py
  depictio/models/components/advanced_viz/producers.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/models/test_advanced_viz_suggestions.py
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/steps/StepType.tsx
Due: ty-check-models-api-dash-cli

Bump version: 0.13.9 → 0.13.10
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.9 → 0.13.10
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.10
  CHANGELOG.md
Due: none

fix(filters): cross-DC link filter producing column_name=None
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/filter_links.py
  packages/depictio-react-core/src/components/TableRenderer.tsx
Due: ty-check-models-api-dash-cli

fix(viewer): Add-link modal layout, persistence, alignment
  depictio/viewer/src/projects/detail/LinkEditModal.tsx
  depictio/viewer/src/projects/detail/LinksSection.tsx
Due: none

fix: cross-DC filter target_column=None + Add-link modal polish (#776)
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/filter_links.py
  depictio/viewer/src/projects/detail/LinkEditModal.tsx
  depictio/viewer/src/projects/detail/LinksSection.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
Due: ty-check-models-api-dash-cli

Bump version: 0.13.10 → 0.13.11
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.10 → 0.13.11
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.11
  CHANGELOG.md
Due: none

fix(filters): cross-DC link filter uses join column, not filter column
  depictio/api/v1/filter_links.py
  depictio/tests/api/v1/test_filter_links.py
Due: ty-check-models-api-dash-cli

fix(filters): cross-DC link filter uses join column, not filter column (#777)
  depictio/api/v1/filter_links.py
  depictio/tests/api/v1/test_filter_links.py
Due: ty-check-models-api-dash-cli

Bump version: 0.13.11 → 0.13.12
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.11 → 0.13.12
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.12
  CHANGELOG.md
Due: none

refactor(settings): rename DashConfig → ViewerConfig and DEPICTIO_DASH_ → DEPICTIO_VIEWER_
  depictio/api/v1/configs/config.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/infrastructure_diagnostics.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/screenshot_service.py
  depictio/dash/app.py
  depictio/dash/core/app_factory.py
  depictio/dash/flask_dispatcher.py
  depictio/dash/modules/figure_component/clustering.py
  depictio/tests/api/v1/test_settings_models.py
  docker-compose.dev.yaml
  docker-compose/.envo
  docker-images/run_dash.sh
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values-embl-auth.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

build(docker): scaffold per-service images for React migration
  docker-images/Dockerfile.api
  docker-images/Dockerfile.viewer
  docker-images/Dockerfile.worker
  docker-images/nginx.conf
Due: none

ci(docker): build api / worker / viewer migration images
  .github/workflows/build-migration-images.yaml
Due: none

refactor(celery): move celery_app + celery_worker out of dash/
  depictio/api/celery_app.py
  depictio/api/celery_worker.py
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/celery_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/api/v1/services/lifespan.py
  depictio/dash/core/app_factory.py
  depictio/dash/flask_dispatcher.py
  depictio/dash/layouts/save.py
  docker-images/run_celery_worker.sh
Due: ty-check-models-api-dash-cli
