Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

Add samplesheet->taxonomy_heatmap link for cross-DC filtering (works for base+extended)
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
Due: none

Consistent auto-coloring: use Plotly palette for heatmap annotations
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/ampliseq/recipes/taxonomy_heatmap.py
Due: none

Fix heatmap annotations disappearing on filter + add metadata→heatmap link
  depictio/dash/modules/figure_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

Fix metadata links: source_column sample→ID (matches actual metadata column name)
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
Due: none

Fix cross-DC link filtering + heatmap annotations on filter
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/templates.py
  depictio/dash/layouts/project_data_collections.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/utils.py
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/recipes/taxonomy_heatmap.py
Due: ty-check-models-api-dash-cli

feat: add DC linking UI and MultiQC DC creation via UI
  depictio/dash/api_calls.py
  depictio/dash/layouts/layouts_toolbox.py
  depictio/dash/layouts/project_data_collections.py
Due: ty-check-models-api-dash-cli

fix: skip scan step for MultiQC DC creation and fix file naming
  depictio/dash/api_calls.py
Due: ty-check-models-api-dash-cli

fix: resolve Cytoscape link edge referencing nonexistent column nodes
  depictio/dash/components/depictio_cytoscape_joins.py
Due: ty-check-models-api-dash-cli

fix: extract DC columns from enriched aggregation specs for Cytoscape
  depictio/dash/components/depictio_cytoscape_joins.py
Due: ty-check-models-api-dash-cli

fix: handle aggregation_columns_specs as list of dicts in Cytoscape
  depictio/dash/components/depictio_cytoscape_joins.py
Due: ty-check-models-api-dash-cli

Add multi-run MultiQC parquet report generator
  dev/multiqc-multi-reports/.gitignore
  dev/multiqc-multi-reports/generate_multi_run_reports.py
  dev/multiqc-multi-reports/pyproject.toml
Due: none

Update uv.lock after uv sync
  uv.lock
Due: none

feat: add dedicated MinIO ingress configuration with customizable options
  helm-charts/depictio/README.md
  helm-charts/depictio/templates/ingress.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

feat: add dedicated ingress for MinIO and backend API
  helm-charts/depictio/README.md
  helm-charts/depictio/templates/ingress.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

refactor: simplify separate ingress config — drop redundant enabled flag
  helm-charts/depictio/README.md
  helm-charts/depictio/templates/ingress.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

feat: add permission-based auth annotations and Serve-specific ingress values
  helm-charts/depictio/templates/ingress.yaml
  helm-charts/depictio/values-serve.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix: always render base nginx annotations on dedicated backend/minio ingresses
  helm-charts/depictio/templates/ingress.yaml
  helm-charts/depictio/values-serve.yaml
Due: helm-lint

revert: remove Serve-specific permission/auth logic from generic chart template
  helm-charts/depictio/templates/ingress.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

refactor: remove hardcoded Serve annotations from dedicated ingress templates
  helm-charts/depictio/templates/ingress.yaml
Due: helm-lint

fix: remove unused inheritDefaultAnnotations — dead code after annotation refactor
  helm-charts/depictio/README.md
  helm-charts/depictio/templates/ingress.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

Fix viralrecon output paths and enhance download script for HPC
  depictio/projects/nf-core/viralrecon/3.0.0/download_test_data.sh
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
  depictio/recipes/nf-core/viralrecon/nextclade_results.py
  depictio/recipes/nf-core/viralrecon/pangolin_lineages.py
Due: none

Align sidebar tabs: label left, dots menu right in edit mode
  depictio/dash/assets/css/components/sidebar-tabs.css
  depictio/dash/assets/css/main.css
  depictio/dash/layouts/tab_callbacks.py
Due: ty-check-models-api-dash-cli

Revert download_test_data.sh to original version
  depictio/projects/nf-core/viralrecon/3.0.0/download_test_data.sh
Due: none

Replace S3 download script with pipeline runner for test data generation
  depictio/projects/nf-core/viralrecon/3.0.0/download_test_data.sh
Due: none

Add glob_pattern support for per-sample pipeline outputs
  depictio/models/models/transforms.py
  depictio/projects/nf-core/viralrecon/3.0.0/download_test_data.sh
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
  depictio/recipes/__init__.py
  depictio/recipes/nf-core/viralrecon/nextclade_results.py
  depictio/recipes/nf-core/viralrecon/pangolin_lineages.py
Due: ty-check-models-api-dash-cli

feat: add nf-core/viralrecon 2.6.0 template and multi-tab dashboard
  depictio/projects/nf-core/viralrecon/2.6.0/dashboards/full_analysis.yaml
  depictio/projects/nf-core/viralrecon/2.6.0/template.yaml
  depictio/recipes/nf-core/viralrecon/__init__.py
  depictio/recipes/nf-core/viralrecon/nextclade_results.py
  depictio/recipes/nf-core/viralrecon/pangolin_lineages.py
  depictio/recipes/nf-core/viralrecon/summary_metrics.py
  depictio/recipes/nf-core/viralrecon/variants_long.py
Due: none

Fix: filter NaN in violin plot values and clean up Template badge
  depictio/dash/layouts/header.py
  depictio/dash/modules/multiqc_component/general_stats.py
Due: ty-check-models-api-dash-cli

Update viralrecon template to v3.0.0 with Aggregated metatype and S3 download script
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/full_analysis.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/download_test_data.sh
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
Due: none

Split Viral Analysis into Lineage Analysis + Variant Landscape tabs
  depictio/projects/nf-core/viralrecon/2.6.0/dashboards/full_analysis.yaml
Due: none

Viralrecon template migration + CLI/Dash enhancements
  depictio/api/v1/json_response.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/cli/cli/utils/rich_utils.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/depictio_cli.py
  depictio/cli/uv.lock
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/layouts/edit_page.py
  depictio/dash/layouts/header.py
  depictio/dash/layouts/save.py
  depictio/dash/layouts/stepper_page.py
  depictio/dash/modules/figure_component/multiqc_vis.py
  depictio/dash/modules/interactive_component/callbacks/design.py
  depictio/dash/modules/multiqc_component/general_stats.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/models/models/dashboards.py
  depictio/models/models/templates.py
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/download_test_data.sh
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
  depictio/recipes/nf-core/viralrecon/pangolin_lineages.py
  depictio/recipes/nf-core/viralrecon/variants_long.py
Due: ty-check-models-api-dash-cli

Bump Dash 3.2 → 4.1 for pattern-matching callback perf fix
  pyproject.toml
  uv.lock
Due: none

Perf fixes: SVG re-encode, MultiQC samples strip + N+1 cache, route guard
  depictio/dash/assets/images/logos/logo_black.svg
  depictio/dash/assets/images/logos/logo_white.svg
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/tab_callbacks.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/multiqc_component/utils.py
Due: ty-check-models-api-dash-cli

React viewer MVP + shared component library
  depictio/api/main.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/edit.py
  depictio/dash/pages/dashboard_editor.py
  depictio/viewer/.gitignore
  depictio/viewer/HANDOFF.md
  depictio/viewer/index.html
  depictio/viewer/package-lock.json
  depictio/viewer/package.json
  depictio/viewer/src/App.tsx
  depictio/viewer/src/api.ts
  depictio/viewer/src/components/ComponentRenderer.tsx
  depictio/viewer/src/components/DashboardGrid.tsx
  depictio/viewer/src/components/ErrorBoundary.tsx
  depictio/viewer/src/components/FigureRenderer.tsx
  depictio/viewer/src/components/TableRenderer.tsx
  depictio/viewer/src/main.tsx
  depictio/viewer/src/styles/app.css
  depictio/viewer/src/theme.ts
  depictio/viewer/tsconfig.json
  depictio/viewer/vite.config.ts
  packages/depictio-components/.gitignore
  packages/depictio-components/README.md
  packages/depictio-components/depictio_components/DepictioCard.py
  packages/depictio-components/depictio_components/DepictioMultiSelect.py
  packages/depictio-components/depictio_components/__init__.py
  packages/depictio-components/depictio_components/depictio_components.min.js
  packages/depictio-components/depictio_components/depictio_components.min.js.LICENSE.txt
  packages/depictio-components/package-lock.json
  packages/depictio-components/package.json
  packages/depictio-components/pyproject.toml
  packages/depictio-components/tsconfig.json
  packages/depictio-components/webpack.config.js
  pyproject.toml
Due: ty-check-models-api-dash-cli
