Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix(figure): describe every builder parameter from Plotly's docstring
  depictio/api/v1/services/figure/parameter_discovery.py
  depictio/tests/api/v1/test_figure_parameter_descriptions.py
Due: ty-check-models-api-dash-cli

feat(viewer): make the wordmark's mark the live rose at rest too
  depictio/viewer/src/chrome/DepictioWordmark.tsx
Due: none

Bump version: 1.11.1 → 1.11.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.11.2
  CHANGELOG.md
Due: none

test(backup): mock settings.s3 in the S3 backup integration test
  depictio/tests/api/v1/utils/test_s3_backup_integration.py
Due: ty-check-models-api-dash-cli

fix(compose): require dev S3 credentials under their new names
  docker-compose.dev.yaml
  docs/migrate-minio-to-seaweedfs.md
  scripts/security_audit_compose.sh
Due: none

fix(tool-studio): regenerate figureParams.json snapshot
  packages/tool-studio/public/figureParams.json
Due: none

feat(cli): add `depictio local` to run the full server without Docker
  .github/workflows/local-server-smoke.yaml
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/screenshot_service.py
  depictio/api/v1/utils.py
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/cli/depictio_cli.py
  depictio/tests/cli/commands/test_local.py
  depictio/tests/unit/test_install_paths.py
  depictio/version.py
  dev/design/local-server-profile.md
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

docs(local): diagrams, screenshots and a server vs CLI comparison
  dev/design/local-server-profile.md
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_same_code.png
  docs/images/v1.4/local/schema_same_code.svg
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
  docs/images/v1.4/local/screenshots/rnaseq_gene_explorer.png
  docs/images/v1.4/local/screenshots/rnaseq_heatmap.png
  docs/images/v1.4/local/screenshots/rnaseq_multiqc_filter_gm12878.png
  docs/images/v1.4/local/screenshots/rnaseq_multiqc_panels_closed.png
  docs/images/v1.4/local/screenshots/rnaseq_multiqc_panels_open.png
  docs/images/v1.4/local/screenshots/rnaseq_overview_filter_gm12878.png
  docs/images/v1.4/local/screenshots/rnaseq_overview_no_filter.png
Due: none

docs(local): give the screenshots neutral file names
  dev/design/local-server-profile.md
  docs/images/v1.4/local/screenshots/rnaseq_01.png
  docs/images/v1.4/local/screenshots/rnaseq_02.png
  docs/images/v1.4/local/screenshots/rnaseq_03.png
  docs/images/v1.4/local/screenshots/rnaseq_04.png
  docs/images/v1.4/local/screenshots/rnaseq_05.png
  docs/images/v1.4/local/screenshots/rnaseq_06.png
  docs/images/v1.4/local/screenshots/rnaseq_07.png
Due: none

docs(local): redraw the two schemas as pictures rather than boxes of text
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_same_code.png
  docs/images/v1.4/local/schema_same_code.svg
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
Due: none

docs(local): say what the local stack does use from conda
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
Due: none

feat(local): run SeaweedFS instead of MinIO, like the Docker stack
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  dev/design/local-server-profile.md
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_same_code.png
  docs/images/v1.4/local/schema_same_code.svg
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
  docs/images/v1.4/local/screenshots/rnaseq_01.png
  docs/images/v1.4/local/screenshots/rnaseq_02.png
  docs/images/v1.4/local/screenshots/rnaseq_03.png
  docs/images/v1.4/local/screenshots/rnaseq_05.png
  docs/images/v1.4/local/screenshots/rnaseq_06.png
  docs/images/v1.4/local/screenshots/rnaseq_07.png
Due: ty-check-models-api-dash-cli

feat(advanced-viz): merge the GenomeSpy spike and register four SOTA kinds
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/catalog/bcftools/stats_summary.py
  depictio/catalog/bcftools/stats_tstv.py
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/sampling.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_genomespy_track.json
  depictio/projects/init/advanced_viz_showcase/dashboards/genomespy_track.yaml
  depictio/projects/nf-core/TEMPLATE_BOTTLENECKS.md
  depictio/recipes/lib/bcftools_stats.py
  depictio/tests/recipes/test_bcftools_stats_ids.py
  depictio/viewer/package.json
  depictio/viewer/vite.config.ts
  docs/design/advanced-viz.md
  docs/design/genomespy-eval.md
  packages/depictio-react-core/package.json
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/CnvProfileRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GenomeChordRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GenomeSpyTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/GroupCompareRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/TranscriptStructureRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/genomespy/genomeSpySpec.test.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/genomeSpySpec.ts
  packages/depictio-react-core/src/components/advanced_viz/genomespy/useGenomeSpy.ts
  packages/depictio-react-core/src/selection.ts
  packages/depictio-react-core/src/splitPanels.test.ts
  packages/depictio-react-core/src/splitPanels.ts
  packages/tool-studio/public/catalog.schema.json
  packages/tool-studio/public/kinds.json
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

fix(showcase): seed the seven lot 2 kinds, drop angle brackets from the damage profile, order scrnaseq HVG after its matrix
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_cnv_profile.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_complex_heatmap.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_contact_map.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_damage_profile.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_genome_chord.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_genome_view.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_group_compare.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_knee_plot.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_lollipop.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_sashimi.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_transcript_structure.json
  depictio/projects/init/advanced_viz_showcase/dashboards/damage_profile.yaml
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/nf-core/scrnaseq/4.2.0/template.yaml
Due: none

build: pin the bgzf filehandle override, copy it into the images, and match nested node_modules
  .gitignore
  depictio/viewer/vite.config.ts
  docker-images/Dockerfile.api
  docker-images/Dockerfile.viewer
  docker-images/Dockerfile.viewer.dev
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(catalog): cooler, macs2 and seacr outputs, recipe tests, regenerated schemas and kinds
  depictio/catalog/catalog.schema.json
  depictio/catalog/cooler/contact_matrix.py
  depictio/catalog/cooler/contact_matrix.tsv
  depictio/catalog/cooler/contact_matrix.yaml
  depictio/catalog/macs2/summit_profile.py
  depictio/catalog/macs2/summit_profile.tsv
  depictio/catalog/macs2/summit_profile.yaml
  depictio/catalog/output.schema.json
  depictio/catalog/seacr/consensus_peaks.yaml
  depictio/catalog/seacr/frags_profile.py
  depictio/catalog/seacr/frags_profile.tsv
  depictio/catalog/seacr/frags_profile.yaml
  depictio/projects/init/catalog_conformance/cooler_contact_matrix.tsv
  depictio/tests/recipes/test_cooler_contact_matrix.py
  depictio/tests/recipes/test_eager_library_qc.py
  depictio/tests/recipes/test_eager_mapq_across_reference.py
  depictio/tests/recipes/test_macs2_summit_profile.py
  depictio/tests/recipes/test_mag_assembly_views.py
  depictio/tests/recipes/test_rnaseq_gene_record_recipes.py
  depictio/tests/recipes/test_samtools_nx_ladder.py
  depictio/tests/recipes/test_sarek_locus_recipes.py
  depictio/tests/recipes/test_seacr_frags_profile.py
  packages/tool-studio/public/catalog.json
  packages/tool-studio/public/catalog.schema.json
  packages/tool-studio/public/kinds.json
Due: ty-check-models-api-dash-cli

feat(nf-core): bulk RNA templates (rnaseq, differentialabundance) wave 2b
  depictio/projects/nf-core/differentialabundance/2.0.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/differentialabundance/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/differentialabundance/2.0.0/docs/dashboards.md
  depictio/projects/nf-core/rnaseq/3.26.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/rnaseq/3.26.0/dashboards/base.yaml
  depictio/projects/nf-core/rnaseq/3.26.0/docs/dashboards.md
  depictio/projects/nf-core/rnaseq/3.26.0/template.yaml
  depictio/projects/nf-core/rnaseq/recipes/gene_summary.py
  depictio/projects/nf-core/rnaseq/recipes/general_stats.py
Due: none

feat(nf-core): metagenomics templates (mag, taxprofiler, funcscan) wave 2b
  depictio/projects/nf-core/funcscan/4.0.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/funcscan/4.0.0/dashboards/base.yaml
  depictio/projects/nf-core/funcscan/4.0.0/docs/dashboards.md
  depictio/projects/nf-core/mag/5.5.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/mag/5.5.0/dashboards/base.yaml
  depictio/projects/nf-core/mag/5.5.0/docs/dashboards.md
  depictio/projects/nf-core/mag/5.5.0/template.yaml
  depictio/projects/nf-core/mag/recipes/assembly_recruitment.py
  depictio/projects/nf-core/mag/recipes/nx_curve.py
  depictio/projects/nf-core/taxprofiler/2.0.1/VALIDATION_REPORT.md
  depictio/projects/nf-core/taxprofiler/2.0.1/dashboards/base.yaml
  depictio/projects/nf-core/taxprofiler/2.0.1/docs/dashboards.md
Due: none

docs(nf-core): record wave 2b in the megatest status and bottleneck notes
  depictio/projects/nf-core/MEGATEST_STATUS.md
  depictio/projects/nf-core/TEMPLATE_BOTTLENECKS.md
Due: none

feat(nf-core): sarek template wave 2b
  depictio/projects/nf-core/sarek/3.10.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/sarek/3.10.0/dashboards/base.yaml
  depictio/projects/nf-core/sarek/3.10.0/docs/dashboards.md
  depictio/projects/nf-core/sarek/3.10.0/megatest.yaml
  depictio/projects/nf-core/sarek/3.10.0/recipes/callset_qc.py
  depictio/projects/nf-core/sarek/3.10.0/recipes/indel_spectrum.py
  depictio/projects/nf-core/sarek/3.10.0/recipes/mosdepth_targets.py
  depictio/projects/nf-core/sarek/3.10.0/recipes/mosdepth_windows.py
  depictio/projects/nf-core/sarek/3.10.0/recipes/substitution_spectrum.py
  depictio/projects/nf-core/sarek/3.10.0/template.yaml
Due: none

feat(nf-core): long-read and ancient DNA templates (nanoseq, eager) wave 2b
  depictio/projects/nf-core/eager/2.4.5/VALIDATION_REPORT.md
  depictio/projects/nf-core/eager/2.4.5/dashboards/base.yaml
  depictio/projects/nf-core/eager/2.4.5/docs/dashboards.md
  depictio/projects/nf-core/eager/2.4.5/template.yaml
  depictio/projects/nf-core/eager/recipes/library_qc.py
  depictio/projects/nf-core/eager/recipes/mapq_across_reference.py
  depictio/projects/nf-core/nanoseq/3.0.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/nanoseq/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/nanoseq/3.0.0/docs/dashboards.md
  depictio/projects/nf-core/nanoseq/3.0.0/recipes/dexseq_usage.py
  depictio/projects/nf-core/nanoseq/3.0.0/recipes/read_length_nx.py
  depictio/projects/nf-core/nanoseq/3.0.0/template.yaml
Due: none

feat(nf-core): chromatin templates (chipseq, atacseq, cutandrun) wave 2b
  depictio/projects/nf-core/atacseq/1.2.2/VALIDATION_REPORT.md
  depictio/projects/nf-core/atacseq/1.2.2/dashboards/base.yaml
  depictio/projects/nf-core/atacseq/1.2.2/docs/dashboards.md
  depictio/projects/nf-core/atacseq/1.2.2/template.yaml
  depictio/projects/nf-core/chipseq/1.2.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/chipseq/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/chipseq/1.2.0/docs/dashboards.md
  depictio/projects/nf-core/chipseq/1.2.0/template.yaml
  depictio/projects/nf-core/cutandrun/3.1/VALIDATION_REPORT.md
  depictio/projects/nf-core/cutandrun/3.1/dashboards/base.yaml
  depictio/projects/nf-core/cutandrun/3.1/docs/dashboards.md
  depictio/projects/nf-core/cutandrun/3.1/megatest.yaml
  depictio/projects/nf-core/cutandrun/3.1/template.yaml
Due: none

feat(nf-core): single-cell and immune repertoire templates (scrnaseq, airrflow) wave 2b
  depictio/projects/nf-core/airrflow/5.1.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/airrflow/5.1.0/dashboards/base.yaml
  depictio/projects/nf-core/airrflow/5.1.0/docs/dashboards.md
  depictio/projects/nf-core/airrflow/5.1.0/megatest.yaml
  depictio/projects/nf-core/airrflow/5.1.0/recipes/cdr3_spectratype.py
  depictio/projects/nf-core/airrflow/5.1.0/recipes/vj_usage_matrix.py
  depictio/projects/nf-core/airrflow/5.1.0/template.yaml
  depictio/projects/nf-core/scrnaseq/4.2.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/scrnaseq/4.2.0/dashboards/base.yaml
  depictio/projects/nf-core/scrnaseq/4.2.0/docs/dashboards.md
Due: none

docs: indexed files, advanced-viz design notes, genome asset builder and benchmark matrix
  benchmark/configgen.py
  benchmark/matrix.py
  dev/advanced_viz_kinds/build_genome_gene_assets.py
  docs/design/advanced-viz.md
  docs/indexed-files.md
Due: none

feat(nf-core): methylseq and hic templates wave 2b
  depictio/projects/nf-core/hic/2.0.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/hic/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/hic/2.0.0/docs/dashboards.md
  depictio/projects/nf-core/hic/2.0.0/template.yaml
  depictio/projects/nf-core/methylseq/2.3.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/methylseq/2.3.0/dashboards/base.yaml
  depictio/projects/nf-core/methylseq/2.3.0/docs/dashboards.md
  depictio/projects/nf-core/methylseq/2.3.0/template.yaml
Due: none

feat(platform): recipe params channel, region scope, record links and context-aware kind suggestions
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/links_endpoints/routes.py
  depictio/api/v1/region_scope.py
  depictio/api/v1/services/card_breakdown.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/sample_mapping.py
  depictio/cli/cli/utils/templates.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/record_link.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/models/models/templates.py
  depictio/models/models/transforms.py
  depictio/recipes/__init__.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_funnel_values.py
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_viz_suggestions_route.py
  depictio/tests/api/v1/test_card_breakdown.py
  depictio/tests/api/v1/test_compute_failed_cache_retry.py
  depictio/tests/api/v1/test_slider_threshold.py
  depictio/tests/api/v1/test_unique_values_missing_column_cache.py
  depictio/tests/cli/utils/test_recipe_source_path.py
  depictio/tests/cli/utils/test_sample_mapping_hub.py
  depictio/tests/cli/utils/test_template_variable_defaults.py
  depictio/tests/models/test_advanced_viz_genome_view.py
  depictio/tests/models/test_advanced_viz_suggestion_evidence.py
  depictio/tests/models/test_lite_defaults_and_thresholds.py
  depictio/tests/models/test_record_card_linked_component.py
  depictio/tests/unit/test_genome_render_limits.py
  depictio/tests/unit/test_recipe_params_channel.py
Due: ty-check-models-api-dash-cli
