Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

refactor: reorganize penguins and iris dashboard layouts for better UX
  depictio/projects/init/iris/dashboard.json
  depictio/projects/reference/penguins/dashboard.json
Due: none

feat: update iris dashboard with relevant botanical icons
  depictio/projects/init/iris/dashboard.json
Due: none

fix: reset interactive component values to default (no filtering)
  depictio/projects/init/iris/dashboard.json
  depictio/projects/reference/penguins/dashboard.json
Due: none

fix: add missing mocks for compute_file_hash and api_upsert_deltatable in test
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

fix: parse JSON string styling parameters in UI mode figures
  depictio/dash/modules/figure_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

Bump version: 0.6.0-b18 → 0.6.1-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

fix: add dc_config to penguins table component
  depictio/projects/reference/penguins/dashboard.json
Due: none

chore: clean up irrelevant markdown files and reorganize documentation
  .devcontainer/docs/WORKTREE_WORKFLOW.md
  AUTO_THEME_DETECTION.md
  MVP_YAML_FIX_SUMMARY.md
  TABLE_COMPONENT_FIX.md
  docs/FEATURE_EXPLORATION.md
Due: none

fix: allow extra fields in JoinDefinition and add cols_json to penguins table
  depictio/models/models/joins.py
  depictio/projects/reference/penguins/dashboard.json
Due: ty-check-models-api-dash-cli

Update CHANGELOG.md for v0.6.1-b1
  CHANGELOG.md
Due: none

feat: add color_continuous_scale parameter to iris box plot
  depictio/projects/init/iris/dashboard.json
Due: none

Bump version: 0.6.0 → 0.6.1-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

fix: remove redundant color parameter from box plot and increase histogram bins
  depictio/projects/init/iris/dashboard.json
Due: none

feat: add reference dashboard screenshots and improve CI verification
  .github/workflows/depictio-ci.yaml
  .gitignore
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca6_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca6_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
  depictio/projects/reference/ampliseq/dashboard_analysis.json
  depictio/projects/reference/ampliseq/dashboard_multiqc.json
  depictio/projects/reference/ampliseq/run_1/multiqc_data/multiqc.parquet
Due: ty-check-models-api-dash-cli

fix: use correct Ampliseq project name in CI verification
  .github/workflows/depictio-ci.yaml
Due: none

fix: make reference dataset deltatable checks non-fatal in CLI jobs
  .github/workflows/depictio-ci.yaml
Due: none

fix(helm): add master switch to completely disable YAML dashboard sync
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

feat: update dashboard screenshots for improved visual representation
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
Due: ty-check-models-api-dash-cli

Bump version: 0.6.1-b1 → 0.6.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

chore: update uv.lock metadata
  uv.lock
Due: none

Update CHANGELOG.md for v0.6.1
  CHANGELOG.md
Due: none

fix: K8s deployment CORS, Celery screenshots, and delta table errors
  depictio/dash/layouts/sidebar.py
  depictio/dash/modules/table_component/utils.py
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.1-b2
  CHANGELOG.md
Due: none

Update CHANGELOG.md for v0.6.2-b1
  CHANGELOG.md
Due: none

fix: K8s Celery background callbacks and screenshot init container
  .dockerignore
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
Due: helm-lint

fix: Add missing ampliseq data files and multiqc reference project
  .gitignore
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/reference/ampliseq/ancom_volcano.tsv
  depictio/projects/reference/ampliseq/faith_pd_long.tsv
  depictio/projects/reference/ampliseq/merged_metadata.tsv
  depictio/projects/reference/ampliseq/taxonomy_long.tsv
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
  helm-charts/depictio/values-embl-unauth.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.2-b2
  CHANGELOG.md
Due: none

fix: Set reference projects/dashboards as public + frontend screenshots
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  helm-charts/depictio/templates/deployments.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

chore: Sync all version references to 0.6.2-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.6.2-b2 → 0.6.2-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.2-b3
  CHANGELOG.md
Due: none

fix: Remove incorrect deltatable registration from MultiQC processor
  depictio/cli/cli/utils/multiqc_processor.py
Due: ty-check-models-api-dash-cli

Bump version: 0.6.2-b3 → 0.6.2-b4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.2-b4
  CHANGELOG.md
Due: none
