Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

docs(advanced-viz): add per-viz input schemas, compute class, Celery offload
  docs/design/advanced-viz.md
Due: none

feat(ampliseq): seed advanced-viz showcase dashboard + dc_ref-based recipes
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/ampliseq/2.14.0/.db_seeds/dashboard_advanced_viz.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_advanced_viz.json
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/ampliseq/recipes/embedding_pcoa.py
  depictio/projects/nf-core/ampliseq/recipes/stacked_taxonomy_canonical.py
  depictio/projects/nf-core/ampliseq/recipes/volcano_canonical.py
Due: ty-check-models-api-dash-cli

fix(showcase): main-tab _id must equal project_id so child tabs surface
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_overview.json
Due: ty-check-models-api-dash-cli

feat(advanced-viz): MVP component family — volcano, embedding, manhattan, stacked taxonomy
  depictio/api/v1/endpoints/advanced_viz_endpoints/__init__.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/routers.py
  depictio/models/components/advanced_viz/__init__.py
  depictio/models/components/advanced_viz/component.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/lite.py
  depictio/models/components/types.py
  depictio/models/components/union.py
  depictio/models/components/validation.py
  depictio/projects/nf-core/ampliseq/2.14.0/project.yaml
  depictio/projects/nf-core/ampliseq/recipes/embedding_pcoa.py
  depictio/projects/nf-core/ampliseq/recipes/stacked_taxonomy_canonical.py
  depictio/projects/nf-core/ampliseq/recipes/volcano_canonical.py
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
  depictio/projects/nf-core/viralrecon/recipes/manhattan_variants_canonical.py
  depictio/recipes/lib/__init__.py
  depictio/recipes/lib/dimreduction.py
  depictio/tests/recipes/__init__.py
  depictio/tests/recipes/test_advanced_viz_recipes.py
  depictio/viewer/src/builder/ComponentBuilder.tsx
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/componentTypes.ts
  depictio/viewer/src/builder/steps/StepData.tsx
  depictio/viewer/src/builder/store/useBuilderStore.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ManhattanRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/StackedTaxonomyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/VolcanoRenderer.tsx
Due: ty-check-models-api-dash-cli

feat(showcase): dedicated advanced-viz demo project with 5 dashboards
  .gitignore
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_embedding.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_manhattan.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_overview.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_stacked_taxonomy.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_volcano.json
  depictio/projects/init/advanced_viz_showcase/data/embedding_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/manhattan_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/stacked_taxonomy_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/volcano_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): fix Manhattan + StackedTaxonomy + add 4 clustering tabs + collapsible data table
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_pca.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_pcoa.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_tsne.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_umap.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_embedding.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_manhattan.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_overview.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_stacked_taxonomy.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_volcano.json
  depictio/projects/init/advanced_viz_showcase/data/embedding_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/embedding_pca.tsv
  depictio/projects/init/advanced_viz_showcase/data/embedding_pcoa.tsv
  depictio/projects/init/advanced_viz_showcase/data/embedding_tsne.tsv
  depictio/projects/init/advanced_viz_showcase/data/embedding_umap.tsv
  depictio/projects/init/advanced_viz_showcase/data/manhattan_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/stacked_taxonomy_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ManhattanRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/StackedTaxonomyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/VolcanoRenderer.tsx
Due: ty-check-models-api-dash-cli

fix(clustering): stronger signal + paper-grade scatter styling
  depictio/projects/init/advanced_viz_showcase/data/embedding_pca.tsv
  depictio/projects/init/advanced_viz_showcase/data/embedding_pcoa.tsv
  depictio/projects/init/advanced_viz_showcase/data/embedding_tsne.tsv
  depictio/projects/init/advanced_viz_showcase/data/embedding_umap.tsv
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
Due: none

fix(advanced-viz): re-export fetchAdvancedVizKinds/Data + fetchPolarsSchema from depictio-react-core
  packages/depictio-react-core/src/index.ts
Due: none

fix(advanced-viz): show-data overlap + AG Grid drawer; wire density toggle
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
Due: none

fix(advanced-viz): pass init_data to load_deltatable_lite to avoid 401
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
Due: ty-check-models-api-dash-cli

chore(deps): vendor plotly-upset package + register editable source
  packages/plotly-upset/LICENSE
  packages/plotly-upset/README.md
  packages/plotly-upset/examples/annotated_upset.py
  packages/plotly-upset/examples/basic_upset.py
  packages/plotly-upset/examples/upset_showcase.ipynb
  packages/plotly-upset/plotly_upset/__init__.py
  packages/plotly-upset/plotly_upset/annotations.py
  packages/plotly-upset/plotly_upset/intersections.py
  packages/plotly-upset/plotly_upset/layout.py
  packages/plotly-upset/plotly_upset/matrix.py
  packages/plotly-upset/plotly_upset/upset.py
  packages/plotly-upset/plotly_upset/utils.py
  packages/plotly-upset/pyproject.toml
  packages/plotly-upset/tests/__init__.py
  packages/plotly-upset/tests/conftest.py
  packages/plotly-upset/tests/test_annotations.py
  packages/plotly-upset/tests/test_intersections.py
  packages/plotly-upset/tests/test_upset.py
  pyproject.toml
Due: none

fix(advanced-viz): titles + border, drop show-data drawer, scanpy styling, tree filter+branch-len
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ManhattanRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/PhylogeneticRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/StackedTaxonomyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/VolcanoRenderer.tsx
Due: none

feat(advanced-viz): React EnrichmentRenderer (dot plot)
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/EnrichmentRenderer.tsx
Due: none

feat(advanced-viz): Celery compute_complex_heatmap task
  depictio/api/v1/celery_tasks.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): dispatch/poll endpoints for UpSet + register dashboard
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): live Celery clustering (PCA/UMAP/t-SNE/PCoA) with cache
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/models/components/advanced_viz/configs.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_live.json
  depictio/projects/init/advanced_viz_showcase/data/embedding_features.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

fix(chrome): wrap each extraActions child individually so vertical orientation works
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
Due: none

fix(advanced-viz): chrome-integrated Settings + Show-data ActionIcons
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizExtras.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
Due: none

feat(showcase): ComplexHeatmap dashboard tab on the feature matrix
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_complex_heatmap.json
Due: ty-check-models-api-dash-cli

fix(advanced-viz): visible frame, fullscreen, controls + show-data popovers
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_live.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_pca.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_pcoa.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_tsne.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_umap.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_manhattan.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_overview.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_phylogeny.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_stacked_taxonomy.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_volcano.json
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/advanced_viz/EmbeddingRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ManhattanRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/PhylogeneticRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/StackedTaxonomyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/VolcanoRenderer.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
Due: none

feat(advanced-viz): phylogenetic tree viz (Microreact-style)
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/cli/cli/utils/deltatables.py
  depictio/models/components/advanced_viz/__init__.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/models/models/data_collections.py
  depictio/models/models/data_collections_types/phylogeny.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_phylogeny.json
  depictio/projects/init/advanced_viz_showcase/data/bacterial_metadata.tsv
  depictio/projects/init/advanced_viz_showcase/data/bacterial_tree.nwk
  depictio/projects/init/advanced_viz_showcase/project.yaml
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/PhylogeneticRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/phylo/layout.ts
  packages/depictio-react-core/src/components/advanced_viz/phylo/newick.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(advanced-viz): React ComplexHeatmapRenderer + dispatch wiring
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ComplexHeatmapRenderer.tsx
  packages/depictio-react-core/src/index.ts
Due: none

feat(advanced-viz): backend model for GSEA / GO / pathway enrichment
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/models/components/advanced_viz/__init__.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): Celery compute_upset task
  depictio/api/v1/celery_tasks.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): React renderers for rarefaction + ancombc + DA barplot
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ANCOMBCDifferentialsRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/DaBarplotRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/RarefactionRenderer.tsx
Due: none

feat(advanced-viz): backend model for UpSet plot
  depictio/models/components/advanced_viz/__init__.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
Due: ty-check-models-api-dash-cli

fix(advanced-viz): Show-data popover uses AG Grid Community
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizExtras.tsx
Due: none

feat(showcase): rarefaction + ancombc + DA barplot fixtures and dashboard tabs
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_ancombc.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_da_barplot.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_rarefaction.json
  depictio/projects/init/advanced_viz_showcase/data/ancombc_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/rarefaction_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): expose cluster + color cols on feature DC so live UMAP gets Colour-by
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_live.json
  depictio/projects/init/advanced_viz_showcase/data/embedding_features.tsv
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
Due: none

feat(advanced-viz): React UpsetRenderer + dispatch wiring
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/UpsetRenderer.tsx
  packages/depictio-react-core/src/index.ts
Due: none

feat(showcase): UpSet plot dashboard tab
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_upset.json
  depictio/projects/init/advanced_viz_showcase/data/upset_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
Due: none

feat(advanced-viz): backend model + dispatch/poll endpoints for ComplexHeatmap
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/models/components/advanced_viz/__init__.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): backend models for rarefaction + ancombc_differentials + da_barplot
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/models/components/advanced_viz/__init__.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
Due: ty-check-models-api-dash-cli

feat(showcase): GSEA dot-plot fixture + dashboard tab
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_enrichment.json
  depictio/projects/init/advanced_viz_showcase/data/gsea_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
Due: ty-check-models-api-dash-cli

fix(ci): register plotly-upset pixi source + reformat fixtures script
  depictio/projects/init/advanced_viz_showcase/scripts/reupload_new_fixtures.py
  pixi.toml
Due: none

feat(api,dev): React-beta screenshot endpoint + advanced-viz docs capture pipeline
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/screenshot_service.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_ancombc.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_categorical_flow.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_live.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_pca.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_pcoa.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_tsne.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_clustering_umap.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_complex_heatmap.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_coverage_track.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_da_barplot.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_dotplot.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_enrichment.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_lollipop.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_ma.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_manhattan.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_oncoplot.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_phylogeny.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_qq.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_rarefaction.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_stacked_taxonomy.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_sunburst.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_upset.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_volcano.json
  dev/advanced_viz_docs_screenshots/README.md
  dev/advanced_viz_docs_screenshots/capture_react_screenshots.py
  dev/advanced_viz_docs_screenshots/strip_dashboards_to_single_viz.py
Due: ty-check-models-api-dash-cli

feat(advanced-viz): merge ancombc_differentials into da_barplot
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/models/components/advanced_viz/__init__.py
  depictio/models/components/advanced_viz/component.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ANCOMBCDifferentialsRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/DaBarplotRenderer.tsx
Due: ty-check-models-api-dash-cli

perf(screenshots): switch auto-screenshot to React SPA, ~2× faster than Dash
  depictio/api/v1/endpoints/utils_endpoints/CLAUDE.md
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/screenshot_helpers.py
  depictio/api/v1/services/screenshot_service.py
  depictio/dash/api_calls.py
  depictio/dash/celery_app.py
  dev/playwright_debug/docs_screenshots.py
Due: ty-check-models-api-dash-cli

refactor(settings): rename DashConfig → ViewerConfig and DEPICTIO_DASH_ → DEPICTIO_VIEWER_
  depictio/api/v1/configs/config.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/infrastructure_diagnostics.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/screenshot_service.py
  depictio/dash/app.py
  depictio/dash/core/app_factory.py
  depictio/dash/flask_dispatcher.py
  depictio/dash/modules/figure_component/clustering.py
  depictio/tests/api/v1/test_settings_models.py
  docker-compose.dev.yaml
  docker-compose/.envo
  docker-images/run_dash.sh
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values-embl-auth.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
