Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix(e2e): update public mode tests to reflect temporary user behavior
  depictio/tests/e2e-tests/cypress/e2e/auth/public/anonymous-profile.cy.js
  depictio/tests/e2e-tests/cypress/e2e/auth/public/dashboard-access-restrictions.cy.js
  depictio/tests/e2e-tests/cypress/e2e/auth/public/new-dashboard-button-behavior.cy.js
Due: ty-check-models-api-dash-cli

Update CHANGELOG.md for v0.7.1
  CHANGELOG.md
Due: none

Bump version: 0.7.1-b1 → 0.7.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.1-b1 → 0.7.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.2
  CHANGELOG.md
Due: none

fix(api): prevent orphaned S3 delta tables after MongoDB wipe
  depictio/api/v1/db_init.py
  depictio/api/v1/services/process_reference_datasets.py
Due: ty-check-models-api-dash-cli

fix(dash): WebSocket URL construction for HTTPS production environments
  depictio/dash/layouts/realtime_callbacks.py
Due: ty-check-models-api-dash-cli

feat(helm): add auto-wipe pre-upgrade hook for demo environments
  helm-charts/depictio/templates/wipe-job.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

refactor(helm): migrate from unauthenticated to demo+public mode
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values-embl-auth.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
Due: helm-lint

Bump version: 0.7.2 → 0.7.3-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.2 → 0.7.3-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.3-b1
  CHANGELOG.md
Due: none

fix(websocket): enable callback on initial page load and remove NGINX annotations
  depictio/dash/layouts/realtime_callbacks.py
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3-b1 → 0.7.3-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3-b1 → 0.7.3-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.3-b2
  CHANGELOG.md
Due: none

perf(k8s): optimize dashboard interactivity and fix websocket connection
  K8S_PERFORMANCE_OPTIMIZATIONS.md
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/services/lifespan.py
  depictio/dash/layouts/shared_app_shell.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/pages/dashboard_viewer.py
  depictio/tests/unit/dash/modules/shared/test_selection_extractors.py
  depictio/tests/unit/dash/modules/shared/test_selection_utils.py
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3-b2 → 0.7.3-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3-b2 → 0.7.3-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.3-b3
  CHANGELOG.md
Due: none

fix(demo-tour): make tour popover globally available to prevent callback errors
  depictio/dash/components/demo_tour.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/demo_tour_callbacks.py
  depictio/dash/modules/image_component/callbacks/design.py
  depictio/dash/pages/management_app.py
Due: ty-check-models-api-dash-cli

fix(dash): enhance debug menu auto-collapse for Dash 3.x compatibility
  depictio/dash/assets/debug-menu-control.js
  depictio/dash/assets/js/debug-menu-control.js
Due: ty-check-models-api-dash-cli

Bump version: 0.7.3-b3 → 0.7.3-b4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3-b3 → 0.7.3-b4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.3-b4
  CHANGELOG.md
Due: none

fix(dash): correct debug-menu-control.js path in HTML templates
  depictio/dash/components/google_analytics.py
  depictio/dash/flask_dispatcher.py
Due: ty-check-models-api-dash-cli

Bump version: 0.7.3-b4 → 0.7.3-b5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.7.3-b4 → 0.7.3-b5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.7.3-b5
  CHANGELOG.md
Due: none

feat: Ampliseq dashboard improvements - component grid, tabs, MultiQC fixes
  depictio/dash/assets/stepper.css
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/header.py
  depictio/dash/layouts/stepper_parts/part_two.py
  depictio/dash/layouts/tab_callbacks.py
  depictio/dash/modules/multiqc_component/callbacks/core.py
  depictio/models/components/lite.py
  depictio/projects/reference/ampliseq/dashboard_analysis.json
  depictio/projects/reference/ampliseq/dashboard_multiqc.json
Due: ty-check-models-api-dash-cli

fix: Allow anonymous users to use link resolution in single-user mode
  depictio/api/v1/endpoints/links_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix: Use API-returned target column in link resolution for cross-DC filters
  depictio/dash/utils.py
Due: ty-check-models-api-dash-cli

fix: Enable cross-DC filtering for card components via link resolution
  depictio/dash/modules/card_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

fix: Skip validation for empty-valued filters in apply_runtime_filters
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/deltatables_utils.py
  depictio/projects/reference/ampliseq/dashboard_analysis.json.backup
  depictio/projects/reference/ampliseq/dashboard_community.json
  depictio/projects/reference/ampliseq/dashboard_differential.json
Due: ty-check-models-api-dash-cli

fix: Complete dashboard duplication with child tabs and client-side tab coloring
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/layouts/stepper_parts/part_two.py
  depictio/dash/layouts/tab_callbacks.py
Due: ty-check-models-api-dash-cli

fix: Child tab thumbnail duplication and dashboard listing filter
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

debug: Add detailed logging for child tab thumbnail copying
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

fix: Copy all theme variants (_dark, _light) for dashboard thumbnails
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

fix: Replace broken clientside tab coloring with proper server-side callback
  depictio/dash/layouts/tab_callbacks.py
Due: ty-check-models-api-dash-cli

fix: Preserve dashboard icon colors during duplication and restore tab colors
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/layouts/tab_callbacks.py
Due: ty-check-models-api-dash-cli
