Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

test(ampliseq): exercise stacked_taxonomy against the real file layout
  depictio/catalog/qiime2/stacked_taxonomy_canonical.py
  depictio/tests/recipes/test_advanced_viz_recipes.py
Due: ty-check-models-api-dash-cli

Bump version: 1.9.1 → 1.9.2-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.9.2-b1
  CHANGELOG.md
Due: none

chore(nf-core): validate ampliseq 2.18.0 against megatest
  .nfcore-monitor/ampliseq-2.18.0.md
Due: none

fix(e2e,catalog): serialize backup-restore, fix multiqc section match
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/tests/e2e-playwright/playwright.config.ts
  depictio/viewer/src/builder/catalog/CatalogTab.tsx
Due: ty-check-models-api-dash-cli

feat(advanced-viz): four benchmark kinds
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/viewer/scripts/generate-icon-subset.mjs
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/ConfusionMatrixRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MetricCiBarsRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/PrBenchmarkRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/RocPrCurveRenderer.tsx
  packages/depictio-react-core/src/utils/colorScale.ts
Due: ty-check-models-api-dash-cli

models: make a component's YAML tag its stable id
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/models/test_component_identity.py
  depictio/tests/models/test_dashboards_lite.py
Due: ty-check-models-api-dash-cli

fix(multiqc): stop one bad plot anchor from erasing a whole report's plots
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/cli/cli/utils/multiqc_processor.py
Due: ty-check-models-api-dash-cli

test(multiqc): match extraction tests to the per-section report walk
  depictio/tests/cli/utils/test_multiqc_processor.py
Due: ty-check-models-api-dash-cli

feat(export): serve a table's rows, and say more in the manifest
  depictio/api/v1/endpoints/export_endpoints/routes.py
  depictio/api/v1/services/export/capabilities.py
  depictio/api/v1/services/export/revision.py
  depictio/api/v1/services/export/table_export.py
  depictio/tests/api/v1/endpoints/export_endpoints/test_export_routes.py
  depictio/tests/api/v1/services/export/test_capabilities.py
Due: ty-check-models-api-dash-cli

fix(export): repair the map exporter, and guard the seam that broke it
  depictio/api/v1/services/export/plotly_export.py
  depictio/tests/api/v1/services/export/test_render_handler_signatures.py
Due: ty-check-models-api-dash-cli

fix(export): pin an embed to the theme it was asked for
  depictio/api/v1/services/export/embed.py
  depictio/tests/api/v1/services/export/test_embed_color_scheme.py
Due: ty-check-models-api-dash-cli

fix(advanced-viz): give the Sankey figure its own hover design
  depictio/api/v1/celery_tasks.py
  depictio/tests/api/v1/tasks/test_sankey_hover.py
Due: ty-check-models-api-dash-cli

fix(plotly-upset): let an absent dot read as absent
  packages/plotly-upset/plotly_upset/layout.py
  packages/plotly-upset/plotly_upset/matrix.py
  packages/plotly-upset/plotly_upset/upset.py
Due: none

docs(showcase): resolve components from the manifest, and filter every panel
  dev/component-export-showcase/README.md
  dev/component-export-showcase/serve_site.py
  dev/component-export-showcase/site/report.css
  dev/component-export-showcase/site/report.html
  dev/component-export-showcase/site/report.js
  dev/component-export-showcase/site/shared.js
  docs/design/component-export.md
Due: none

fix(docker): ship the catalog-preview bundle in the API image
  .dockerignore
  docker-images/Dockerfile.api
Due: none

chore(helm): turn on public mode for the TREC internal dev instance
  helm-charts/depictio/values-embl-internal-dev-trec.yaml
Due: helm-lint

Bump version: 1.9.2-b1 → 1.9.2-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.9.2-b2
  CHANGELOG.md
Due: none

Bump version: 1.9.2-b2 → 1.9.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.9.2
  CHANGELOG.md
Due: none

fix(helm): stop the demo wipe hook from racing the upgrade
  helm-charts/depictio/templates/wipe-job.yaml
Due: helm-lint

fix(helm): let the wipe hook watch PVCs so its delete really blocks
  helm-charts/depictio/templates/wipe-job.yaml
Due: helm-lint

feat(models): AnalysisState contract, notebook-export settings and marimo/nbformat deps
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/deltatables_utils.py
  depictio/cli/pyproject.toml
  depictio/models/models/analysis_state.py
  depictio/models/models/analysis_state.schema.json
  depictio/tests/models/test_analysis_state_schema.py
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

feat(notebook): marimo generator, Parquet data endpoint and the depictio.notebook client
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/api/v1/services/notebook_export/__init__.py
  depictio/api/v1/services/notebook_export/aggregations.py
  depictio/api/v1/services/notebook_export/cells.py
  depictio/api/v1/services/notebook_export/classify.py
  depictio/api/v1/services/notebook_export/generator.py
  depictio/api/v1/services/notebook_export/ipynb.py
  depictio/api/v1/services/notebook_export/names.py
  depictio/api/v1/services/notebook_export/predicates.py
  depictio/api/v1/services/notebook_export/provenance.py
  depictio/api/v1/services/notebook_export/quarto.py
  depictio/api/v1/services/notebook_export/reading_order.py
  depictio/notebook/__init__.py
  depictio/notebook/client.py
  depictio/notebook/components.py
  depictio/tests/api/v1/endpoints/deltatables_endpoints/test_data_endpoint.py
  depictio/tests/unit/notebook/__init__.py
  depictio/tests/unit/notebook/test_client.py
  depictio/tests/unit/notebook_export/__init__.py
  depictio/tests/unit/notebook_export/conftest.py
  depictio/tests/unit/notebook_export/test_aggregations.py
  depictio/tests/unit/notebook_export/test_cells.py
  depictio/tests/unit/notebook_export/test_classify.py
  depictio/tests/unit/notebook_export/test_generator.py
  depictio/tests/unit/notebook_export/test_ipynb_quarto.py
  depictio/tests/unit/notebook_export/test_names.py
  depictio/tests/unit/notebook_export/test_predicates.py
  depictio/tests/unit/notebook_export/test_reading_order.py
Due: ty-check-models-api-dash-cli

feat(api): notebook export endpoints with the funnel_values row-count oracle
  depictio/api/v1/endpoints/dashboards_endpoints/notebook_export.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_notebook_export.py
Due: ty-check-models-api-dash-cli

feat(embed): single-component embed route and headless Plotly figure extraction
  depictio/api/main.py
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/embed.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/embed/__init__.py
  depictio/api/v1/services/embed/extract.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_embed.py
  depictio/viewer/src/embed/EmbedApp.tsx
  depictio/viewer/src/main.tsx
  docker-images/nginx.conf.template
Due: ty-check-models-api-dash-cli

feat(viewer): analysis-state builder, notebook export modal and funnel order lift
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/NotebookExportModal.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/vite.config.ts
  packages/depictio-react-core/src/analysisState.test.ts
  packages/depictio-react-core/src/analysisState.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/interactive/FunnelView.tsx
  packages/depictio-react-core/src/index.ts
Due: none

docs(notebook-export): RFC, CLAUDE.md pointers and a live verification script
  CLAUDE.md
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/dev_scripts/verify_notebook_export.py
  docs/design/rfc-notebook-export.md
Due: ty-check-models-api-dash-cli

test(e2e): notebook export flow from the settings drawer
  depictio/tests/e2e-playwright/tests/export/notebook-export.spec.ts
Due: ty-check-models-api-dash-cli

feat(ai): port the AI backend core from the gR9q7 exploration branch
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/ai_endpoints/code_gen.py
  depictio/api/v1/endpoints/ai_endpoints/component_yaml.py
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/executor.py
  depictio/api/v1/endpoints/ai_endpoints/llm_client.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_component_yaml.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_executor.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_prompts.py
  depictio/tests/api/v1/test_deltatables_utils.py
Due: ty-check-models-api-dash-cli

feat(ai): AIConfig settings, gated /ai router skeleton and status feature flags
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/ai_endpoints/__init__.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/routers.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/tests/api/v1/endpoints/ai_endpoints/__init__.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_ai_config.py
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

feat(ai): suggest-figures and component-from-prompt endpoints
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_singleshot.py
Due: ty-check-models-api-dash-cli

feat(ai): per-section summaries with hash-keyed Mongo cache
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/endpoints/ai_endpoints/summaries.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_summaries.py
Due: ty-check-models-api-dash-cli

feat(ai): analyze SSE loop, resolve-filters endpoint and filter resolver
  depictio/api/v1/endpoints/ai_endpoints/filter_resolver.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_filter_resolver.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_analyze.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
