Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix(agents): fixes from a live team run
  depictio/agents/profiles/roles/analyst.yaml
  depictio/agents/profiles/roles/annotator.yaml
  depictio/agents/profiles/topics/differential_expression.yaml
  depictio/api/v1/agents/budget.py
  depictio/api/v1/agents/router.py
  depictio/api/v1/agents/runner.py
  depictio/api/v1/agents/team.py
  depictio/tests/api/v1/agents/test_agent_runs_routes.py
  depictio/tests/api/v1/agents/test_budget.py
  depictio/tests/api/v1/agents/test_router.py
  depictio/tests/api/v1/agents/test_runner.py
  depictio/tests/api/v1/agents/test_team.py
Due: ty-check-models-api-dash-cli

docs(agents): annotated PR screenshots of an agent-team run
  dev/screenshots/agent_teams_pr_shots.py
  docs/images/v1.4/agents/pr2_annotation_on_chart.png
  docs/images/v1.4/agents/pr2_drawer_run.png
  docs/images/v1.4/agents/pr2_report.png
  docs/images/v1.4/agents/pr2_team_mode.png
  docs/images/v1.4/agents/pr2_thread_link.png
  docs/images/v1.4/agents/pr2_trace.png
Due: none

feat(agents): specialist agent teams that analyse, annotate and report
  depictio/agents/profiles/roles/analyst.yaml
  depictio/agents/profiles/roles/annotator.yaml
  depictio/agents/profiles/roles/questioner.yaml
  depictio/agents/profiles/roles/reporter.yaml
  depictio/agents/profiles/roles/skeptic.yaml
  depictio/agents/profiles/topics/differential_expression.yaml
  depictio/agents/profiles/topics/general.yaml
  depictio/agents/profiles/topics/microbiome.yaml
  depictio/agents/profiles/topics/qc_multiqc.yaml
  depictio/agents/profiles/topics/variants.yaml
  depictio/api/v1/agents/budget.py
  depictio/api/v1/agents/evidence.py
  depictio/api/v1/agents/profiles.py
  depictio/api/v1/agents/router.py
  depictio/api/v1/agents/runner.py
  depictio/api/v1/agents/runs.py
  depictio/api/v1/agents/team.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/ai_endpoints/agent_runs_routes.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/endpoints/user_endpoints/scope_gate.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/cli/cli/utils/backup_validation.py
  depictio/tests/api/v1/agents/_fakes.py
  depictio/tests/api/v1/agents/test_agent_runs_routes.py
  depictio/tests/api/v1/agents/test_evidence.py
  depictio/tests/api/v1/agents/test_profiles.py
  depictio/tests/api/v1/agents/test_router.py
  depictio/tests/api/v1/agents/test_runner.py
  depictio/tests/api/v1/agents/test_team.py
  pyproject.toml
Due: ty-check-models-api-dash-cli

feat(mcp): analysis prompts per specialist topic
  depictio/api/v1/mcp/prompts.py
  depictio/api/v1/mcp/server.py
  depictio/tests/api/v1/agents/test_mcp_prompts.py
Due: ty-check-models-api-dash-cli

fix(agents): accurate annotator counts with one shape retry, readable trace lanes, drawer run filter and report stats
  depictio/agents/profiles/roles/annotator.yaml
  depictio/api/v1/agents/runner.py
  depictio/api/v1/agents/runs.py
  depictio/api/v1/agents/team.py
  depictio/tests/api/v1/agents/test_team.py
  depictio/viewer/src/components/comments/CommentsDrawer.tsx
  depictio/viewer/src/components/comments/CommentsHeaderButton.tsx
  packages/depictio-react-ai/src/agentRuns.test.ts
  packages/depictio-react-ai/src/agentRuns.ts
  packages/depictio-react-ai/src/components/AIAnalysisModal.tsx
  packages/depictio-react-ai/src/components/AgentRunTrace.tsx
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
Due: ty-check-models-api-dash-cli

feat(viewer): run agent teams and review their proposals
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/comments/CommentsDrawer.tsx
  depictio/viewer/src/components/comments/CommentsProvider.tsx
  depictio/viewer/src/components/comments/ThreadCard.tsx
  depictio/viewer/src/components/comments/index.ts
  depictio/viewer/src/components/comments/openThread.ts
  depictio/viewer/src/hooks/useServerStatus.ts
  packages/depictio-react-ai/package.json
  packages/depictio-react-ai/src/agentRuns.test.ts
  packages/depictio-react-ai/src/agentRuns.ts
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/AIAnalysisModal.tsx
  packages/depictio-react-ai/src/components/AIAnalyzePanel.tsx
  packages/depictio-react-ai/src/components/AgentRunTrace.tsx
  packages/depictio-react-ai/src/components/AgentTeamPanel.tsx
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/sse.test.ts
  packages/depictio-react-ai/src/sse.ts
  packages/depictio-react-ai/src/types.ts
  packages/depictio-react-ai/src/useAgentTeam.ts
  packages/depictio-react-ai/vitest.config.ts
  pnpm-lock.yaml
Due: none

fix(agents): runs outlive the stream, one of each support role, capped report, rules-only preview
  depictio/api/v1/agents/router.py
  depictio/api/v1/agents/runs.py
  depictio/api/v1/agents/team.py
  depictio/api/v1/endpoints/ai_endpoints/agent_runs_routes.py
  depictio/api/v1/services/lifespan.py
  depictio/tests/api/v1/agents/test_agent_runs_routes.py
  depictio/tests/api/v1/agents/test_router.py
  depictio/tests/api/v1/agents/test_team.py
  packages/depictio-react-ai/src/agentRuns.ts
  packages/depictio-react-ai/src/useAgentTeam.ts
Due: ty-check-models-api-dash-cli

fix(agents): trace result summaries leave out the call's own args
  depictio/api/v1/agents/runner.py
  depictio/api/v1/agents/team.py
  depictio/tests/api/v1/agents/test_runner.py
Due: ty-check-models-api-dash-cli

docs(agents): team pipeline diagram shows phase budgets and the unverified verdict
  dev/diagrams/agents_mcp_schemas.py
  docs/images/v1.4/agents/schema_agent_team_pipeline.png
  docs/images/v1.4/agents/schema_agent_team_pipeline.svg
Due: none

fix(agents): a run is cut short only when it lost a report or a verdict
  depictio/api/v1/agents/team.py
Due: ty-check-models-api-dash-cli

fix(agents): phase budgets so the skeptic always rules, unverified verdict
  depictio/api/v1/agents/budget.py
  depictio/api/v1/agents/runner.py
  depictio/api/v1/agents/runs.py
  depictio/api/v1/agents/team.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/tests/api/v1/agents/test_budget.py
  depictio/tests/api/v1/agents/test_team.py
  packages/depictio-react-ai/src/agentRuns.test.ts
  packages/depictio-react-ai/src/components/AgentRunTrace.tsx
  packages/depictio-react-ai/src/types.ts
Due: ty-check-models-api-dash-cli

fix(advanced-viz): a pick of another entity drops the residue selection made on the old one
  packages/depictio-react-core/src/selection.crossfilter.test.ts
  packages/depictio-react-core/src/selection.ts
Due: none

refactor(protein): one span key and one swatch list in the 3D tile
  packages/depictio-react-core/src/components/advanced_viz/Molecule3DRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/molecule/Overlays.tsx
  packages/depictio-react-core/src/components/advanced_viz/molecule/SequenceText.tsx
  packages/depictio-react-core/src/components/advanced_viz/molecule/residueData.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/viewer.ts
Due: none

fix(templates): open the proteinannotator structure tab on proteins ESMFold can fold
  depictio/projects/nf-core/proteinannotator/1.1.0/dashboards/base.yaml
  depictio/projects/nf-core/proteinannotator/1.1.0/docs/dashboards.md
Due: none

fix(viewer): do not save a dashboard when an empty notes editor mounts
  depictio/viewer/src/components/notes/useNotesEditor.ts
Due: none

fix(templates): crisprseq guide indel sizes without explode's empty_as_null, unknown to the polars in CI
  depictio/projects/nf-core/crisprseq/recipes/guide_indel_sizes.py
Due: none

feat(advanced-viz): column order, category palettes and leaner stacked bars
  depictio/models/components/advanced_viz/configs.py
  depictio/tests/models/test_advanced_viz_stacked_taxonomy.py
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ScatterXyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/StackedTaxonomyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/stackedTaxonomyOptions.test.ts
  packages/depictio-react-core/src/components/advanced_viz/stackedTaxonomyOptions.ts
Due: ty-check-models-api-dash-cli

refactor(templates): one helper for the per-impact variant counts of sarek protein genes
  depictio/projects/nf-core/sarek/3.10.0/recipes/protein_genes.py
Due: none

feat(interactive): always_selected Select option for single-unit pickers
  .claude/agents/nfcore-template-builder.md
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/models/test_lite_defaults_and_thresholds.py
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/interactive/InteractiveBuilder.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/interactive/MultiSelectRenderer.tsx
  packages/depictio-react-core/src/components/interactive/alwaysSelected.test.ts
  packages/depictio-react-core/src/components/interactive/alwaysSelected.ts
Due: ty-check-models-api-dash-cli

feat(templates): a scatter beside the 3D tile on the nf-core protein tabs
  depictio/projects/nf-core/oncoanalyser/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/oncoanalyser/3.0.0/docs/dashboards.md
  depictio/projects/nf-core/oncoanalyser/3.0.0/template.yaml
  depictio/projects/nf-core/oncoanalyser/recipes/protein_genes.py
  depictio/projects/nf-core/proteinannotator/1.1.0/dashboards/base.yaml
  depictio/projects/nf-core/proteinannotator/1.1.0/docs/dashboards.md
  depictio/projects/nf-core/proteinfamilies/2.5.0/dashboards/base.yaml
  depictio/projects/nf-core/proteinfamilies/2.5.0/docs/dashboards.md
  depictio/projects/nf-core/proteinfold/2.1.0/dashboards/base.yaml
  depictio/projects/nf-core/proteinfold/2.1.0/docs/dashboards.md
  depictio/projects/nf-core/proteinfold/2.1.0/template.yaml
  depictio/projects/nf-core/proteinfold/recipes/structures.py
  depictio/projects/nf-core/sarek/3.10.0/dashboards/base.yaml
  depictio/projects/nf-core/sarek/3.10.0/docs/dashboards.md
  depictio/projects/nf-core/sarek/3.10.0/recipes/protein_genes.py
  depictio/projects/nf-core/sarek/3.10.0/template.yaml
  depictio/tests/recipes/test_protein_gene_recipes.py
  depictio/tests/recipes/test_proteinfold_recipes.py
Due: ty-check-models-api-dash-cli

chore(dev): open template screenshots without the walkthrough
  dev/playwright_debug/template_dashboard_shots.py
Due: none

fix(nf-core): cellpainting gallery reads its images from IMAGES_S3_BASE
  depictio/projects/nf-core/cellpainting/1.0.0dev/dashboards/base.yaml
Due: none

fix(recipes): crisprseq cut-site profile drops empty ranges without explode's empty_as_null, unknown to the polars in CI
  depictio/recipes/lib/crisprseq.py
Due: none

fix(bioimage): render single-chunk images whole, dedupe store fetches
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/bioimageApi.test.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/channels.test.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/channels.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/viewer.ts
Due: none

refactor(bioimage): drop duplicated catalog checks, tidy viewer code
  depictio/models/components/advanced_viz/catalog.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/BioimageViewerRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/bioimage/viewer.ts
Due: ty-check-models-api-dash-cli

fix(bioimage): review fixes for labels, scan and cell selection
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/cli/cli/utils/scan.py
  depictio/models/components/advanced_viz/configs.py
  depictio/tests/cli/utils/test_bioimage_ingest.py
  depictio/tests/models/test_bioimage_viewer_config.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/BioimageViewerRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/bioimage/labels.test.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/labels.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/viewer.ts
  packages/depictio-react-core/src/selection.ts
Due: ty-check-models-api-dash-cli

fix(nf-core): mcmicro and molkart viewers select by run-unique cell key
  depictio/projects/nf-core/mcmicro/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/molkart/1.2.0/dashboards/base.yaml
Due: none

test(bioimage): fold labels tests into the ingest module
  depictio/tests/cli/utils/test_bioimage_ingest.py
  depictio/tests/cli/utils/test_bioimage_labels.py
Due: ty-check-models-api-dash-cli

chore(tool-studio): regenerate the catalog snapshot
  packages/tool-studio/public/catalog.json
Due: none

fix(nf-core): code-format file patterns in mcmicro and molkart descriptions
  depictio/projects/nf-core/mcmicro/2.0.0/template.yaml
  depictio/projects/nf-core/molkart/1.2.0/template.yaml
Due: none

feat(local): hand a local server over to Docker Compose
  .github/workflows/local-server-smoke.yaml
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
Due: ty-check-models-api-dash-cli

fix(local): open the exported SeaweedFS to the Compose network
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
Due: ty-check-models-api-dash-cli

ci(local): test the Compose hand-over on this commit's images
  .github/workflows/depictio-ci.yaml
  .github/workflows/local-server-smoke.yaml
Due: none

feat(dashboards): open the listing on the table, five thumbnails per row
  .env.example
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/tests/api/v1/test_settings_models.py
  depictio/tests/e2e-playwright/fixtures/dashboard.ts
  depictio/tests/e2e-playwright/tests/admin/backup-restore.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/create-dashboard-extended.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/create-dashboard.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/create-multiple-dashboards.spec.ts
  depictio/tests/e2e-playwright/tests/dashboards/filters-into-builder.spec.ts
  depictio/tests/e2e-playwright/tests/public/public-mode.spec.ts
  depictio/tests/e2e-playwright/tests/ui/font-size-control.spec.ts
  depictio/viewer/src/dashboards/CardDisplayMenu.tsx
  depictio/viewer/src/dashboards/hooks/useDashboardViewPrefs.ts
  depictio/viewer/src/dashboards/views/DashboardTableView.tsx
  depictio/viewer/src/dashboards/views/DashboardThumbnailView.tsx
  depictio/viewer/src/walkthrough/steps/publicExplorer.ts
  docker-compose.dev.yaml
  docker-compose.yaml
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

test(local): open the dashboards grid explicitly in the local e2e
  depictio/tests/e2e-playwright/tests/local/local-mode.spec.ts
Due: ty-check-models-api-dash-cli

build(local): an 8.6 MB wheel with iris and penguins as examples
  .github/workflows/local-server-smoke.yaml
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  docker-images/Dockerfile.worker
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

fix(local): stable ports, safe stops and a clear first run
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  depictio/tests/cli/commands/test_local_commands.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
