Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

feat: enhance dashboard header component with improved filter activity checks and user permissions handling
  depictio/dash/layouts/header.py
Due: ty-check-models-api-dash-cli

feat: implement reset button visibility logic based on filter activity in edit mode
  depictio/dash/assets/css/components/draggable-grid.css
  depictio/dash/core/callbacks.py
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/header.py
Due: ty-check-models-api-dash-cli

feat: enhance interactivity and logging in draggable components, improving data handling and user feedback
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/draggable_scenarios/graphs_interactivity.py
  depictio/dash/layouts/draggable_scenarios/interactive_component_update.py
  depictio/dash/modules/table_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: add reset button callback to manage interactive values store, enhancing filter reset functionality
  depictio/dash/layouts/draggable.py
Due: ty-check-models-api-dash-cli

feat: implement reset button handling in draggable component callbacks, enhancing filter management
  depictio/dash/layouts/draggable.py
Due: ty-check-models-api-dash-cli

feat: adjust default dimensions for components and enhance handling of temporary IDs in text components
  depictio/dash/component_metadata.py
  depictio/dash/layouts/draggable_scenarios/interactive_component_update.py
  depictio/dash/modules/text_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: enhance notes footer and stepper part three layout for improved content display and structure
  depictio/dash/layouts/notes_footer.py
  depictio/dash/layouts/stepper_parts/part_three.py
Due: ty-check-models-api-dash-cli

feat: enhance notes footer visibility and fullscreen functionality with improved styling and button icons
  depictio/dash/layouts/notes_footer.py
Due: ty-check-models-api-dash-cli

feat: implement special handling for empty selections in MultiSelect components and simplify text component callback parameters
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/header.py
  depictio/dash/modules/text_component/frontend.py
  depictio/dash/modules/text_component/utils.py
Due: ty-check-models-api-dash-cli

feat: update inline editable text component to improve hidden input handling and menu positioning
  depictio/dash/modules/text_component/utils.py
Due: ty-check-models-api-dash-cli

feat: add alignment menu button to text components and update hover effects for improved user interaction
  depictio/dash/assets/css/components/draggable-grid.css
  depictio/dash/layouts/edit.py
  depictio/dash/modules/text_component/frontend.py
  depictio/dash/modules/text_component/utils.py
Due: ty-check-models-api-dash-cli

feat: enhance text component handling with improved logging and metadata synchronization for dashboard saves
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/draggable_scenarios/interactive_component_update.py
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/layouts/save.py
  depictio/dash/modules/text_component/frontend.py
  depictio/dash/modules/text_component/utils.py
Due: ty-check-models-api-dash-cli

feat: enhance text component functionality with improved alignment handling and logging for better dashboard integration
  depictio/dash/layouts/draggable_scenarios/interactive_component_update.py
  depictio/dash/modules/table_component/utils.py
  depictio/dash/modules/text_component/frontend.py
  depictio/dash/modules/text_component/utils.py
Due: ty-check-models-api-dash-cli

feat: enhance table component by transforming column names for AgGrid compatibility and improving logging for better debugging
  depictio/dash/modules/table_component/frontend.py
  depictio/dash/modules/table_component/utils.py
Due: ty-check-models-api-dash-cli

feat: Update Iris Dashboard configuration and improve screenshot functionality
  conda_envs/depictio.yaml
  depictio/api/v1/configs/iris_dataset/initial_dashboard.json
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/dash/layouts/header.py
  depictio/dash/layouts/save.py
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737.png
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

feat: enhance screenshot functionality by implementing component-based targeting and improved error handling
  depictio/api/v1/endpoints/utils_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat: update screenshot asset for improved visual representation
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737.png
Due: ty-check-models-api-dash-cli

feat: add Mantine AppShell debug prototype and screenshot functionality
  dev/playwright_debug/dash3_screenshot_prototype.py
  dev/playwright_debug/mantine_appshell_debug.py
  dev/playwright_debug/run_debug.py
  dev/playwright_debug/screenshots/component_1_20250728_233130.png
  dev/playwright_debug/screenshots/component_2_20250728_233130.png
  dev/playwright_debug/screenshots/component_3_20250728_233130.png
  dev/playwright_debug/screenshots/component_4_20250728_233130.png
  dev/playwright_debug/screenshots/component_5_20250728_233130.png
  dev/playwright_debug/screenshots/component_6_20250728_233130.png
  dev/playwright_debug/screenshots/component_7_20250728_233130.png
  dev/playwright_debug/screenshots/component_8_20250728_233130.png
  dev/playwright_debug/screenshots/component_9_20250728_233130.png
  dev/playwright_debug/screenshots/dashboard_composite_20250728_233130.png
  dev/playwright_debug/screenshots/fullpage_20250728_231345.png
  dev/playwright_debug/screenshots/fullpage_20250728_231937.png
  dev/playwright_debug/screenshots/fullpage_20250728_232048.png
  dev/playwright_debug/screenshots/fullpage_20250728_232142.png
  dev/playwright_debug/screenshots/fullpage_20250728_232402.png
  dev/playwright_debug/screenshots/test_20250728_231345_1__mantine-AppShell-main.png
  dev/playwright_debug/screenshots/test_20250728_231345_2_[class*='mantine-AppShell-main'].png
  dev/playwright_debug/screenshots/test_20250728_231345_3_[class*='AppShell-main'].png
  dev/playwright_debug/screenshots/test_20250728_231937_1__mantine-AppShell-main.png
  dev/playwright_debug/screenshots/test_20250728_231937_2_[class*='mantine-AppShell-main'].png
  dev/playwright_debug/screenshots/test_20250728_231937_3_[class*='AppShell-main'].png
  dev/playwright_debug/screenshots/test_20250728_232048_1__mantine-AppShell-main.png
  dev/playwright_debug/screenshots/test_20250728_232048_2_[class*='mantine-AppShell-main'].png
  dev/playwright_debug/screenshots/test_20250728_232048_3_[class*='AppShell-main'].png
  dev/playwright_debug/screenshots/test_20250728_232142_1__mantine-AppShell-main.png
  dev/playwright_debug/screenshots/test_20250728_232142_2_[class*='mantine-AppShell-main'].png
  dev/playwright_debug/screenshots/test_20250728_232142_3_[class*='AppShell-main'].png
Due: none

feat: update dependencies in pyproject.toml for improved compatibility and functionality
  .github/workflows/depictio-ci.yaml
  pyproject.toml
Due: none

feat: specify Python version in CI configuration for consistency
  .github/workflows/depictio-ci.yaml
Due: none

feat: update Python version handling in CI configuration to use pyproject.toml
  .github/workflows/depictio-ci.yaml
Due: none

feat: comment out specific Python version in dependencies for flexibility
  pyproject.toml
Due: none

feat: enable Ruff formatting and linting in CI workflow
  .github/workflows/depictio-ci.yaml
Due: none

feat: specify exact version for 'ty' dependency in development requirements
  pyproject.toml
Due: none

feat: update dependencies and improve screenshot handling for Dash 3+ components
  CLAUDE.md
  conda_envs/depictio.yaml
  depictio/api/main.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/tests/api/v1/endpoints/user_endpoints/conftest.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_core_functions.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_user_management.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_utils.py
  depictio/tests/dash/conftest.py
  depictio/tests/integration/__init__.py
  depictio/tests/integration/test_minio.py
  depictio/tests/models/test_users.py
  pyproject.toml
Due: ty-check-models-api-dash-cli

feat: downgrade dash-ace dependency to version 0.2.1 for compatibility
  conda_envs/depictio.yaml
  pyproject.toml
Due: none

Update dependencies and package versions in pyproject.toml and uv.lock
  depictio/api/main.py
  depictio/tests/api/v1/endpoints/user_endpoints/conftest.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_core_functions.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_user_management.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_utils.py
  depictio/tests/dash/conftest.py
  depictio/tests/models/test_users.py
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

feat: comment out ty type checker step in CI workflow
  .github/workflows/depictio-ci.yaml
Due: none

chore: add SVG format for logos ; disable E2E test for in unauth mode ; adjust logo in README according theme in GH
  .gitattributes
  README.md
  depictio/tests/e2e-tests/cypress/e2e/unauthenticated/landing-page-access.cy.bak
  docs/images/favicon.svg
  docs/images/logo_hd.svg
  docs/images/logo_hd_white.svg
Due: ty-check-models-api-dash-cli

Bump version: 0.1.1 → 0.2.0
  .bumpversion.cfg
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.2.0
  CHANGELOG.md
Due: none

refactor: simplify input handling in save and text component callbacks
  depictio/dash/layouts/save.py
  depictio/dash/modules/text_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: enhance dashboard access control for anonymous users
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

feat: add support for interactive component values in dashboard save functionality
  depictio/dash/layouts/save.py
Due: ty-check-models-api-dash-cli

fix: ensure metadata store index matches table component index for callback compatibility
  depictio/dash/modules/table_component/utils.py
Due: ty-check-models-api-dash-cli

feat: disable color picker in card and interactive components for improved usability
  depictio/dash/modules/card_component/frontend.py
  depictio/dash/modules/interactive_component/frontend.py
  depictio/dash/theme_utils.py
Due: ty-check-models-api-dash-cli

fix: initialize columns_description_df to prevent UnboundLocalError and improve error handling in interactive component callbacks
  depictio/dash/modules/interactive_component/frontend.py
Due: ty-check-models-api-dash-cli

feat: enhance interactive component to restore slider configuration and color settings from saved data
  depictio/dash/modules/interactive_component/frontend.py
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
