Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix(figures): lock the brand-theme patch of the Plotly templates
  depictio/api/v1/services/figure/mantine_templates.py
  depictio/tests/unit/test_mantine_templates_race.py
  dev/design/local-server-profile.md
Due: ty-check-models-api-dash-cli

docs(local): redraw the two schemas as pictures rather than boxes of text
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_same_code.png
  docs/images/v1.4/local/schema_same_code.svg
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
Due: none

docs(local): give the screenshots neutral file names
  dev/design/local-server-profile.md
  docs/images/v1.4/local/screenshots/rnaseq_01.png
  docs/images/v1.4/local/screenshots/rnaseq_02.png
  docs/images/v1.4/local/screenshots/rnaseq_03.png
  docs/images/v1.4/local/screenshots/rnaseq_04.png
  docs/images/v1.4/local/screenshots/rnaseq_05.png
  docs/images/v1.4/local/screenshots/rnaseq_06.png
  docs/images/v1.4/local/screenshots/rnaseq_07.png
Due: none

feat(local): run SeaweedFS instead of MinIO, like the Docker stack
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  dev/design/local-server-profile.md
  dev/diagrams/local_server.py
  docs/images/v1.4/local/schema_same_code.png
  docs/images/v1.4/local/schema_same_code.svg
  docs/images/v1.4/local/schema_up_flow.png
  docs/images/v1.4/local/schema_up_flow.svg
  docs/images/v1.4/local/screenshots/rnaseq_01.png
  docs/images/v1.4/local/screenshots/rnaseq_02.png
  docs/images/v1.4/local/screenshots/rnaseq_03.png
  docs/images/v1.4/local/screenshots/rnaseq_05.png
  docs/images/v1.4/local/screenshots/rnaseq_06.png
  docs/images/v1.4/local/screenshots/rnaseq_07.png
Due: ty-check-models-api-dash-cli

feat(models): molecule_3d, msa and sequence_track advanced viz kinds
  depictio/models/components/advanced_viz/configs.py
  depictio/models/components/advanced_viz/record_link.py
  depictio/models/components/advanced_viz/sampling.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/models/components/types.py
  depictio/models/models/data_collections_types/indexed_file.py
  depictio/tests/cli/utils/test_indexed_file_ingest.py
  depictio/tests/models/data_collections_types/test_indexed_file.py
  depictio/tests/models/test_advanced_viz_protein_kinds.py
  depictio/tests/models/test_record_link_residue.py
Due: ty-check-models-api-dash-cli

feat(api): resolve protein structures from AlphaFold DB or ESMFold
  .env.example
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/structure_resolver.py
  depictio/tests/api/v1/test_structure_resolver.py
Due: ty-check-models-api-dash-cli

fix(api): allow the storage origin in CSP connect-src
  depictio/api/main.py
  depictio/api/v1/configs/security_headers.py
  depictio/tests/api/v1/test_security_headers.py
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-images/Dockerfile.viewer
  docker-images/nginx.conf.template
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

feat(cli): depictio local up --env to turn on opt-in settings
  depictio/cli/cli/commands/local.py
  depictio/tests/cli/commands/test_local.py
Due: ty-check-models-api-dash-cli

fix(cli): skip empty files when scanning a data collection
  depictio/cli/cli/utils/scan.py
  depictio/tests/cli/utils/test_scan_empty_files.py
Due: ty-check-models-api-dash-cli

feat(react-core): residue_selection cross-filter and hover highlight bus
  depictio/api/v1/region_scope.py
  depictio/tests/unit/test_region_scope_residue.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/comments/viewState.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/advanced_viz/LollipopRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ProfileRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/lollipopOverlay.test.ts
  packages/depictio-react-core/src/components/advanced_viz/lollipopOverlay.ts
  packages/depictio-react-core/src/components/advanced_viz/record_card/recordSelection.test.ts
  packages/depictio-react-core/src/components/advanced_viz/record_card/recordSelection.ts
  packages/depictio-react-core/src/highlight/bus.test.ts
  packages/depictio-react-core/src/highlight/bus.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selection.proteinKinds.test.ts
  packages/depictio-react-core/src/selection.residue.test.ts
  packages/depictio-react-core/src/selection.ts
  packages/depictio-react-core/src/selectionGroups.residue.test.ts
  packages/depictio-react-core/src/selectionGroups.ts
  packages/depictio-react-core/src/splitPanels.test.ts
  packages/depictio-react-core/src/splitPanels.ts
Due: ty-check-models-api-dash-cli

feat(react-core): molecule_3d, msa and sequence_track renderers
  depictio/viewer/package.json
  depictio/viewer/src/catalog-preview/threeDmolStub.ts
  depictio/viewer/vite.catalog-preview.config.ts
  packages/depictio-react-core/package.json
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizFrame.tsx
  packages/depictio-react-core/src/components/advanced_viz/Molecule3DRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MsaRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SequenceTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/molecule/Overlays.tsx
  packages/depictio-react-core/src/components/advanced_viz/molecule/SplitView.tsx
  packages/depictio-react-core/src/components/advanced_viz/molecule/hooks.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/residueData.test.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/residueData.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/resolve.test.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/resolve.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/splitView.test.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/structureText.test.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/structureText.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/viewer.test.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/viewer.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/MsaPanel.tsx
  packages/depictio-react-core/src/components/advanced_viz/protein/SequenceStrip.tsx
  packages/depictio-react-core/src/components/advanced_viz/protein/alignment.test.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/alignment.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/canvas.test.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/canvas.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/canvasHooks.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/index.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/panelTheme.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/rendererData.test.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/rendererData.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/residueColours.test.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/residueColours.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/sequence.test.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/sequence.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/types.ts
  packages/depictio-react-core/src/components/advanced_viz/protein/useEntityPicker.ts
  pnpm-lock.yaml
Due: none

feat(viewer): bind protein tiles from the component builder
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
  depictio/viewer/src/builder/advanced_viz/ProteinBindingSettings.tsx
  depictio/viewer/src/builder/advanced_viz/RecordCardLinkSettings.tsx
  depictio/viewer/src/builder/advanced_viz/proteinBindings.ts
  depictio/viewer/src/builder/advanced_viz/recordCardLink.ts
Due: none

chore(catalog): regenerate the catalog schemas and Tool Studio kind snapshots
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  packages/tool-studio/public/catalog.schema.json
  packages/tool-studio/public/figureParams.json
  packages/tool-studio/public/kinds.json
Due: none

feat(showcase): protein structure tab in the advanced viz showcase
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_protein_structure.json
  depictio/projects/init/advanced_viz_showcase/dashboards/protein_structure.yaml
  depictio/projects/init/advanced_viz_showcase/data/demo_protein.pdb
  depictio/projects/init/advanced_viz_showcase/data/protein_domains_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/protein_msa_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/protein_residues_demo.tsv
  depictio/projects/init/advanced_viz_showcase/data/protein_variants_demo.tsv
  depictio/projects/init/advanced_viz_showcase/project.yaml
  depictio/projects/init/advanced_viz_showcase/scripts/generate_fixtures.py
  depictio/recipes/lib/msa.py
  depictio/recipes/lib/protein_structure.py
  depictio/tests/unit/recipes/__init__.py
  depictio/tests/unit/recipes/test_msa_lib.py
  depictio/tests/unit/recipes/test_protein_structure_lib.py
Due: ty-check-models-api-dash-cli

test(e2e): recognise molecule_3d, msa and sequence_track renders in the catalog walk
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

docs: protein structure module design and indexed structure files
  docs/design/advanced-viz.md
  docs/design/protein-structure.md
  docs/indexed-files.md
Due: none

docs(db): redraw the append_metadata schema as a startup sequence
  dev/diagrams/pymongo_driver.py
  docs/images/pymongo-driver_append_metadata.png
  docs/images/pymongo-driver_append_metadata.svg
Due: none

docs(recipes): redraw the contract schema as an annotated recipe
  dev/diagrams/recipe_output_schema.py
  docs/images/recipe-output-schema_contract.png
  docs/images/recipe-output-schema_contract.svg
Due: none

feat(recipes): check each source against its input_schema before transform()
  depictio/cli/cli/commands/recipe.py
  depictio/cli/cli/utils/deltatables.py
  depictio/models/models/transforms.py
  depictio/projects/nf-core/ampliseq/2.18.0/generate_canonical_seeds.py
  depictio/recipes/__init__.py
  depictio/tests/cli/commands/test_recipe.py
  depictio/tests/cli/utils/test_recipes.py
  docs/design/bioinformatics-catalog.md
Due: ty-check-models-api-dash-cli

docs(recipes): schema of the input and output schema checkpoints
  dev/diagrams/recipe_input_schema.py
  docs/images/recipe-input-schema_checkpoints.png
  docs/images/recipe-input-schema_checkpoints.svg
Due: none

feat(bioimage): register labels, sample_pattern and catalog image-output fields
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/configs.py
  depictio/models/models/data_collections_types/bioimage.py
  packages/tool-studio/public/catalog.json
  packages/tool-studio/public/catalog.schema.json
Due: ty-check-models-api-dash-cli

feat(protein): written sequence, combined representations and structure colours on the 3D tile
  depictio/models/components/advanced_viz/configs.py
  depictio/viewer/src/builder/advanced_viz/ProteinBindingSettings.tsx
  packages/depictio-react-core/src/components/advanced_viz/Molecule3DRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/molecule/Overlays.tsx
  packages/depictio-react-core/src/components/advanced_viz/molecule/SequenceText.tsx
  packages/depictio-react-core/src/components/advanced_viz/molecule/residueData.test.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/residueData.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/sequenceLines.test.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/sequenceLines.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/viewer.test.ts
  packages/depictio-react-core/src/components/advanced_viz/molecule/viewer.ts
Due: ty-check-models-api-dash-cli

docs(protein): document the written sequence layout, 3D controls and compact placement
  docs/design/advanced-viz.md
  docs/design/protein-structure.md
Due: none

feat(advanced-viz): selector plots keep their points and protein tiles open on one entity
  packages/depictio-react-core/src/components/advanced_viz/MsaRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/ScatterXyRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/SequenceTrackRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/protein/useEntityPicker.ts
  packages/depictio-react-core/src/highlight/bus.ts
  packages/depictio-react-core/src/highlight/openingEntity.test.ts
  packages/depictio-react-core/src/highlight/openingEntity.ts
  packages/depictio-react-core/src/selection.crossfilter.test.ts
  packages/depictio-react-core/src/selection.ts
Due: none

feat(showcase): protein tab with the lollipop beside the 3D tile and its written sequence
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_protein_structure.json
  depictio/projects/init/advanced_viz_showcase/dashboards/protein_structure.yaml
Due: none

feat(bioimage): labels masks layer and sample_pattern
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/labels_tiff.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/pyproject.toml
  depictio/cli/uv.lock
  depictio/models/components/advanced_viz/configs.py
  depictio/models/models/data_collections_types/bioimage.py
  depictio/projects/init/bioimage_examples/dashboards/multi_sample.yaml
  depictio/projects/init/bioimage_examples/data/README.md
  depictio/projects/init/bioimage_examples/data/multi_sample/cells.csv
  depictio/projects/init/bioimage_examples/data/multi_sample/labels/sample_A_mask.tif
  depictio/projects/init/bioimage_examples/data/multi_sample/labels/sample_B_mask.tif
  depictio/projects/init/bioimage_examples/data/multi_sample/labels/sample_C_mask.tif
  depictio/projects/init/bioimage_examples/project.yaml
  depictio/tests/api/v1/test_bioimage_endpoint.py
  depictio/tests/cli/utils/test_bioimage_ingest.py
  depictio/tests/cli/utils/test_bioimage_labels.py
  depictio/tests/models/data_collections_types/test_bioimage.py
  depictio/tests/models/test_bioimage_viewer_config.py
  dev/bioimage/make_examples.py
  dev/bioimage/make_labels_example.py
  docs/adr/0001-bioimage-viewer-complements-dedicated-viewers.md
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/BioimageViewerRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/bioimage/labels.test.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/labels.ts
  packages/depictio-react-core/src/components/advanced_viz/bioimage/viewer.ts
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

feat(catalog): image and labels outputs, bioimage_viewer render
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/catalog/payload.py
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/component.py
  depictio/projects/init/catalog_conformance/scripts/generate_project.py
  depictio/tests/catalog/test_bioimage_outputs.py
  depictio/tests/e2e-playwright/tests/catalog/catalog-coverage.spec.ts
  depictio/viewer/src/builder/catalog/CatalogPreviewPanel.tsx
  depictio/viewer/src/catalog-shared/tileSnippet.ts
  packages/tool-studio/src/catalog/catalog.ts
  packages/tool-studio/src/steps/VizDesigner.tsx
  packages/tool-studio/src/viz/RenderPreview.tsx
Due: ty-check-models-api-dash-cli

fix(local): keep ports and CLI config valid across restarts
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
Due: ty-check-models-api-dash-cli

fix(spatialdata): split comma gene lists, keep obs x/y beside coordinates
  depictio/cli/cli/utils/spatialdata_table.py
  depictio/models/models/data_collections_types/table.py
  depictio/tests/cli/utils/test_spatialdata_table.py
  depictio/tests/models/data_collections_types/test_table.py
Due: ty-check-models-api-dash-cli

feat(templates): molkart segmentation flags from params; SKIP_ANCOM on ampliseq only
  depictio/cli/cli/utils/templates.py
  depictio/tests/cli/utils/test_params_introspection.py
Due: ty-check-models-api-dash-cli

chore: track the imaging templates' vendored inputs
  .gitignore
Due: none

feat(nf-core): mcmicro 2.0.0 template
  depictio/projects/nf-core/mcmicro/2.0.0/.db_seeds/.gitkeep
  depictio/projects/nf-core/mcmicro/2.0.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/mcmicro/2.0.0/dashboards/base.yaml
  depictio/projects/nf-core/mcmicro/2.0.0/docs/dashboards.md
  depictio/projects/nf-core/mcmicro/2.0.0/download_test_data.sh
  depictio/projects/nf-core/mcmicro/2.0.0/input/markers.csv
  depictio/projects/nf-core/mcmicro/2.0.0/input/metadata.tsv
  depictio/projects/nf-core/mcmicro/2.0.0/input/samplesheet.csv
  depictio/projects/nf-core/mcmicro/2.0.0/megatest.yaml
  depictio/projects/nf-core/mcmicro/2.0.0/pipeline_info/software_versions.yml
  depictio/projects/nf-core/mcmicro/2.0.0/template.yaml
  depictio/projects/nf-core/mcmicro/recipes/acquisition.py
  depictio/projects/nf-core/mcmicro/recipes/cell_markers.py
  depictio/projects/nf-core/mcmicro/recipes/samples.py
Due: none

feat(nf-core): cellpainting 1.0.0dev template (unreleased)
  depictio/projects/nf-core/cellpainting/1.0.0dev/.db_seeds/.gitkeep
  depictio/projects/nf-core/cellpainting/1.0.0dev/VALIDATION_REPORT.md
  depictio/projects/nf-core/cellpainting/1.0.0dev/dashboards/base.yaml
  depictio/projects/nf-core/cellpainting/1.0.0dev/docs/dashboards.md
  depictio/projects/nf-core/cellpainting/1.0.0dev/download_test_data.sh
  depictio/projects/nf-core/cellpainting/1.0.0dev/input/platemap.csv
  depictio/projects/nf-core/cellpainting/1.0.0dev/megatest.yaml
  depictio/projects/nf-core/cellpainting/1.0.0dev/pipeline_info/software_versions.yml
  depictio/projects/nf-core/cellpainting/1.0.0dev/template.yaml
  depictio/projects/nf-core/cellpainting/recipes/platemap.py
Due: none

feat(nf-core): molkart 1.2.0 template
  depictio/projects/nf-core/molkart/1.2.0/.db_seeds/.gitkeep
  depictio/projects/nf-core/molkart/1.2.0/VALIDATION_REPORT.md
  depictio/projects/nf-core/molkart/1.2.0/dashboards/base.yaml
  depictio/projects/nf-core/molkart/1.2.0/docs/dashboards.md
  depictio/projects/nf-core/molkart/1.2.0/download_test_data.sh
  depictio/projects/nf-core/molkart/1.2.0/input/sample_metadata.tsv
  depictio/projects/nf-core/molkart/1.2.0/input/samplesheet_full_test.csv
  depictio/projects/nf-core/molkart/1.2.0/megatest.yaml
  depictio/projects/nf-core/molkart/1.2.0/pipeline_info/software_versions.yml
  depictio/projects/nf-core/molkart/1.2.0/template.yaml
  depictio/projects/nf-core/molkart/recipes/samples.py
Due: none

feat(nf-core): spatialvi 1.0.0dev template (unreleased)
  depictio/projects/nf-core/spatialvi/1.0.0dev/.db_seeds/.gitkeep
  depictio/projects/nf-core/spatialvi/1.0.0dev/VALIDATION_REPORT.md
  depictio/projects/nf-core/spatialvi/1.0.0dev/dashboards/base.yaml
  depictio/projects/nf-core/spatialvi/1.0.0dev/dashboards/genes.yaml
  depictio/projects/nf-core/spatialvi/1.0.0dev/docs/dashboards.md
  depictio/projects/nf-core/spatialvi/1.0.0dev/download_test_data.sh
  depictio/projects/nf-core/spatialvi/1.0.0dev/input/samplesheet.csv
  depictio/projects/nf-core/spatialvi/1.0.0dev/megatest.yaml
  depictio/projects/nf-core/spatialvi/1.0.0dev/multiqc/multiqc_data/multiqc.parquet
  depictio/projects/nf-core/spatialvi/1.0.0dev/template.yaml
  depictio/projects/nf-core/spatialvi/recipes/samples.py
Due: none

chore(nf-core): imaging lot scenarios, cluster runs and status
  depictio/projects/nf-core/MEGATEST_STATUS.md
  depictio/projects/nf-core/TEST_DATASETS.md
  depictio/projects/nf-core/VALIDATION_SCENARIOS.md
  scripts/nfcore_showcase.py
  scripts/nfcore_validation_hpc.py
Due: none

feat(nf-core): sopa 1.0.1 template
  depictio/projects/nf-core/sopa/1.0.1/.db_seeds/.gitkeep
  depictio/projects/nf-core/sopa/1.0.1/VALIDATION_REPORT.md
  depictio/projects/nf-core/sopa/1.0.1/dashboards/base.yaml
  depictio/projects/nf-core/sopa/1.0.1/docs/dashboards.md
  depictio/projects/nf-core/sopa/1.0.1/input/sample_metadata.tsv
  depictio/projects/nf-core/sopa/1.0.1/input/samplesheet.csv
  depictio/projects/nf-core/sopa/1.0.1/megatest.yaml
  depictio/projects/nf-core/sopa/1.0.1/pipeline_info/software_versions.yml
  depictio/projects/nf-core/sopa/1.0.1/template.yaml
  depictio/projects/nf-core/sopa/recipes/samples.py
Due: none

fix(mcp): install snippets use depictio-cli when only the CLI package is installed
  depictio/cli/cli/commands/mcp.py
  depictio/tests/cli/commands/test_mcp.py
Due: ty-check-models-api-dash-cli
