Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix(advanced-viz): follow the controls and theming conventions in the new renderers
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
  packages/depictio-react-core/src/components/advanced_viz/DamageProfileRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/RecordCardRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/TranscriptStructureRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/record_card/recordFields.ts
Due: none

test(recipes): fold the lot 2 recipe tests into one file per tool family
  depictio/tests/recipes/test_arriba_fusion_contigs.py
  depictio/tests/recipes/test_arriba_fusion_links.py
  depictio/tests/recipes/test_arriba_recipes.py
  depictio/tests/recipes/test_bcftools_stats_ids.py
  depictio/tests/recipes/test_bismark_recipes.py
  depictio/tests/recipes/test_bismark_report_ids.py
  depictio/tests/recipes/test_cnv_profile_recipes.py
  depictio/tests/recipes/test_damageprofiler_lgdistribution.py
  depictio/tests/recipes/test_damageprofiler_recipes.py
  depictio/tests/recipes/test_demultiplex_recipes.py
  depictio/tests/recipes/test_eager_lane_stats.py
  depictio/tests/recipes/test_eager_library_qc.py
  depictio/tests/recipes/test_eager_mapq_across_reference.py
  depictio/tests/recipes/test_eager_recipes.py
  depictio/tests/recipes/test_funcscan_screens.py
  depictio/tests/recipes/test_genomeassembler_catalog.py
  depictio/tests/recipes/test_genomeassembler_recipes.py
  depictio/tests/recipes/test_gtf_transcripts.py
  depictio/tests/recipes/test_macs2_summit_profile.py
  depictio/tests/recipes/test_nonpareil_recipes.py
  depictio/tests/recipes/test_nonpareil_summary.py
  depictio/tests/recipes/test_riboseq_orfs.py
  depictio/tests/recipes/test_riboseq_recipes.py
  depictio/tests/recipes/test_seacr_frags_profile.py
  depictio/tests/recipes/test_seacr_recipes.py
Due: ty-check-models-api-dash-cli

chore(seeds): stop committing the nf-core megatests showcase seeds
  depictio/dev_scripts/generate_dashboard_seeds.py
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_complex_heatmap.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_coverage_track.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_da_barplot.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_embedding.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_ma.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_qq.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_rarefaction.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_stacked_taxonomy.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_sunburst.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_volcano.json
  depictio/projects/init/nfcore_megatests_showcase/README.md
  depictio/projects/init/nfcore_megatests_showcase/dashboards/complex_heatmap.yaml
  depictio/projects/init/nfcore_megatests_showcase/dashboards/coverage_track.yaml
  depictio/projects/init/nfcore_megatests_showcase/dashboards/da_barplot.yaml
  depictio/projects/init/nfcore_megatests_showcase/dashboards/embedding.yaml
  depictio/projects/init/nfcore_megatests_showcase/dashboards/ma.yaml
  depictio/projects/init/nfcore_megatests_showcase/dashboards/qq.yaml
  depictio/projects/init/nfcore_megatests_showcase/dashboards/rarefaction.yaml
  depictio/projects/init/nfcore_megatests_showcase/dashboards/stacked_taxonomy.yaml
  depictio/projects/init/nfcore_megatests_showcase/dashboards/sunburst.yaml
  depictio/projects/init/nfcore_megatests_showcase/dashboards/volcano.yaml
  depictio/projects/init/nfcore_megatests_showcase/scripts/generate_seeds.py
  depictio/projects/init/nfcore_megatests_showcase/scripts/upload.sh
Due: none

fix(tool-studio): give the golden round-trip tool a description and homepage
  packages/tool-studio/scripts/genGolden.ts
Due: none

test: fix CI on the overview authoring branch
  depictio/tests/cli/utils/test_params_introspection.py
  depictio/tests/models/test_phylo_summary.py
  packages/tool-studio/e2e/components.spec.ts
Due: ty-check-models-api-dash-cli

fix(tool-studio): the builders' tab-link fields make no backend call
  packages/tool-studio/src/api/studioApi.ts
Due: none

Bump version: 1.12.0-b1 → 1.12.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

test(models): keep the region-follow card test off the server stack
  depictio/tests/models/test_lite_defaults_and_thresholds.py
Due: ty-check-models-api-dash-cli

docs(design): screenshots of a composed dashboard
  dev/design/run-directory-to-dashboard.md
  docs/images/v1.4/compose/other_data_tab.png
  docs/images/v1.4/compose/taxonomy_tab.png
Due: none

Update CHANGELOG.md for v1.12.0
  CHANGELOG.md
Due: none

fix(annotations): keep PR and ROC marks on the view they were made on
  packages/depictio-react-core/src/components/advanced_viz/PrBenchmarkRenderer.tsx
Due: none

docs(comments): record how annotations integrate with the lot 2 renderers
  dev/design/component-comments-annotations.md
Due: none

test: the tab_group import test needs the API, which the base install lacks
  depictio/tests/models/test_tab_group.py
Due: ty-check-models-api-dash-cli

Bump version: 1.12.0 → 1.13.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.13.0
  CHANGELOG.md
Due: none

refactor(cli): simplify code this PR added, behaviour unchanged
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/cli/cli/commands/config.py
  depictio/cli/cli/commands/dashboard.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/local_stack.py
  depictio/cli/cli/utils/common.py
  depictio/cli/cli/utils/image_upload.py
  depictio/cli/cli/utils/scan.py
Due: ty-check-models-api-dash-cli

fix(local): signals during startup and builds, Windows, staleness, a shared lock
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_compose.py
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  depictio/tests/cli/commands/test_local_commands.py
  depictio/tests/cli/commands/test_local_compose.py
  depictio/tests/cli/commands/test_local_viewer.py
Due: ty-check-models-api-dash-cli

fix(ingest): refuse a run name clash before announcing runs, count added tabs in the summary
  depictio/cli/cli/commands/run.py
  depictio/tests/cli/commands/test_ingest_flags.py
Due: ty-check-models-api-dash-cli

docs: the former CLI names left in docs, scripts, CI and diagrams
  .claude/commands/import-template.md
  .github/workflows/depictio-ci.yaml
  depictio/dev_scripts/gen_template_docs.py
  dev/design/local-server-profile.md
  dev/diagrams/nextflow_trigger.py
  dev/nf-core-validation/validate_per_run.sh
  docs/deploy-realtime-events.md
  docs/nextflow-trigger.md
  docs/pipeline-provisioning-magic-link.md
  scripts/nfcore_showcase.py
  scripts/nfcore_validation_hpc.py
Due: none

fix(cli): -v logs project names, not configurations with substituted values
  depictio/cli/cli/utils/api_calls.py
  depictio/cli/cli/utils/config.py
  depictio/tests/cli/utils/test_error_reporting.py
Due: ty-check-models-api-dash-cli

fix(dashboards): match imports by origin within their family, keep families whole
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/cli/cli/utils/templates.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_import_source_key.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_create_project.py
  depictio/tests/cli/utils/test_dashboard_source_key.py
Due: ty-check-models-api-dash-cli

fix(ingest): a refresh keeps attached runs only, and stops before losing one
  depictio/cli/cli/commands/config.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/configs/nextflow/depictio.config
  depictio/cli/configs/nextflow/example/depictio_all_options.config
  depictio/models/models/workflows.py
  depictio/tests/cli/commands/conftest.py
  depictio/tests/cli/commands/test_attach_run.py
  depictio/tests/cli/commands/test_config.py
  depictio/tests/cli/commands/test_config_nextflow.py
  depictio/tests/cli/commands/test_ingest_flags.py
  depictio/tests/cli/commands/test_run_attach_flow.py
  depictio/tests/cli/utils/test_scan_missing_runs.py
  depictio/tests/models/test_workflows.py
Due: ty-check-models-api-dash-cli

fix(cli): keep secrets out of logs and S3 requests, name the real failure
  depictio/cli/cli/commands/backup.py
  depictio/cli/cli/commands/config.py
  depictio/cli/cli/commands/data.py
  depictio/cli/cli/commands/migrate.py
  depictio/cli/cli/utils/api_calls.py
  depictio/cli/cli/utils/common.py
  depictio/cli/cli/utils/deltatables.py
  depictio/models/models/s3.py
  depictio/models/utils.py
  depictio/tests/cli/commands/test_backup.py
  depictio/tests/cli/commands/test_config.py
  depictio/tests/cli/commands/test_data.py
  depictio/tests/cli/commands/test_migrate.py
  depictio/tests/cli/utils/test_common.py
  depictio/tests/cli/utils/test_deltatable_s3_credentials.py
  depictio/tests/cli/utils/test_error_reporting.py
  depictio/tests/cli/utils/test_local_server_hints.py
  depictio/tests/models/test_s3_utils.py
  depictio/tests/models/test_utils.py
Due: ty-check-models-api-dash-cli

fix(compose): read a recipe's raw reports one line per row, as it declares
  depictio/cli/cli/utils/compose.py
  depictio/tests/cli/utils/test_compose.py
Due: ty-check-models-api-dash-cli

fix(local): a signal while a process starts no longer orphans it
  depictio/cli/cli/local_stack.py
  depictio/tests/cli/commands/test_local.py
  depictio/tests/cli/commands/test_local_viewer.py
Due: ty-check-models-api-dash-cli

Bump version: 1.13.0 → 1.13.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.13.1
  CHANGELOG.md
Due: none

build(docker): keep JS package edits out of the Python dependency layer
  docker-images/Dockerfile.api
  docker-images/Dockerfile.worker
Due: none

ci: cut a PR's critical path from ~75 to ~20 minutes
  .github/workflows/depictio-ci.yaml
  depictio/tests/e2e-playwright/tests/catalog/catalog-modules-on-dashboard.spec.ts
Due: ty-check-models-api-dash-cli

fix(cli): make an empty scan and a dry run say what they actually found
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/scan_utils.py
  depictio/tests/cli/commands/test_run_dry_run_preview.py
  depictio/tests/cli/utils/test_scan_utils.py
Due: ty-check-models-api-dash-cli

docs(ci): schema of a PR's critical path, before and after
  dev/diagrams/ci_speed.py
  docs/images/ci-speed_critical_path.png
  docs/images/ci-speed_critical_path.svg
Due: none

Bump version: 1.13.1 → 1.13.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.13.2
  CHANGELOG.md
Due: none

ci: a new push to main supersedes the run in flight
  .github/workflows/depictio-ci.yaml
  dev/diagrams/ci_speed.py
  docs/images/ci-speed_critical_path.png
  docs/images/ci-speed_critical_path.svg
Due: none

Bump version: 1.13.2 → 1.14.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
