Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

chore: update uv.lock
  uv.lock
Due: none

feat(models): add DataCollectionSource enum and improve validation
  depictio/models/models/data_collections.py
  depictio/models/models/joins.py
  depictio/models/models/projects.py
Due: ty-check-models-api-dash-cli

feat(cli): implement client-side joins with workflow-scoped DC references
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/joins.py
Due: ty-check-models-api-dash-cli

feat(api): implement project-level join system with workflow support
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/workflow_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat(api): add shape endpoint for data collection metrics
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
Due: ty-check-models-api-dash-cli

feat(dash): fix duplicate joins and add row/column display
  depictio/dash/layouts/stepper.py
  depictio/dash/layouts/stepper_parts/part_one.py
Due: ty-check-models-api-dash-cli

refactor(config): migrate join config from DC-level to project-level
  depictio/api/v1/configs/penguins_dataset/penguins_project.yaml
Due: ty-check-models-api-dash-cli

refactor: simplify code for clarity and maintainability
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/cli/cli/utils/joins.py
  depictio/dash/layouts/stepper.py
  depictio/models/models/data_collections.py
Due: ty-check-models-api-dash-cli

feat: enhance YAML serialization with tag enrichment and modularization
  depictio/dashboards_yaml/.gitkeep
  depictio/dashboards_yaml/Iris_Dataset_Project_Data_Analysis/Iris_Dashboard_demo_6824cb3b.yaml
  depictio/dashboards_yaml/README.md
  depictio/models/yaml_serialization.py
Due: ty-check-models-api-dash-cli

feat: add YAML dashboard configuration settings and fix key generation
  depictio/api/v1/configs/config.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/key_utils.py
Due: ty-check-models-api-dash-cli

refactor: modularize API main.py into focused service modules
  depictio/api/main.py
  depictio/api/v1/json_response.py
  depictio/api/v1/services/background_tasks.py
  depictio/api/v1/services/initialization.py
  depictio/api/v1/services/lifespan.py
  depictio/api/v1/services/yaml_sync.py
Due: ty-check-models-api-dash-cli

chore: clean up temporary test files and update gitignore
  .gitignore
  test_import_debug.py
Due: none

refactor(dash): migrate components to use pre-computed joins
  depictio/dash/layouts/draggable_scenarios/interactive_component_update.py
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/figure_component/frontend_legacy.py
  depictio/dash/modules/multiqc_component/frontend.py
  depictio/dash/modules/table_component/callbacks/core.py
  depictio/dash/utils.py
Due: ty-check-models-api-dash-cli

docs(api): mark legacy join functions as deprecated
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
Due: ty-check-models-api-dash-cli

fix(dash): restore interactive component dropdown callbacks
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

fix(dash): use edit-page-context instead of current-edit-parent-index
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

feat(dash): restore interactive component preview callback
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

fix(dash): import API_BASE_URL directly from config
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

fix(dash): resolve type errors in interactive preview callback
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

fix(dash): make interactive preview components functional
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

fix(dash): comment out scale type and marks inputs for interactive
  .claude/settings.local.json
  depictio/dash/modules/interactive_component/callbacks/design.py
  depictio/dash/modules/interactive_component/design_ui.py
  depictio/tests/e2e-tests/.claude/settings.local.json
  docker-compose/.env
Due: ty-check-models-api-dash-cli

fix(dash): add stored-metadata-component Store for interactive save
  depictio/dash/modules/interactive_component/callbacks/design.py
  depictio/dash/modules/interactive_component/design_ui.py
Due: ty-check-models-api-dash-cli

fix(dash): add allow_duplicate to stored-metadata callback
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

fix(dash): remove all scale/marks callback references
  depictio/dash/modules/interactive_component/callbacks/design.py
Due: ty-check-models-api-dash-cli

fix(dash): use correct field names for interactive metadata
  depictio/dash/modules/interactive_component/callbacks/design.py
  depictio/dash/modules/interactive_component/design_ui.py
Due: ty-check-models-api-dash-cli

debug(dash): add logging to trace interactive metadata flow
  depictio/dash/layouts/stepper.py
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

debug: add comprehensive metadata flow logging for interactive components
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

fix: interactive component filtering on joined DC figures
  depictio/dash/modules/figure_component/callbacks/core.py
  scripts/setup_env.sh
Due: ty-check-models-api-dash-cli

refactor: simplify joined DC filtering and reduce log verbosity
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/interactive_component/utils.py
Due: ty-check-models-api-dash-cli

test: migrate join tests from server to CLI
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_utils.py
  depictio/tests/cli/utils/test_joins.py
Due: ty-check-models-api-dash-cli

Bump version: 0.6.0-b2 → 0.6.0-b3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0-b3
  CHANGELOG.md
Due: none

feat: add Claude Code custom skills for development workflows
  .claude-code/skills/README.md
  .claude-code/skills/bump-version.md
  .claude-code/skills/check-quality.md
  .claude-code/skills/cleanup-branches.md
  .claude-code/skills/create-pr.md
  .claude-code/skills/data-import.md
  .claude-code/skills/db-operations.md
  .claude-code/skills/release-workflow.md
  .claude-code/skills/run-tests.md
  .claude-code/skills/test-e2e.md
  .claude-code/skills/update-docs.md
Due: none

refactor: modularize YAML serialization with MVP format enhancements
  depictio/models/yaml_serialization.py
  depictio/models/yaml_serialization/__init__.py
  depictio/models/yaml_serialization/compact_format.py
  depictio/models/yaml_serialization/export.py
  depictio/models/yaml_serialization/loader.py
  depictio/models/yaml_serialization/mvp_format.py
  depictio/models/yaml_serialization/utils.py
Due: ty-check-models-api-dash-cli

fix: fetch cols_json dynamically for table components in view mode
  depictio/dash/layouts/draggable_scenarios/restore_dashboard.py
Due: ty-check-models-api-dash-cli

feat: enhance YAML watcher and dashboard settings
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/services/lifespan.py
  depictio/api/v1/services/yaml_sync.py
  depictio/api/v1/services/yaml_watcher.py
Due: ty-check-models-api-dash-cli

chore: update Docker configuration for YAML system
  docker-compose.dev.yaml
  docker-compose/.env
  docker-images/run_dash.sh
  docker-images/run_fastapi.sh
Due: none

docs: add MVP YAML system fix documentation
  MVP_YAML_FIX_SUMMARY.md
  TABLE_COMPONENT_FIX.md
Due: none

chore: update dashboard YAML examples
  depictio/dashboards_yaml/Iris_Dashboard_demo_6824cb3b89d2b72169309737.yaml
  depictio/dashboards_yaml/Iris_Dataset_Project_Data_Analysis/Iris_Dashboard_demo_6824cb3b89d2b72169309737.yaml
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
