Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

Bump version: 0.10.0 → 0.10.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.10.1
  CHANGELOG.md
Due: none

feat(deployment): add annotations for config checksum in backend and frontend
  helm-charts/depictio/templates/deployments.yaml
Due: helm-lint

Bump version: 0.10.1 → 0.10.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.10.1 → 0.10.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.10.2
  CHANGELOG.md
Due: none

ci: add manual workflow to add additional OCI tag to Helm chart
  .github/workflows/tag-helm-chart.yaml
Due: none

Bump version: 0.10.2 → 0.10.3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.10.2 → 0.10.3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.10.3
  CHANGELOG.md
Due: none

react(api): add types and exports for selection, realtime, layout helpers
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

react(selection): add chart/table cross-filter helpers
  packages/depictio-react-core/src/plotlyData.ts
  packages/depictio-react-core/src/selection.ts
Due: none

react(realtime): WebSocket-driven dashboard refresh + new-item highlight
  packages/depictio-react-core/src/components/RealtimeIndicator.tsx
  packages/depictio-react-core/src/components/RefetchOverlay.tsx
  packages/depictio-react-core/src/hooks/useInView.ts
  packages/depictio-react-core/src/hooks/useNewItemIds.ts
  packages/depictio-react-core/src/hooks/useRealtimeJournal.ts
  packages/depictio-react-core/src/hooks/useTransientFlag.ts
  packages/depictio-react-core/src/realtime.ts
  packages/depictio-react-core/src/styles/realtime-highlight.css
Due: none

react(viewer): app shell wires realtime, selections, and filter sidebar
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/components/LeftFilterPanel.tsx
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/MultiTabPreview.tsx
  depictio/viewer/src/main.tsx
Due: none

api(dashboards): bulk-compute, image, and figure endpoints for react viewer
  depictio/api/v1/CLAUDE.md
  depictio/api/v1/endpoints/dashboards_endpoints/CLAUDE.md
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
Due: ty-check-models-api-dash-cli

projects(adapt_feedb_ms): yaml + simulation scripts for realtime testing
  depictio/projects/test/adapt_feedb_ms/dashboard.yaml
  depictio/projects/test/adapt_feedb_ms/project.yaml
  depictio/projects/test/adapt_feedb_ms/run_simulation.sh
  depictio/projects/test/adapt_feedb_ms/stream_test.sh
Due: none

dash(modules): figure parameter discovery + multiqc general-stats
  depictio/dash/modules/figure_component/CLAUDE.md
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/definitions.py
  depictio/dash/modules/figure_component/parameter_discovery.py
  depictio/dash/modules/interactive_component/callbacks/CLAUDE.md
  depictio/dash/modules/multiqc_component/callbacks/CLAUDE.md
  depictio/dash/modules/multiqc_component/frontend.py
  depictio/dash/modules/multiqc_component/general_stats.py
  depictio/dash/modules/multiqc_component/utils.py
Due: ty-check-models-api-dash-cli

api(events): WebSocket + SSE endpoints for realtime dashboard refresh
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/services/events/CLAUDE.md
  depictio/api/v1/services/events/connection_manager.py
  depictio/api/v1/services/events/event_service.py
Due: ty-check-models-api-dash-cli

react(layout): InteractiveGroupCard, TopPanel, secondary metrics
  packages/depictio-react-core/src/components/InteractiveGroupCard.tsx
  packages/depictio-react-core/src/components/TopPanel.tsx
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
  packages/depictio-react-core/src/utils/groupInteractive.ts
Due: none

deps: add websockets + enable realtime event flags
  docker-compose/.env
  pyproject.toml
  uv.lock
Due: none

docs: sync claude-mem auto-generated activity logs
  depictio/api/v1/CLAUDE.md
  depictio/api/v1/configs/CLAUDE.md
  depictio/dash/CLAUDE.md
  depictio/dash/modules/figure_component/CLAUDE.md
  depictio/dash/modules/multiqc_component/callbacks/CLAUDE.md
Due: ty-check-models-api-dash-cli

react(multiqc): figure + general-stats refetch on realtime tick
  packages/depictio-react-core/src/components/multiqc/MultiQCFigure.tsx
  packages/depictio-react-core/src/components/multiqc/MultiQCGeneralStats.tsx
Due: none

dash(assets): multiqc icon SVGs + depictio-logo / multiqc-icon CSS
  depictio/dash/assets/CLAUDE.md
  depictio/dash/assets/css/components/depictio-logo.css
  depictio/dash/assets/css/components/multiqc-icon.css
  depictio/dash/assets/images/logos/multiqc_icon_color.svg
  depictio/dash/assets/images/logos/multiqc_icon_dark.svg
  depictio/dash/assets/images/logos/multiqc_icon_white.svg
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
Due: ty-check-models-api-dash-cli

react(renderers): figure/table/image/map selection + realtime refetch
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/ImageRenderer.tsx
  packages/depictio-react-core/src/components/JBrowseRenderer.tsx
  packages/depictio-react-core/src/components/MapRenderer.tsx
  packages/depictio-react-core/src/components/MultiQCRenderer.tsx
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/chrome/ComponentChrome.tsx
Due: none

api(filters): dtype-agnostic is_in + cross-DC link filter resolution
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
  depictio/api/v1/endpoints/links_endpoints/CLAUDE.md
  depictio/api/v1/filter_links.py
Due: ty-check-models-api-dash-cli

models: shared types for image / timeline / row-selection / cross-DC links
  depictio/models/components/constants.py
  depictio/models/components/filter_expr.py
  depictio/models/components/lite.py
  depictio/models/components/types.py
  depictio/models/models/dashboards.py
  depictio/models/validation/dash_mantine.py
Due: ty-check-models-api-dash-cli

react(layout): compact mode for grouped slider/rangeslider/timeline
  depictio/viewer/HANDOFF.md
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/InteractiveGroupCard.tsx
  packages/depictio-react-core/src/components/interactive/RangeSliderRenderer.tsx
  packages/depictio-react-core/src/components/interactive/SliderRenderer.tsx
Due: none

api(core): viewer-static-mount, anon-user gate, and user-by-email lookup
  depictio/api/cache.py
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
Due: ty-check-models-api-dash-cli

react(timeline): honor compact prop for marks visibility
  packages/depictio-react-core/src/components/interactive/TimelineRenderer.tsx
Due: none

react(interactive): renderer updates + Timeline
  packages/depictio-react-core/src/components/interactive/CheckboxSwitchRenderer.tsx
  packages/depictio-react-core/src/components/interactive/DatePickerRenderer.tsx
  packages/depictio-react-core/src/components/interactive/MultiSelectRenderer.tsx
  packages/depictio-react-core/src/components/interactive/RangeSliderRenderer.tsx
  packages/depictio-react-core/src/components/interactive/SegmentedControlRenderer.tsx
  packages/depictio-react-core/src/components/interactive/SliderRenderer.tsx
  packages/depictio-react-core/src/components/interactive/TimelineRenderer.tsx
Due: none

dash: layout cleanups and utils.py slim-down
  depictio/dash/CLAUDE.md
  depictio/dash/layouts/CLAUDE.md
  depictio/dash/layouts/project_data_collections.py
  depictio/dash/layouts/projects.py
  depictio/dash/layouts/stepper_parts/part_one.py
  depictio/dash/layouts/stepper_parts/part_two.py
  depictio/dash/pages/CLAUDE.md
  depictio/dash/utils.py
Due: ty-check-models-api-dash-cli

react(viewer): demo mode banner, upgrade flow, and guided tour
  depictio/viewer/public/logos/scilifelab_logo.png
  depictio/viewer/src/components/DemoModeBanner.tsx
  depictio/viewer/src/components/UpgradeToTemporaryButton.tsx
  depictio/viewer/src/demo/DemoTour.tsx
Due: none

viewer: permissions modal + role exclusivity, fix dev compose mount
  depictio/viewer/src/projects/detail/PermissionsApp.tsx
  docker-compose.dev.yaml
Due: none

viewer: settings drawer rewrite, edit-mode borders, multi-tab nav
  depictio/api/v1/celery_tasks.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/viewer/src/builder/multiqc/MultiQCBuilder.tsx
  depictio/viewer/src/builder/multiqc/MultiQCPreview.tsx
  depictio/viewer/src/builder/steps/StepData.tsx
  depictio/viewer/src/builder/table/TablePreview.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/components/LeftFilterPanel.tsx
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/MultiTabPreview.tsx
  depictio/viewer/src/styles/app.css
  packages/depictio-react-core/src/components/TableRenderer.tsx
  packages/depictio-react-core/src/components/interactive/CheckboxSwitchRenderer.tsx
  packages/depictio-react-core/src/components/interactive/DatePickerRenderer.tsx
  packages/depictio-react-core/src/components/interactive/SegmentedControlRenderer.tsx
  packages/depictio-react-core/src/components/interactive/SliderRenderer.tsx
Due: ty-check-models-api-dash-cli

docker: split Node.js into dev-viewer stage to unblock CI
  docker-compose.dev.yaml
  docker-images/Dockerfile_depictio_uv.dockerfile
Due: none

viewer(events): make realtime opt-in, fix standalone-mongo retry loop
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/services/events/mongodb_watcher.py
  docker-compose.dev.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

ci(helm): bump minikube to 6G/4 CPU for inter-service test headroom
  .github/workflows/test-and-package-helm-chart.yaml
Due: none

viewer: unify per-mode button gating, drop anonymous public flow, fix resize handles
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/dash/api_calls.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/auth_modal.py
  depictio/dash/layouts/dashboards_management.py
  depictio/dash/layouts/edit_page.py
  depictio/dash/layouts/profile.py
  depictio/dash/layouts/stepper_page.py
  depictio/dash/layouts/tokens_management.py
  depictio/dash/layouts/upgrade_modal.py
  depictio/dash/layouts/users_management.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
  depictio/tests/dash/test_api_calls.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/auth/AuthApp.tsx
  depictio/viewer/src/auth/components/PublicModeOptions.tsx
  depictio/viewer/src/cli-agents/DisplayTokenModal.tsx
  depictio/viewer/src/components/UpgradeToTemporaryButton.tsx
  depictio/viewer/src/main.tsx
  depictio/viewer/src/profile/ProfileApp.tsx
  depictio/viewer/src/profile/UpgradeToTemporaryModal.tsx
  depictio/viewer/src/projects/ProjectsApp.tsx
  depictio/viewer/src/projects/ProjectsList.tsx
  depictio/viewer/src/styles/app.css
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/chrome/chrome.css
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

viewer: gate write actions in public/demo mode (UI + API)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/layouts_toolbox.py
  depictio/viewer/src/chrome/AppSidebar.tsx
  depictio/viewer/src/chrome/AuthModeBadge.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/chrome/index.ts
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/dashboards/DashboardsApp.tsx
  depictio/viewer/src/hooks/useCurrentUser.ts
  depictio/viewer/src/projects/ProjectsApp.tsx
  depictio/viewer/src/projects/ProjectsList.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
