Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

Update CHANGELOG.md for v0.6.0-b16
  CHANGELOG.md
Due: none

fix: correct corrupted appVersion in Chart.yaml
  helm-charts/depictio/Chart.yaml
Due: helm-lint

Update CHANGELOG.md for v0.6.0-b17
  CHANGELOG.md
Due: none

fix: sync all version files to 0.6.0-b17
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

fix: allow explicit DEPICTIO_FASTAPI_PUBLIC_URL override in configmaps
  helm-charts/depictio/templates/configmaps.yaml
Due: helm-lint

Update CHANGELOG.md for v0.6.0-b18
  CHANGELOG.md
Due: none

fix: sync Chart.yaml appVersion to 0.6.0-b17
  helm-charts/depictio/Chart.yaml
Due: helm-lint

Bump version: 0.6.0-b17 → 0.6.0-b18
  .bumpversion.cfg
  VERSION
  bump-with-helm.sh
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

fix: critical bugs in figure customization system
  depictio/dash/modules/figure_component/callbacks/edit.py
  depictio/dash/modules/figure_component/callbacks/ui.py
  depictio/dash/modules/figure_component/utils.py
  docker-compose.dev.yaml
Due: ty-check-models-api-dash-cli

feat: complete interactive figure customization system implementation
  depictio/dash/celery_lock.py
  depictio/dash/modules/figure_component/callbacks/__init__.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/render.py
  depictio/dash/modules/figure_component/component_builder.py
  depictio/dash/modules/figure_component/customizations/processor.py
  depictio/dash/modules/figure_component/models.py
  depictio/models/yaml_serialization/compact_format.py
  pixi.lock
  uv.lock
Due: ty-check-models-api-dash-cli

feat: add interactive figure customization controls in view mode
  depictio/dash/layouts/edit.py
  depictio/dash/layouts/stepper_page.py
  depictio/dash/modules/figure_component/callbacks/ui.py
  depictio/dash/modules/figure_component/callbacks/view_controls.py
  depictio/dash/modules/figure_component/component_builder.py
  depictio/dash/modules/figure_component/utils.py
Due: ty-check-models-api-dash-cli

docs: update hackathon guide with schedule and multi-viewer approach
  docs/hackathon/IMAGE_VIEWER_HACKATHON_GUIDE.md
Due: none

feat: add static/dynamic highlight types and fix multi-app callback registration
  depictio/dash/assets/css/components/draggable-grid.css
  depictio/dash/celery_lock.py
  depictio/dash/layouts/edit.py
  depictio/dash/modules/figure_component/callbacks/__init__.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/callbacks/ui.py
  depictio/dash/modules/figure_component/callbacks/view_controls.py
  depictio/dash/modules/figure_component/component_builder.py
  depictio/dash/modules/figure_component/customizations/models.py
  depictio/dash/modules/figure_component/customizations/presets.py
  depictio/dash/modules/figure_component/customizations/processor.py
  depictio/dash/modules/figure_component/utils.py
Due: ty-check-models-api-dash-cli

Bump version: 0.6.0-b18 → 0.6.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0
  CHANGELOG.md
Due: none

fix: enable automatic deployment for both beta and stable tags
  .github/workflows/deploy-embl-selfhosted.yaml
Due: none

feat: improve workflow_dispatch UX with tag validation and listing
  .github/workflows/deploy-embl-selfhosted.yaml
Due: none

fix: correct kubectl label selectors to match Helm chart labels
  .github/workflows/deploy-embl-selfhosted.yaml
Due: none

fix: add DEPICTIO_CELERY_ENABLED to frontend and backend ConfigMaps
  helm-charts/depictio/templates/configmaps.yaml
Due: helm-lint

fix: correct service port binding and avatar profile navigation
  depictio/api/run.py
  depictio/dash/app.py
  depictio/dash/celery_lock.py
  depictio/dash/flask_dispatcher.py
  depictio/dash/layouts/sidebar.py
Due: ty-check-models-api-dash-cli

fix: make "Back to Dashboards" link theme-compatible
  depictio/dash/layouts/sidebar.py
Due: ty-check-models-api-dash-cli

fix: remove premature validation error on auth modal landing
  depictio/dash/layouts/users_management.py
Due: ty-check-models-api-dash-cli

fix: enable triangle animations on /auth page by adding animation-fill-mode
  depictio/dash/assets/css/components/auth.css
Due: ty-check-models-api-dash-cli

feat: enhance dashboards management page with new categories and improved UX
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

fix: correct example dashboard precedence and restore share icon
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

feat: add tab count badge and screenshot carousel tooltip
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

fix: improve tab count badge logic and add debug logging
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

fix: prevent duplicated dashboards from staying in examples
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

feat: add dashboard counts to section headers and expand all non-empty sections
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

fix: restore triangle animations on /auth page with reduced-motion enabled
  depictio/dash/assets/css/utilities/accessibility.css
Due: ty-check-models-api-dash-cli

fix: reduce badge spacing from 10px to 4px for tighter layout
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

feat: replace tab badge tooltip with thumbnail carousel for multi-tab dashboards
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

fix: correct localStorage theme serialization and navigation flow for dual screenshots
  depictio/api/v1/endpoints/utils_endpoints/routes.py
Due: ty-check-models-api-dash-cli

fix: hide debug menu in screenshots and swap thumbnails based on theme on page load
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

fix: use dashboard_id instead of _id for screenshot filename lookups
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

feat: add zoom preview to multi-tab dashboard carousel with HoverCard
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

feat: add tab name labels to HoverCard carousel preview
  depictio/dash/layouts/dashboards_management.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
