Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

feat(viralrecon): variant/coverage canonical recipes + dashboard restructure
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
  depictio/projects/nf-core/viralrecon/recipes/complex_heatmap_canonical.py
  depictio/projects/nf-core/viralrecon/recipes/coverage_track_canonical.py
  depictio/projects/nf-core/viralrecon/recipes/lollipop_canonical.py
  depictio/projects/nf-core/viralrecon/recipes/manhattan_variants_canonical.py
  depictio/projects/nf-core/viralrecon/recipes/oncoplot_canonical.py
  depictio/projects/nf-core/viralrecon/recipes/sankey_canonical.py
  depictio/projects/nf-core/viralrecon/recipes/upset_canonical.py
  depictio/projects/nf-core/viralrecon/recipes/variant_feature_matrix_canonical.py
Due: none

feat(builder): viz suggestions in project detail + card builder + DC pre-filter
  depictio/viewer/src/builder/advanced_viz/AdvancedVizBuilder.tsx
  depictio/viewer/src/builder/card/CardBuilder.tsx
  depictio/viewer/src/builder/card/CardPreview.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/components/interactive/DatePickerRenderer.tsx
  packages/depictio-react-core/src/index.ts
Due: none

chore(deps): bump viewer deps (mantine tiptap 7.17 + tiptap 2.27)
  depictio/viewer/package.json
  pnpm-lock.yaml
Due: none

chore(dev): /import-template + /reseed slash commands, reseed script, fixtures docs
  .claude/commands/import-template.md
  .claude/commands/reseed.md
  .gitignore
  depictio/dev_scripts/__init__.py
  depictio/dev_scripts/reseed_project.py
  dev/advanced_viz_docs_screenshots/FIXTURES.md
  dev/advanced_viz_docs_screenshots/extract_nfcore_fixtures.py
Due: none

feat(dev): nfcore-megatests showcase init project (advanced-viz testbed)
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_complex_heatmap.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_coverage_track.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_da_barplot.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_embedding.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_ma.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_qq.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_rarefaction.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_stacked_taxonomy.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_sunburst.json
  depictio/projects/init/nfcore_megatests_showcase/.db_seeds/dashboard_volcano.json
  depictio/projects/init/nfcore_megatests_showcase/project.yaml
  depictio/projects/init/nfcore_megatests_showcase/scripts/generate_seeds.py
  depictio/projects/init/nfcore_megatests_showcase/scripts/preprocess_fixtures.py
  depictio/projects/init/nfcore_megatests_showcase/scripts/upload.sh
Due: none

chore(screenshots): regenerate dashboard screenshots + auto-gen CLAUDE.md update
  depictio/dash/CLAUDE.md
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
Due: ty-check-models-api-dash-cli

chore(showcase): explicit layouts on iris/penguins YAML + regen script
  depictio/dev_scripts/generate_iris_penguins_seeds.py
  depictio/projects/init/iris/.db_seeds/dashboard.json
  depictio/projects/init/iris/dashboards/overview.yaml
  depictio/projects/init/iris/dashboards/petal_analysis.yaml
  depictio/projects/init/penguins/.db_seeds/dashboard.json
  depictio/projects/init/penguins/dashboards/species_analysis.yaml
Due: none

chore(showcase): iris/penguins dashboard polish
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
  depictio/projects/init/iris/.db_seeds/dashboard.json
  depictio/projects/init/iris/dashboards/overview.yaml
  depictio/projects/init/iris/dashboards/petal_analysis.yaml
  depictio/projects/init/penguins/.db_seeds/dashboard.json
  depictio/projects/init/penguins/dashboards/species_analysis.yaml
Due: ty-check-models-api-dash-cli

feat(viewer): move Reset to filters panel header
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/components/LeftFilterPanel.tsx
Due: none

fix(ampliseq): propagate cross-DC filters to figures/tables/advanced viz
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_ordination.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_phylogeny.json
  depictio/projects/nf-core/ampliseq/2.16.0/sankey_canonical.tsv
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/ampliseq/recipes/sankey_canonical.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
Due: ty-check-models-api-dash-cli

chore: ignore node_modules, .vscode/, generated cli configs
  .gitignore
Due: none

refactor(viewer,api): apply reviewer + simplifier feedback from PR review
  depictio/api/v1/celery_tasks.py
  depictio/projects/nf-core/ampliseq/recipes/sankey_canonical.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selection.ts
Due: ty-check-models-api-dash-cli

chore: ruff format drift + remove unused var
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/projects/init/nfcore_megatests_showcase/scripts/preprocess_fixtures.py
  depictio/projects/nf-core/ampliseq/2.16.0/generate_canonical_seeds.py
  depictio/projects/nf-core/ampliseq/recipes/sunburst_canonical.py
Due: ty-check-models-api-dash-cli

test(deltatables): mock collect_schema for filter-applied path
  depictio/tests/api/v1/test_deltatables_utils.py
Due: ty-check-models-api-dash-cli

fix(ci): align iris dashboard title with seed after polish commit
  .github/workflows/depictio-ci.yaml
  depictio/tests/e2e-tests/cypress/e2e/auth/public/dashboard-access-restrictions.cy.js
Due: ty-check-models-api-dash-cli

ci(ampliseq): download phylogenetic tree + taxonomy + ASV table
  .github/workflows/depictio-ci.yaml
Due: none

Bump version: 0.12.2 → 0.13.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.12.2 → 0.13.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.0
  CHANGELOG.md
Due: none

fix(walkthrough): gate on /auth, DEPICTIO_DEV_MODE, and screenshots
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/screenshot_helpers.py
  depictio/api/v1/services/screenshot_service.py
  depictio/viewer/src/hooks/useCurrentUser.ts
  depictio/viewer/src/walkthrough/SpotlightBackdrop.tsx
  depictio/viewer/src/walkthrough/Walkthrough.tsx
  depictio/viewer/src/walkthrough/WalkthroughHost.tsx
Due: ty-check-models-api-dash-cli

feat(walkthrough): add DEPICTIO_WALKTHROUGH_DISABLED kill switch
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/viewer/src/hooks/useCurrentUser.ts
  depictio/viewer/src/walkthrough/WalkthroughHost.tsx
Due: ty-check-models-api-dash-cli

feat(viewer): regroup /dashboards-beta into nf-core + demo sections
  depictio/viewer/src/dashboards/DashboardsList.tsx
  depictio/viewer/src/dashboards/hooks/useDashboardFilters.ts
  depictio/viewer/src/dashboards/lib/splitDefaultSections.ts
Due: none

refactor(admin-beta): replace project badge cluster with bullet list
  depictio/viewer/src/admin/AdminProjectsPanel.tsx
Due: none

feat(viewer): make dashboard cards and sidebar tabs proper anchor links
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/MultiTabPreview.tsx
  depictio/viewer/src/dashboards/lib/dashboardLinks.ts
Due: none

refactor(advanced-viz): drop overview tab, rename to Advanced Visualisations
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_overview.json
  depictio/projects/init/advanced_viz_showcase/.db_seeds/dashboard_volcano.json
  depictio/projects/init/advanced_viz_showcase/project.yaml
  dev/advanced_viz_docs_screenshots/capture_react_screenshots.py
Due: ty-check-models-api-dash-cli

feat(api): add DEPICTIO_DISABLE_EXAMPLE_DASHBOARDS env var to gate seeding
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db_init.py
Due: ty-check-models-api-dash-cli

feat(viralrecon): register nf-core/viralrecon 3.0.0 as seeded reference dataset
  depictio/api/v1/db_init.py
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/.gitkeep
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_lineage_clustering.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_sample_qc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_variants.json
  depictio/projects/nf-core/viralrecon/3.0.0/generate_seeds.sh
Due: ty-check-models-api-dash-cli

chore(screenshots): refresh seed dashboard thumbnails + add viralrecon
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309737_light.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_dark.png
  depictio/dash/static/screenshots/6824cb3b89d2b72169309738_light.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9ca2_dark.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9ca2_light.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cb3_dark.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cb3_light.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cb4_dark.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cb4_light.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cb5_dark.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cb5_light.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cc2_dark.png
  depictio/dash/static/screenshots/746b0f3c1e4a2d7f8e5b9cc2_light.png
Due: ty-check-models-api-dash-cli

feat(advanced-viz): producer fingerprints for nf-core column shapes
  depictio/models/components/advanced_viz/producers.py
  depictio/tests/models/test_advanced_viz_suggestions.py
Due: ty-check-models-api-dash-cli

fix(multiqc): wire cross-DC filter resolution from metadata DC
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/projects/nf-core/ampliseq/2.14.0/template.yaml
Due: ty-check-models-api-dash-cli

fix(viewer): date picker range selection + interactive reset state
  packages/depictio-react-core/src/availableValues.tsx
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/interactive/DatePickerRenderer.tsx
Due: none

feat(admin-beta): list all seed dashboards under each project
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/viewer/src/admin/AdminProjectsPanel.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

feat(admin-beta): include all seed projects in maintenance cleanup
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/viewer/src/admin/AdminMaintenancePanel.tsx
Due: ty-check-models-api-dash-cli

fix(ampliseq): wire alpha-diversity habitat filter to rarefaction viz
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
Due: ty-check-models-api-dash-cli

chore(screenshots): refresh ampliseq tab thumbnails
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8ca2_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb3_light.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_dark.png
  depictio/dash/static/screenshots/646b0f3c1e4a2d7f8e5b8cb4_light.png
Due: ty-check-models-api-dash-cli

style: ruff format db_init_reference_datasets
  depictio/api/v1/db_init_reference_datasets.py
Due: ty-check-models-api-dash-cli

feat(auth): hand off session across Dash → React beta origin boundary
  depictio/dash/layouts/sidebar.py
  depictio/viewer/src/main.tsx
Due: ty-check-models-api-dash-cli

feat(viewer): surface template-origin chip on /dashboards-beta + settings drawer
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/DashboardsList.tsx
  depictio/viewer/src/dashboards/lib/splitDefaultSections.ts
  depictio/viewer/src/dashboards/views/DashboardThumbnailView.tsx
  depictio/viewer/src/projects/template.tsx
Due: none

fix(screenshot): honour configured capture timeout on element / page screenshot
  depictio/api/v1/services/screenshot_service.py
Due: ty-check-models-api-dash-cli

fix(dashboards): duplicate child tabs alongside the main tab
  packages/depictio-react-core/src/api.ts
Due: none
