Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

refactor(save): remove 700+ lines of commented backup code
  depictio/dash/layouts/save.py
Due: ty-check-models-api-dash-cli

perf(save): move screenshot generation to background Celery task
  depictio/dash/celery_app.py
  depictio/dash/layouts/save.py
Due: ty-check-models-api-dash-cli

fix(ci): add tag push trigger to update-api-docs workflow
  .github/workflows/update-api-docs.yaml
Due: none

feat(dash): add fullscreen mode for figure components
  depictio/dash/assets/css/components/figure-fullscreen.css
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/fullscreen.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/pages/dashboard_viewer.py
Due: ty-check-models-api-dash-cli

feat(dash): add dashboard HTML export functionality
  depictio/dash/layouts/dashboard_export.py
  depictio/dash/layouts/header.py
  depictio/dash/pages/dashboard_editor.py
  depictio/dash/pages/dashboard_viewer.py
Due: ty-check-models-api-dash-cli

fix(dash): export actual rendered figures instead of metadata placeholders
  depictio/dash/layouts/dashboard_export.py
Due: ty-check-models-api-dash-cli

fix(dash): capture all rendered components and respect filter state
  depictio/dash/layouts/dashboard_export.py
Due: ty-check-models-api-dash-cli

feat(dash): add full card styling and enhanced export logging
  depictio/dash/layouts/dashboard_export.py
Due: ty-check-models-api-dash-cli

fix(dash): correct card styling to match Dash component appearance
  depictio/dash/layouts/dashboard_export.py
Due: ty-check-models-api-dash-cli

refactor: move API docs workflow to depictio-docs repo
  .github/workflows/notify-docs.yaml
  .github/workflows/update-api-docs.yaml
Due: none

feat(dash): integrate fullscreen button into ActionIconGroup
  depictio/dash/assets/css/components/figure-fullscreen.css
  depictio/dash/layouts/edit.py
  depictio/dash/modules/figure_component/utils.py
  depictio/dash/modules/fullscreen.py
  uv.lock
Due: ty-check-models-api-dash-cli

Bump version: 0.6.0-b6 → 0.6.0-b7
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0-b7
  CHANGELOG.md
Due: none

fix: notify docs after Docker build completes
  .github/workflows/amd64-build.yaml
  .github/workflows/notify-docs.yaml
Due: none

Bump version: 0.6.0-b7 → 0.6.0-b8
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0-b8
  CHANGELOG.md
Due: none

feat: add EMBL self-hosted deployment workflow
  .github/workflows/deploy-embl-selfhosted.yaml
  depictio/dash/celery_lock.py
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
  pixi.lock
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.6.0-b8 → 0.6.0-b9
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0-b9
  CHANGELOG.md
Due: none

fix: use absolute path for secrets file on self-hosted runner
  .github/workflows/deploy-embl-selfhosted.yaml
Due: none

Bump version: 0.6.0-b9 → 0.6.0-b10
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0-b10
  CHANGELOG.md
Due: none

feat: wait for Docker build and add post-deploy CLI registration
  .github/workflows/deploy-embl-selfhosted.yaml
Due: none

chore: update all Docker builds to use uv-based Dockerfile
  .github/workflows/amd64-build.yaml
  .github/workflows/minimal-deploy.yaml
  .github/workflows/multi-arch-build.yaml
Due: none

Bump version: 0.6.0-b10 → 0.6.0-b11
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0-b11
  CHANGELOG.md
Due: none

fix: disable YAML watcher for Kubernetes deployments
  helm-charts/depictio/values-embl-unauth.yaml
Due: helm-lint

Bump version: 0.6.0-b11 → 0.6.0-b12
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0-b12
  CHANGELOG.md
Due: none

fix: add YAML watcher env vars to Helm ConfigMap
  helm-charts/depictio/templates/configmaps.yaml
Due: helm-lint

Bump version: 0.6.0-b12 → 0.6.0-b13
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

fix: disable YAML auto-export for K8s deployments
  helm-charts/depictio/templates/configmaps.yaml
Due: helm-lint

Bump version: 0.6.0-b13 → 0.6.0-b14
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

fix: init containers wait for private_key.pem instead of api_internal_key.pem
  helm-charts/depictio/templates/deployments.yaml
Due: helm-lint

fix: generate api_internal_key.pem during backend startup
  depictio/api/v1/configs/config.py
  helm-charts/depictio/templates/deployments.yaml
Due: ty-check-models-api-dash-cli, helm-lint

fix: add explicit API URL and reduce replicas for EMBL dev
  helm-charts/depictio/values-embl-unauth.yaml
Due: helm-lint

Bump version: 0.6.0-b14 → 0.6.0-b15
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0-b15
  CHANGELOG.md
Due: none

fix: correct corrupted version strings across all files
  VERSION
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: helm-lint

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
