Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix(security): apply the SSRF gateway on the read path, not only at the API boundary
  depictio/api/v1/remote_fetch.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/unit/test_remote_fetch.py
Due: ty-check-models-api-dash-cli

fix(viewer): brand accents, disable instead of hide, readable error details; spec guard; docs
  depictio/dev_scripts/demo_manifest/README.md
  depictio/tests/e2e-playwright/tests/projects/create-from-manifest.spec.ts
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/detail/ExportTemplateModal.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  depictio/viewer/src/projects/detail/StoragePanel.tsx
  docs/design/rfc-remote-data-manifests.md
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

test(e2e): give the cold editor and the Describe remount more time
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  depictio/viewer/src/builder/steps/StepDescribe.tsx
Due: ty-check-models-api-dash-cli

refactor(remote): one client shape for the CLI read path, fail-closed context check
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/remote_fetch.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/unit/test_remote_fetch.py
  depictio/viewer/src/projects/detail/StoragePanel.tsx
Due: ty-check-models-api-dash-cli

fix(e2e): stop the SPA refresh from revoking the token specs call the API with
  depictio/tests/e2e-playwright/fixtures/auth.ts
  depictio/tests/e2e-playwright/tests/ui/brand-theme.spec.ts
Due: ty-check-models-api-dash-cli

feat(viewer): manifest refresh panel and post-create review modal
  depictio/tests/e2e-playwright/tests/projects/refresh-manifest.spec.ts
  depictio/viewer/src/projects/CreateProjectModal.tsx
  depictio/viewer/src/projects/ProjectsApp.tsx
  depictio/viewer/src/projects/detail/ManifestRefreshPanel.tsx
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

test(remote-data): cover template export, scan wrappers, create_from_url and the reference template; run the manifest e2e in CI
  .github/workflows/depictio-ci.yaml
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_create_from_url.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_export_template.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_manifest_tables_template.py
  depictio/tests/api/v1/monitoring/__init__.py
  depictio/tests/api/v1/monitoring/test_store.py
  depictio/tests/cli/commands/test_template_export.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/cli/utils/test_s3_prefix_scan.py
  depictio/tests/e2e-playwright/tests/projects/export-template.spec.ts
  depictio/tests/e2e-playwright/tests/projects/storage-panel.spec.ts
  docker-compose/docker-compose.e2e-manifest.yaml
Due: ty-check-models-api-dash-cli

feat(ai): plan normalisation, deterministic layout and schema checks
  depictio/api/v1/endpoints/ai_endpoints/dashboard_layout.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_plan.py
  depictio/api/v1/endpoints/ai_endpoints/dashboard_validate.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_layout.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_plan.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_dashboard_validate.py
Due: ty-check-models-api-dash-cli

refactor(dashboards): extract the import persistence tail; ai_generation draft flag
  depictio/api/v1/endpoints/catalog_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/core_functions.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_import_persist.py
  depictio/tests/api/v1/test_catalog_compose_offers.py
  depictio/tests/models/test_dashboard_ai_generation.py
Due: ty-check-models-api-dash-cli

feat(viewer): Generate with AI tab, progress panel and draft banner
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/DashboardInfoBody.tsx
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/DashboardsApp.tsx
  depictio/viewer/src/hooks/useServerStatus.ts
  packages/depictio-react-ai/src/api.ts
  packages/depictio-react-ai/src/components/AIDraftBanner.tsx
  packages/depictio-react-ai/src/components/GenerateDashboardPanel.tsx
  packages/depictio-react-ai/src/hooks.ts
  packages/depictio-react-ai/src/index.ts
  packages/depictio-react-ai/src/types.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(ai): generate-dashboard route streams a plan, its components and a draft
  depictio/api/v1/endpoints/ai_endpoints/dashboard_gen.py
  depictio/api/v1/endpoints/ai_endpoints/routes.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_routes_generate.py
Due: ty-check-models-api-dash-cli

test(e2e): drive a mocked generation run and the draft banner; docs(ai): generation
  depictio/tests/e2e-playwright/tests/ui/ai-assistant.spec.ts
  docs/ai-assistant.md
Due: ty-check-models-api-dash-cli

feat(ai): generation settings, plan prompt, project data context, run records
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/ai_endpoints/context.py
  depictio/api/v1/endpoints/ai_endpoints/generations.py
  depictio/api/v1/endpoints/ai_endpoints/prompts.py
  depictio/api/v1/endpoints/ai_endpoints/schemas.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_ai_config.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_context.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_generations.py
  depictio/tests/api/v1/endpoints/ai_endpoints/test_prompts.py
  helm-charts/depictio/README.md
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/secrets.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

fix(ai): let an explicit section name lead its funnel stage
  depictio/api/v1/endpoints/ai_endpoints/dashboard_plan.py
Due: ty-check-models-api-dash-cli

fix(compose): pass the dashboard generation flag to the dev backend
  docker-compose.dev.yaml
Due: none

fix(ci): create the destination dir before fetching ampliseq test data
  .github/workflows/depictio-ci.yaml
Due: none

fix(ampliseq): read taxonomic ranks from the lineage tail, pin 2.18.0 at level 3
  .github/workflows/depictio-ci.yaml
  .pre-commit-config.yaml
  depictio/catalog/qiime2/ancombc.py
  depictio/catalog/qiime2/stacked_taxonomy_canonical.py
  depictio/catalog/qiime2/taxonomy_composition.py
  depictio/dev_scripts/canonical_seed_freshness.py
  depictio/projects/nf-core/ampliseq/2.18.0/ancombc_results.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/bray_curtis_canonical.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/complex_heatmap_canonical.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/download_test_data.sh
  depictio/projects/nf-core/ampliseq/2.18.0/embedding_pcoa.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/generate_canonical_seeds.py
  depictio/projects/nf-core/ampliseq/2.18.0/ma_canonical.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/sankey_canonical.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/stacked_taxonomy_canonical.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/sunburst_canonical.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/taxonomy_composition.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/taxonomy_heatmap.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/taxonomy_rel_abundance.tsv
  depictio/projects/nf-core/ampliseq/2.18.0/template.yaml
  depictio/projects/nf-core/ampliseq/2.18.0/upset_canonical.tsv
  depictio/projects/nf-core/ampliseq/recipes/sankey_canonical.py
  depictio/projects/nf-core/ampliseq/recipes/sunburst_canonical.py
  depictio/projects/nf-core/ampliseq/recipes/taxonomy_rel_abundance.py
  depictio/recipes/lib/lineage.py
  depictio/tests/recipes/test_lineage_ranks.py
Due: ty-check-models-api-dash-cli

fix(e2e): stop the auth fixture from undoing a deliberate logout
  depictio/tests/e2e-playwright/fixtures/auth.ts
Due: ty-check-models-api-dash-cli

feat(catalog): MultiQC benchmark modules and conformance fixtures
  depictio/catalog/happy/roc.yaml
  depictio/catalog/happy/summary.yaml
  depictio/catalog/multiqc/happy.yaml
  depictio/catalog/multiqc/sompy.yaml
  depictio/catalog/multiqc/truvari.yaml
  depictio/catalog/output.schema.json
  depictio/catalog/rtgtools/vcfeval_summary.yaml
  depictio/catalog/sompy/regions.py
  depictio/catalog/sompy/regions.yaml
  depictio/catalog/sompy/summary.py
  depictio/catalog/sompy/summary.yaml
  depictio/catalog/svanalyzer/svbenchmark.yaml
  depictio/catalog/truvari/summary.yaml
  depictio/catalog/wittyer/summary.yaml
  depictio/projects/init/catalog_conformance/happy_roc.tsv
  depictio/projects/init/catalog_conformance/happy_summary.tsv
  depictio/projects/init/catalog_conformance/manifest.json
  depictio/projects/init/catalog_conformance/rtgtools_vcfeval_summary.tsv
  depictio/projects/init/catalog_conformance/run_1/multiqc/multiqc_data/multiqc.parquet
  depictio/projects/init/catalog_conformance/scripts/multiqc_stubs.py
  depictio/projects/init/catalog_conformance/sompy_regions.tsv
  depictio/projects/init/catalog_conformance/sompy_summary.tsv
  depictio/projects/init/catalog_conformance/static_ids.json
  depictio/projects/init/catalog_conformance/svanalyzer_svbenchmark.tsv
  depictio/projects/init/catalog_conformance/template.yaml
  depictio/projects/init/catalog_conformance/truvari_summary.tsv
  depictio/projects/init/catalog_conformance/wittyer_summary.tsv
Due: none

feat(advanced-viz): send viz kind and column roles to the data endpoint
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/advanced_viz/ConfusionMatrixRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/MetricCiBarsRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/PrBenchmarkRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/RocPrCurveRenderer.tsx
Due: none

feat(templates): rework the variantbenchmarking dashboards as a benchmark funnel
  depictio/projects/init/advanced_viz_showcase/dashboards/benchmark_roc.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/indel/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/small/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/categories/structural/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/dashboards/base.yaml
  depictio/projects/nf-core/variantbenchmarking/1.4.0/docs/dashboards.md
Due: none

chore(tool-studio): refresh the generated kind and catalog snapshots
  packages/tool-studio/public/catalog.json
  packages/tool-studio/public/catalog.schema.json
  packages/tool-studio/public/kinds.json
Due: none

fix(advanced-viz): add benchmarking kinds to the sampling policy table
  depictio/models/components/advanced_viz/sampling.py
Due: ty-check-models-api-dash-cli

fix(catalog): give the MultiQC benchmark modules a preview fixture
  depictio/catalog/multiqc/happy.yaml
  depictio/catalog/multiqc/sompy.yaml
  depictio/catalog/multiqc/truvari.yaml
  packages/tool-studio/public/catalog.json
Due: none

feat(notebook-export): make the exported document readable on its own
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/embed/extract.py
  depictio/api/v1/services/icons.py
  depictio/api/v1/services/notebook_export/generator.py
  depictio/api/v1/services/notebook_export/provenance.py
  depictio/api/v1/services/notebook_export/quarto.py
  depictio/api/v1/services/notebook_export/reading_order.py
  depictio/notebook/__init__.py
  depictio/notebook/components.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_embed.py
  depictio/tests/unit/notebook_export/test_generator.py
  depictio/tests/unit/notebook_export/test_ipynb_quarto.py
  depictio/tests/unit/notebook_export/test_reading_order.py
  depictio/tests/unit/test_icons.py
Due: ty-check-models-api-dash-cli

fix(notebook): retry a poll once before failing the whole render
  depictio/notebook/client.py
  depictio/tests/unit/notebook/test_client.py
Due: ty-check-models-api-dash-cli

feat(notebook-export): render the Quarto report server-side, behind a flag
  depictio/api/celery_app.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/notebook_export.py
  depictio/api/v1/services/notebook_export/render.py
  depictio/api/v1/services/notebook_export/store.py
  depictio/models/models/analysis_state.py
  depictio/tests/api/v1/endpoints/dashboards_endpoints/test_notebook_export.py
  depictio/tests/unit/notebook_export/test_render.py
  depictio/viewer/src/chrome/NotebookExportModal.tsx
  docker-compose.dev.yaml
  docker-images/Dockerfile.worker
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

docs(notebook-export): the rendered report in the RFC, and two schemas
  dev/diagrams/notebook_export_schemas.py
  docs/design/rfc-notebook-export.md
  docs/images/v0.12/react/schema_notebook_export.png
  docs/images/v0.12/react/schema_notebook_export.svg
  docs/images/v0.12/react/schema_notebook_report_render.png
  docs/images/v0.12/react/schema_notebook_report_render.svg
Due: none

feat(cli): auth from the environment, and attach a run to an existing project
  depictio/cli/cli/commands/config.py
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/api_calls.py
  depictio/cli/cli/utils/common.py
  depictio/cli/cli/utils/scan.py
  depictio/tests/cli/commands/test_attach_run.py
  depictio/tests/cli/commands/test_config.py
  depictio/tests/cli/commands/test_run.py
  depictio/tests/cli/utils/test_common.py
  depictio/tests/cli/utils/test_scan_missing_runs.py
Due: ty-check-models-api-dash-cli

test(cli): lock the flag combination --attach-run stands on
  depictio/tests/cli/commands/test_run_attach_flow.py
Due: ty-check-models-api-dash-cli

test(cli): stop two tests depending on the developer's own CLI config
  depictio/tests/cli/commands/test_backup.py
  depictio/tests/cli/utils/test_common.py
Due: ty-check-models-api-dash-cli

feat(models,cli): recognise which pipeline produced a run directory
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/templates.py
  depictio/models/models/nextflow.py
  depictio/models/models/run_info.py
  depictio/models/models/snakemake.py
  depictio/models/models/workflows.py
  depictio/tests/cli/commands/test_run_attach_flow.py
  depictio/tests/cli/utils/test_template_detection.py
  depictio/tests/models/test_nextflow_run_info.py
  depictio/tests/models/test_run_info_dispatch.py
  depictio/tests/models/test_snakemake_run_info.py
Due: ty-check-models-api-dash-cli

feat(cli): trigger ingestion when a Nextflow pipeline completes
  depictio/cli/README.md
  depictio/cli/configs/nextflow/depictio.config
  depictio/cli/configs/nextflow/example/README.md
  depictio/cli/configs/nextflow/example/depictio_project.yaml
  depictio/cli/configs/nextflow/example/main.nf
  depictio/cli/configs/nextflow/example/nextflow.config
  docs/nextflow-trigger.md
Due: ty-check-models-api-dash-cli

fix(projects): stop a CLI save from deleting what the browser added
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/cli/cli/utils/config.py
  depictio/models/project_merge.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_project_update_preserves_workflows.py
  depictio/tests/cli/utils/test_config_merge_ids.py
  depictio/tests/models/test_project_merge.py
Due: ty-check-models-api-dash-cli

feat(viewer): let any project manage its data collections from the UI
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_edit_permission_ignores_project_type.py
  depictio/viewer/src/projects/detail/ProjectDetailApp.tsx
Due: ty-check-models-api-dash-cli

fix(cli): make an empty scan and a dry run say what they actually found
  depictio/cli/cli/commands/run.py
  depictio/cli/cli/utils/config.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/scan_utils.py
  depictio/tests/cli/commands/test_run_dry_run_preview.py
  depictio/tests/cli/utils/test_scan_utils.py
Due: ty-check-models-api-dash-cli

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
