Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

Add per-dashboard plot theme (Plotly template + colorway)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/figure_endpoints/routes.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/models/models/dashboards.py
  depictio/tests/models/test_plot_theme.py
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/figure/FigurePreview.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

Rework appearance UX: scoped font sizing, dashboard logo, admin branding
  .gitignore
  depictio/api/main.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/branding.py
  depictio/api/v1/services/figure/aggregate.py
  depictio/api/v1/services/figure/mantine_templates.py
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/e2e-playwright/tests/ui/font-size-control.spec.ts
  depictio/tests/models/test_dashboard_logo.py
  depictio/tests/models/test_figure_font_scale.py
  depictio/tests/unit/test_branding_service.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/admin/AdminApp.tsx
  depictio/viewer/src/admin/AdminBrandingPanel.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/components/GridItemEditOverlay.tsx
  depictio/viewer/src/hooks/useUiScalePref.ts
  depictio/viewer/src/main.tsx
  depictio/viewer/src/theme.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

Apply ruff formatting and import-order fixes
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/api/v1/services/multiqc/themes.py
Due: ty-check-models-api-dash-cli

feat(phylogeny): zoom/pan controls and subtree selection actions
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/AdvancedVizDispatch.tsx
  packages/depictio-react-core/src/components/advanced_viz/PhylogeneticRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/phylo/subtree.ts
  packages/depictio-react-core/src/selection.ts
Due: none

test(phylogeny): unit + e2e coverage for zoom/pan/subtree UX
  .github/workflows/depictio-ci.yaml
  depictio/tests/e2e-playwright/tests/advanced-viz/phylogeny.spec.ts
  packages/depictio-react-core/package.json
  packages/depictio-react-core/src/components/advanced_viz/phylo/newick.test.ts
  packages/depictio-react-core/src/components/advanced_viz/phylo/subtree.test.ts
  packages/depictio-react-core/vitest.config.ts
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

Fix e2e fallout from the sidebar attribution link
  depictio/tests/e2e-playwright/tests/pages/about.spec.ts
  depictio/tests/e2e-playwright/tests/ui/brand-theme.spec.ts
Due: ty-check-models-api-dash-cli

feat(phylogeny): focus, clade collapsing, and a legible interaction model
  depictio/tests/e2e-playwright/tests/advanced-viz/phylogeny.spec.ts
  packages/depictio-react-core/src/components/advanced_viz/PhylogeneticRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/phylo/collapse.ts
  packages/depictio-react-core/src/components/advanced_viz/phylo/prune.test.ts
  packages/depictio-react-core/src/components/advanced_viz/phylo/prune.ts
Due: ty-check-models-api-dash-cli

fix(phylogeny): float the selection box over the tree
  packages/depictio-react-core/src/components/advanced_viz/PhylogeneticRenderer.tsx
Due: none

feat(catalog): express interactive and table renders, and list-typed roles
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/catalog/README.md
  depictio/catalog/SCHEMA.md
  depictio/catalog/_index/multiqc_modules.txt
  depictio/catalog/catalog.schema.json
  depictio/catalog/output.schema.json
  depictio/catalog/payload.py
  depictio/cli/cli/commands/catalog.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/component.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/models/test_catalog.py
  depictio/viewer/src/builder/card/CardPreview.tsx
  depictio/viewer/src/builder/catalog/CatalogTab.tsx
  depictio/viewer/src/builder/figure/FigureCodeMode.tsx
  depictio/viewer/src/builder/figure/codeModeEnvironment.tsx
  depictio/viewer/src/catalog-preview/Gallery.tsx
  depictio/viewer/src/catalog-preview/shared.tsx
  depictio/viewer/vite.catalog-preview.config.ts
Due: ty-check-models-api-dash-cli

Update README.md
  README.md
Due: none

feat(catalog): add tool_studio_demo
  depictio/catalog/tool_studio_demo/golden.csv
  depictio/catalog/tool_studio_demo/module.yaml
  depictio/catalog/tool_studio_demo/results.yaml
Due: none

docs(tool-studio): regenerate the walkthrough screenshots, four of them new
  packages/tool-studio/README.md
  packages/tool-studio/docs/screenshots/00-start.png
  packages/tool-studio/docs/screenshots/01-tool.png
  packages/tool-studio/docs/screenshots/01b-recognized.png
  packages/tool-studio/docs/screenshots/01c-multiqc.png
  packages/tool-studio/docs/screenshots/02-fixture.png
  packages/tool-studio/docs/screenshots/02b-fetch-url.png
  packages/tool-studio/docs/screenshots/03-component-types.png
  packages/tool-studio/docs/screenshots/04-figure-builder.png
  packages/tool-studio/docs/screenshots/05-render-card.png
  packages/tool-studio/docs/screenshots/06-export.png
  packages/tool-studio/docs/screenshots/07-pr-opened.png
  packages/tool-studio/docs/screenshots/08-github-pr.png
  packages/tool-studio/e2e/screenshots.spec.ts
  packages/tool-studio/playwright.config.ts
Due: none

assets: catalog picker screenshots for PR #988
  catalog_browser.png
  catalog_choice.png
  catalog_design_step.png
  catalog_details.png
  catalog_filters.png
  catalog_inspector.png
  catalog_multiqc.png
  catalog_render_tabs.png
  catalog_search.png
  catalog_tile_flag.png
  catalog_use_snippet.png
Due: none

Bump version: 1.7.0 → 1.8.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.8.0
  CHANGELOG.md
Due: none

fix(tool-studio): un-ignore every e2e/golden fixture, not one file at a time
  packages/tool-studio/.gitignore
Due: none

docs(tool-studio): show the nf-core import and the full recognized entry
  packages/tool-studio/README.md
  packages/tool-studio/docs/screenshots/00-start.png
  packages/tool-studio/docs/screenshots/01-tool.png
  packages/tool-studio/docs/screenshots/01b-recognized.png
  packages/tool-studio/docs/screenshots/01c-multiqc.png
  packages/tool-studio/docs/screenshots/01d-nfcore-import.png
  packages/tool-studio/docs/screenshots/02-fixture.png
  packages/tool-studio/docs/screenshots/02b-fetch-url.png
  packages/tool-studio/docs/screenshots/03-component-types.png
  packages/tool-studio/docs/screenshots/04-figure-builder.png
  packages/tool-studio/docs/screenshots/05-render-card.png
  packages/tool-studio/docs/screenshots/06-export.png
  packages/tool-studio/e2e/screenshots.spec.ts
Due: none

fix(tool-studio): commit the card_metrics golden fixture
  packages/tool-studio/e2e/golden/card_metrics.csv
Due: none

fix(tool-studio): refresh the drifted snapshots, and make the golden reproducible
  packages/tool-studio/public/kinds.json
  packages/tool-studio/scripts/card_metrics_golden.py
  packages/tool-studio/src/test/generated/cardMetricsGolden.json
Due: none

fix(tool-studio): assert the advanced-viz plot where it actually draws
  packages/tool-studio/e2e/components.spec.ts
Due: none

fix(helm): forward DEPICTIO_BRANDING_* to the backend and worker configmaps
  .gitignore
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values-embl-internal-dev.yaml
Due: helm-lint

refactor(helm): split the TREC skin out of the internal-dev values
  helm-charts/depictio/values-embl-internal-dev-trec.yaml
  helm-charts/depictio/values-embl-internal-dev.yaml
Due: helm-lint

ci: retry the ampliseq test-data downloads instead of dying on a 503
  .github/workflows/depictio-ci.yaml
Due: none

Scope the Depictio attribution and move brand logos into MongoDB
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/services/branding.py
  depictio/api/v1/services/lifespan.py
  depictio/tests/e2e-playwright/tests/ui/brand-theme.spec.ts
  depictio/tests/unit/test_branding_service.py
  depictio/viewer/src/admin/AdminBrandingPanel.tsx
  depictio/viewer/src/auth/components/AuthCard.tsx
  depictio/viewer/src/chrome/AppSidebar.tsx
  depictio/viewer/src/chrome/PoweredBy.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/chrome/index.ts
  depictio/viewer/src/chrome/useBrandLogoMode.ts
  docs/branding.md
Due: ty-check-models-api-dash-cli

Add two ways to close an open front door
  depictio/api/v1/db_init.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/tests/api/v1/test_security_pr1.py
  depictio/viewer/src/auth/AuthApp.tsx
  depictio/viewer/src/auth/components/LoginForm.tsx
  depictio/viewer/src/auth/components/PublicAccessGate.tsx
  packages/depictio-react-core/src/api.ts
Due: ty-check-models-api-dash-cli

Clarify the content-type fallback comment
  depictio/api/v1/services/branding.py
Due: ty-check-models-api-dash-cli

Send a code-gated public visitor to the gate, not to a refused mint
  depictio/viewer/src/main.tsx
Due: none

Bump version: 1.8.0 → 1.8.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.8.1
  CHANGELOG.md
Due: none

feat(tool-studio): ship 0.2.0, mark it beta, and make the bump one command
  packages/tool-studio/README.md
  packages/tool-studio/package.json
  packages/tool-studio/src/components/AppFooter.tsx
  packages/tool-studio/vite.config.ts
Due: none

fix(cards): render box_plot_stats even under a stat-list layout
  depictio/models/components/lite.py
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/projects/nf-core/ampliseq/ref_dashboard.yaml
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
Due: ty-check-models-api-dash-cli

fix(filter-panel): persist collapse, width and section folds per family
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/hooks/useFilterPanelOpen.ts
  depictio/viewer/src/hooks/useFilterPanelWidth.ts
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
Due: none

fix(sections): render foreign pin:top sections below the tab's intro
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: none

fix(grid): keep the 8-column layout down to 880px of content width
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/gridConfig.ts
Due: none

fix(map): web-Mercator auto-fit for default zoom
  depictio/api/v1/services/map/render.py
Due: ty-check-models-api-dash-cli

fix(sections): make filter-panel sections read like canvas sections
  packages/depictio-react-core/src/components/SectionAccordion.tsx
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/components/sectionAccordion.css
Due: none

feat(provenance): open the full listing in a modal, not a 400px column
  depictio/viewer/src/chrome/DashboardInfoBody.tsx
  depictio/viewer/src/lib/provenance.ts
  depictio/viewer/src/projects/detail/IngestionReportPanel.tsx
  depictio/viewer/src/projects/detail/RunProvenanceCard.tsx
Due: none

fix(timeline): snap slider marks to calendar boundaries, dedupe labels
  packages/depictio-react-core/src/components/interactive/TimelineRenderer.tsx
Due: none
