Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix(card): persist multi-metric config + guard against missing outliers
  depictio/viewer/src/builder/buildMetadata.ts
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
Due: none

fix(seeds): preserve source=transformed on recipe DCs after materialisation
  depictio/api/v1/db_init_reference_datasets.py
Due: ty-check-models-api-dash-cli

fix(card-builder): Mantine 7 group format for Multi-metric select
  depictio/viewer/src/builder/card/CardBuilder.tsx
Due: none

feat(card-builder): live preview for top_n / coverage / concentration
  depictio/viewer/src/builder/card/CardPreview.tsx
Due: none

Bump version: 0.13.0 → 0.13.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.0 → 0.13.1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.1
  CHANGELOG.md
Due: none

fix(seeds): preserve resolved DATA_ROOT for viralrecon
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
Due: ty-check-models-api-dash-cli

fix(cli): process materialised recipe DCs as file scans
  depictio/cli/cli/utils/deltatables.py
Due: ty-check-models-api-dash-cli

fix(helm): set imagePullPolicy=Always on busybox/curl init containers
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix(ampliseq): add metadata→multiqc_data DCLink to 2.16.0 template
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
Due: none

fix(viewer): enable dashboard pinning in public/demo mode
  depictio/viewer/src/dashboards/DashboardsApp.tsx
  depictio/viewer/src/dashboards/DashboardsList.tsx
Due: none

Bump version: 0.13.1 → 0.13.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.1 → 0.13.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.2
  CHANGELOG.md
Due: none

fix(seeds): register coverage_track_demo + categorical_flow_demo static IDs
  depictio/api/v1/db_init_reference_datasets.py
Due: ty-check-models-api-dash-cli

fix(viralrecon): remap seed dashboards to static DC IDs
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_lineage_clustering.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_sample_qc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_variants.json
  depictio/projects/nf-core/viralrecon/3.0.0/remap_seeds_to_static_ids.py
Due: none

fix(seeds): viralrecon dashboards use static DC IDs + invariant test (#765)
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_lineage_clustering.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_sample_qc.json
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_variants.json
  depictio/projects/nf-core/viralrecon/3.0.0/remap_seeds_to_static_ids.py
Due: ty-check-models-api-dash-cli

test(seeds): assert all reference-dashboard dc_ids match STATIC_IDS
  depictio/tests/api/v1/test_reference_seed_dashboards.py
Due: ty-check-models-api-dash-cli

Bump version: 0.13.2 → 0.13.3
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.3
  CHANGELOG.md
Due: none

ci(viralrecon): assert bundled test data lands in the image
  .github/workflows/depictio-ci.yaml
Due: none

ci(viralrecon): fix compose service name in data-presence check
  .github/workflows/depictio-ci.yaml
Due: none

Bump version: 0.13.3 → 0.13.4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.3 → 0.13.4
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.4
  CHANGELOG.md
Due: none

feat(viralrecon): bundle 15 canonical seed TSVs + missing recipes
  .gitignore
  depictio/projects/nf-core/viralrecon/3.0.0/complex_heatmap_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/coverage_track_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/lollipop_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/manhattan_variants_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/mosdepth_amplicon_coverage.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/mosdepth_amplicon_heatmap.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/mosdepth_genome_coverage.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/nextclade_results.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/oncoplot_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/pangolin_lineages.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/sankey_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/summary_metrics.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/upset_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/variant_feature_matrix_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/variants_long.tsv
Due: none

ci(viralrecon): extend bundled-data check to canonical seed TSVs
  .github/workflows/depictio-ci.yaml
Due: none

feat(viralrecon): bundle 15 canonical seed TSVs + missing recipes + CI check (#767)
  .github/workflows/depictio-ci.yaml
  .gitignore
  depictio/projects/nf-core/viralrecon/3.0.0/complex_heatmap_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/coverage_track_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/lollipop_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/manhattan_variants_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/mosdepth_amplicon_coverage.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/mosdepth_amplicon_heatmap.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/mosdepth_genome_coverage.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/nextclade_results.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/oncoplot_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/pangolin_lineages.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/sankey_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/summary_metrics.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/upset_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/variant_feature_matrix_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/variants_long.tsv
Due: none

Bump version: 0.13.4 → 0.13.5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.4 → 0.13.5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.13.5
  CHANGELOG.md
Due: none

fix(seeds): force format=tsv on recipe DC conversion
  depictio/api/v1/db_init_reference_datasets.py
  depictio/tests/api/v1/test_db_init_resolver.py
Due: ty-check-models-api-dash-cli

fix(dashboards/save): skip screenshot enqueue when PNGs are fresh
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/test_dashboard_save_screenshot_guard.py
Due: ty-check-models-api-dash-cli

chore(helm/embl): rebalance demo+demodev to fit tenant quota
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
Due: helm-lint

fix(seeds): force format=tsv on recipe DC conversion (#768)
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/tests/api/v1/test_dashboard_save_screenshot_guard.py
  depictio/tests/api/v1/test_db_init_resolver.py
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.5 → 0.13.6
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 0.13.5 → 0.13.6
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint
