Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

chore(seeds): track the Iris Petal Analysis dashboard thumbnail
  .gitignore
  depictio/api/static/screenshots/6a720e8b59acf2d013e48100_dark.png
  depictio/api/static/screenshots/6a720e8b59acf2d013e48100_light.png
Due: ty-check-models-api-dash-cli

Bump version: 1.3.1 → 1.4.0
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.4.0
  CHANGELOG.md
Due: none

fix(api): register the mantine templates in the multiqc preview worker
  depictio/api/v1/celery_tasks.py
Due: ty-check-models-api-dash-cli

fix(templates): correct the download_test_data.sh quick-start commands
  depictio/projects/nf-core/ampliseq/2.16.0/download_test_data.sh
  depictio/projects/nf-core/viralrecon/3.0.0/download_test_data.sh
Due: none

chore(benchmark): gate the ingest timing markers behind an env flag
  benchmark/runner.py
  depictio/cli/cli/utils/ingest_timing.py
Due: ty-check-models-api-dash-cli

chore(viewer): pin the pnpm version via packageManager
  depictio/viewer/package.json
Due: none

chore: remove stray backup files and the ingest-memory handoff note
  benchmark/HANDOFF_ingest_memory.md
  depictio/api/static_assets/images/logos/logo.png.bak
  depictio/cli/cli/utils/deltatables.py
  dev/cli-ascii-art/logo.py.bak
Due: ty-check-models-api-dash-cli

docs: strip the generated claude-mem block from the screenshot notes
  depictio/api/v1/endpoints/utils_endpoints/CLAUDE.md
Due: ty-check-models-api-dash-cli

chore: remove the abandoned react-frontend scaffold
  depictio/react-frontend/.dockerignore
  depictio/react-frontend/.env.example
  depictio/react-frontend/.gitignore
  depictio/react-frontend/Dockerfile
  depictio/react-frontend/README.md
  depictio/react-frontend/index.html
  depictio/react-frontend/package-lock.json
  depictio/react-frontend/package.json
  depictio/react-frontend/postcss.config.cjs
  depictio/react-frontend/src/App.tsx
  depictio/react-frontend/src/api/auth.ts
  depictio/react-frontend/src/api/client.ts
  depictio/react-frontend/src/api/dashboards.ts
  depictio/react-frontend/src/api/types.ts
  depictio/react-frontend/src/components/AppShell.tsx
  depictio/react-frontend/src/components/ProtectedRoute.tsx
  depictio/react-frontend/src/components/ThemeToggle.tsx
  depictio/react-frontend/src/main.tsx
  depictio/react-frontend/src/pages/AuthPage.tsx
  depictio/react-frontend/src/pages/DashboardsPage.tsx
  depictio/react-frontend/src/pages/ProfilePage.tsx
  depictio/react-frontend/src/store/auth.ts
  depictio/react-frontend/src/theme.ts
  depictio/react-frontend/tsconfig.json
  depictio/react-frontend/tsconfig.node.json
  depictio/react-frontend/vite.config.ts
Due: none

docs(claude): drop the references to the removed Cypress suite and scaffold
  CLAUDE.md
Due: none

chore(commands): add the deployment render-check command
  .claude/commands/check-deployment.md
Due: none

chore(compose): move the benchmark overlay into docker-compose/
  benchmark/README.md
  docker-compose/docker-compose.bench.yaml
Due: none

chore: remove a stale env copy and a benchmark session prompt
  benchmark/PROMPT_realistic_linked_project.md
  docker-compose/.envo
Due: none

docs(telemetry): add hand-drawn architecture diagram
  docs/images/telemetry-architecture.png
  docs/images/telemetry-architecture.svg
  docs/telemetry.md
  scripts/gen_telemetry_diagram.py
  scripts/gen_telemetry_docs.py
Due: none

feat(telemetry): route to the Depictio PostHog project, send anonymous events
  .github/workflows/telemetry-metrics.yaml
  depictio/api/v1/configs/settings_models.py
  depictio/cli/cli/utils/telemetry.py
  depictio/telemetry/constants.py
  depictio/telemetry/posthog.py
  depictio/tests/api/v1/test_telemetry.py
  depictio/tests/cli/utils/test_telemetry.py
  depictio/tests/unit/test_telemetry_core.py
  docs/telemetry.md
  packages/depictio-react-core/src/telemetry.ts
  scripts/gen_telemetry_docs.py
Due: ty-check-models-api-dash-cli

fix(devcontainer): check other projects' port reservations before our own
  .devcontainer/scripts/allocate-ports.sh
Due: none

test(telemetry): cover the two gaps that let real bugs through
  scripts/telemetry_boot_check.py
  scripts/telemetry_e2e_check.py
Due: none

fix(telemetry): stop the browser client throwing when localStorage is blocked
  docs/telemetry.md
  packages/depictio-react-core/src/telemetry.ts
  scripts/gen_telemetry_docs.py
  scripts/telemetry_browser_check.mjs
Due: none

test(telemetry): end-to-end verification of the real send path
  docs/telemetry.md
  scripts/gen_telemetry_docs.py
  scripts/telemetry_boot_check.py
  scripts/telemetry_cli_check.py
  scripts/telemetry_e2e_check.py
Due: none

feat(telemetry): split helm/hand-rolled kubernetes and dev/prod compose
  depictio/api/v1/configs/settings_models.py
  depictio/telemetry/env.py
  depictio/telemetry/schema.py
  docker-compose.dev.yaml
  docs/telemetry.md
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

fix(telemetry): stop the send guard expiring the instant it is written
  depictio/api/v1/telemetry/guard.py
  depictio/tests/api/v1/test_telemetry.py
Due: ty-check-models-api-dash-cli

ci(telemetry): run the end-to-end checks on telemetry changes
  .github/workflows/telemetry-ci.yaml
Due: none

feat(telemetry): report configured replica count and CPU/memory for Helm installs
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/telemetry/payload.py
  depictio/telemetry/k8s_resources.py
  depictio/telemetry/schema.py
  depictio/tests/api/v1/test_telemetry.py
  depictio/tests/unit/test_telemetry_core.py
  docs/telemetry.md
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
  scripts/gen_telemetry_docs.py
Due: ty-check-models-api-dash-cli, helm-lint

test(api): full-stack HTTP check for the dashboard timestamp fixes
  depictio/tests/api/v1/test_dashboard_timestamps_http.py
Due: ty-check-models-api-dash-cli

ci(telemetry): give the telemetry job the secret Settings demands
  .github/workflows/telemetry-ci.yaml
  docs/images/telemetry-architecture.svg
Due: none

fix(telemetry): stop the install event re-firing every TTL period
  depictio/api/v1/telemetry/guard.py
  depictio/api/v1/telemetry/tasks.py
  depictio/tests/api/v1/test_telemetry.py
Due: ty-check-models-api-dash-cli

fix(telemetry): forward the traffic metrics instead of logging them
  .github/workflows/telemetry-metrics.yaml
Due: none

feat(telemetry): tell CLI users about telemetry on their first run
  depictio/cli/cli/utils/telemetry.py
  depictio/cli/depictio_cli.py
  depictio/telemetry/state.py
  depictio/tests/cli/utils/test_telemetry.py
  depictio/tests/unit/test_telemetry_core.py
Due: ty-check-models-api-dash-cli

fix(telemetry): release the guard that was claimed, not today's
  depictio/api/v1/telemetry/guard.py
  depictio/api/v1/telemetry/tasks.py
  depictio/tests/api/v1/test_telemetry.py
  scripts/telemetry_boot_check.py
Due: ty-check-models-api-dash-cli

fix(telemetry): don't let a scripted first run swallow the CLI notice
  depictio/cli/cli/utils/telemetry.py
  depictio/telemetry/state.py
  depictio/tests/cli/utils/test_telemetry.py
  depictio/tests/unit/test_telemetry_core.py
Due: ty-check-models-api-dash-cli

fix(telemetry): make the metrics snapshot survive a failing collector
  .github/workflows/telemetry-metrics.yaml
Due: none

docs(design): RFC — remote data sources & manifest-driven projects
  docs/design/rfc-remote-data-manifests.md
Due: none

feat(viewer): selection groups — save, compare and color-by-group (#89)
  depictio/api/v1/celery_tasks.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/figure/groups.py
  depictio/tests/api/v1/test_figure_groups.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/FigureRenderer.tsx
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/components/interactive/SelectionGroupsPanel.tsx
  packages/depictio-react-core/src/hooks/useSelectionGroups.ts
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/selectionGroups.ts
Due: ty-check-models-api-dash-cli

feat(remote-data): phase 0+1 of the remote-data RFC — URL-backed table DCs
  .github/workflows/minimal-deploy.yaml
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/api/v1/endpoints/datacollections_endpoints/utils.py
  depictio/api/v1/remote_fetch.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/models/models/data_collections.py
  depictio/models/models/files.py
  depictio/models/models/manifest.py
  depictio/tests/api/v1/endpoints/datacollections_endpoints/test_create_from_url.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/models/test_remote_manifest.py
  depictio/tests/unit/test_remote_fetch.py
Due: ty-check-models-api-dash-cli

feat(remote-data): phase 2 slice — ScanManifest + depictio_manifest_id injection
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/models/models/data_collections.py
  depictio/models/models/files.py
  depictio/models/models/manifest.py
  depictio/tests/cli/test_remote_read.py
  depictio/tests/models/test_remote_manifest.py
Due: ty-check-models-api-dash-cli

feat(remote-data): POST /projects/ingest_manifest — server-side manifest ingestion (phase 2)
  depictio/api/v1/endpoints/projects_endpoints/manifest_ingest.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/tests/api/v1/endpoints/projects_endpoints/test_ingest_manifest.py
  docs/design/rfc-remote-data-manifests.md
Due: ty-check-models-api-dash-cli
