Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

Helm chart: viewer startup order, MongoDB Community Operator HA, resource rebalance (#788)
  .github/workflows/test-and-package-helm-chart.yaml
  depictio/api/v1/configs/config.py
  depictio/api/v1/configs/settings_models.py
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/mongo-init-job.yaml
  helm-charts/depictio/templates/mongo-operator.yaml
  helm-charts/depictio/templates/services.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values-embl-demo.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b4 → 1.0.0-b5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b4 → 1.0.0-b5
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

fix: avoid shell injection and bad parameter expansion in release workflow (#790)
  .github/workflows/release.yaml
Due: none

fix(helm): remove dead update-iris-configs init container
  helm-charts/depictio/templates/deployments.yaml
Due: helm-lint

fix(auth): eliminate multi-replica key-wipe race breaking ingestion
  depictio/api/v1/configs/config.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/endpoints/user_endpoints/utils.py
  depictio/api/v1/key_utils.py
Due: ty-check-models-api-dash-cli

feat(viewer): port default-thumbnail fallback from Dash to React
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/MultiTabPreview.tsx
  depictio/viewer/src/dashboards/lib/format.ts
Due: none

fix(auth): multi-replica key-wipe race breaking dev-demo ingestion + React default-thumbnail fallback (#791)
  depictio/api/v1/configs/config.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/endpoints/user_endpoints/utils.py
  depictio/api/v1/key_utils.py
  depictio/viewer/src/dashboards/DashboardCard.tsx
  depictio/viewer/src/dashboards/MultiTabPreview.tsx
  depictio/viewer/src/dashboards/lib/format.ts
  helm-charts/depictio/templates/deployments.yaml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b5 → 1.0.0-b6
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Bump version: 1.0.0-b5 → 1.0.0-b6
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.0.0-b6
  CHANGELOG.md
Due: none

feat(helm): migrate MongoDB HA from Community Operator to Percona PSMDB Operator
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/mongo-operator.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values-minikube.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

docs: add modules-catalog blog post and launch/comms kit
  docs/blog/modules-catalog.md
  docs/comms/launch-kit.md
Due: none

Enable project export in public & demo mode
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/tests/api/v1/test_demo_mode_regressions.py
Due: ty-check-models-api-dash-cli

Enable project export in public & demo mode (#793)
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/tests/api/v1/test_demo_mode_regressions.py
Due: ty-check-models-api-dash-cli

feat(helm): migrate MongoDB HA from Community Operator to Percona PSMDB Operator (#792)
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/mongo-operator.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values-minikube.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix(screenshots): install sans-serif fonts in worker image + settle before capture
  .gitignore
  depictio/api/v1/services/screenshot_service.py
  docker-images/Dockerfile.worker
  helm-charts/depictio/templates/deployments.yaml
Due: ty-check-models-api-dash-cli, helm-lint

fix(screenshots): install sans-serif fonts in worker image + settle before capture (#794)
  .gitignore
  depictio/api/v1/services/screenshot_service.py
  docker-images/Dockerfile.worker
  helm-charts/depictio/templates/deployments.yaml
Due: ty-check-models-api-dash-cli, helm-lint

fix(viewer): tab menu refresh + icon handling in tab/dashboard modals
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/chrome/TabModal.tsx
  depictio/viewer/src/dashboards/CreateDashboardModal.tsx
  depictio/viewer/src/dashboards/EditDashboardModal.tsx
  depictio/viewer/src/dashboards/lib/workflowIcons.ts
  packages/depictio-react-core/src/api.ts
Due: none

chore(deps): Phase A — bump static analysis & test tooling
  .pre-commit-config.yaml
  depictio/models/models/dashboards.py
  pixi.toml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli

ci: narrow build-images PR trigger to build-recipe files only
  .github/workflows/build-images.yaml
Due: none

ci: narrow build-images PR trigger to build-recipe files only (#796)
  .github/workflows/build-images.yaml
Due: none

refactor(catalog): remove producers.py column-fingerprint suggestion engine
  depictio/api/v1/endpoints/datacollections_endpoints/routes.py
  depictio/catalog/README.md
  depictio/catalog/TODO.md
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/producers.py
  depictio/models/components/advanced_viz/schemas.py
  depictio/tests/models/test_advanced_viz_suggestions.py
  depictio/tests/models/test_catalog.py
  docs/design/bioinformatics-catalog.md
Due: ty-check-models-api-dash-cli

feat(catalog): migrate ampliseq complex_heatmap tiles to use: qiime2/complex_heatmap
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
Due: none

docs(catalog): add 7-concept glossary + reshape-on-render RFC
  docs/design/bioinformatics-catalog.md
  docs/design/rfc-reshape-on-render.md
Due: none

fix(api): remove stale /jbrowse/last_status internal call
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
Due: ty-check-models-api-dash-cli

chore(api): remove dead/deprecated endpoint stubs
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/CLAUDE.md
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  helm-charts/depictio/PRODUCTION-PERFORMANCE.md
Due: ty-check-models-api-dash-cli, helm-lint

chore(api): gate destructive test/debug endpoints behind dev flag
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/projects/test/adapt_feedb_ms/stream_test.sh
Due: ty-check-models-api-dash-cli

refactor(api): drop disabled group-management routes
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/utils.py
Due: ty-check-models-api-dash-cli

fix(api): repair 3 latent ImportErrors + 2 type mismatches found by ty
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/services/multiqc/patching.py
  depictio/models/yaml_serialization/__init__.py
  depictio/models/yaml_serialization/validation.py
Due: ty-check-models-api-dash-cli

fix(models): correct stale component attribute access in YAML validation
  depictio/models/yaml_serialization/validation.py
Due: ty-check-models-api-dash-cli

docs(api): tag and document admin/ops endpoints
  depictio/api/main.py
Due: ty-check-models-api-dash-cli

deprecate(api): mark uncalled functional endpoints deprecated
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/endpoints/workflow_endpoints/routes.py
Due: ty-check-models-api-dash-cli

chore(cli): clear ty findings and gate depictio/cli in CI
  .github/workflows/depictio-ci.yaml
  depictio/cli/cli/commands/images.py
  depictio/cli/cli/commands/recipe.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/templates.py
Due: ty-check-models-api-dash-cli

chore: reconcile ty work with Phase A tooling bump (ty 0.0.44)
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/api/v1/endpoints/workflow_endpoints/utils.py
  depictio/api/v1/key_utils.py
  depictio/api/v1/services/figure/error_figure.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/api/v1/services/figure/mantine_templates.py
  depictio/api/v1/services/map/render.py
  depictio/api/v1/services/multiqc/figures.py
  depictio/api/v1/services/multiqc/general_stats_payload.py
  depictio/api/v1/services/screenshot_service.py
  depictio/cli/cli/commands/recipe.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/cli/cli/utils/scan.py
  depictio/cli/cli/utils/templates.py
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/api/v1/test_unauthenticated_mode.py
Due: ty-check-models-api-dash-cli

chore: suppress ty alpha false positives and enable ty check in CI
  .github/workflows/depictio-ci.yaml
  depictio/api/v1/db_init_reference_datasets.py
  depictio/api/v1/endpoints/deltatables_endpoints/utils.py
  depictio/api/v1/endpoints/multiqc_endpoints/utils.py
  depictio/api/v1/endpoints/workflow_endpoints/utils.py
  depictio/api/v1/key_utils.py
  depictio/api/v1/services/figure/error_figure.py
  depictio/api/v1/services/figure/figure_builder.py
  depictio/api/v1/services/figure/mantine_templates.py
  depictio/api/v1/services/map/render.py
  depictio/api/v1/services/multiqc/figures.py
  depictio/api/v1/services/multiqc/general_stats_payload.py
  depictio/api/v1/services/screenshot_service.py
  depictio/models/components/advanced_viz/catalog.py
Due: ty-check-models-api-dash-cli

test: drop misleading is_admin kwarg from RequestUserRegistration
  depictio/tests/api/v1/test_unauthenticated_mode.py
Due: ty-check-models-api-dash-cli

fix(viz): make dead matrix_wf_id/matrix_dc_id optional; migrate viralrecon heatmap to use:
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/models/components/advanced_viz/configs.py
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_coverage_depth.json
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  packages/depictio-react-core/src/components/advanced_viz/ComplexHeatmapRenderer.tsx
  packages/depictio-react-core/src/components/advanced_viz/UpsetRenderer.tsx
Due: ty-check-models-api-dash-cli

chore: add missing trailing newline (pre-commit eof-fixer)
  depictio/api/v1/endpoints/utils_endpoints/CLAUDE.md
Due: ty-check-models-api-dash-cli

Clean up unused API endpoints + fix latent bugs surfaced by ty (#798)
  .github/workflows/depictio-ci.yaml
  depictio/api/main.py
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/deltatables_utils.py
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/utils.py
  depictio/api/v1/endpoints/utils_endpoints/CLAUDE.md
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/api/v1/endpoints/workflow_endpoints/routes.py
  depictio/api/v1/services/multiqc/patching.py
  depictio/cli/cli/commands/images.py
  depictio/cli/cli/utils/deltatables.py
  depictio/cli/cli/utils/scan.py
  depictio/models/yaml_serialization/__init__.py
  depictio/models/yaml_serialization/validation.py
  depictio/projects/test/adapt_feedb_ms/stream_test.sh
  depictio/tests/api/v1/test_unauthenticated_mode.py
  helm-charts/depictio/PRODUCTION-PERFORMANCE.md
Due: ty-check-models-api-dash-cli, helm-lint
