Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

ty-check-models-api-dash-cli:
  name: ty check models, api, dash, cli and tests
  description: Run ty type checker on models, api, dash, cli and tests folders (must pass)
  entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
  language: system
  ...

helm-lint:
  name: Helm Lint
  description: Run helm lint on the Depictio Helm chart
  entry: bash -c 'helm lint helm-charts/depictio'
  language: system
  pass_filenames: false

fix(s3): startup check no longer requires account-wide ListBuckets
  depictio/api/v1/initialization.py
Due: ty-check-models-api-dash-cli

Bump version: 1.5.1 → 1.5.2-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.5.2-b1
  CHANGELOG.md
Due: none

fix(auth): share Google OAuth state across workers instead of per-process memory
  depictio/api/v1/endpoints/auth_endpoints/google_oauth_routes.py
  depictio/api/v1/endpoints/auth_endpoints/utils.py
  depictio/api/v1/services/lifespan.py
  depictio/models/models/google_oauth.py
  depictio/tests/api/v1/endpoints/auth_endpoints/test_google_oauth.py
  depictio/viewer/src/auth/components/GoogleOAuthCallback.tsx
Due: ty-check-models-api-dash-cli

Bump version: 1.5.2-b1 → 1.5.2-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.5.2-b2
  CHANGELOG.md
Due: none

Bump version: 1.5.2-b2 → 1.5.2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  docker-compose.yaml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v1.5.2
  CHANGELOG.md
Due: none

feat(sections): pin edge for persistent sections, editor preview, unified add/edit
  depictio/models/models/dashboards.py
  depictio/projects/init/iris/.db_seeds/dashboard.json
  depictio/projects/init/iris/.db_seeds/dashboard_petal.json
  depictio/projects/init/iris/dashboards/overview.yaml
  depictio/projects/init/iris/dashboards/petal_analysis.yaml
  depictio/tests/api/v1/test_cross_tab_components.py
  depictio/tests/models/test_filter_sections.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/components/sections/SectionForm.tsx
  depictio/viewer/src/components/sections/SectionList.tsx
  depictio/viewer/src/components/sections/SectionModal.tsx
  depictio/viewer/src/components/sections/SectionRow.tsx
  depictio/viewer/src/components/sections/SectionsModal.tsx
  depictio/viewer/src/walkthrough/steps/authBuilder.ts
  dev/diagrams/cross_tab_sections.py
  docs/images/cross-tab-sections_fanout.png
  docs/images/cross-tab-sections_fanout.svg
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/SectionAccordion.tsx
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/utils/groupInteractive.ts
  packages/depictio-react-core/src/utils/leftPanelLayout.ts
Due: ty-check-models-api-dash-cli

fix(builder): loading state in the catalog and advanced-viz previews
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/builder/advanced_viz/AdvancedVizPreview.tsx
  depictio/viewer/src/builder/catalog/CatalogPreviewPanel.tsx
  depictio/viewer/src/builder/shared/PreviewPanel.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/interactive/FilterPanel.tsx
  packages/depictio-react-core/src/utils/leftPanelLayout.ts
Due: none

fix(catalog-studio): rebase "add a visualization" on the live file, not a snapshot
  packages/catalog-studio/src/catalog/base64.ts
  packages/catalog-studio/src/catalog/github.ts
  packages/catalog-studio/src/catalog/upstreamFile.ts
  packages/catalog-studio/src/state/useStudioStore.ts
  packages/catalog-studio/src/steps/ExportPanel.tsx
  packages/catalog-studio/src/test/github.test.ts
Due: none

ci(catalog-studio): make the drift check real, wire the deploy, fix the $schema header
  .github/workflows/catalog-studio-ci.yaml
  .github/workflows/deploy-catalog-studio.yaml
  depictio/catalog/SCHEMA.md
  depictio/catalog/module.schema.json
  depictio/catalog/output.schema.json
  depictio/cli/cli/commands/catalog.py
  depictio/tests/models/test_catalog.py
  packages/catalog-studio/README.md
  packages/catalog-studio/e2e/flow.spec.ts
  packages/catalog-studio/e2e/screenshots.spec.ts
  packages/catalog-studio/public/favicon.svg
  packages/catalog-studio/public/logos/tools_catalog_logo.png
  packages/catalog-studio/src/catalog/yamlGen.ts
  packages/catalog-studio/src/steps/ExportPanel.tsx
  packages/catalog-studio/src/test/yamlGen.test.ts
Due: ty-check-models-api-dash-cli

fix(catalog-studio): survive a reload, cap the fixture, refuse unsafe appends
  .github/workflows/catalog-studio-ci.yaml
  depictio/cli/cli/commands/catalog.py
  packages/catalog-studio/playwright.config.ts
  packages/catalog-studio/src/App.tsx
  packages/catalog-studio/src/builder/TypeGrid.tsx
  packages/catalog-studio/src/catalog/github.ts
  packages/catalog-studio/src/catalog/yamlGen.ts
  packages/catalog-studio/src/state/useStudioStore.ts
  packages/catalog-studio/src/steps/ExportPanel.tsx
  packages/catalog-studio/src/steps/FixtureDrop.tsx
  packages/catalog-studio/src/steps/ToolForm.tsx
  packages/catalog-studio/src/steps/VizDesigner.tsx
Due: ty-check-models-api-dash-cli

test(catalog-studio): cover the PR machinery, the importers and the store
  depictio/models/components/advanced_viz/catalog.py
  depictio/tests/models/test_catalog.py
  packages/catalog-studio/.gitignore
  packages/catalog-studio/README.md
  packages/catalog-studio/e2e/pr.spec.ts
  packages/catalog-studio/package.json
  packages/catalog-studio/playwright.config.ts
  packages/catalog-studio/src/state/useStudioStore.ts
  packages/catalog-studio/src/steps/ExportPanel.tsx
  packages/catalog-studio/src/steps/RecognizedTool.tsx
  packages/catalog-studio/src/test/fromNfCore.test.ts
  packages/catalog-studio/src/test/githubOAuth.test.ts
  packages/catalog-studio/src/test/pureHelpers.test.ts
  packages/catalog-studio/src/test/useStudioStore.test.ts
  packages/catalog-studio/src/test/yamlGen.test.ts
  packages/catalog-studio/vite.config.ts
  pnpm-lock.yaml
Due: ty-check-models-api-dash-cli

fix(dashboards): a text component survives the YAML round-trip
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/models/dashboards.py
  depictio/tests/api/v1/endpoints/test_self_adapting_layout.py
  depictio/tests/models/test_filter_sections.py
  scripts/roundtrip_check.sh
  scripts/roundtrip_compare.py
Due: ty-check-models-api-dash-cli

ci(catalog-studio): align the polars pin with the rest of CI
  .github/workflows/catalog-studio-ci.yaml
Due: none

feat(catalog-studio): name the app Catalog Studio and give it its own Pages URL
  .github/workflows/deploy-catalog-studio.yaml
  README.md
  packages/catalog-studio/README.md
  packages/catalog-studio/index.html
  packages/catalog-studio/oauth-worker/README.md
  packages/catalog-studio/oauth-worker/src/index.ts
  packages/catalog-studio/playwright.config.ts
  packages/catalog-studio/public/oauth-callback.html
  packages/catalog-studio/src/catalog/github.ts
  packages/catalog-studio/src/catalog/githubOAuth.ts
  packages/catalog-studio/src/components/AppHeader.tsx
  packages/catalog-studio/src/steps/ExportPanel.tsx
  packages/catalog-studio/src/steps/VizDesigner.tsx
  packages/catalog-studio/src/viz/renderMeta.ts
  packages/catalog-studio/vite.config.ts
Due: none

fix(catalog-studio): name the showcase repo depictio-catalog-studio
  .github/workflows/deploy-catalog-studio.yaml
  README.md
  packages/catalog-studio/README.md
  packages/catalog-studio/index.html
  packages/catalog-studio/oauth-worker/README.md
  packages/catalog-studio/playwright.config.ts
  packages/catalog-studio/src/catalog/github.ts
  packages/catalog-studio/vite.config.ts
Due: none

fix(tests): insert the expired OAuth state instead of save()-ing a fresh document
  depictio/tests/api/v1/endpoints/auth_endpoints/test_google_oauth.py
Due: ty-check-models-api-dash-cli

fix(s3): create the bucket before validating it at startup
  depictio/api/v1/initialization.py
  depictio/tests/api/v1/test_initialization.py
Due: ty-check-models-api-dash-cli

fix(catalog-studio): publish to the showcase repo's main branch
  .github/workflows/deploy-catalog-studio.yaml
  packages/catalog-studio/README.md
Due: none

fix(screenshots): reject admin tokens the current keypair cannot verify
  depictio/api/v1/endpoints/user_endpoints/utils.py
  depictio/api/v1/endpoints/utils_endpoints/CLAUDE.md
  depictio/api/v1/services/screenshot_service.py
  depictio/tests/api/v1/test_screenshot_stale_token.py
Due: ty-check-models-api-dash-cli

chore(catalog-studio): rename the worker to depictio-catalog-studio-oauth
  packages/catalog-studio/oauth-worker/README.md
  packages/catalog-studio/oauth-worker/wrangler.toml
Due: none

fix(e2e): address Mantine Select inputs by role, not by label
  depictio/tests/e2e-playwright/tests/dashboards/filters-into-builder.spec.ts
Due: ty-check-models-api-dash-cli

chore(catalog-studio): set the OAuth App client id in the worker config
  packages/catalog-studio/oauth-worker/wrangler.toml
Due: none

docs(catalog-studio): run wrangler through npx, not a global install
  packages/catalog-studio/oauth-worker/README.md
Due: none

fix(catalog-studio): give the OAuth worker a package.json pinning wrangler 4.86.0
  packages/catalog-studio/oauth-worker/.gitignore
  packages/catalog-studio/oauth-worker/README.md
  packages/catalog-studio/oauth-worker/package.json
Due: none

docs(catalog-studio): document the sharp build failure and its two remedies
  packages/catalog-studio/oauth-worker/README.md
Due: none

fix(e2e): flip the preview Switch by its label, not its hidden input
  depictio/tests/e2e-playwright/tests/dashboards/filters-into-builder.spec.ts
Due: ty-check-models-api-dash-cli

fix(e2e): assert the saved table's total from the pager, not a missing badge
  depictio/tests/e2e-playwright/tests/dashboards/filters-into-builder.spec.ts
Due: ty-check-models-api-dash-cli

fix(viewer): point the catalog gallery's contribute button at the new Studio URL
  depictio/catalog/README.md
  depictio/viewer/src/catalog-preview/Gallery.tsx
Due: none

feat(seeds): iris becomes a two-tab family showcasing persistent sections
  depictio/api/v1/db_init.py
  depictio/projects/init/iris/.db_seeds/dashboard_petal.json
  depictio/projects/init/iris/dashboards/overview.yaml
  depictio/projects/init/iris/dashboards/petal_analysis.yaml
Due: ty-check-models-api-dash-cli

feat(viewer): pin persistent sections on top and fan out their cards
  depictio/viewer/src/components/sections/SectionRow.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/SectionAccordion.tsx
  packages/depictio-react-core/src/utils/groupInteractive.ts
Due: none

docs(diagrams): schemas for the cross-tab fan-out and filter survival
  dev/diagrams/cross_tab_sections.py
  docs/images/cross-tab-sections_fanout.png
  docs/images/cross-tab-sections_fanout.svg
  docs/images/cross-tab-sections_survival.png
  docs/images/cross-tab-sections_survival.svg
Due: none

feat(dashboards): persistent cross-tab sections + global filters (#858)
  .github/workflows/minimal-deploy.yaml
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/models/models/dashboards.py
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_community.json
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_multiqc.json
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/base.yaml
  depictio/tests/api/v1/test_cross_tab_components.py
  depictio/tests/e2e-playwright/tests/dashboards/cross-tab-persistence.spec.ts
  depictio/tests/models/test_filter_sections.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/sections/SectionForm.tsx
  depictio/viewer/src/components/sections/SectionRow.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/mapPanel/useMapPanel.ts
  packages/depictio-react-core/src/crossTabFilters.ts
  packages/depictio-react-core/src/floatingFilters.ts
  packages/depictio-react-core/src/hooks/useCrossTabComponents.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

chore(cli): sync the stale package version in uv.lock
  depictio/cli/uv.lock
Due: ty-check-models-api-dash-cli

fix(viewer): put the figure's "Max points" in a section like every other control
  depictio/viewer/src/builder/figure/FigureUIMode.tsx
Due: none

Path conditions:
  ty-check-models-api-dash-cli: any of: ^depictio/(models|api|dash|cli|tests)/
  helm-lint: any of: ^helm-charts/depictio/
