Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

sec(pr1): land CRITICAL + HIGH security fixes (excl. cookie migration)
  .env.example
  depictio/api/main.py
  depictio/api/v1/backup_strategy_manager.py
  depictio/api/v1/configs/initial_users.yaml
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/db_init.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/files_endpoints/routes.py
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/utils.py
  depictio/api/v1/s3.py
  depictio/api/v1/services/multiqc/figures.py
  depictio/api/v1/services/screenshot_service.py
  depictio/models/models/users.py
  depictio/tests/api/v1/test_security_pr1.py
  depictio/tests/conftest.py
  depictio/viewer/src/auth/components/GoogleOAuthCallback.tsx
  docker-compose.yaml
  docker-compose/.env
  docker-images/nginx.conf.template
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/secrets.yaml
  helm-charts/depictio/values-embl-demo.yaml
  helm-charts/depictio/values.yaml
  packages/depictio-react-core/src/components/JBrowseRenderer.tsx
Due: ty-check-models-api-dash-cli, helm-lint

sec(helm): fix release-blocking secrets.yaml render + harden audit scripts
  helm-charts/depictio/templates/secrets.yaml
  scripts/security_audit_compose.sh
  scripts/security_audit_helm.sh
Due: helm-lint

sec(viewer): run viewer as non-root (nginx-unprivileged, port 8080)
  .github/workflows/depictio-ci.yaml
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-images/Dockerfile.viewer
  docker-images/nginx.conf.template
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

sec(pr-a): fix edit_password auth bypass + remove dead screenshot route + boot regressions
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/core_functions.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/endpoints/utils_endpoints/routes.py
  depictio/models/models/s3.py
  depictio/tests/api/v1/test_security_pr1.py
Due: ty-check-models-api-dash-cli

sec(infra): lock down compose ports, add container hardening, pin base images
  .dockerignore
  docker-compose.dev.yaml
  docker-compose.yaml
  docker-images/Dockerfile.api
  docker-images/Dockerfile.viewer
  docker-images/Dockerfile.viewer.dev
  docker-images/Dockerfile.worker
  docker-images/run_celery_worker.sh
  docker-images/run_fastapi.sh
Due: none

sec(pr-b): access-control sweep across API endpoints
  depictio/api/v1/db_init.py
  depictio/api/v1/endpoints/advanced_viz_endpoints/routes.py
  depictio/api/v1/endpoints/analytics_endpoints/routes.py
  depictio/api/v1/endpoints/celery_endpoints/routes.py
  depictio/api/v1/endpoints/cli_endpoints/routes.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/api/v1/endpoints/deltatables_endpoints/routes.py
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/endpoints/files_endpoints/routes.py
  depictio/api/v1/endpoints/jbrowse_endpoints/routes.py
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/api/v1/endpoints/multiqc_endpoints/routes.py
  depictio/api/v1/endpoints/projects_endpoints/routes.py
  depictio/api/v1/endpoints/runs_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/rate_limit.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/api/v1/endpoints/workflow_endpoints/routes.py
  depictio/cli/cli/utils/api_calls.py
  depictio/projects/init/advanced_viz_showcase/scripts/reupload_new_fixtures.py
  depictio/tests/api/v1/test_security_pr1.py
  depictio/tests/api/v1/test_unauthenticated_mode.py
Due: ty-check-models-api-dash-cli

sec(pr-c): harden backup restore + close migrate SSRF
  depictio/api/v1/configs/settings_models.py
  depictio/api/v1/endpoints/backup_endpoints/routes.py
  depictio/api/v1/endpoints/migrate_endpoints/routes.py
  depictio/tests/api/v1/test_security_pr1.py
Due: ty-check-models-api-dash-cli

feat(advanced_viz): role-name defaults + `use: <tool>/<output>` catalog binding
  depictio/models/components/advanced_viz/component.py
  depictio/models/components/advanced_viz/configs.py
  depictio/tests/models/test_advanced_viz_use.py
Due: ty-check-models-api-dash-cli

sec(cross-cut): final route-auth sweep — gate user list + events status, drop dead jbrowse routes
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/endpoints/jbrowse_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
Due: ty-check-models-api-dash-cli

sec(review-pass): apply simplifier + reviewer findings
  depictio/api/v1/endpoints/analytics_endpoints/routes.py
  depictio/api/v1/endpoints/events_endpoints/routes.py
  depictio/api/v1/endpoints/jbrowse_endpoints/routes.py
  depictio/api/v1/endpoints/user_endpoints/rate_limit.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
Due: ty-check-models-api-dash-cli

refactor(ampliseq): retire orphan qq_canonical DC
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/ampliseq/2.16.0/generate_canonical_seeds.py
  depictio/projects/nf-core/ampliseq/2.16.0/qq_canonical.tsv
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/ampliseq/recipes/qq_canonical.py
Due: ty-check-models-api-dash-cli

refactor(viralrecon): retire lollipop_canonical — bind Lollipop via `use: ivar/variants_long`
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_variants.json
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/lollipop_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
  depictio/projects/nf-core/viralrecon/recipes/lollipop_canonical.py
Due: ty-check-models-api-dash-cli

docs(viralrecon): keep oncoplot_canonical as a documented exception
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
Due: none

fix(s3): unwrap SecretStr before boto3 — fresh-deploy boot was broken since PR1
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9ca2_dark.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9ca2_light.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb3_dark.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb3_light.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb5_dark.png
  depictio/api/static/screenshots/746b0f3c1e4a2d7f8e5b9cb5_light.png
  depictio/api/v1/configs/settings_models.py
  depictio/cli/cli/commands/images.py
  depictio/cli/cli/utils/scan.py
  depictio/models/s3_utils.py
  depictio/tests/api/v1/test_deltatables_cleanup.py
  docker-compose.dev.yaml
Due: ty-check-models-api-dash-cli

refactor(catalog): migrate summary_metrics adapter into catalog/multiqc/
  depictio/catalog/multiqc/summary_metrics.py
  depictio/catalog/multiqc/summary_metrics.tsv
  depictio/catalog/multiqc/summary_metrics.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/download_test_data.sh
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
Due: none

fix(cli+api): second SecretStr fallout — agent config shipped masked S3 secret
  .gitignore
  depictio/api/v1/endpoints/user_endpoints/agent_config_utils.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/cli/cli/utils/api_calls.py
  depictio/cli/cli/utils/config.py
  depictio/models/models/base.py
Due: ty-check-models-api-dash-cli

refactor(ampliseq): drop single alpha_diversity DC from 2.16.0 (multi supersedes it)
  depictio/projects/nf-core/ampliseq/2.16.0/alpha_diversity.tsv
  depictio/projects/nf-core/ampliseq/2.16.0/dashboards/full_analysis.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
Due: none

refactor(viralrecon): retire manhattan_variants_canonical — bind via `use: ivar/variants_long`
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/viralrecon/3.0.0/.db_seeds/dashboard_variants.json
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/projects/nf-core/viralrecon/3.0.0/manhattan_variants_canonical.tsv
  depictio/projects/nf-core/viralrecon/3.0.0/template.yaml
  depictio/projects/nf-core/viralrecon/recipes/manhattan_variants_canonical.py
  depictio/tests/recipes/test_advanced_viz_recipes.py
Due: ty-check-models-api-dash-cli

refactor(ampliseq): retire da_barplot_canonical — bind DA-barplot to ancombc_results
  depictio/api/v1/db_init_reference_datasets.py
  depictio/projects/nf-core/ampliseq/2.16.0/.db_seeds/dashboard_differential.json
  depictio/projects/nf-core/ampliseq/2.16.0/da_barplot_canonical.tsv
  depictio/projects/nf-core/ampliseq/2.16.0/generate_canonical_seeds.py
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/projects/nf-core/ampliseq/recipes/da_barplot_canonical.py
Due: ty-check-models-api-dash-cli

refactor(catalog): consolidate version-stable qiime2 reshapes into catalog/qiime2/
  depictio/catalog/qiime2/embedding_pcoa.py
  depictio/catalog/qiime2/rarefaction_canonical.py
  depictio/catalog/qiime2/stacked_taxonomy_canonical.py
  depictio/catalog/qiime2/taxonomy_heatmap.py
  depictio/models/components/advanced_viz/producers.py
  depictio/projects/nf-core/ampliseq/2.14.0/project.yaml
  depictio/projects/nf-core/ampliseq/2.16.0/template.yaml
  depictio/tests/recipes/test_advanced_viz_recipes.py
Due: ty-check-models-api-dash-cli

fix(ci): green the pipeline — bootstrap creds for helm CI + repair JWT-stale tests
  depictio/api/v1/endpoints/user_endpoints/agent_config_utils.py
  depictio/api/v1/endpoints/user_endpoints/routes.py
  depictio/cli/cli/utils/api_calls.py
  depictio/cli/cli/utils/config.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_core_functions.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_routes.py
  depictio/tests/api/v1/endpoints/user_endpoints/test_user_management.py
  depictio/tests/api/v1/test_unauthenticated_mode.py
  helm-charts/depictio/values-gh-actions.yaml
Due: ty-check-models-api-dash-cli, helm-lint

test(models): DataCollection equality test no longer relies on ensure_id mutation leak
  depictio/tests/models/test_data_collections.py
Due: ty-check-models-api-dash-cli

feat(catalog): add qiime2 cards for rarefaction_canonical & stacked_taxonomy_canonical
  depictio/catalog/qiime2/rarefaction_canonical.py
  depictio/catalog/qiime2/rarefaction_canonical.tsv
  depictio/catalog/qiime2/rarefaction_canonical.yaml
  depictio/catalog/qiime2/stacked_taxonomy_canonical.tsv
  depictio/catalog/qiime2/stacked_taxonomy_canonical.yaml
Due: none

Bump version: 0.13.12 → 1.0.0-b1
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
  uv.lock
Due: ty-check-models-api-dash-cli, helm-lint

fix(bump): correct SKIP hook ID after dash removal
  bump-with-helm.sh
Due: none

Update CHANGELOG.md for v1.0.0-b1
  CHANGELOG.md
Due: none

fix(helm): inject S3 creds for external-S3 deployments (minio.enabled=false)
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/secrets.yaml
Due: helm-lint

fix(helm): configurable clusterDomain for the viewer nginx upstream FQDN
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

docs(catalog): document the catalog-vs-projects placement rule
  depictio/catalog/README.md
Due: none

fix: screenshot debounce wrong path + Sign In shown in public mode
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/viewer/src/chrome/ProfileBadge.tsx
Due: ty-check-models-api-dash-cli

feat(catalog): first-class render ids — use: <tool>/<render-id>
  depictio/catalog/README.md
  depictio/catalog/catalog.schema.json
  depictio/catalog/ivar/variants_long.yaml
  depictio/catalog/metaphlan/profile.yaml
  depictio/catalog/mosdepth/amplicon_coverage.yaml
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/mosdepth/genome_coverage.yaml
  depictio/catalog/qiime2/alpha_rarefaction.yaml
  depictio/catalog/qiime2/ancombc.yaml
  depictio/catalog/qiime2/rarefaction_canonical.yaml
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/catalog/qiime2/stacked_taxonomy_canonical.yaml
  depictio/catalog/qiime2/taxa_barplot.yaml
  depictio/models/components/advanced_viz/catalog.py
  depictio/models/components/advanced_viz/component.py
  depictio/projects/nf-core/viralrecon/3.0.0/dashboards/base.yaml
  depictio/tests/models/test_advanced_viz_use.py
Due: ty-check-models-api-dash-cli

style(catalog): put render id first in renders_as entries
  depictio/catalog/ivar/variants_long.yaml
  depictio/catalog/metaphlan/profile.yaml
  depictio/catalog/mosdepth/amplicon_coverage.yaml
  depictio/catalog/mosdepth/amplicon_heatmap.yaml
  depictio/catalog/mosdepth/genome_coverage.yaml
  depictio/catalog/qiime2/alpha_rarefaction.yaml
  depictio/catalog/qiime2/ancombc.yaml
  depictio/catalog/qiime2/rarefaction_canonical.yaml
  depictio/catalog/qiime2/rel_abundance.yaml
  depictio/catalog/qiime2/stacked_taxonomy_canonical.yaml
  depictio/catalog/qiime2/taxa_barplot.yaml
Due: none

fix(settings): relax password constraints for usability
  depictio/api/v1/configs/settings_models.py
Due: ty-check-models-api-dash-cli

ci: drop retired viralrecon canonical seeds from bundled-data check
  .github/workflows/depictio-ci.yaml
Due: none

fix: screenshot debounce wrong path + Sign In shown in public mode (#784)
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/viewer/src/chrome/ProfileBadge.tsx
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/templates/secrets.yaml
  helm-charts/depictio/values-embl-demo-base.yaml
  helm-charts/depictio/values.yaml
Due: ty-check-models-api-dash-cli, helm-lint

test(security): update password tests — changeme allowed for admin, single-user skips enforcement
  depictio/tests/api/v1/test_security_pr1.py
Due: ty-check-models-api-dash-cli

fix(settings): relax password constraints for usability (#786)
  depictio/api/v1/configs/settings_models.py
  depictio/tests/api/v1/test_security_pr1.py
Due: ty-check-models-api-dash-cli
