Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

feat(dash): add unsaved changes indicator for dashboard layout
  depictio/dash/assets/css/animations/animations.css
  depictio/dash/assets/layout-change-tracker.js
  depictio/dash/layouts/app_layout.py
  depictio/dash/layouts/header.py
  depictio/dash/pages/dashboard_editor.py
Due: ty-check-models-api-dash-cli

feat(dash): convert card rendering to ALL pattern and add filter notification
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/card_component/utils.py
Due: ty-check-models-api-dash-cli

fix(dash): suppress third-party console warnings and fix favicon
  depictio/dash/assets/js/000-react-warnings-filter.js
  depictio/dash/components/google_analytics.py
Due: ty-check-models-api-dash-cli

chore: add backup files and cache to gitignore
  .gitignore
Due: none

feat(dash): convert interactive component rendering to ALL pattern
  depictio/dash/modules/interactive_component/callbacks/core_async.py
Due: ty-check-models-api-dash-cli

chore(dash): enable client-side performance monitoring
  depictio/dash/assets/performance-monitor.js
Due: ty-check-models-api-dash-cli

chore: remove backup files from git tracking
  depictio/dash/modules/card_component/callbacks/core.py.bak
Due: ty-check-models-api-dash-cli

perf(api): add local filesystem caching for Delta tables
  depictio/api/v1/deltatables_utils.py
Due: ty-check-models-api-dash-cli

chore(docker): add performance testing volumes and optional Celery
  .env.example
  docker-compose.dev.yaml
Due: none

fix: create missing prof_files and cache directories for depictio-frontend container startup
  .github/workflows/depictio-ci.yaml
Due: none

fix: create missing directories in all CI jobs for frontend container startup
  .github/workflows/depictio-ci.yaml
Due: none

debug: add comprehensive frontend container debugging to CI
  .github/workflows/depictio-ci.yaml
Due: none

debug: add Docker networking diagnostics to CI
  .github/workflows/depictio-ci.yaml
Due: none

debug: add detailed frontend application startup diagnostics
  .github/workflows/depictio-ci.yaml
Due: none

feat: implement smart caching for quality job to skip when no code changes
  .github/workflows/depictio-ci.yaml
Due: none

debug: add comprehensive frontend startup script debugging
  .github/workflows/depictio-ci.yaml
Due: none

debug: add multiple frontend logs checkpoints and container status
  .github/workflows/depictio-ci.yaml
Due: none

fix: add missing __init__.py for figure_component.callbacks module
  depictio/dash/modules/figure_component/callbacks/__init__.py
Due: ty-check-models-api-dash-cli

fix: only hash existing files in quality cache check
  .github/workflows/depictio-ci.yaml
Due: none

Bump version: 0.6.0-b1 → 0.6.0-b2
  .bumpversion.cfg
  VERSION
  depictio/cli/pyproject.toml
  helm-charts/depictio/Chart.yaml
  helm-charts/depictio/values.yaml
  pyproject.toml
Due: ty-check-models-api-dash-cli, helm-lint

Update CHANGELOG.md for v0.6.0-b2
  CHANGELOG.md
Due: none

fix: add notification container to dashboard viewer app
  depictio/dash/pages/dashboard_viewer.py
Due: ty-check-models-api-dash-cli

fix: handle empty panel grids in dual-panel layout callback
  depictio/dash/layouts/draggable.py
Due: ty-check-models-api-dash-cli

fix: disable background callbacks for card rendering
  depictio/dash/modules/card_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

perf: optimize card rendering with Polars native + pre-computed stats
  depictio/dash/modules/card_component/callbacks/core.py
  depictio/dash/modules/card_component/utils.py
  depictio/dash/modules/interactive_component/callbacks/core_interactivity.py
Due: ty-check-models-api-dash-cli

perf: add parallel DC loading with ThreadPoolExecutor (300-500ms savings)
  depictio/dash/modules/card_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

debug: add detailed computation timing logs for performance analysis
  depictio/dash/modules/card_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

chore: simplify .env configuration files
  .env.example
  docker-compose/.env
Due: none

refactor: standardize DEV_MODE to DEPICTIO_DEV_MODE
  depictio/api/main.py
  depictio/api/v1/db.py
  depictio/api/v1/endpoints/auth_endpoints/utils.py
  depictio/dash/api_calls.py
  depictio/dash/core/app_factory.py
  depictio/dash/flask_dispatcher.py
Due: ty-check-models-api-dash-cli

refactor: standardize DEV_MODE to DEPICTIO_DEV_MODE in config files
  .github/workflows/depictio-ci.yaml
  docker-compose.dev.yaml
  docker-compose/docker-compose.vnc.yaml
  docker-images/run_dash.sh
  docker-images/run_fastapi.sh
  helm-charts/depictio/templates/configmaps.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

feat: re-integrate figure component with batch rendering (Phase 1)
  depictio/dash/component_metadata.py
  depictio/dash/layouts/draggable.py
  depictio/dash/layouts/stepper.py
  depictio/dash/layouts/stepper_parts/part_three.py
  depictio/dash/layouts/stepper_parts/part_two.py
  depictio/dash/modules/figure_component/callbacks/__init__.py
  depictio/dash/modules/figure_component/callbacks/core.py
  depictio/dash/modules/figure_component/definitions.py
  depictio/dash/modules/figure_component/frontend_legacy.py
  depictio/dash/modules/figure_component/utils.py
Due: ty-check-models-api-dash-cli

fix: enable figure-filter interactivity with two-callback pattern
  depictio/dash/modules/figure_component/callbacks/core.py
Due: ty-check-models-api-dash-cli

feat: implement multi-instance devcontainer support with git worktrees
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.devcontainer.yaml
  .devcontainer/post_create_setup.sh
  .devcontainer/pre_create_setup.sh
  .devcontainer/scripts/allocate-ports.sh
  .gitignore
  WORKTREE_WORKFLOW.md
  depictio/keys/.gitignore
  docker-compose.dev.yaml
  docker-compose/docker-compose.minio.yaml
Due: none

fix: use explicit workspace folder variable in dockerComposeFile paths
  .devcontainer/devcontainer.json
Due: none

fix: use PWD variable for docker-compose build context
  .devcontainer/docker-compose.devcontainer.yaml
Due: none

fix: use workspace root as docker-compose context
  .devcontainer/docker-compose.devcontainer.yaml
Due: none

fix: replace netcat with bash built-in TCP connections
  .devcontainer/post_create_setup.sh
Due: none

fix: add MinIO endpoint URL and credentials to instance config
  .devcontainer/scripts/allocate-ports.sh
Due: none

fix: enable git in devcontainer for worktrees (shareable)
  .devcontainer/devcontainer.json
  uv.lock
Due: none
