Repository depictio/depictio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check-models-api-dash-cli, helm-lint

.pre-commit-config.yaml:

###############################################################################
# Pre-commit configuration file
###############################################################################

# Basic checks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
        exclude: '^dev/|.bumpversion\.cfg$'
    -   id: end-of-file-fixer
        exclude: ^dev/
    -   id: check-yaml
        exclude: ^(dev/|helm-charts/|kubernetes/)
    -   id: check-added-large-files
        exclude: ^dev/

# Ruff lint & format (includes import sorting)
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.11.8
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --line-length=100]
        exclude: ^dev/
    -   id: ruff-format
        exclude: ^dev/

# Type checking with ty (Astral)
-   repo: local
    hooks:
      - id: ty-check-models-api-dash-cli
        name: ty check models, api, dash, cli and tests
        description: 'Run ty type checker on models, api, dash, cli and tests folders (must pass)'
        entry: bash -c 'source depictio-venv/bin/activate && ty check depictio/models/ depictio/api/ depictio/dash/ depictio/cli/ depictio/tests/'
        language: system
        files: ^depictio/(models|api|dash|cli|tests)/
        pass_filenames: false

# Lint helm chart
-   repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        description: 'Run helm lint on the Depictio Helm chart'
        entry: bash -c 'helm lint helm-charts/depictio'
        language: system
        files: ^helm-charts/depictio/
        pass_filenames: false

# Clean jupyter notebooks
-   repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
    -   id: nbstripout
        description: Strip output from Jupyter notebooks
        files: \.ipynb$

# Shell script linting
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
    -   id: shellcheck
        args: [--shell=bash]

fix(helm): let EMBL dev write to its S3 bucket
  .github/workflows/deploy-embl-selfhosted.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix(helm): one viewer on EMBL dev so upgrades fit the pod quota
  helm-charts/depictio/values-embl-demo-dev.yaml
Due: helm-lint

ci(deploy): deploy every tag to EMBL dev again, demo by hand only (#1143)
  .github/workflows/deploy-embl-selfhosted.yaml
  helm-charts/depictio/templates/deployments.yaml
  helm-charts/depictio/values-embl-demo-dev.yaml
  helm-charts/depictio/values.yaml
Due: helm-lint

fix(files): list a data collection's files to everyone who can read its project
  depictio/api/v1/endpoints/files_endpoints/routes.py
  depictio/tests/api/test_files_endpoints.py
Due: ty-check-models-api-dash-cli

feat(dashboards): author landing tabs in YAML — block markdown, tab links, collapsed filter panel
  depictio/models/models/dashboards.py
  depictio/tests/models/test_filter_panel_default.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/chrome/TabIntro.tsx
  depictio/viewer/src/chrome/TabLinkProvider.tsx
  depictio/viewer/src/hooks/useFilterPanelOpen.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/Glyph.tsx
  packages/depictio-react-core/src/components/SectionIcon.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/blockMarkdown.test.ts
  packages/depictio-react-core/src/components/blockMarkdown.ts
  packages/depictio-react-core/src/components/inlineMarkdown.test.ts
  packages/depictio-react-core/src/components/inlineMarkdown.ts
  packages/depictio-react-core/src/components/tabLinks.ts
  packages/depictio-react-core/src/index.ts
Due: ty-check-models-api-dash-cli

feat(dashboards): landing-page building blocks — text surfaces, tab tiles, card badges
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/models/yaml_serialization/mvp_format.py
  depictio/tests/models/test_landing_tile_styles.py
  depictio/viewer/src/chrome/TabLinkProvider.tsx
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/TabTiles.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/tabLinks.test.ts
  packages/depictio-react-core/src/components/tabLinks.ts
  packages/depictio-react-core/src/components/tabTiles.css
Due: ty-check-models-api-dash-cli

fix(viewer): tab tiles skip absent tabs; framed text tiles size as a row; tab links take the tab colour
  packages/depictio-react-core/src/components/TabTiles.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/autofit.test.ts
  packages/depictio-react-core/src/components/autofit.ts
Due: none

feat(viewer): page width preference, fact grids, inline icons and card footers
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/hooks/useContentWidthPref.ts
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/blockMarkdown.test.ts
  packages/depictio-react-core/src/components/blockMarkdown.ts
  packages/depictio-react-core/src/components/inlineMarkdown.test.ts
  packages/depictio-react-core/src/components/inlineMarkdown.ts
Due: none

fix(viewer): page width padding overridden by the content box's px prop
  depictio/viewer/src/App.tsx
Due: none

feat(dashboard): headline cards, fact chips, page width beside the filter panel
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/models/yaml_serialization/mvp_format.py
  depictio/tests/models/test_landing_tile_styles.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/TabIntro.tsx
  depictio/viewer/src/hooks/useContentWidthPref.ts
  packages/depictio-components/src/lib/components/DepictioCard.css
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
  packages/depictio-react-core/src/components/card/metrics/Composition.tsx
  packages/depictio-react-core/src/components/card/metrics/Coverage.tsx
Due: ty-check-models-api-dash-cli

feat(dashboard): landing tiles share the metric card frame
  depictio/viewer/src/App.tsx
  depictio/viewer/src/hooks/useContentWidthPref.ts
  packages/depictio-react-core/src/components/TabTiles.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/cardFrame.ts
  packages/depictio-react-core/src/components/tabTiles.css
Due: none

feat(dashboard): card links, per-tab section exclusion, filtered section headers
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/models/yaml_serialization/mvp_format.py
  depictio/tests/models/test_landing_tile_styles.py
  depictio/viewer/src/App.tsx
  packages/depictio-components/src/lib/components/DepictioCard.css
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
Due: ty-check-models-api-dash-cli

feat(dashboard): per-tab page width with an author default; composition legend on headline cards
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/tests/models/test_content_width_default.py
  depictio/viewer/src/App.tsx
  depictio/viewer/src/hooks/useContentWidthPref.ts
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
  packages/depictio-react-core/src/components/card/metrics/Composition.tsx
Due: ty-check-models-api-dash-cli

feat(dashboard): plain grid sections; air around fact strips and headings
  depictio/models/models/dashboards.py
  depictio/tests/models/test_landing_tile_styles.py
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/SectionAccordion.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/sectionAccordion.css
Due: ty-check-models-api-dash-cli

fix(dashboard): no collapse-all button for plain sections
  packages/depictio-react-core/src/components/DashboardGrid.tsx
Due: none

build: publish one depictio package, with depictio-cli as an alias
  .bumpversion.cfg
  .claude/commands/cli-venv.md
  .claude/commands/new-worktree.md
  .github/workflows/build-images.yaml
  .github/workflows/cli-base-install.yaml
  .github/workflows/depictio-ci.yaml
  .github/workflows/depictio-cli-test-and-publish.yaml
  .github/workflows/deploy-embl-selfhosted.yaml
  .github/workflows/local-server-smoke.yaml
  .github/workflows/minimal-deploy.yaml
  .github/workflows/publish-pypi.yaml
  .github/workflows/test-cli-with-local-instance.yaml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  depictio/api/run.py
  depictio/cli/README.md
  depictio/cli/cli/commands/local.py
  depictio/cli/cli/local_compose.py
  depictio/cli/cli/local_stack.py
  depictio/cli/cli/utils/multiqc_processor.py
  depictio/cli/cli/utils/telemetry.py
  depictio/cli/pyproject.toml
  depictio/cli/uv.lock
  depictio/telemetry/__init__.py
  docker-images/Dockerfile.api
  docker-images/Dockerfile.cli
  docker-images/Dockerfile.worker
  pixi.toml
  pyproject.toml
  scripts/check_depictio_wheel.py
  uv.lock
Due: ty-check-models-api-dash-cli

feat(dashboard): page-title landing tabs, fact line, result rows, card decimals
  depictio/models/components/lite.py
  depictio/models/models/dashboards.py
  depictio/models/yaml_serialization/mvp_format.py
  depictio/tests/models/test_landing_tile_styles.py
  depictio/viewer/src/chrome/TabIntro.tsx
  packages/depictio-components/src/lib/components/DepictioCard.css
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/blockMarkdown.test.ts
  packages/depictio-react-core/src/components/blockMarkdown.ts
Due: ty-check-models-api-dash-cli

feat(text): link rows; fix(map): title drawn once
  packages/depictio-react-core/src/components/MapRenderer.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/blockMarkdown.test.ts
  packages/depictio-react-core/src/components/blockMarkdown.ts
Due: none

fix(dashboard): phone layout in reading order, themed maps, legible "dark" ink
  depictio/api/v1/services/map/render.py
  depictio/tests/api/v1/test_map_render_theme.py
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/Glyph.tsx
  packages/depictio-react-core/src/components/phoneLayout.test.ts
  packages/depictio-react-core/src/gridConfig.ts
Due: ty-check-models-api-dash-cli

fix(map): float the legend over the map on narrow tiles
  packages/depictio-react-core/src/components/MapRenderer.tsx
Due: none

feat(dashboard): compact width in Settings, larger plain headings, study cards
  depictio/models/models/dashboards.py
  depictio/tests/models/test_content_width_default.py
  depictio/viewer/src/chrome/Header.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/hooks/useContentWidthPref.ts
  packages/depictio-components/src/lib/components/DepictioCard.css
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/SectionAccordion.tsx
  packages/depictio-react-core/src/components/TabTiles.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/card/describe.test.ts
  packages/depictio-react-core/src/components/card/describe.ts
  packages/depictio-react-core/src/components/sectionAccordion.css
  packages/depictio-react-core/src/components/tabLinks.test.ts
  packages/depictio-react-core/src/components/tabLinks.ts
  packages/depictio-react-core/src/components/tabTiles.css
Due: ty-check-models-api-dash-cli

fix(card): strips follow the card's decimals; coverage keeps its line on headline cards
  packages/depictio-react-core/src/components/ComponentRenderer.tsx
  packages/depictio-react-core/src/components/card/SecondaryMetrics.tsx
  packages/depictio-react-core/src/components/card/metrics/BoxPlot.tsx
  packages/depictio-react-core/src/components/card/metrics/Coverage.tsx
  packages/depictio-react-core/src/components/card/metrics/format.ts
Due: none

fix(card): headline cards in a row line up; tighter fact rows
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
Due: none

fix(grid): half-height rows on phones; space before the first plain heading
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/autofit.ts
  packages/depictio-react-core/src/components/phoneLayout.test.ts
  packages/depictio-react-core/src/components/sectionAccordion.css
  packages/depictio-react-core/src/gridConfig.ts
Due: none

fix(dashboard): key figures line up at every width; even rows wrap; larger tab tiles
  packages/depictio-components/src/lib/components/DepictioCard.css
  packages/depictio-components/src/lib/components/DepictioCard.tsx
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/TabTiles.tsx
  packages/depictio-react-core/src/components/scaleLayout.test.ts
  packages/depictio-react-core/src/gridConfig.ts
Due: none

feat(dashboard): open the run's parameters from a text tile; numbered facts as steps
  depictio/viewer/src/App.tsx
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/DashboardInfoBody.tsx
  depictio/viewer/src/chrome/RunParametersHost.tsx
  depictio/viewer/src/chrome/index.ts
  depictio/viewer/src/projects/detail/RunProvenanceCard.tsx
  packages/depictio-react-core/src/components/StepFlow.tsx
  packages/depictio-react-core/src/components/TextRenderer.tsx
  packages/depictio-react-core/src/components/inlineMarkdown.test.ts
  packages/depictio-react-core/src/components/inlineMarkdown.ts
  packages/depictio-react-core/src/components/stepFlow.css
  packages/depictio-react-core/src/index.ts
  packages/depictio-react-core/src/utils/runParameters.ts
Due: none

feat(text): numbered tab tiles lead with their step
  packages/depictio-react-core/src/components/TabTiles.tsx
Due: none

fix(grid): read-only grids lay out in half rows at every width
  packages/depictio-react-core/src/components/DashboardGrid.tsx
  packages/depictio-react-core/src/components/PersistentSectionsHost.tsx
  packages/depictio-react-core/src/components/autofit.ts
  packages/depictio-react-core/src/components/phoneLayout.test.ts
  packages/depictio-react-core/src/gridConfig.ts
Due: none

feat(viewer): tab groups in the sidebar and the tab modal
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/chrome/TabLinkProvider.tsx
  depictio/viewer/src/chrome/TabModal.tsx
  packages/depictio-react-core/src/api.ts
  packages/depictio-react-core/src/components/tabGroups.test.ts
  packages/depictio-react-core/src/components/tabGroups.ts
  packages/depictio-react-core/src/components/tabLinks.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(dashboard): tab_group, a sidebar category for child tabs
  depictio/api/v1/endpoints/dashboards_endpoints/core_functions.py
  depictio/api/v1/endpoints/dashboards_endpoints/routes.py
  depictio/dev_scripts/generate_dashboard_seeds.py
  depictio/models/models/dashboards.py
  depictio/tests/models/test_tab_group.py
Due: ty-check-models-api-dash-cli

fix(text): step marks in the solid accent
  packages/depictio-react-core/src/components/stepFlow.css
Due: none

feat(editor): plain heading and excluded tabs in the section form
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/sections/SectionForm.tsx
  depictio/viewer/src/components/sections/SectionModal.tsx
Due: none

fix(editor): save a trend card's axis
  depictio/viewer/src/builder/buildMetadata.ts
Due: none

feat(editor): frame, accent and markdown help in the text builder
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/shared/PreviewTabLinks.tsx
  depictio/viewer/src/builder/shared/useTabFamily.ts
  depictio/viewer/src/builder/text/MarkdownHelp.tsx
  depictio/viewer/src/builder/text/TextBuilder.tsx
  depictio/viewer/src/builder/text/TextPreview.tsx
  packages/depictio-react-core/src/components/markdownCheatsheet.test.ts
  packages/depictio-react-core/src/components/markdownCheatsheet.ts
  packages/depictio-react-core/src/components/tabFamily.test.ts
  packages/depictio-react-core/src/components/tabFamily.ts
  packages/depictio-react-core/src/index.ts
Due: none

fix(editor): offer each tab name once in the tab pickers
  depictio/viewer/src/builder/card/CardBuilder.tsx
  depictio/viewer/src/builder/text/TextBuilder.tsx
  depictio/viewer/src/components/sections/SectionForm.tsx
Due: none

feat(editor): copy a component to a sibling tab
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/components/GridItemEditOverlay.tsx
  packages/depictio-react-core/src/components/copyToTab.test.ts
  packages/depictio-react-core/src/components/copyToTab.ts
  packages/depictio-react-core/src/index.ts
Due: none

feat(editor): headline style, caption, decimals, link and description in the card builder
  depictio/viewer/src/builder/buildMetadata.ts
  depictio/viewer/src/builder/card/CardBuilder.tsx
  depictio/viewer/src/builder/card/CardPreview.tsx
Due: none

feat(editor): this tab's defaults in the settings drawer
  depictio/viewer/src/EditorApp.tsx
  depictio/viewer/src/chrome/SettingsDrawer.tsx
  depictio/viewer/src/chrome/index.ts
Due: none

fix(editor): image tab icons in the copy-to-tab list
  depictio/viewer/src/chrome/Sidebar.tsx
  depictio/viewer/src/components/GridItemEditOverlay.tsx
Due: none

fix(builder): previews in the dashboard's brand
  depictio/viewer/src/builder/CreateComponentPage.tsx
  depictio/viewer/src/builder/EditComponentPage.tsx
Due: none
